﻿@{
    ViewBag.Title = "Tax";
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                <!-- /.box-header -->
                <div class="panel-header">
                    <br /><button style="margin-left:8px;" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle" ></i> Add Tax</button > <br />
                </div>
                <div class="panel-body">
                    <table id="taxTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Tax Name</th>
                                <th>Applicable For</th>
                                <th>Calculation Mode</th>
                                <th>Active</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Tax</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Type</label>
                                <select class="form-control" id="taxType" style="width:100%;">
                                    <option value="NA">Select Type</option>
                                    <option value="VAT">VAT</option>
                                    <option value="Withholding Tax">Withholding Tax</option>
                                </select>
                            </div>
                            @*<div class="form-group col-sm-6">
                                <label class="control-label">Group</label>
                                <select class="form-control" id="group" style="width:100%;"></select>
                            </div>*@
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Tax Name</label>
                                <input type="text" class="form-control" id="taxName" placeholder="Tax Name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Rate</label>
                                <input type="number" class="form-control" id="taxRate" placeholder="Tax Rate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Applicable For</label>
                                <select class="form-control" id="applicableOn" style="width:100%;">
                                    <option value="NA">Select</option>
                                    <option value="Bill">Bill</option>
                                    <option value="Product">Product</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Calculation Mode</label>
                                <select class="form-control" id="calculatingMode" style="width:100%;">
                                    <option value="All">All</option>
                                    <option value="Bill Amount">Bill Amount</option>
                                    <option value="Tax Amount">Tax Amount</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="form-group col-sm-2">
                                <label class="control-label">Active</label>
                                <input type="checkbox" id="isActive" checked="checked">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Narration</label>
                                <textarea class="form-control" id="narration" placeholder="Narration"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Add Tax</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Tax</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editTaxId" />
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Type</label>
                                <select class="form-control" id="editTaxType" style="width:100%;">
                                    <option value="NA">Select Type</option>
                                    <option value="VAT">VAT</option>
                                    <option value="Withholding Tax">Withholding Tax</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Tax Name</label>
                                <input type="text" class="form-control" id="editTaxName" placeholder="Tax Name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Rate</label>
                                <input type="number" class="form-control" id="editTaxRate" placeholder="Tax Rate">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Applicable For</label>
                                <select class="form-control" id="editApplicableOn" style="width:100%;">
                                    <option value="NA">Select</option>
                                    <option value="Bill">Bill</option>
                                    <option value="Product">Product</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Calculation Mode</label>
                                <select class="form-control" id="editCalculatingMode" style="width:100%;">
                                    <option value="All">All</option>
                                    <option value="Bill Amount">Bill Amount</option>
                                    <option value="Tax Amount">Tax Amount</option>
                                </select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="form-group col-sm-2">
                                <label class="control-label">Active</label>
                                <input type="checkbox" id="editIsActive" checked="checked">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Narration</label>
                                <textarea class="form-control" id="editNarration" placeholder="Narration"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Brand</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteTaxName"></b>?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css" />
    <link rel="stylesheet" href="~/Assets/plugins/select2/select2.min.css">
    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Assets/plugins/select2/select2.js"></script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Tax.js"></script>
}

