﻿
@{
    ViewBag.Title = "Colour";
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-header"><br />
                    <button style="margin-left:5px;" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle"></i> Add Colour</button>
                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="brandTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Colour</th>
                                <th>Narration</th>
                                <th>Manufacturer</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Colour</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Colour Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="brandName" placeholder="Colour Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Manufacturer</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="manufacturer" placeholder="Manufacturer">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="narration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Add Colour</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Colour</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10">
                        <form class="form-horizontal" onsubmit="return false;">
                            <center>
                                <div style="color:red;" id="editErrorMsg"></div>
                            </center>
                            <div class="box-body">
                                <input type="hidden" id="editBrandId" />
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Colour Name</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="editBrandName" placeholder="Colour Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Manufacturer</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="editManufacturer" placeholder="Manufacturer">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Narration</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="editNarration" placeholder="Narration">
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Colour</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteBrandName"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/ItemComponents/Brand.js"></script>
}

