﻿@{
    ViewBag.Title = "Manual Subscription";
}

<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Manual Subscription</h3>
    </div>
    <div class="panel-body">
        <div class="form-group col-sm-4">
            <label class="control-label">Amount</label>
            <div>
                <input type="number" class="form-control" id="amount" placeholder="Amount">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label">Duration(Months)</label>
            <div>
                <input type="number" class="form-control" id="duration" placeholder="Duration">
            </div>
        </div>
        <div class="form-group col-sm-4">
            <label class="control-label">Promo</label>
            <div>
                <input type="text" class="form-control" id="promo" placeholder="Promo">
            </div>
        </div>
        <div class="form-group col-sm-6">
            <label class="control-label">Note</label>
            <div>
                <textarea class="form-control" id="note" placeholder="Note"></textarea>
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label">Sub-Start Date</label>
            <div>
                <input type="text" class="form-control dateCtrl" id="subStartDate" readonly="readonly" placeholder="Start Date">
            </div>
        </div>
        <div class="form-group col-sm-3">
            <label class="control-label">Status</label>
            <div>
                <select class="form-control" id="status">
                    <option value="Pending">Pending</option>
                    <option value="Confirmed">Confirmed</option>
                </select>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" id="saveManualSubscription">Save</button>
    </div>
</div>


<div class="panel">
    <div class="panel-heading">
        <h3 class="panel-title">Manual Subscription List</h3>
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Subscription Date</th>
                    <th>Duration</th>
                    <th>Amount</th>
                    <th>Promo</th>
                    <th>Narration</th>
                    <th>Done By</th>
                    <th>Status</th>
                </tr>
            </thead>
        </table>
    </div>
</div>