﻿
@{
    ViewBag.Title = "Purchase Invoice";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Form No.</label>
                            <div class="col-sm-4">
                                <input type="text" id="voucherNo" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label" for="">Transaction Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="transactionDate" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Vendor Invoice No.</label>
                            <div class="col-sm-4">
                                <input type="text" id="invoiceNo" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label" for="">Invoice Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="invoiceDate" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Supplier</label>
                            <div class="col-sm-4">
                                <div class="form-control" id="suppliers"></div>
                            </div>
                            <label class="col-sm-2 control-label" for="">Credit Period</label>
                            <div class="col-sm-4">
                                <input type="number" id="creditPeriod" class="form-control">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Purchase Mode</label>
                            <div class="col-sm-4">
                                <select id="purchaseMode" class="form-control">
                                    <option value="NA">NA</option>
                                    <option value="Against Purchase Order">Against Purchase Order</option>
                                    <option value="Against Material Receipt">Against Material Receipt</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Apply On</label>
                            <div class="col-sm-4">
                                <select id="applyOn" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Order No.</label>
                            <div class="col-sm-4">
                                <select id="orderNo" class="form-control"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Currency.</label>
                            <div class="col-sm-4">
                                <select id="currency" class="form-control"></select>
                            </div>
                        </div>
                    </div>                    
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*Line Items*@
                        @*<button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>*@
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body text text-sm">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Apply Tax</th>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;">Batch</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Value</th>
                                        <th style="white-space: nowrap;">Discount Amount</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="purchaseInvoiceLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-sm-7">
                                <br /><br />
                                <div id="additionalCostGrid" style="display:none;"></div>
                            </div> 
                            <div class="col-md-5">
                                <div class="row" style="display:none;">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Tax Name</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td id="taxNameHtml"></td>
                                                        <td id="taxAmountHtml"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div></div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Narration</label>
                                            <textarea class="form-control" id="narration"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6"><br />
                                        <div class="form-group">
                                            <label class="control-label">Total Amount</label>
                                            <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Bill Discount</label>
                                            <input id="totalTax" type="text" class="form-control" value="0.0" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Total Tax Amount</label>
                                            <input id="totalTaxAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Grand Total</label>
                                            <input id="grandTotal" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        </div>
                                        @*<div style="text-decoration:underline;font-size:13px;"><b>total amount : </b><strong id="totalamount">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>bill discount : </b><strong>0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                    </div>
                                </div>

                                
                            </div>                           
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-11">
                                <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                                @*<button class="btn btn-primary"><i class="fa fa-envelope"></i> Save & Email</button>
                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="applyTaxModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apply Tax</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Tax</label>
                        <div class="col-sm-8">
                            <select id="applyTax" class="form-control"></select>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Tax Amount</label>
                            <div class="col-sm-8">
                                <input type="text" readonly="readonly" class="form-control" id="applyTaxAmount">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyTaxOnObject()" id="saveAppliedTax">save</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityToAdd" type="number" value="1" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="amount" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="Tax" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="description" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock</label>
                                    <input id="quantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="TaxAmount" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" id="addLineItem" type="button">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>*@

@section PageScripts{    
<script src="~/Scripts/Supplier/PurchaseInvoice.js"></script>
}

