﻿
@{
    ViewBag.Title = "Purchase Invoice Register";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row" style="display:none;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="radio">
                                        <label class="form-radio form-normal"><input type="radio" checked="checked" value="Voucher Date" id="voucherDate" name="dateType"> Voucher Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="radio">
                                        <label class="form-radio form-normal"><input type="radio" value="Invoice Date" id="invoiceDate" name="dateType"> Invoice Date</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="">-Select-</option>
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                            </div>
                        </div>
                            <div class="col-md-3">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Supplier</label><br />
                                    <select id="suppliers" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Purchase Mode</label>
                                    <select id="purchaseMode" class="form-control">
                                        <option selected="selected">All</option>
                                        <option>NA</option>
                                        <option>Against PurchaseOrder</option>
                                        <option>Against MaterialReceipt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Form Type</label><br />
                                    <select id="formType" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" id="orderNo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row panel">
    <div class="col-sm-12">
        <form onsubmit="return false;">
            <div class="panel-body text text-sm">
                <div class="table-responsive">
                    <table id="purchaseInvoiceLineItemTbody" class="table table-striped" style="overflow:auto !important;">
                        <thead>
                            <tr>
                            <tr>
                                <th style="white-space: nowrap;">S/N</th>
                                <th style="white-space: nowrap;">Invoice No.</th>
                                <th style="white-space: nowrap;">Order/Material Receipt No.</th>
                                <th style="white-space: nowrap;">Date</th>
                                <th style="white-space: nowrap;">Supplier Name</th>
                                <th style="white-space: nowrap;">Amount</th>
                                <th style="white-space: nowrap;">Done By</th>
                                <th style="white-space: nowrap;"></th>
                            </tr>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div><br /><br />
                <div class="row">
                    <div class="col-sm-7">
                        <br /><br />
                        <div id="additionalCostGrid" style="display:none;"></div>
                    </div>
                    <div class="col-md-5">
                        


                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-offset-11">
                        <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                        @*<button class="btn btn-primary"><i class="fa fa-envelope"></i> Save & Email</button>
                        <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="invoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="invoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Supplier :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="overflow: auto; white-space: nowrap;">
                            <table class="table table-striped">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        @*<th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;">Batch</th>*@
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Amount</th>
                                        <th style="white-space: nowrap;">Discount Amount</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        @*<th style="white-space: nowrap;">Tax</th>*@
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="detailsTbody"></tbody>
                            </table>
                        </div>
                       
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Total Tax Amount</label>
                                        <input id="totalTaxAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Grand Total</label>
                                        <input id="grandTotal" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                    </div>
                                    @*<div style="text-decoration:underline;font-size:13px;"><b>total amount : </b><strong id="totalamount">0.0</strong></div>
            <div style="text-decoration:underline;font-size:13px;"><b>bill discount : </b><strong>0.0</strong></div>
            <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/Registers/PurchaseInvoice.js"></script>
    <script>
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }
        });
        $(".dtHide").hide();
        $("#backDays").change(function () {
            if ($(this).val() == "custom") {
                $(".dtHide").show();
            }
            else {
                //getSalesQuotationsList("2017-01-01", $("#toDate").val(), "Pending");
                $(".dtHide").hide();
            }
        });
    </script>
}

