﻿
@{
    ViewBag.Title = "Bonus/Deduction";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">New Bonus/Deduction</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="date">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Month</label>
                                    <input type="text" class="form-control" placeholder="select month..." readonly="readonly" id="month">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Employee Code</label>
                                    <input type="text" class="form-control" style="width:100%;" id="employeeCode">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Deduction Amount</label>
                                    <input type="number" min="0" value="0" class="form-control" id="deductionAmount">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Bonus Amount</label>
                                    <input type="number" min="0" value="0" class="form-control" id="bonusAmount">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Receiving Ledger</label>
                                    <input type="text" class="form-control" style="width:100%;" id="receivingLedger">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <input type="text" class="form-control" id="narration">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="button" onclick="saveBonusOrDeduction()" id="save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
<script src="~/Scripts/Payroll/BonusOrDeduction/BonusOrDeduction.js?v=@DateTime.Now"></script>
<script>
        $("#month").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });
</script>
}