﻿
@{
    ViewBag.Title = "Employee Register";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Employees List</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="employeeListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>Designation</th>
                                <th>Salary Package</th>
                                <th>Salary Type</th>
                                <th>Gender</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Employee Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body pre-scrollable" style="height:650px;">
                <div class="panel-body " id="detailsBody">
                    <div class="row">
                        <p class="text-main text-semibold">Personal Information</p>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Employee Code</label>
                                    <div>
                                        <input type="text" class="form-control" id="employeeCode" placeholder="Employee Code">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Employee Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="employeeName" placeholder="Employee Name">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Gender</label>
                                    <div>
                                        <select class="form-control custBorderStyle" id="gender" style="width:100%;">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Marital Status</label>
                                    <div>
                                        <select class="form-control custBorderStyle" id="maritalStatus" style="width:100%;">
                                            <option value="single">Single</option>
                                            <option value="married">Married</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Blood Group</label>
                                    <div>
                                        <select class="form-control custBorderStyle" id="bloodGroup" style="width:100%;">
                                            <option value="A+">A+</option>
                                            <option value="A-">A-</option>
                                            <option value="B+">B+</option>
                                            <option value="B-">B-</option>
                                            <option value="AB+">AB+</option>
                                            <option value="AB-">AB-</option>
                                            <option value="O+">O+</option>
                                            <option value="O-">O-</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Phone Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Mobile Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-12">
                                    <label class="control-label">Address</label>
                                    <div>
                                        <textarea class="form-control" id="address" placeholder="Address"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Date of Birth</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="dob" readonly="readonly">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Email</label>
                                    <div>
                                        <input type="email" class="form-control" id="email" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <p class="text-main text-semibold">Other Information</p>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Passport Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="passportNumber" placeholder="Passport Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Passport Expiry Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="PExpiry" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Work Permit Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="workPermitNumber" placeholder="Work Permit Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Work Permit Expiry Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="WPExpiry" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Visa Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="visaNumber" placeholder="Visa Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-6">
                                    <label class="control-label">Visa Expiry Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="VExpiry" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <p class="text-main text-semibold">Salary Information</p>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Salary Type</label>
                                            <div>
                                                <select class="form-control custBorderStyle" id="salaryType" style="width:100%;">
                                                    <option value="monthly">Monthly</option>
                                                    <option value="Daily Wage">Daily</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <span id="salaryPackageSpan">
                                                <label class="control-label">Salary Package</label>
                                                <div>
                                                    <input class="form-control custBorderStyle" id="salaryPackage" style="width:100%">
                                                </div>
                                            </span>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <span id="dailySalarySpan">
                                                <label class="control-label">Daily Salary</label>
                                                <div>
                                                    <input type="text" class="form-control custBorderStyle" id="dailySalary">
                                                </div>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Bank Name</label>
                                            <div>
                                                <input type="text" class="form-control" id="bankName" placeholder="Bank Name">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Account Number</label>
                                            <div>
                                                <input type="text" class="form-control" id="accountNumber" placeholder="Account Number">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Branch</label>
                                            <div>
                                                <input type="text" class="form-control" id="branch" placeholder="Branch">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Branch Code</label>
                                            <div>
                                                <input type="text" class="form-control" id="branchCode" placeholder="Branch Code">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <p class="text-main text-semibold">Job Information</p>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Designation</label>
                                            <div>
                                                <input class="form-control custBorderStyle" id="designation" style="width:100%">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Qualification</label>
                                            <div>
                                                <input type="text" class="form-control" id="qualification" placeholder="Qualification">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Join Date</label>
                                            <div>
                                                <input type="text" class="form-control dateCtrl" id="joinDate" readonly="readonly">
                                            </div>
                                        </div>
                                        <div class="form-group col-sm-6">
                                            <label class="control-label">Temination Date</label>
                                            <div>
                                                <input type="text" class="form-control dateCtrl" id="terminationDate" readonly="readonly">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p class="text-main text-semibold">Statutory Information</p>
                            <div class="row">
                                <div class="form-group col-sm-4">
                                    <label class="control-label">Pension Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="pensionNumber" placeholder="Pension Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">PFA Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="pfaNumber" placeholder="PF Number">
                                    </div>
                                </div>
                                <div class="form-group col-sm-4">
                                    <label class="control-label">ESI Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="esiNumber" placeholder="ESI Number">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
               <button class="btn btn-primary" id="editEmployee" onclick="editEmployee();" type="button"><i class="fa fa-edit"></i> Edit</button>
                <button class="btn btn-success" id="saveChanges" onclick="saveChange();" type="button"><i class="fa fa-check"></i> Save Changes</button>
               <button class="btn btn-danger" onclick="toDelete();" id="deleteEmployee" type="button"><i class="fa fa-times"></i> Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="~/Scripts/Payroll/Employee/Register.js?v=@DateTime.Now"></script>
}
