﻿
@{
    ViewBag.Title = "Print Pay Slip";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Generate Pay Slip</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Month</label>
                                    <input type="text" class="form-control" readonly="readonly" id="date" placeholder="select month">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Employee</label>
                                    <input type="text" class="form-control" style="width:100%;" id="employee">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="getPaySlip()">Generate pay Slip</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-default" onclick="printDiv('printablediv')">
                            <i class="fa fa-print"></i> Print
                        </button>
                    </div>
                    <h3 class="panel-title">Pay Slip</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div id="errorDiv" class="row"></div>
                        <div id="printablediv" class="row">
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="80%">
                                            <h4 id="companyName"></h4>
                                            <p id="companyAddress"></p>
                                        </td>
                                        <td width="20%">
                                            <h3 class="pull-right"></h3>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="45%">
                                                <p><b>Employee Code:  </b><span id="employeeCode"></span></p>
                                                <p><b>Employee Name:  </b><span id="employeeName"></span></p>
                                                <p><b>Designation:  </b><span id="designation"> </span></p>
                                        </td>
                                        <td width="25%">
                                                <p><b>Working Days:  </b><span id="workingDays"></span></p>
                                                <p><b>Leave Days:  </b><span id="leaveDays"> </span></p>
                                                <p><b>Present Days:  </b><span id="presentDays"> </span></p>
                                        </td>
                                        <td width="30%">
                                                <p><b>Salary Month:  </b><span id="salaryMonth"></span></p>
                                                <p><b>Salary Date:  </b><span id="salaryDate"></span></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="50%">
                                            <table class="table" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="75%">Earnings</th>
                                                        <th width="25%">Amount (&#8358;)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="earningsTable"></tbody>
                                            </table>
                                        </td>
                                        <td width="50%">
                                            <table class="table" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="75%">Deductions</th>
                                                        <th width="25%">Amount (&#8358;)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="deductionTable"></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <div class="pull-right">
                                                <span>Total Earnings: </span>
                                                <b id="totalEarnings"></b>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div class="pull-right">
                                                <span>Total Deductions: </span>
                                                <b id="totalDeductions"></b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="pull-right">
                                                <span>Net Pay: </span>
                                                <b id="netPay"></b>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="~/Scripts/Payroll/PaySlip/PaySlip.js?v=@DateTime.Now"></script>

    <script>
        $("#date").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });

        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
}


