﻿@using MatOnline.Reports


@{
    ViewBag.Title = "Sales Invoice";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}
<!-- Main content -->
<div class="row" style="display:none">
    <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Invoice Number</label>
                                    <input type="text" class="form-control" readonly="readonly" id="invoiceNo">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Invoice Date</label>
                                    <input type="text" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" id="transactionDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Customer</label> <br />
                                    <select id="customer" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Credit Period / Due Days</label>
                                    <input type="number" class="form-control" id="balance">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Sales Mode</label>
                                    <select id="salesMode" class="form-control custBorderStyle">
                                        <option value="0">NA</option>
                                        <option value="17">Against Delivery Note</option>
                                        @if (ViewBag.ledgerId != null)
                                        {
                                            <option value="10030" selected="selected">Against Sales Order</option>
                                        }
                                        else
                                        {
                                            <option value="10030">Against Sales Order</option>

                                        }

                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Apply On</label>
                                    <select id="applyOn" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Order No.</label>
                                    <select id="orderNo" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <select id="pricingLevel" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select id="currency" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Sales Person</label>
                                    <select id="salesMan" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead style="overflow:auto;">
                                    <tr>
                                        <th style="white-space: nowrap;">Remove</th>
                                        <th style="white-space: nowrap;">Apply Discount</th>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Project</th>
                                        <th style="white-space: nowrap;">Department</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Value</th>
                                        <th style="white-space: nowrap;">Discount</th>
                                        <th style="white-space: nowrap;">Discount %</th>
                                        <th style="white-space: nowrap;">Amount <!--Net Value--></th>
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <!--<th style="white-space: nowrap;">Amount</th>-->
                                    </tr>
                                </thead>
                                <tbody id="salesInvoiceLineItemTbody"></tbody>
                            </table>
                        </div>


                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Narration</label>
                                            <textarea class="form-control custBorderStyle" id="narration"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Total Amount</label>
                                            <input id="totalAmount" value="0" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Total Tax Amount</label>
                                            <input id="totalTaxAmount" value="0" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Bill Discount</label>
                                            <input id="billDiscount" value="0" type="text" class="form-control" style="text-align:right;">
                                            <label class="control-label">Discount %</label>
                                            <input id="percentBillDiscount" value="0" type="text" class="form-control" style="text-align:right;">
                                            <label class="control-label">Grand Total</label>
                                            <input id="grandTotal" value="0" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="panel-footer text-right">
                        <button id="save" class="btn btn-primary btn-labeled fa fa-save">Save</button>
                        <button id="savePrint" class="btn btn-primary btn-labeled fa fa-envelope">Save & Print</button>
                        <button id="saveReceipt" class="btn btn-primary btn-labeled fa fa-money">Save & Receive Payment</button>
                        @*<button class="btn btn-danger btn-labeled fa fa-times">Clear</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="itemLineModal" role="dialog" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Invoice Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <input type="hidden" readonly="readonly" id="productId" />
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="tax" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unit" readonly="readonly" disabled="disabled" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch <span style="color:red;">*</span></label>
                                    <select id="batch" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Department</label>
                                    <select id="category" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity <span style="color:red;">*</span></label>
                                    <input id="quantity" value="0" type="number" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Trade Discount</label>
                                    <input id="discount" type="number" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Trade Discount %</label>
                                    <input id="percentDiscount" type="number" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="taxAmount" readonly="readonly" type="text" value="0" class="form-control" />
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Store <span style="color:red;">*</span></label>
                                    <select id="store" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Project</label>
                                    <select id="project" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" type="text" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Gross Value</label>
                                    <input id="grossValue" readonly="readonly" type="text" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Net Value</label>
                                    <input id="netValue" readonly="readonly" type="text" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" readonly="readonly" id="amount" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity in Stock</label>
                                    <input id="quantityInStock" readonly="readonly" type="text" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock For Store</label>
                                    <input id="storeQuantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItem">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Apply Discount Modal-->
<div class="modal fade" id="applyDiscountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apply Tax</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Discount Amount</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="applyDiscountAmount">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Discount %</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" id="applyPercentDiscount">
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" onclick="applyDiscountOnObject()" id="saveAppliedTax">save</button>
            </div>
        </div>
    </div>
</div>

<!-- Page Varables -->
<input type="hidden" id="ledgerId" value="@ViewBag.ledgerId" />
<input type="hidden" id="voucherId" value="@ViewBag.vouchureId" />
<input type="hidden" id="txtId" value="@ViewBag.txtId" />

@section PageScripts
{
    <script src="//cdn.rawgit.com/saribe/eModal/1.2.67/dist/eModal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

    <script src="~/Scripts/Customer/SalesInvoice.js" type="text/javascript"></script>
}


@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>


    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("transactionDate");
        doc.readonly = true;

        var ConvertDateFrom = EndMonth + "/" + BeginDay + "/" + EndYear;

        $("#transactionDate").val(ConvertDateFrom);

        document.getElementById("transactionDate").value = ConvertDateFrom;
        //$("#dueDate").datepicker({
        //    autoclose: true,
        //    startDate: new Date(BeginYear, BeginMonth, BeginDay),
        //    endDate: new Date(EndYear, EndMonth, EndDay)
        //});

        //var docv = document.getElementById("dueDate");
        //docv.readonly = true;

    });

    </script>
}
else
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        $(function () {

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("transactionDate");
            doc.readonly = true;

            //$("#dueDate").datepicker({
            //    autoclose: true,
            //});
            //var docc = document.getElementById("dueDate");
            //docc.readonly = true;

        });

    </script>
}


