﻿@using MatOnline.Reports
@model dynamic

@{
    ViewBag.Title = "Sales Invoice Register";
    var pagePrivileges = ViewBag.pagePrivileges;
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}



<style>
    #invoiceListTable td:nth-child(4), th:nth-child(4) {
        text-align: right;
    }

    #invoiceListTable td:nth-child(2), th, td:first-child {
        text-align: center;
    }

    #detailsTbody td:nth-child(12), td:nth-child(13) {
        text-align: right;
    }
</style>

<!-- Main content -->
<div class="row" style="display:none">
    <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel" style="display:none;">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Agent</label><br />
                                    <select id="customers" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Order No.</label>
                                    <input type="text" class="form-control" id="quotationNo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Condition</label><br />
                                    <select id="condition" class="form-control">
                                        <option value="All" selected>All</option>
                                        <option value="False">Approved</option>
                                        <option value="True">Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-info" type="button" id="search-old">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">


                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control" id="toDate">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <br />
                            <button id="search" style="margin-top:7px;" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                        </div>

                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="invoiceListTable" class="table table-striped table-bordered text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Invoice No.</th>
                                    <th style="white-space: nowrap;">Customer</th>
                                    <th style="white-space: nowrap;">Bill Amount (N)</th>
                                    <th style="white-space: nowrap;">Done By</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;"></th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                            @*<tbody id="salesQuotationListTbody"></tbody>*@
                            <tbody></tbody>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Invoice Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="invoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="invoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Customer :</div>
                                        <div class="col-md-6" id="customerDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Project</th>
                                        <th style="white-space: nowrap;">Department</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Trade Discount(N)</th>
                                        <th style="white-space: nowrap;">Amount(N)</th>
                                        <th style="white-space: nowrap;">Tax Amount(N)</th>
                                    </tr>

                                </thead>
                                <tbody id="detailsTbody"></tbody>
                            </table>
                        </div>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="totalAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="totalAmount" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Tax Amount</div>
                                <div class="col-md-6" id="taxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="taxAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Bill Discount</div>
                                <div class="col-md-6" id="billDiscountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="billDiscountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="grandTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-success" id="edit" type="button"><i class="fa fa-check"></i> Edit</button>
                <button class="btn btn-danger" id="delete" type="button"><i class="fa fa-times"></i> Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
    *
</div>


@section scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script>

        var units = [];
        var batches = [];
        var stores = [];
        var allCategories = [];
        var allProjects = [];
        var startDate = $("#fromDate").val();
        var endDate = $("#toDate").val();
        var allUsers = [];

        $(function () {
            $.ajax({
                url: API_BASE_URL + "/UserCreation/GetAllUses",
                type: "Get",
                contentType: "application/json",
                success: function (data) {
                    allUsers = data.Users;
                }
            });
        })


        function fetchRecord(startDate, endDate) {
            //   Utilities.Loader.Show();
            if (endDate == undefined) {
                endDate = '';
            }
            if (startDate == undefined) {
                startDate = '';
            }

            var url = API_BASE_URL +
                "/SalesInvoice/GetSaleInvoiceFromMaster/?fromDate=" +
                startDate + "&toDate=" + endDate;

            //var url = API_BASE_URL +
            //    "/SalesInvoice/GetSaleInvoiceFromMaster/";
            $.ajax(url,
                {
                    type: "POST",
                    dataType: 'json',
                    contentType: 'application/json',
                    beforeSend: () => { Utilities.Loader.Show() },
                    complete: () => { Utilities.Loader.Hide() },
                    success: function (data) {
                        PriviledgeSettings.ApplyUserPriviledge();
                        //the function is placed in a setTimeout so the userPriviledges array in PriviledgeSettings is sure to have been filled before it is used here, thereby avoiding errors.
                        setTimeout(onSuccess, 500, data);

                    },
                    error: function (jqXhr, textStatus, errorMessage) {
                        console.log("Error: ", errorMessage);
                    }
                });
        }

        function onSuccess(data) {
            var obj = [];
            var count = 0;

            console.log(data);

            for (var i of data) {
                //invoiceListTable
                count++;
                var d = new Date(i.SaleMaster.date);
                obj.push([
                    count,
                    i.SaleMaster.invoiceNo,
                    i.Ledger.ledgerName,
                    Utilities.FormatCurrency(i.SaleMaster.grandTotal),
                    (i.User != null)
                        ? i.User.userName
                        : "Null",
                    d.toLocaleDateString(),
                    '<button type="button" class="btn btn-info btn-xs" onclick="DisplayInvoiceDetail(' + i.SaleMaster.salesMasterId + ')"><i class="fa fa-eye"></i> View</button>',
                    '<button  class="btn btn-primary btn-xs btn-labeled fa fa-print" onclick="printReport(' + i.SaleMaster.salesMasterId + ')">Print</button>',
                ]
                );
            }
            //if ($.fn.dataTable.isDataTable('#invoiceListTable')) {
            //    $('#invoiceListTable').DataTable({data});
            //} else {
            //$('#invoiceListTable').DataTable({
            //        data: obj,
            //        destroy: true,
            //        searching: true,
            //        ordering: true
            //    });
            //}

            $('#invoiceListTable').DataTable({
                data: obj,
                destroy: true,
                searching: true,
                ordering: true
            });
            //$('#invoiceListTable').DataTable({
            //    data: obj,
            //    searching: true,
            //    ordering: true
            //});
        }

        function getCategoryName(id) {
            var CategoryName;
            for (i = 0; i < allCategories.length; i++) {
                if (allCategories[i].CategoryId == id) {
                    CategoryName = allCategories[i].CategoryName;
                    break;
                }
            }
            return CategoryName;
        }

        function getProjectName(id) {
            var ProjectName = {};
            for (i = 0; i < allProjects.length; i++) {
                if (allProjects[i].ProjectId == id) {
                    ProjectName = allProjects[i].ProjectName;
                    break;
                }
            }
            return ProjectName;
        }

        function DisplayInvoiceDetail(saleMasterId) {
            var url = API_BASE_URL +
                "/SalesInvoice/GetInvoiceDetailsFromMaster/?id=" +
                saleMasterId;

            $.ajax(url,
                {
                    type: "get",
                    beforeSend: () => { Utilities.Loader.Show() },
                    complete: () => { Utilities.Loader.Hide() },
                    success: function (data) {
                        var obj = [];
                        var count = 0;
                        var html = "";
                        console.log("details", data)
                        $("#detailsModal").modal();
                        var id = saleMasterId;
                        for (var i of data.details) {
                            console.log(data);
                            //invoiceListTable
                            count++;

                            var thisCategory = (i.detail.CategoryId == null || i.detail.CategoryId == 0) ? "N/A" : getCategoryName(i.detail.CategoryId);
                            var thisProject = (i.detail.ProjectId == null || i.detail.ProjectId == 0) ? "N/A" : getProjectName(i.detail.ProjectId);
                            var warehouse = stores.find(p => p.godownId == parseInt(i.detail.godownId));
                            wareHouseName = warehouse == undefined ? 'N/A' : warehouse.godownName;
                            var unitObj = units.find(p => p.unitId == parseInt(i.detail.unitId));
                            var unit = unitObj == undefined
                                ? "NA"
                                : units.find(p => p.unitId == parseInt(i.detail.unitId)).unitName;
                            html += `
                                                                                           <tr>
                                                                                                <td >${count}</td>
                                                                                                <td >${i.product.productCode}</td>
                                                                                                <td >${i.product.productCode}</td>
                                                                                                <td >${i.product.productName}</td>
                                                                                                <td >${wareHouseName}</td>
                                                                                                <td >${thisProject}</td>
                                                                                                <td >${thisCategory}</td>
                                                                                                <td>${i.detail.qty}</td>
                                                                                                //<td>${unit}</td>
                                                                                                <td>${i.detail.rate}</td>
                                                                                                <td style="text-align: center;">${i.detail.discount}</td>
                                                                                                <td>${Utilities.FormatCurrency(i.detail.amount)}</td>
                                                                                                <td>${Utilities.FormatCurrency(i.detail.taxAmount)}</td>

                                                                                    </tr>
                                                                                        `;


                            $("#invoiceNoDiv").text(i.master.invoiceNo);
                            $("#invoiceDateDiv").text(Utilities.FormatJsonDate(i.master.date));
                            $("#customerDiv").text(i.ledger.ledgerName);
                            $("#totalAmount").val('N' + i.master.totalAmount);

                            $("#taxAmountTxt").val('N' + Utilities.FormatCurrency(i.master.taxAmount));
                            $("#billDiscountTxt").val('N' + Utilities.FormatCurrency(i.master.billDiscount));
                            $("#grandTotalTxt")
                                .val(Utilities.FormatCurrency('N' + i.master.grandTotal));
                        }
                        $("#detailsTbody").html(html);
                        $("#delete").attr('data-id', id);
                        $("#edit").attr('data-id', id);
                    }
                });
        }

        $(function () {
            $("#delete").click(function () {
                var id = $(this).attr("data-id");
                Utilities.ConfirmFancy("Are Sure You Want to Delete You Cant Undo This. But Can Be Tracked",
                    function () {
                        $.ajax(API_BASE_URL + "/salesInvoice/Delete/" + id,
                            {
                                type: "GET",
                                success: function (data) {
                                    Utilities.Alert(data.message);
                                    setTimeout(function () {
                                        location.href = "/customer/salesInvoice/List";
                                    },
                                        3000);
                                }
                            });
                    }
                );

            });
            $("#edit").click(function () {
                var id = $(this).attr("data-id");
                location.href = "/customer/salesInvoice/edit/" + id;
            });
        });
        $("#search").click(function () {
            var from = $("#fromDate").val();
            var to = $("#toDate").val();
            fetchRecord(from, to);
        });
        $(function () {

            //fetchRecord();

            $.ajax({
                url: API_BASE_URL + "/SalesInvoice/InvoiceLookUps",
                type: "GET",
                contentType: "application/json",
                success: function (dataLookUp) {
                    console.log("general lookup", dataLookUp);
                    stores = dataLookUp.Stores;
                    //racks = dataLookUp.Racks;
                    units = dataLookUp.Units;
                    //taxes = dataLookUp.Tax;
                    // batches = dataLookUp.Batches;
                }
            });

        });

        $(function () {
            //fetchProjects;
            $.ajax({
                url: API_BASE_URL + "/Project/GetProject",
                type: "GET",
                contentType: "application/json",
                success: function (dataLookUp) {
                    allProjects = dataLookUp;
                }
            });

        });

        $(function () {
            //fetchProjects;
            $.ajax({
                url: API_BASE_URL + "/Category/GetCategory",
                type: "GET",
                contentType: "application/json",
                success: function (dataLookUp) {
                    allCategories = dataLookUp;
                }
            });

        });



        //get image
        var imgsrc = $("#companyImage").attr('src');
        var imageUrl;

        //convert image to base64;
        function getDataUri(url, callback) {
            var image = new Image();
            image.setAttribute('crossOrigin', 'anonymous'); //getting images from external domain
            image.onload = function () {
                var canvas = document.createElement('canvas');
                canvas.width = this.naturalWidth;
                canvas.height = this.naturalHeight;

                //next three lines for white background in case png has a transparent background
                var ctx = canvas.getContext('2d');
                ctx.fillStyle = '#fff';  /// set white fill style
                ctx.fillRect(0, 0, canvas.width, canvas.height);
                canvas.getContext('2d').drawImage(this, 0, 0);
                // resolve(canvas.toDataURL('image/jpeg'));
                callback(canvas.toDataURL('image/jpeg'));
            };
            image.src = url;
        }

        getDataUri(imgsrc, getLogo);

        //save the logo to global;
        function getLogo(logo) {
            imageUrl = logo;
        }





        function printReport(id) {
            //location.href = `/Report/ReportBuilder/Index/?id=${id}&reportType=${reportType.salesInvoice}`;
            Utilities.Loader.Show();
            $.ajax({
                url: API_BASE_URL + "/SalesInvoice/GetInvoiceDetailsFromMaster/?id=" + id,
                type: "GET",
                contentType: "application/json",
                success: function (data) {

                    details = data.details;
                    ledger = details[0].ledger;
                    master = details[0].master;

                    var doneByFinder = allUsers.find(x => x.userId == master.userId);
                    var doneBy = doneByFinder == undefined ? 'admin' : doneByFinder.firstName + ' ' + doneByFinder.lastName;

                    var companyName = $("#companyName").val();
                    var companyAddress = $("#companyAddress").val();
                    var thisEmail = $("#companyEmail").val();
                    var thisPhone = $("#companyPhone").val();
                    var thisVoucherNo = master.invoiceNo;

                    var thisCustomer = ledger.ledgerName;
                    var thisDate = Utilities.FormatJsonDate(master.date);

                    var objToPrint = [];
                    $.each(details, function (count, column) {
                        var row = column.detail;
                        var thisCategory = (row.CategoryId == null || row.CategoryId == 0) ? "N/A" : getCategoryName(row.CategoryId);
                        var thisProject = (row.ProjectId == null || row.ProjectId == 0) ? "N/A" : getProjectName(row.ProjectId);
                        var warehouse = stores.find(p => p.godownId == parseInt(row.godownId));
                        var wareHouseName = warehouse == undefined ? 'N/A' : warehouse.godownName;
                        var unitObj = units.find(p => p.unitId == parseInt(row.unitId));
                        var unit = unitObj == undefined ? "NA" : units.find(p => p.unitId == parseInt(row.unitId)).unitName;
                        objToPrint.push({
                            "SlNo": count + 1,
                            "Barcode": column.product.productCode,
                            "ProductCode": column.product.productCode,
                            "Product": column.product.productName,
                            "WareHouse": wareHouseName,
                            "Project": thisProject,
                            "Department": thisCategory,
                            "Quantity": row.qty,
                            "Unit": unit,
                            "Rate": 'N' + Utilities.FormatCurrency(row.rate),
                            "TradeDiscount": 'N' + Utilities.FormatCurrency(row.discount),
                            "Amount": 'N' + Utilities.FormatCurrency(row.amount),
                            "Tax": 'N' + Utilities.FormatCurrency(row.taxAmount),
                        });
                    });

                    columns = [
                        { title: "S/N", dataKey: "SlNo" },
                        { title: "Barcode", dataKey: "Barcode" },
                        { title: "Product Code", dataKey: "ProductCode" },
                        { title: "Product", dataKey: "Product" },
                        { title: "WareHouse", dataKey: "WareHouse" },
                        { title: "Project", dataKey: "Project" },
                        { title: "Department", dataKey: "Department" },
                        { title: "Quantity", dataKey: "Quantity" },
                        { title: "Unit", dataKey: "Unit" },
                        { title: "Rate", dataKey: "Rate" },
                        { title: "Trade Discount", dataKey: "TradeDiscount" },
                        { title: "Amount", dataKey: "Amount" },
                        { title: "Tax", dataKey: "Tax" },
                    ];

                    var doc = new jsPDF('portrait', 'pt', 'letter');
                    doc.setDrawColor(0);

                    //start drawing
                    doc.addImage(imageUrl, 'jpg', 40, 80, 80, 70);


                    doc.setFontSize(12);
                    doc.setFontType("bold");
                    doc.text(companyName, 320, 80, 'center');
                    doc.setFontSize(9);
                    doc.setFontType("normal");
                    doc.text(companyAddress, 320, 90, 'center');

                    doc.setFontSize(9);
                    doc.setFontType("bold");
                    doc.text('Email Id: ', 400, 150);
                    doc.setFontType("normal");
                    doc.text(thisEmail, 460, 150);
                    doc.setFontType("bold");
                    doc.text('Phone: ', 400, 165);
                    doc.setFontType("normal");
                    doc.text(thisPhone, 460, 165);

                    doc.line(40, 170, 570, 170);

                    doc.setFontType("bold");
                    doc.setFontSize(9);
                    doc.text('Customer:', 40, 185);
                    doc.setFontType("normal");
                    doc.text(thisCustomer, 85, 185);

                    doc.setFontType("bold");
                    doc.text('Invoice No: ', 400, 185);
                    doc.setFontType("normal");
                    doc.text(thisVoucherNo, 460, 185);
                    doc.setFontType("bold");
                    doc.text('Date: ', 400, 205);
                    doc.setFontType("normal");
                    doc.text(thisDate, 460, 205);

                    doc.line(40, 220, 570, 220);

                    doc.setFontSize(12);
                    doc.setFontType("bold");
                    doc.text('Sales Invoice', 250, 240);

                    //doc.line(120, 20, 120, 60); horizontal line
                    //doc.setFontSize(8);
                    doc.autoTable(columns, objToPrint, {
                        startY: 255,
                        theme: 'striped',
                        styles: {
                            fontSize: 5,
                        },
                        columnStyles: {
                            SlNo: { columnWidth: 30, },
                            Amount: { columnWidth: 50, halign: 'right' },
                        },
                    });

                    doc.line(40, doc.autoTable.previous.finalY + 5, 570, doc.autoTable.previous.finalY + 5);

                    doc.setFontSize(9);
                    doc.setFontType("bold"); //master.TotalAmount + master.TaxAmount
                    doc.text('Order Amount: ' + Utilities.FormatCurrency(parseInt(master.totalAmount)), 555, doc.autoTable.previous.finalY + 20, "right");
                    doc.text('Tax Amount: ' + Utilities.FormatCurrency(parseInt(master.taxAmount)), 555, doc.autoTable.previous.finalY + 35, "right");
                    doc.text('Bill Discount: ' + Utilities.FormatCurrency(parseInt(master.billDiscount)), 555, doc.autoTable.previous.finalY + 50, "right");
                    doc.text('Grand Total: ' + Utilities.FormatCurrency(parseInt(master.grandTotal)), 555, doc.autoTable.previous.finalY + 65, "right");

                    doc.line(40, doc.autoTable.previous.finalY + 80, 570, doc.autoTable.previous.finalY + 80);

                    doc.setFontType("bold");
                    doc.text('Grand Total in Words: ', 40, doc.autoTable.previous.finalY + 95);
                    doc.setFontType("normal");

                    //remove commas
                    //var tempTotal = totalAmt.replace(/,/g, "");
                    //convert to number
                    var amtToBeConverted = parseInt(master.grandTotal);

                    //capitalize Each Word
                    var wordFormat = Utilities.NumberToWords(amtToBeConverted);
                    const words = wordFormat.replace(/(^\w{1})|(\s+\w{1})/g, letter => letter.toUpperCase());

                    doc.text(words + ' Naira ONLY.', 140, doc.autoTable.previous.finalY + 95);

                    doc.setFontType("bold");
                    doc.text('Invoice approved by:  _________________________________', 40, doc.autoTable.previous.finalY + 130);

                    doc.text('Done by: ' + doneBy, 350, doc.autoTable.previous.finalY + 130);
                    doc.text('_________________', 390, doc.autoTable.previous.finalY + 133);
                    doc.autoPrint();
                    doc.save('Sale Invoice' + master.date + '.pdf');
                    //window.open(doc.output('bloburl'));
                    window.open(doc.output('bloburl'), "_blank", "toolbar=yes,top=500,right=500,width=1000,height=1000");

                    Utilities.Loader.Hide();


                }

            });
        }

    </script>
}








@{


    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;


        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">
        // , toDate
        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}









@{

     Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
            fetchRecord($("#fromDate").val(), $("#toDate").val());
        })

    </script>

}



