﻿
@{
    ViewBag.Title = "Settings";
}


<div class="row">
    <div class="eq-height">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Settings</h3>
            </div>
            <div class="panel-body">
                <div class="pad-ver">
                    <div class="row">
                        <div class="col-sm-4">
                            <form class="form-block">
                                <label><input type="checkbox" id="payroll" class="1"> Payroll</label><br />
                                <label><input type="checkbox" id="budget" class="2"> Budget</label><br />
                                <label><input type="checkbox" id="tax" class="3"> Tax</label><br />
                                <label><input type="checkbox" id="allowZeroEntry" class="6"> Allow Zero Value Entry</label><br />
                                <label><input type="checkbox" id="showCurrencySymbol"> Show Currency Symbol</label><br />
                                <label><input type="checkbox" id="tickPrint"> Tick Print After Save</label><br />
                                <label><input type="checkbox" id="autoProductCode"> Automatic Product Code Generation</label><br />
                                <label><input type="checkbox" id="barcode"> Barcode</label><br />
                                <label><input type="checkbox" id="allowBatch"> Allow Batch</label><br />
                                <label><input type="checkbox" id="allowSize"> Allow Size</label><br />
                                <label><input type="checkbox" id="allowModelNo"> Allow Model No.</label><br />
                                <label><input type="checkbox" id="project"> Project</label><br />
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <form class="form-block">
                                <label><input type="checkbox" id="showSalesRate"> Show Sales Rate</label><br/>
                                <label><input type="checkbox" id="showMrp"> Show MRP</label><br/>
                                <label><input type="checkbox" id="showPurchaseRate"> Show Purchase Rate</label><br/>
                                <label><input type="checkbox" id="showUnit"> Show Unit</label><br/>
                                <label><input type="checkbox" id="showSize"> Show Size</label><br/>
                                <label><input type="checkbox" id="showModelNo"> Show Model No.</label><br/>
                                <label><input type="checkbox" id="showDiscount"> Show Discount Amount</label><br/>
                                <label><input type="checkbox" id="showProductCode"> Show Product Code</label><br/>
                                <label><input type="checkbox" id="showBrand"> Show Brand</label><br/>
                                <label><input type="checkbox" id="showDiscountPercentage"> Show Discount Percentage</label><br/>
                                <label><input type="checkbox" id="category"> Category</label><br/>
                                <label><input type="checkbox" id="showWithholdingTax"> Show Withholding Tax</label><br/>
                            </form>
                        </div>
                        <div class="col-sm-4">
                            <form class="form-block">
                                <label><input type="checkbox" id="confirmationFor"> Add Confirmation For</label><br/>
                                <label style="margin-left:20px;"><input type="checkbox" id="add"> Add</label><br/>
                                <label style="margin-left:20px;"><input type="checkbox" id="edit"> Edit</label><br/>
                                <label style="margin-left:20px;"><input type="checkbox" id="delete"> Delete</label><br/>
                                <label style="margin-left:20px;"><input type="checkbox" id="close"> Close</label><br/> 
                                <label><input type="checkbox" id="directPrint"> Direct Print</label><br />                               
                            </form>
                            <form class="form-horizontal">
                                <div class="form-group" style="display:none;">
                                    <label class="col-sm-3 control-label">Printer</label><br/>
                                    <div class="col-sm-9">
                                        <select class="form-control" id="printer">
                                            <option value="Dot Matrix">Dot Matrix</option>
                                            <option value="Other">Other</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label" style="text-align:left;">Negative Cash Transaction</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="negativeCashTransaction">
                                            <option value="Warn">Warn</option>
                                            <option value="Block">Block</option>
                                            <option value="Ignore">Ignore</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label" style="text-align:left;">Stock Value Calculation Method</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="stockValueCalculation">
                                            <option value="Average Cost">Average Cost</option>
                                            <option value="FIFO">FIFO</option>
                                            <option value="Low cost">Low Cost</option>
                                            <option value="High Cost" >High Cost</option>
                                            <option value="Last Purchase Rate">Last Purchase Rate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-7 control-label" style="text-align:left;">Negative Stock Status</label>
                                    <div class="col-sm-5">
                                        <select class="form-control" id="negativeStockStatus">
                                            <option value="Warn">Warn</option>
                                            <option value="Block">Block</option>
                                            <option value="Ignore">Ignore</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                        </div>                                          
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-sm-offset-9">
                            <button class="btn btn-primary" style="margin-right:20px;" id="saveSettings"><i class="fa fa-check"></i> Save</button>
                            <button class="btn btn-default"><i class="fa fa-repeat"></i> Reset</button>
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
<script src="~/Scripts/Company/Settings/Settings.js"></script>
}
