﻿
@{
    ViewBag.Title = "Supplier Centre";
}

<div class="row">
    @*<div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Supplier name</label>
                                    <input type="text" class="form-control" id="supplierName">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Show</label>
                                    <select id="status" class="form-control custBorderStyle">
                                        <option>All</option>
                                        <option>Active</option>
                                        <option>Inactive</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <label class="control-label">Balance</label>
                                <select id="?" class="form-control custBorderStyle"></select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">State</label>
                                    <select id="state" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">City </label>
                                    <select id="city" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-9">

                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <button class="btn btn-primary btn-labeled fa fa-search" id="search" onclick="searchSupplierDetails()">Search</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>*@

    <div class="col-md-12 ">
        <div class="panel pre-scrollable">
            <div class="panel-heading btn-default">
                <div class="panel-control">
                    <button class="demo-panel-ref-btn btn btn-default" id="createSupplier">
                        <i class="fa fa-plus"></i> New Supplier
                    </button>
                    <a type="submit" id="exportToExcel" class="demo-panel-ref-btn btn btn-default" href="/supplier/SupplierCentre/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>
                </div>
                <h3 class="panel-title">Supplier Ledgers</h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table text text-sm" style="overflow:auto !important;" id="supplierAccountListTbody">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap; width:50px;">s/n</th>
                                    <th style="white-space: nowrap;">Supplier Name</th>
                                    <th style="white-space: nowrap;"><center>Mailing Name</center></th>
                                    <th style="white-space: nowrap;"><center>State</center></th>
                                    <th style="white-space: nowrap; width:150px;"><center>Balance</center></th>
                                    <th style="white-space: nowrap; width:207px;"><center>Action</center></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading btn-default">
                <h3 class="panel-title" id="panelTitle">
                    Supplier Transactions
                </h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table text text-sm" style="overflow:auto !important;" id="LedgerTransactionListTbody">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">s/n</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Type</th>
                                    <th style="white-space: nowrap;">Number</th>
                                    <th style="white-space: nowrap;">Memo</th>
                                    <th style="white-space: nowrap;">Debit</th>
                                    <th style="white-space: nowrap;">Credit</th>
                                    <th style="white-space: nowrap;">Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><b>Total Balance:</b></label>
                                <input type="text" class="form-control" id="totalBalance" value="0.00" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>

<div class="modal fade" id="SupplierDetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Supplier Details</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Supplier name</label>
                                        <input type="text" class="form-control" id="newSupplierName">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Company name</label>
                                        <input type="text" class="form-control" id="companyName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Branch Code</label>
                                        <input type="text" class="form-control" id="branchCode">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Branch name</label>
                                        <input type="text" class="form-control" id="branchName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Account No.</label>
                                        <input type="text" class="form-control" id="accountNumber">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Phone No.</label>
                                        <input type="text" class="form-control" id="phoneNumber">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Mobile No.</label>
                                        <input type="text" class="form-control" id="mobileNumber">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control" id="address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Email Address</label>
                                        <input type="text" class="form-control" id="emailAddress">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Bill by Bill</label>
                                        <select id="billByBill" class="form-control custBorderStyle">
                                            <option>Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Credit limit</label>
                                        <input type="text" class="form-control" id="creditLimit">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Position</label>
                                        <input type="text" class="form-control" id="position">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">TIN</label>
                                        <input type="text" class="form-control" id="TIN">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Credit Period</label>
                                        <input type="text" class="form-control" id="creditPeriod">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">State</label>
                                        <select id="state1" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">City </label>
                                        <select id="city1" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Pricing Level </label>
                                        <select id="pricingLevel" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-labeled fa fa-save" id="newLedger" onclick="addNewLedger()">Save</button>
                <button class="btn btn-primary btn-labeled fa fa-save" id="updateLedger" onclick="updateLedgerDetails()">Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/SupplierCentre.js?v=@DateTime.Now"></script>
}

