﻿@model dynamic

@{
    ViewBag.Title = "Department";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">

            @{

                if (pagePrivileges.Contains("Save"))
                {
                    @Html.Raw("<div class=\"panel\">");
                }
                else
                {
                    @Html.Raw("<div class=\"panel hide\">");
                }
            }

            <!-- /.box-header -->
            <div class="panel-body">
                <h3 class="panel-title">Create Department</h3>
                <form class="">
                    <div class="form-group">
                        <label>Department name</label>
                        <input type="text" name="categoryName" class="form-control" id="categoryName" />
                    </div>
                    <div class="form-group">
                        <label>Department Belongs to (department under a department) </label>
                        <select class="form-control" id="belongsTo"></select>
                    </div>
                    <button type="button" class="btn btn-primary" id="addCategory">Add Department</button>
                    <button type="button" class="btn btn-success" id="saveCategory" style="display:none">Save Department</button>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel">

            <!-- /.box-header -->
            <div class="panel-body">
                <h3 class="panel-title">Department</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Under</th>
                                <th>Created by</th>
                                <th>Created Date</th>

                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="tbody"></tbody>
                    </table>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <
</section>

@section scripts
{
    <script>
        $("#addCategory").click(function (event) {
            event.preventDefault();
            if ($("#categoryName").val() == '') {
                $("#categoryName").css("border", "2px solid red");
            } else {
                $("#categoryName").css("border", "none");
                var project = $("#categoryName").val();
                $.ajax(API_BASE_URL + "/Category/CreateCategory",
                    {
                        type: "post",
                        data: {
                            "CategoryName": project,
                            "CreatedBy": JSON.parse(localStorage.getItem("MAT_USER_INFO")).UserId,
                            BelongsToCategoryId: $("#belongsTo").val(),

                        },
                        beforeSend: () => {
                            $(this).attr("disabled");
                        },
                        complete: () => {
                            $(this).removeAttr("disabled");
                        },
                        success: (data) => {

                            Utilities.Alert("Saved Successfully");
                            console.log(data);
                            location.reload();
                        }
                    });

            }

        });

        $(function () {
            //;load

        });

        function GetUser(id) {
            if (users == null || users == '') {
                return "NA";
            } else {
                for (var i of users) {
                    if (i.userId == id) {
                        return i.userName;
                    }
                }
            }
        }

        function GetBelongs(id, sn) {
            $.ajax(API_BASE_URL + "/Category/GetSubCategory/" + id,
                {
                    type: "get",
                    success: (data) => {
                        if (data == null || data == '') return;
                        $("#singleBelong_" + sn).html(`<b>${data.CategoryName}</b>`);
                    }

                });
            $.ajax(API_BASE_URL + "/Category/GetSubCategoryRelation/" + id,
                {
                    type: "get",
                    success: (data) => {
                        if (data == null || data == '') return;
                        $("#mutipleBelong_" + sn).html(`${data}`);
                    }

                });
        }

        var users = [];
        $(function () {
            $.ajax(API_BASE_URL + "/UserCreation/GetUser/",
                {
                    type: "get",
                    beforeSend: () => {
                        //  Utilities.InfoNotification("Loading Data");
                    },
                    complete: () => {
                        //   Utilities.ErrorNotification("Failed Loading Data");
                    }

                }).done((data) => {
                    if (data == null || data == '') {
                    } else {
                        users = data;

                    }
                    $.ajax(API_BASE_URL + "/Category/GetCategory",
                        {
                            type: "get",
                            beforeSend: () => {
                                Utilities.InfoNotification("Loading Data");
                            },
                            complete: () => {
                                Utilities.InfoNotification("Loading Complete!");

                            },
                            success: (data) => {
                                $(".tbody").html("");
                                $("#belongsTo").append(`<option value="0">-select-</option>`);

                                var sn = 0;
                                for (var i of data) {
                                    sn += 1;
                                    $(".tbody").append(` <tr>
                                                <td>${sn}</td>
                                                <td>${i.CategoryName}</td>
                                                <td > <span id="singleBelong_${sn}"></span> <span id="mutipleBelong_${sn}"></span></td>
                                                <td ">${GetUser(i.CreatedBy)}</td>
                                                <td>${new Date(i.CreatedOn).toDateString()}</td>
    <td><button class="btn btn-primary " onclick = 'editCategory(${i.CategoryId})'><i class="fa fa-edit"></i> Edit</button></td>
                                                <td><button class="btn btn-danger " onclick = 'deleteCategory(${i.CategoryId})'><i class="fa fa-times-circle"></i> Delete</button></td>
                 

                                            </tr>` );
                                    $("#belongsTo").append(`<option value="${i.CategoryId}">${i.CategoryName}</option>`);
                                    GetBelongs(i.BelongsToCategoryId, sn);
                                }
                            }
                        });
                });

        });
    </script>
    <script>


        function deleteCategory(id) {
            if (confirm("Do you really want to delete Department?")) {
                $.ajax(API_BASE_URL + "/Category/DeleteCategory/" + id,
                    {
                        type: "post",
                        success: function (res) {

                            if (res.CategoryId == null) {
                                Utilities.InfoNotification("Deleted");
                                location.reload();
                            }
                            else {
                                Utilities.InfoNotification("Unable to delete Category. Category Reference Exists.");
                            }

                        }
                    });
            }
        }
    </script>
    <script>

        function editCategory(id) {
            $("#saveCategory").show();
            $("#addCategory").attr('disabled', true);
            if (id != '') {
                $.ajax(API_BASE_URL + "/Category/GetCategory/" + id,
                    {
                        type: "get",
                        beforeSend: () => {
                            Utilities.InfoNotification("Geting Department");
                        },
                        complete: () => {
                            //Utilities.InfoNotification("Loading Complete!");

                        },
                        success: (data) => {
                            $("#categoryName").val(data.CategoryName);
                            $("#belongsTo").val(data.BelongsToCategoryId);
                            $(this).scrollTop(0);

                            $("#saveCategory").click(function (event) {
                                event.preventDefault();
                                if (id != '') {
                                    var categoryId = id;
                                    var createdBy = data.CreatedBy;
                                    var category = $("#categoryName").val();
                                    var belongsTo = $("#belongsTo").val();
                                    $.ajax(API_BASE_URL + "/Category/PutCategory/" + id,
                                        {
                                            type: "post",
                                            data: {
                                                "CreatedBy": createdBy,
                                                "CategoryId": categoryId,
                                                "CategoryName": category,
                                                "ModifiedBy": JSON.parse(localStorage.getItem("MAT_USER_INFO")).UserId,
                                                "BelongsToCategoryId": belongsTo,

                                            },
                                            beforeSend: () => {
                                                $(this).attr("disabled");
                                            },
                                            complete: () => {
                                                $(this).removeAttr("disabled");
                                            },
                                            success: (data) => {

                                                Utilities.Alert("Updated Successfully");
                                                console.log(data);
                                                location.reload();
                                            }
                                        });
                                }

                            });
                        }
                    });

            }


        }




    </script>
}
