@{
    ViewBag.Title = "Order Confirmation Register";
}

@*<div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">To Date</label>
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Customer</label><br />
                                        <select id="customers" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Sales Order No.</label>
                                        <input type="text" class="form-control" id="salesOrderNo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Condition</label><br />
                                        <select id="condition" class="form-control">
                                            <option value="All" selected>All</option>
                                            <option value="False">Pending</option>
                                            <option value="True">Approved</option>
                                            <option value="True">Overdue</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <button class="btn btn-info" type="button" id="search" onclick="getSalesOrderList()">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" style="overflow:auto !important;">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap;">#</th>
                                            <th style="white-space: nowrap;">Form No.</th>
                                            <th style="white-space: nowrap;">Form Type</th>
                                            <th style="white-space: nowrap;">Date</th>
                                            <th style="white-space: nowrap;">Bill Amount</th>
                                            <th style="white-space: nowrap;">Narration</th>
                                            <th style="white-space: nowrap;">Due Date</th>
                                            <th style="white-space: nowrap;">Curreny</th>
                                            <th style="white-space: nowrap;">Done By</th>
                                        </tr>
                                    </thead>
                                    <tbody id="salesOrderListTbody"></tbody>
                                </table>
                            </div><br /><br />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>*@


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel" style="display:none;">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Agent</label><br />
                                    <select id="customers" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Order No.</label>
                                    <input type="text" class="form-control" id="quotationNo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Condition</label><br />
                                    <select id="condition" class="form-control">
                                        <option value="All" selected>All</option>
                                        <option value="False">Approved</option>
                                        <option value="True">Pending</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-info" type="button" id="search-old">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Order Status</label>
                                    <select id="orderStatus" class="form-control">
                                        <option value="All">All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="orderConfirmationListTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Order No.</th>
                                    <th style="white-space: nowrap;">Agent Name</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Bill Amount</th>
                                    <th style="white-space: nowrap;">Due Date</th>
                                    <th style="white-space: nowrap;">Done By</th>
                                    <th style="white-space: nowrap;">Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            @*<tbody id="salesQuotationListTbody"></tbody>*@
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Confirmation Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="orderDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Agent :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Status :</div>
                                        <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;"></th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Warehouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    <th style="white-space: nowrap;">Tax Amount</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Order Amount</div>
                                <div class="col-md-6" id="orderAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="orderAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Tax Amount</div>
                                <div class="col-md-6" id="taxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="taxAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="grandTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Approve Order</button>
                    <button class="btn btn-danger" onclick="cancelOrder();" id="cancelOrder" type="button"><i class="fa fa-times"></i> Cancel Order</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Registers/OrderConfirmationRegister.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        orderConfirmationListTable("2017-01-01", $("#toDate").val(), "All");
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "")
            {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0")
            {
                $("#fromDate").val(todayDate());
            }

            if ($(this).val() == "1")
            {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -1));
                $("#toDate").val(Utilities.SetDate(todayDate(), -1));
            }
        });
        $("#search").click(function () {
            //if ($("#orderStatus").val() == "")
            //{
            //    Utilities.ErrorNotification("Please select status");
            //    return;
            //}
            //else
            //{
            //    table.destroy();
            //    getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
            //}
            table.destroy();
            orderConfirmationListTable($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
        });
    </script>
}