﻿
@{
    ViewBag.Title = "Release Note Listing";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="">-Select-</option>
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Order Status</label>
                                    <select id="orderStatus" class="form-control">
                                        <option value="">-Select-</option>
                                        <option value="SO">Confirmed</option>
                                        <option value="DN">Delivered</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="searchOrders" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="salesOrderConfirmationTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Order No.</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Agent Name</th>
                                    <th style="white-space: nowrap;">Bill Amount</th>
                                    <th style="white-space: nowrap;">Done By</th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                            @*<tbody id="salesQuotationListTbody"></tbody>*@
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Register.js"></script>
    <script type="text/javascript">
        getConfirmedSalesOrders("2017-01-01", "2017-10-21", "All", "SO");

        $("#orderStatus").change(function () {
            table.destroy();
            getConfirmedSalesOrders("2017-01-01", "2017-10-21", "All", "SO");
        });
    </script>
}

