﻿@{
    ViewBag.Title = "Waybill Generation Listing";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <select id="backDays" class="form-control">
                                        <option value="">-Select-</option>
                                        <option value="0">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="7">One Week Ago</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-9">
                                        <div class="form-group">
                                            <label class="control-label">Status</label>
                                            <select id="status" class="form-control">
                                                <option value="Unprocessed">Unprocessed</option>
                                                <option value="Processed">Processed</option>
                                            </select>
                                        </div>
                                    </div>
                                <div class="col-md-3">
                                    <br />
                                    <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="table-responsive">
                            <table id="deliveryNoteListTable" class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">#</th>
                                        <th style="white-space: nowrap;">Form No.</th>
                                        <th style="white-space: nowrap;">Date</th>
                                        <th style="white-space: nowrap;">Agent Name</th>
                                        <th style="white-space: nowrap;">Released By</th>
                                        <th style="white-space: nowrap;"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="waybillModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Way Bill</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div style="height:500px; width:600px;">
                    <iframe id="rptFrame" src="" frameborder="0" style="position: relative; height: 500px; width: 800px;"></iframe>
                    @*<iframe src="/Reports/Webforms/ReleaseForm.aspx?qry=80019" frameborder="0" style="position: relative;"></iframe>*@
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Register.js"></script>
    <script>
        getWaybillGenerationListing("2017-01-01", $("#toDate").val(),"Unprocessed");
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }

            if ($(this).val() == "1") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), 0));
                $("#toDate").val(Utilities.SetDate(todayDate(), 0));
            }
        });
        $("#search").click(function () {
            table.destroy();
            getWaybillGenerationListing($("#fromDate").val(), $("#toDate").val(),$("#status").val());
        });

        
        function showWaybillModal(releaseNoteId)
        {
            $("#rptFrame").prop("src", "/Reports/Webforms/ReleaseForm.aspx?qry=" + releaseNoteId);
            $("#waybillModal").modal("show");
        }
    </script>

}