﻿@using MatOnline.Reports
@model MatOnline.Reports.tbl_Company

@{
    var currency = new DBMATAccounting_MagnetEntities().tbl_Currency.ToList();

}
@section css{
    <style>


        /* relevant styles */
        .img__wrap {
            position: relative;
            /*height: 150px;*/
            width: 150px;
        }

        .img__description {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            background: rgba(29, 106, 154, 0.72);
            color: #fff;
            visibility: hidden;
            opacity: 0;
            /* transition effect. not necessary */
            transition: opacity .2s, visibility .2s;
        }

        .img__wrap:hover .img__description {
            visibility: visible;
            opacity: 1;
        }

        img.img-responsive.opac:hover {
            opacity: 0.5;
        }
    </style>
}
<div class="panel">
    <div class="panel-title">Edit Company Detail</div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(a => a.companyId)
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12"> @Html.ValidationSummary(true, "", new { @class = "text-danger" })</div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Company Name</label>


                        @Html.EditorFor(model => model.companyName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.companyName, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Mailing Name</label>


                        @Html.EditorFor(model => model.mailingName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mailingName, "", new { @class = "text-danger" })

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Phone Number</label>

                        @Html.EditorFor(model => model.phone, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.phone, "", new { @class = "text-danger" })

                    </div>


                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Additional Phone Number</label>

                        @Html.EditorFor(model => model.mobile, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.mobile, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Email Address</label>

                        @Html.EditorFor(model => model.emailId, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.emailId, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Website</label>

                        @Html.EditorFor(model => model.web, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.web, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">


                    <div class="form-group">
                        <label class="control-label">Country</label>

                        @Html.EditorFor(model => model.country, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.country, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">

                    <div class="form-group">
                        <label class="control-label">State</label>

                        @Html.EditorFor(model => model.state, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.state, "", new { @class = "text-danger" })

                    </div>

                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Preferred Currency</label>

                        @*@Html.EditorFor(model => model.currencyId, new {htmlAttributes = new {@class = "form-control"}})*@
                        <select class="form-control" Name="@Html.NameFor(a => a.currencyId)">
                            @foreach (var i in currency)
                            {
                                var select = (Model.currencyId == i.currencyId) ? "selected='selected'" : "data-select";

                                <option value="@i.currencyId" @select> @i.currencyName</option>

                            }

                        </select>
                        @Html.ValidationMessageFor(model => model.currencyId, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Beginning of Financial Year</label>
                        <input type="text" value="@Model.financialYearFrom.Value.ToShortDateString()" id="financialYearFrom" name="financialYearFrom" class="form-control" />
                        @*@Html.EditorFor(model => model.financialYearFrom, new { htmlAttributes = new { @class = "form-control dateCtrl" } })*@
                        @Html.ValidationMessageFor(model => model.financialYearFrom, "", new { @class = "text-danger", })

                    </div>
                </div>

                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Beginning of Book Keeping Year</label>
                        @if(Model.booksBeginingFrom==null)
                        {
                            <input type="text" value="" id="booksBeginingFrom" name="booksBeginingFrom" class="form-control" />
                        }
                        else
                        {
                            <input type="text" value="@Model.booksBeginingFrom.Value.ToShortDateString()" id="booksBeginingFrom" name="booksBeginingFrom" class="form-control" />
                        }
                        

                        @*@Html.EditorFor(model => model.booksBeginingFrom, new { htmlAttributes = new { @class = "form-control dateCtrl" } })*@
                        @Html.ValidationMessageFor(model => model.booksBeginingFrom, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="control-label">Company Address</label>

                        @Html.TextAreaFor(a => a.address, new { @class = "form-control" })

                        @Html.ValidationMessageFor(model => model.address, "", new { @class = "text-danger" })

                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label class="form-control">Logo</label>
                        <div class="col-md-10">
                            <div>
                                @{
                                    var img = Model.extra2;
                                    if (string.IsNullOrWhiteSpace(img))
                                    {
                                        img = "https://icon-library.net/images/not-found-icon/not-found-icon-28.jpg";
                                    }
                                }
                                <div class="img__wrap">
                                    <img src="@img" width="150" alt="logo" id="img_upload" class="img-responsive opac" />
                                    @Html.HiddenFor(a => a.extra2, new { id = "uploadedImg" })
                                    <button class="btn btn-info btn-xs" type="button" id="upload"> Upload</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12" style="margin: 20px">
                    <button class="btn btn-success btn-block" type="Submit"> <i class="fa fa-save"></i> Save Changes </button>
                </div>

            </div>
        </div>

    }
</div>
@section scripts
{


    <link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css">
    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script>


    <script type="text/javascript">
       
        $('#financialYearFrom').datepicker({
            autoclose: true
        });
        $('#booksBeginingFrom').datepicker({
            autoclose: true
        });

    </script>

    <script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript">
    </script>
    <script type="text/javascript">
        var myWidget = cloudinary.createUploadWidget({
            cloudName: 'magnetconsult',
            uploadPreset: 'unsignedUpload'
        },
            (error, result) => {
                if (!error && result && result.event === "success") {
                    console.log('Done! Here is the image info: ', result.info);
                    $("#uploadedImg").val(result.info.url);
                    $("#img_upload").attr("src", result.info.url);
                    Utilities.SuccessNotification("Image Uploaded");

                }
            }
        );
        $("#upload").click(function (event) {
            event.preventDefault();
            myWidget.open();
        });
        document.getElementById("upload_widget").addEventListener("click", function () {
            myWidget.open();
        }, false);
    </script>




}
