﻿@using MatOnline.Reports
@model MatOnline.Reports.tbl_Company

@{
    var pagePrivileges = ViewBag.pagePrivileges;
    var currency = new DBMATAccounting_MagnetEntities().tbl_Currency.Where(a => a.currencyId == Model.currencyId).FirstOrDefault();
}

@section css
{
    <style>
        dt {
            font-size: 1.8rem;
            margin-left: 10px;
        }
        dd {
            font-size: 1.5rem;
        }
        </style>
}
<div class="panel">
    <div class="panel-title frmUserCreation-Save">
        </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <div id="usersTable_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="dataTables_length" id="usersTable_length">
                                <h2>Company Profile</h2>
                            </div>
                            @{

                                if (pagePrivileges.Contains("Update"))
                                {
                                    @Html.Raw("<a class=\"btn btn-primary text-white\" href=\"" +
                                   @Url.Action("EditProfile", new { id = Model.companyId }) + 
                                   "\"><i class=\"fa fa-edit\"></i> Edit Details </a> "
                                   );
                                }

                            }

                        </div>
                  
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        </div>
                    </div>
                    <div class="row">

                        <div>
                          
                            <div class="col-sm-6">
                                <h3>
                                    Company Name
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.companyName)
                                </p>

                                <h3>
                                    Mailing Name
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.mailingName)
                                </p>

                                <h3>
                                    Address
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.address)
                                </p>

                                <h3>
                                    Phone Number
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.phone)
                                </p>

                                <h3>
                                    Mobile Number
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.mobile)
                                </p>
                                @{
                                    var img = Model.extra2;
                                    if (string.IsNullOrWhiteSpace(img))
                                    {
                                        img = "https://icon-library.net/images/not-found-icon/not-found-icon-28.jpg";
                                    }
                                } 
                                <h3>
                                    Logo
                                </h3>
                                <img src="@img" width="200" class="img-responsive" />
                            </div>
                            <div class="col-sm-6">

                                <h3>
                                    Email Address
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.emailId)
                                </p>

                                <h3>
                                    Website
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.web)
                                </p>

                                <h3>
                                    Country
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.country)
                                </p>

                                <h3>
                                    State
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.state)
                                </p>



                                <h3>
                                    Currency
                                </h3>
                                @if (currency != null)
                                {
                                    <p>
                                    
                                        @currency.currencyName / @currency.currencySymbol
                                    </p>
                                }
                              

                                <h3>
                                    Begin Financial From
                                </h3>

                                <p>
                                    @Model.financialYearFrom.Value.ToString("D")
                                    @*@Html.DisplayFor(model => model.financialYearFrom)*@
                                </p>

                                <h3>
                                    Book Record Begins From
                                </h3>

                                <p>
                                    @Html.DisplayFor(model => model.booksBeginingFrom)
                                </p>

                                @*<dt>
            @Html.DisplayNameFor(model => model.tin)
        </dt>*@

                                @*<dd>
            @Html.DisplayFor(model => model.tin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.cst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cst)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pan)
        </dd>*@

                                <h3>
                                    Default Current Time/Date
                                </h3>

                                <p>
                                    @Model.currentDate.ToString()
                                </p>

                                @*<dt>
            @Html.DisplayNameFor(model => model.logo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.logo)
        </dd>*@

                                @*<dt>
            @Html.DisplayNameFor(model => model.extra1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extra1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extra2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extra2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.extraDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.extraDate)
        </dd>*@

                            </div>
                               

                        </div>
                        <div ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>