﻿
@{
    ViewBag.Title = "Edit Items";
}
<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            @*<li style="margin-right:100px !important;" class="pull-left"><a href="#" class="text-muted"><i class="fa fa-plus-circle"></i> Add Item</a></li>*@
                            <li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>
                            <li><a href="#tab2" data-toggle="tab">Secondary</a></li>
                            <li><a href="#tab3" data-toggle="tab">Others</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Item Code</label>
                                        <input type="text" id="productCode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <form action="/ItemCreation/CreateItem" enctype="multipart/form-data" method="post" id="frmProductImage">
                                            <input type="file" style="display:none;" id="productImage" name="productImage" class="form-control" />
                                            <img class="img-md img-circle" src="~/Content/ProductImages/default.jpg" alt="" id="blah">
                                            <input type="hidden" id="returnedProductId" name="returnedProductId" />
                                            <button type="button" onclick="$('#productImage').click();" class="btn btn-primary">Pick Image</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Item Type</label>
                                        <select id="itemType" class="form-control" disabled="disabled">
                                            <option value="Product">Stock</option>
                                            <option value="Service">Service / Non Stock</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Item/Service Name</label>
                                        <input type="text" id="productName" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Purchase Rate</label>
                                        <input type="number" id="purchaseRate" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label id="lblSalesRate">Sales Rate</label>
                                        <input type="number" id="salesRate" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Sales Account</label>
                                        <select class="form-control" id="salesAccount"></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Expense Account</label>
                                        <select class="form-control" id="expenseAccount"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Warehouse</label>
                                        <select id="store" class="form-control" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Default Rack</label>
                                        <select id="rack" class="form-control" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab2">
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Minimum Stock</label>
                                        <input type="number" id="minimumStock" value="0" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Maximum Stock</label>
                                        <input type="number" id="maximumStock" value="0" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Re-Order Level</label>
                                        <input type="number" id="reorderLevel" value="0" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Colour</label>
                                        <select id="brand" class="form-control" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick='$("#newBrandModal").modal("toggle");'>
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Tax</label>
                                        <select class="form-control" id="tax" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Tax Applicable On.</label>
                                        <select class="form-control" id="taxApplicable" disabled="disabled">
                                            <option value="MRP">MRP</option>
                                            <option value="Rate">Rate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Opening Stock</label>
                                        <select class="form-control" id="openingStock" disabled="disabled">
                                            <option value="False">No</option>
                                            <option value="True">Yes</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Category/Profile</label>
                                        <select class="form-control" id="group" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Size</label>
                                        <select id="size" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Unit</label>
                                        <select class="form-control" id="unit" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick='$("#newUnitModal").modal("toggle");'>
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab3">
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>BOM</label>
                                        <select class="form-control" id="bom">
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Allow Batch</label>
                                        <select class="form-control" id="allowBatch">
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Multiple Unit</label>
                                        <select class="form-control" id="multipleUnit" style="width:85%;">
                                        </select>
                                        <button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick='$("#newUnitModal").modal("toggle");'>
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Model No.</label>
                                        <select class="form-control" id="modelNo" style="width:85%;"></select>
                                        <button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>MRP</label>
                                        <input type="text" id="mrp" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Part No.</label>
                                        <input type="text" id="partNumber" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Active</label><br />
                                        <input type="checkbox" checked="checked" id="chkActive" class="" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Auto Barcode</label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="checkbox" id="chkAutoBarcode" class="" disabled="disabled" />
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtAutoBarcode" class="form-control" disabled="disabled" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Effective Date</label>
                                        <input type="text" id="effectiveDate" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Show in Reminder</label><br />
                                        <input type="checkbox" id="chkReminder" class="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Description</label>
                                        <textarea id="description" cols="40" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                        <ul class="nav nav-tabs">
                            <li>
                                <button class="btn btn-primary" style="margin-left:8px;" id="btnPrevious"><i class="fa fa-arrow-circle-left"></i> Previous</button><br /><br />
                            </li>
                            <li class="pull-right">
                                <button class="btn btn-primary" style="margin-left:8px;" id="btnNext"><i class="fa fa-arrow-circle-right"></i> Next</button>
                                <button class="btn btn-primary" id="btnUpdateItem"><i class="fa fa-edit"></i> Update</button>
                                <br /><br />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <div class="box box-primary" id="openingStockStorePanel">
                        <div class="box-header">
                            <h3 class="box-title">Opening Stock Stores</h3><br />

                        </div>
                        <div class="box-body pre-scrollable fc-scroller">
                            <table class="table" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th class="col-md-1"><b>#</b></th>
                                        <th class="col-md-1"><b>Store</b></th>
                                        <th class="col-md-1"><b>Rack</b></th>
                                        <th class="col-md-1 hideBatch" style="display:none;"><b>Batch</b></th>
                                        <th class="col-md-1 hideBatch" style="display:none;"><b>MFD</b></th>
                                        <th class="col-md-1 hideBatch" style="display:none;"><b>EXPD</b></th>
                                        <th class="col-md-1"><b>Qty</b></th>
                                        <th class="col-md-1"><b>Rate</b></th>
                                        <th class="col-md-1"><b>Unit</b></th>
                                        <th class="col-md-1"><b>Amount</b></th>
                                        <th class="col-md-1"></th>
                                    </tr>
                                </thead>
                            <tbody id="stocktbody">

                            </tbody>
                            </table><hr />
                            
                        </div>
                        <div class="row">
                            <br />
                            <div class="col-md-4 col-md-offset-8">
                                <label>Total Inventory Value</label>
                                <input type="text" id="totalInventoryValue" disabled="disabled" value="0.00" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Item To Store</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Store</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="newStore"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Rack</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="newRack"></select>
                            </div>
                        </div>
                        <div class="form-group hideBatch" style="display:none;">
                            <label class="col-sm-4 control-label">Batch</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newBatch" placeholder="Batch">
                            </div>
                        </div>
                        <div class="form-group hideBatch" style="display:none;">
                            <label class="col-sm-4 control-label">Manufactured Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newMf" placeholder="">
                            </div>
                        </div>
                        <div class="form-group hideBatch" style="display:none;">
                            <label class="col-sm-4 control-label">Expirty Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newExp" placeholder="">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="newQuantity" value="0" placeholder="Quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Rate</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" id="newRate" value="0" placeholder="Rate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Unit</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="newUnit"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Amount</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="amount" disabled placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addStore">Add Store</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-check-circle" style="color:#5eba7d;text-shadow: 1px 1px 1px #5eba7d;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Product created!</div>
                    <h1 id="cd" style="color:#5eba7d;"></h1>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-times-circle" style="color:red;text-shadow: 1px 1px 1px red;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Oops! Something went wrong.</div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bomModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Product Bill of Materials(BOM)
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Raw Material</label>
                                <select class="form-control" id="bomRawMaterial"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Quantity</label>
                                <input type="number" id="bomQuantity" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                <label>Unit</label>
                                <select class="form-control" id="bomUnit"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <br />
                                <button class="btn btn-primary" id="btnAddBomItem"><i class="fa fa-plus-circle"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><b>S/N</b></td>
                            <td><b>Raw Material</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Unit</b></td>
                            <td><b>Purchase Rate</b></td>
                            <td><b>Remove</b></td>
                        </tr>
                    </thead>
                    <tbody id="bomTbody"></tbody>
                </table>
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <form onsubmit="return false;" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Total Inventory Value</label>

                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="bomTotalInventoryAmount" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css">
    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script type="text/javascript">
        var productId =@ViewBag.ProductId;
    </script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/EditItem.js"></script>
}

