﻿
@{
    ViewBag.Title = "Item List";
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">
          
        </div>
        <div class="col-md-1">
        </div>
    </div>
   
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <a class="demo-panel-ref-btn btn btn-primary" href="/Inventory/ItemCreation/CreateItem"><i class="fa fa-plus"></i> Add Item</a>
                        <a id="exportToExcel" class="demo-panel-ref-btn btn btn-mint" href="/Inventory/ItemCreation/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>
                    <h3 class="panel-title">Item List</h3>
                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="productTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Item Name</th>
                                <th>Item Code</th>
                                <th>Sales Rate</th>
                                <th>Group</th>
                                <th>Sub Group</th>
                                <th>Category</th>
                                <th>Sub Category</th>
                                <th>Action</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<!--delete Modal -->
@*<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteProduct"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete"onclick="">Delete</button>
            </div>
        </div>
    </div>
</div>*@


@section pageScripts
{
    @*<script>
        $("#exportToExcel").click(function () {
            //$("#exportForm").submit();
            $("#exportToExcel").attr('disabled', 'disabled');
            $("#exportToExcel").html("Exporting...");
        });
    </script>*@
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/Items.js"></script>
}

