@{
    ViewBag.Title = "Item Details";
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-header">
                    <h3 class="panel-title" id="productTitle"></h3>
                    <h3 class="panel-title" id="quantityInStock"></h3><br />

                </div>
                <!-- /.box-header -->
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Service/stock</b></div>
                            <div class="col-md-4" id="serviceType"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Category/Profile</b></div>
                            <div class="col-md-6" id="group"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Model No.</b></div>
                            <div class="col-md-6" id="modelNo"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Product/Service Name</b></div>
                            <div class="col-md-4" id="productName"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Minimum Stock</b></div>
                            <div class="col-md-6" id="minimumStock"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Colour</b></div>
                            <div class="col-md-6" id="brand"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Product Code</b></div>
                            <div class="col-md-4" id="productCode"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Maximum Stock</b></div>
                            <div class="col-md-6" id="maxStock"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Size</b></div>
                            <div class="col-md-6" id="size"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Purchase Rate</b></div>
                            <div class="col-md-4" id="purchaseRate"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Re-Order Level</b></div>
                            <div class="col-md-6" id="reorderLevel"></div>
                        </div>
                        <div class="col-md-4" style="display:none;">
                            <div class="col-md-6"><b>MRP</b></div>
                            <div class="col-md-6" id="mrp"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Sales Rate</b></div>
                            <div class="col-md-4" id="salesRate"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Default Rack</b></div>
                            <div class="col-md-6" id="defaultRack"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>BOM</b></div>
                            <div class="col-md-6" id="bom"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Unit</b></div>
                            <div class="col-md-4" id="unit"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Warehouse</b></div>
                            <div class="col-md-6" id="store"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Multiple Unit</b></div>
                            <div class="col-md-6" id="multipleUnit"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Expense Account</b></div>
                            <div class="col-md-4" id="expAcct"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Tax</b></div>
                            <div class="col-md-6" id="tax"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Allow Batch</b></div>
                            <div class="col-md-6" id="allowBatch"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        <div class="col-md-4">
                            <div class="col-md-8"><b>Sales Account</b></div>
                            <div class="col-md-4" id="salesAcct"></div>
                        </div>
                        <div class="col-md-4" style="visibility:hidden;">
                            <div class="col-md-6"><b>Tax Applicable On.</b></div>
                            <div class="col-md-6" id="taxApplicable"></div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-6"><b>Effective Date.</b></div>
                            <div class="col-md-6" id="effectiveDate"></div>
                        </div>
                    </div><br />
                    <div class="row">
                        @*<div class="col-md-4">
                                <div class="col-md-8"><b>Opening Stock</b></div>
                                <div class="col-md-4" id="openingStock"></div>
                            </div>*@

                        <div class="col-md-4">
                            <div class="col-md-8"><b>Barcode</b></div>
                            <div class="col-md-4" id="barcode"></div>
                        </div>
                        <div class="col-md-8">
                            <div class="col-md-2"><b>Description</b></div>
                            <div class="col-md-10" id="narration"></div>
                        </div>
                    </div>
                    <br /><br />
                    <button class="btn btn-primary" onclick="window.location='/Inventory/ItemCreation/Index'">Back to Item List</button>
                    @*<table id="productTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Product Name</th>
                                    <th>Product Code</th>
                                    <th>Purchase Rate</th>
                                    <th>Sales Rate</th>
                                    <th>Details</th>
                                    <th>Edit</th>
                                    <th>Delete</th>
                                </tr>
                            </thead>

                        </table>*@
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

@section pageScripts
{
    <script type="text/javascript">
        var productId =@ViewBag.ProductId;
    </script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/ItemDetails.js?v=@DateTime.Now"></script>
}