@{
    ViewBag.Title = "User Roles";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<div id="roleGrid"></div>

<div class="panel">
    @{
        foreach (var item in pagePrivileges)
        {
            if (item == "Save")
            {
                @Html.Raw("<div class=\"panel-title frmUserCreation-Save\">" +
                        "<button data-target=\"#createRoleModal\" data-toggle=\"modal\" class=\"btn btn-primary btn-labeled fa fa-plus-circle add-tooltip\" data-original-title=\"Add Line Item\">" +
                        "Create New Role</button></div>");
            }

        }
    }

    
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="rolesTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Role</th>
                            @{
                                foreach (var item in pagePrivileges)
                                {
                                    if (item == "Update")
                                    {
                                        @Html.Raw("<th>Edit</th>");
                                    }

                                }
                            }
                            @{
                                foreach (var item in pagePrivileges)
                                {
                                    if (item == "Delete")
                                    {
                                        @Html.Raw("<th>Delete</th>");
                                    }

                                }
                            }
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createRoleModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Role Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Role</label>
                                    <input type="text" class="form-control required-control" id="role">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" id="createRole">Create Role</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editRoleModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Role Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <input type="hidden" id="editRoleId" />
                                    <label class="control-label">Role</label>
                                    <input type="text" class="form-control required-control" id="editRole">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" id="saveChanges">Save Changes</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Company/Settings/Role.js?v=" @DateTime.Now></script>
}