﻿
@{
    ViewBag.Title = "Monthly Salary Settings";
}
<div class="row" id="viewMonthlySalary">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <button class="demo-panel-ref-btn btn btn-primary" onclick="newSalarySetting()" id="createSetting">
                                <i class="fa fa-plus"></i> New Setting
                            </button>
                        </div>
                        <h3 class="panel-title">Monthly Salaries</h3>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body text text-sm">
                            <table id="salaryMonthsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Salary Month</th>
                                        <th>Narration</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Salary Month Details</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="salaryMonthDetailsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Employee</th>
                                    <th>Employee Code</th>
                                    <th>Salary Package</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="newMonthlySalary" class="row">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Salary Setting</h3>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body text text-sm">
                            <div class="form-group col-md-4">
                                <label class="control-label">Pick Month</label>
                                <input type="text" class="form-control" id="date" readonly="readonly" placeholder="Please Select"/>
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Narration</label>
                                <textarea type="text" class="form-control" id="narration"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Salary Month Details</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="newSalaryMonthDetailsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Employee</th>
                                    <th>Employee Code</th>
                                    <th>Salary Package</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" onclick="saveNewSetting()">Save</button>
                        <button class="btn btn-default" onclick="close()">close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="changeSPModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Salary Package</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">salary Package</label>
                            <div>
                                <select id="salaryPackageNewDropDown" class="form-control" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyChangeForNew()" id="add">save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeSPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Salary Package</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">salary Package</label>
                            <div>
                                <select id="salaryPackageDropDown" class="form-control" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()" id="saveChange">save</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts{
    <script type="text/javascript" src="~/Scripts/Payroll/MonthlySalary/MonthlySalary.js?v=@DateTime.Now"></script>    
<script>
        $("#date").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });
</script>
}