﻿
@{
    ViewBag.Title = "Account List Report";
}

<section>
    <div class="row">
        <div class="panel">
            <div class="panel-heading btn-default">
                <h3 class="panel-title" id="panelTitle">
                    Account List Report Search Parameters
                </h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">

                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Account Group</label>
                                <div>
                                    <input type="text" class="form-control" id="aGroup">
                                </div>
                            </div>
                        </div>

                    <div class="row">

                    </div>
                </div>
                    </div>
            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="getAccountListDetails()" id="search"><i class="fa fa-search"></i> Search</button>

            </div>
        </div>

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="AccountListReportList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>LedgerName</th>
                                        <th>Type</th>
                                        <th>Description</th>
                                        <th>Account No</th>
                                        <th>Company Name</th>
                                        <th>Email</th>
                                        <th>Cr/Dr</th>
                                        <th>Balance</th>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />

                    </div>
                </form>
            </div>
        </div>



    </div>
</section>

@section pageScripts
{
    <script src="~/Scripts/Reports/ListReports/AccountList.js?v=@DateTime.Now"></script>
}
