﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Purchase Return";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmPurchaseReturn" && p.action == "Save") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" id="transactionDate" value="@DateTime.Now.ToShortDateString()" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">
                                        Voucher No.
                                    </label>
                                    <input type="text" class="form-control" id="voucherNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select id="currency" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Supplier</label>
                                    <select id="suppliers" class="form-control custBorderStyle" style="width:95%;"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Apply On</label>
                                    <select id="applyOn" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Order no.</label>
                                    <select id="orderNo" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Line Items
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive text text-sm">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Qty Ordered</th>
                                        <th style="white-space: nowrap;">Qty To Return</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;">Batch no</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross</th>
                                        <th style="white-space: nowrap;">Net</th>
                                        <th style="white-space: nowrap;">Tax name</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Line Amount</th>

                                    </tr>

                                </thead>
                                <tbody id="purchaseReturnLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transportation Company</label>
                                    <input type="text" id="transportationCompany" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Registration No.</label>
                                    <input type="text" id="lrNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <textarea id="narration" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Total Amount</label>
                                    <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                </div>
                                @*<div style="text-decoration:underline;font-size:13px;">Total Amount : <strong id="totalAmount">0</strong></div>*@
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary btn-labeled fa fa-save" id="save">Save</button>
                        <button class="btn btn-danger btn-labeled fa fa-times">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quantity to Return</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="quantity" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyQuantityOnObject()" id="newQuantity">save</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        //$("#transactionDate").datepicker({
        //    clearBtn: true,
        //    daysOfWeekHighlighted: "0",
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "yyyy-mm-dd"
        //});
    </script>
    <script src="~/Scripts/Supplier/PurchaseReturn.js"></script>
}


@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("transactionDate");
        doc.readonly = true;


        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("transactionDate");
        doc.readonly = true;

        var ConvertDateFrom = EndMonth + "/" + BeginDay + "/" + EndYear;

        $("#transactionDate").val(ConvertDateFrom);

        document.getElementById("transactionDate").value = ConvertDateFrom;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("transactionDate");
            doc.readonly = true;

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("transactionDate");
            doc.readonly = true;

        });

    </script>
}