﻿
@{
    ViewBag.Title = "Purchase Return Register";
    var pagePrivileges = ViewBag.pagePrivileges;
    var itemPrivileges = ViewBag.itemPrivileges;
}

<div class="col-md-12">
    <div class="panel">
        <div class="panel-heading btn-default">
            <h3 class="panel-title" id="panelTitle"></h3>
        </div>
        <form onsubmit="return false;">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">from Date</label>
                            <div>
                                <input type="text" class="form-control" id="fromDate" value="@DateTime.Now.ToShortDateString()" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label class="control-label">To Date</label>
                            <div>
                                <input type="text" class="form-control" id="toDate" value="@DateTime.Now.ToShortDateString()" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    @*<div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Select Supplier</label>
                                <div>
                                    <input type="text" class="form-control" id="supplier">
                                </div>
                            </div>
                        </div>*@
                    <div class="col-md-3">
                        <button type="button" class="btn btn-primary" id="searchNew" style="margin-top: 25px"><i class="fa fa-search"></i> Search</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="PurchaseReturnReportList" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Returns No</th>
                                    <th>Supplier</th>
                                    <th>Invoice No</th>
                                    <th>Total</th>
                                    <th>Date</th>
                                    <th>Done by</th>
                                    @{
                                        foreach (var item in itemPrivileges)
                                        {
                                            if (item == "View")
                                            {
                                                @Html.Raw("<th>View</th>");
                                            }

                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody id="returnTbody"></tbody>
                        </table>
                    </div><br /><br />
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Purchase Return Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>

                        </div>

                        <hr />
                        <div class="table-responsive">
                            <table id="PurchaseReturnDetailList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>P. Code</th>
                                        <th>P. Barcode</th>
                                        <th>Product Name</th>
                                        <th>Store</th>
                                        <th>Qty</th>
                                        <th>Rate</th>
                                        <th>Tax Amount</th>
                                        <th>Gross Amount</th>
                                        <th>Net Amount</th>
                                        <th>Amount</th>

                                    </tr>

                                </thead>
                                <tbody id="detailTbody"></tbody>
                            </table>
                        </div><br /><br />

                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                <div class="col-md-6" id="orderAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="totalAmount" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="pull-right">
                            <button id="edit" class="btn btn-primary"> Edit</button>
                            <button id="delete" class="btn btn-danger"> Delete</button>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Approve Order</button>
                    <button class="btn btn-danger" onclick="cancelOrder();" id="cancelOrder" type="button"><i class="fa fa-times"></i> Cancel Order</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/Registers/PurchaseReturn.js"></script>
    <script src="~/Scripts/Reports/PurchaseReports/PurchaseReturnReport.js?v=@DateTime.Now"></script>
    <script>
        function fetchData() {
            var invoiceNo = $("#orderNo").val();
            var ledgerNo = $("#supplier").val();
            var to = $("#toDate").val();
            var from = $("#fromDate").val();
            $.ajax(API_BASE_URL +
                `/PurchaseReturn/GetPurchaseReturn/?ledgerId = ${ledgerNo}&invoiceNo =${invoiceNo
                }&from =${from}&to=${to}`,
                {
                    beforeSend: () => {
                        Utilities.Loader.Show();
                    },
                    complete: () => {
                        Utilities.Loader.Hide();
                    },
                    success(data) {
                        if (data != null) {
                            PriviledgeSettings.ApplyUserPriviledge();
                            //the function is placed in a setTimeout so the userPriviledges array in PriviledgeSettings is sure to have been filled before it is used here, thereby avoiding errors eg datatable errors.
                            setTimeout(onSuccess, 500, data);
                        }

                    }
                });
        }

        function onSuccess(data) {
            console.log('test', data);
            var html = "";
            var count = 0;
            for (var i of data) {
                var doneBy = i.doneBy == null ? i.userName : i.doneBy;
                count++;
                html += `<tr>
                                                <td>${count}</td>
                                                <td>${i.voucherNo}</td>
                                                <td>${i.supplierName}</td>
                                                <td>${i.invoiceNo}</td>
                                                <td>${i.total}</td>
                                                <td>${Utilities.FormatJsonDate(i.date)}</td>
                                                <td>${doneBy}</td>
                                                <td><button class="btn btn-primary viewDetails" onclick="fetchDetail(${i.txtId
                })">View</button></td>
                                            </tr>`;

            }
            $("#returnTbody").html(html);
            if (checkPriviledge("frmPurchaseReturn", "View") === false) {
                $(".viewDetails").hide();
            }
            $("#PurchaseReturnReportList").DataTable({
                destroy: true,
                paging: true,
                searching: true
            });
        }
        var master = {};


        function fetchDetail(id) {
           @* Utilities.Loader.Show();
            console.log(id);
            $.ajax({
                url: API_BASE_URL + "/PurchaseReturn/GetPurchaseReturnDetail/?purchaseReturnMasterId=" + id,
                type: "Get",
                contentType: "application/json",
                success: function (data) {
                    Utilities.Loader.Hide();
                    console.log(data);
                    //var details = data.Details;
                },
                error: function (err) {
                    Utilities.ErrorNotification("Error");
                    Utilities.Loader.Hide();
                }
            });*@

            $.ajax(API_BASE_URL +
                `/PurchaseReturn/GetPurchaseReturnDetail/?purchaseReturnMasterId=${id}`,
                {
                    beforeSend: () => {
                        Utilities.Loader.Show();
                    },
                    complete: () => {
                        Utilities.Loader.Hide();
                    },
                    success(data) {
                        var html = "";
                        var count = 0;
                        var total = 0.0;
                         master = data[0].Master;
                        console.log("ss", data);
                        for (var i of data) {
                            count++;
                            html += ` <tr>
                                        <td>${count}</td>
                                        <td>${i.Product.productCode}</td>
                                        <td>${i.Product.productCode}</td>
                                        <td>${i.Product.productName}</td>
                                        <td>${i.Store}</td>
                                        <td>${i.Detail.qty}</td>
                                        <td>${i.Detail.rate}</td>
                                        <td>${i.Detail.taxAmount}</td>
                                        <td>${i.Detail.grossAmount}</td>
                                        <td>${i.Detail.netAmount}</td>
                                        <td>${i.Detail.amount}</td>

                                    </tr>`;
                            total += Number(i.Detail.amount);
                        }
                        $("#detailTbody").html(html);
                        $("#detailsModal").modal('show');
                        $("#totalAmount").val(total);
                        $("#edit").attr('data-id', master.purchaseReturnMasterId);
                        $("#delete").attr('data-id', master.purchaseReturnMasterId);
                    }
                });
        }

        $("#searchNew").click(function() {
            fetchData();
        });
        $("#delete").click(function () {
            var id = $(this).attr('data-id');
            Utilities.ConfirmFancy(function() {
                $.ajax(API_BASE_URL + "/PurchaseReturn/Delete/" + id,
                    {
                        type: "delete",
                        success: function(res) {
                            Utilities.Alert(message);
                        }
                    });
            });
        });
        $("#edit").click(function () {
            var id = $(this).attr('data-id');
            location.href = "/Supplier/PurchaseReturn/Edit/" + id;
        });

      

    </script>

}





@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;


        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}




@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            fetchData();
        })

        $(function () {
            fetchData();
        });
    </script>

}
