﻿
@{
    ViewBag.Title = "Leave Type";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Create Leave Type</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Leave Type Name</label>
                                    <input type="text" class="form-control required-control" id="leaveTypeName">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Duration</label><br />
                                    @*<input type="number" class="form-control required-control" placeholder="in number of working days" id="duration"><span class="required-span">*</span>*@
                                    <input min='1' type="number" class="form-control required-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57"  placeholder="in number of working days" id="duration"><span class="required-span">*</span>

                                 </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Category</label>
                                    <select id="category" class="form-control required-control">
                                        <option value="Paid">Paid</option>
                                        <option value="UnPaid">UnPaid</option>
                                    </select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                           
                                <div class="col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="stage1">
                                        <label class="form-check-label" for="stage1">
                                            Stage 1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="stage2">
                                        <label class="form-check-label" for="stage2">
                                            Stage 2
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="stage3">
                                        <label class="form-check-label" for="stage3">
                                            Stage 3
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" value="" id="hr">
                                        <label class="form-check-label" for="hr">
                                            HR
                                        </label>
                                    </div>
                                </div>
                            
                       
                        </div>
                        @*woubld put check box hereh*@
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" type="button" onclick="createLeaveType()">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Leave Type</h3>
                </div>
                <div class="panel-body">
                    <table id="leaveTypeTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Leave Type</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

 <div class="modal fade" id="editModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Leave Type</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Leave Type Name</label>
                            <input type="text" class="form-control required-control" id="editLeaveTypeName">
                            <span class="required-span">*</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Duration</label><br />
                            @*<input type="number" class="form-control required-control" placeholder="in number of working days" id="duration"><span class="required-span">*</span>*@
                            <input min='1' type="number" class="form-control required-control" onkeypress="return (event.charCode == 8 || event.charCode == 0) ? null : event.charCode >= 48 && event.charCode <= 57" placeholder="in number of working days" id="editDuration"><span class="required-span">*</span>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Category</label>
                                <select id="editCategory" class="form-control required-control">
                                    <option value="Paid">Paid</option>
                                    <option value="UnPaid">UnPaid</option>
                                </select>
                                <span class="required-span">*</span>
                            </div>
                </div>
                    <div class="col-md-6">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="editStage1">
                            <label class="form-check-label" for="editStage1">
                                Stage 1
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="editStage2">
                            <label class="form-check-label" for="editStage2">
                                Stage 2
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="editStage3">
                            <label class="form-check-label" for="editStage3">
                                Stage 3
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="editHr">
                            <label class="form-check-label" for="editHr">
                                HR
                            </label>
                        </div>
                    </div>

            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
 </div>
</div>

@section pageScripts{
    <script type="text/javascript" src="~/Scripts/Payroll/LeaveManagement/LeaveType.js?v=@DateTime.Now"></script>

}