﻿
@{
    ViewBag.Title = "Price List";
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Pricing List Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Product Group</label>
                            <div>
                                <div class="form-control custBorderStyle" id="productGroupList" style="width:100%;"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Product</label>
                            <div>
                                <div class="form-control custBorderStyle" id="productList" style="width:100%;"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Pricing Level</label>
                            <div>
                                <div class="form-control custBorderStyle" id="pricingLevelList" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="searchForProducts()" id="search"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Product List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="productsForPriceListTable" class="table">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Product Code</th>
                                        <th>Product Name</th>
                                        <th>Unit</th>
                                        <th>Sales Rate</th>
                                        <th>Purchase Rate</th>
                                        <th>MRP</th>
                                        <th></th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="priceListPopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog text text-sm">
        <div class="modal-content" style="background-color:whitesmoke;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Price List</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default" >
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="pricingLevel" placeholder="Pricing Level">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="unit" placeholder="Unit">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="productCode" placeholder="Product Code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="productName" placeholder="Product Name">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <div class="">
                                        <div class="form-control custBorderStyle" id="batchList" style="width:100%;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <div class="">
                                        <input type="number" class="form-control" id="rate" placeholder="1">
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="modal-footer  btn-default">
                        <span id="errorNotification" class="label label-danger"></span>
                        <span id="successNotification" class="label label-success"></span>
                        <button type="button" class="btn btn-sm btn-success" onclick="addNewPrice()" id="save"><i class="fa fa-check"></i> Save Rate</button>
                        <button type="button" class="btn btn-sm btn-primary" onclick="editPrice()" id="edit"><i class="fa fa-check"></i> Save Changes</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <h5>Price List</h5>
                    <table id="priceListTable" class="table table-striped" style="overflow:auto !important;">
                        <thead style="background-color:#3c8dd3;color:#fff;">
                            <tr>
                                <th>S/N</th>
                                <th>Batch</th>
                                <th>Rate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
             </div>
            <div class="modal-footer">
                <button type="button" id="delete" class="btn btn-danger" onclick="deletePriceList()" data-dismiss="modal">Delete Price List</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->

@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/PricingList/PriceList.js?v=@DateTime.Now;"></script>
}




