﻿
@{
    ViewBag.Title = "Attendance";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        Daily Attendance
                        @*<button data-toggle="modal" id="btnLineItemModal" class="btn btn-mint btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Invoice Line Item">Add</button>*@
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <label class="label-control">Select Date:</label>
                                <input type="text" id="date" value="@DateTime.Now.ToShortDateString()" class="form-control" data-provide="datepicker" data-date-end-date="0d" readonly="readonly" />
                            </div>
                            <div class="col-md-3">
                                <label class="label-control">Narration</label>
                                <textarea type="text" id="narrationMaster" class="form-control"></textarea>
                            </div>
                        </div>
                        <br />
                        <br />
                        <div class="row">
                            <table class="table table-bordered table-striped table-responsive" id="attendanceTable">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Employee Code</th>
                                        <th style="white-space: nowrap;">Employee Name</th>
                                        <th style="white-space: nowrap;">Status</th>
                                        <th style="white-space: nowrap;">Narration</th>
                                        @{

                                            if (pagePrivileges.Contains("Update") == true)
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap;\"></th>");
                                            }

                                        }

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-success" id="save" onclick="saveAttendance()"> Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="changeStatusModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Salary Package</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Status</label>
                            <div>
                                <select id="status" class="form-control" style="width:100%;">
                                    <option value="Present">Present</option>
                                    <option value="Half Day">Half Day</option>
                                    <option value="Absent">Absent</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Narration</label>
                            <div>
                                <textarea class="form-control" id="narration"></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyStatusToEmployee()" id="saveChange">save</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    @*<script>
        $(function(){
            $('#date').datepicker({
                format: 'mm-dd-yyyy',
                endDate: '+0d',
                autoclose: true
            });
        });
        </script>*@

    <script type="text/javascript" src="~/Scripts/Payroll/Attendance/Attendance.js?v=@DateTime.Now"></script>
}




@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay =@(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;


        $("#invoiceDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("invoiceDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            $("#invoiceDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("invoiceDate");
            doc.readonly = true;

        });

    </script>
}