﻿
@{
    ViewBag.Title = "Apply Credit(Supplier)";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Supplier</label>
                            <input type="text" class="form-control" id="suppliers">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice List</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="invoiceListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Date</th>
                                <th>Transaction Type</th>
                                <th>Invoice No.</th>
                                <th>Narration</th>
                                <th>Amount</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="applyModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Apply Payment</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Invoice No.</label>
                                    <input id="invoiceNoApply" class="form-control" type="text" readonly="readonly">
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label">Voucher type</label>
                                        <input id="voucherTypeApply" class="form-control" type="text" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <div class="form-group" id="amounDiv">
                                        <label class="control-label">Amount</label>
                                        <input id="amountApply" class="form-control" type="text" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive" id="">
                            <table class="table table-bordered table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Payment Source</th>
                                        <th>Num</th>
                                        <th>Balance Available</th>
                                        <th>Amount to Pay</th>
                                        <th>Cr/Dr</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody id="partyBalanceTbody"></tbody>
                            </table>
                        </div>
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="width:20%;" value="0.0" id="totalInvoiceAmt">
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePartyBalance" onclick="save()" type="button">Save</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="applyAgainst" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm" style="background-color:ghostwhite;">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title">Enter Amount</h4>
            </div>
            <div class="modal-body">
                <div class="bootbox-body">
                    <form class="bootbox-form">
                        <input class="bootbox-input bootbox-input-text form-control" id="amountToApplyToInvoice" type="number">
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button data-bb-handler="cancel" type="button" class="btn btn-default">Cancel</button>
                <button data-bb-handler="confirm" type="button" onclick="applyPaymentToInvoice()" class="btn btn-primary">OK</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/ApplyCredit.js?v=@DateTime.Now"></script>
}