﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Payments";
}


@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}


<div class="row" style="display:none">
    <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-offset-10">
                            <button type="submit" id="currentBalance" style="float:right;" class="btn btn-primary">Check Current Balance</button>
                        </div>
                    </div>

                    <br />
                    <div class="row">
                        <div class="col-sm-offset-10">
                            <input id="balanceText" readonly="readonly" class="form-control" style="text-align:right; float:right; font-size:20px;">
                        </div> <br />
                    </div>
                    @*<p>&#8358;</p>*@

                    <hr />
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="">Payment No.</label>
                            <div class="row">
                                <input type="text" id="voucherNo" class="form-control" readonly="readonly">
                            </div><br />
                            <label class="control-label" for="">Transaction Date</label>
                            <div class="row">
                                <input type="text" id="transactionDate" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="">Account Type</label>
                            <div class="row">
                                <select id="accountType" class="form-control">
                                    <option value="1">Suppliers</option>
                                    <option value="2">Other Expenses</option>
                                </select>
                            </div>
                            <br />
                            <label class="control-label" for="">Bank/Cash</label>
                            <div class="row">
                                <select class="form-control" id="bankorcash"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="">Cheque/REF Number</label>
                            <div class="row">
                                <input type="text" id="chqrefNo" class="form-control" />
                            </div>
                            <br />
                            <label class="control-label" for="">Cheque Date</label>
                            <div class="row">
                                <input type="text" id="chequeDate" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-primary" onclick="openModal()" id="createState">
                            <i class="fa fa-plus"></i> Add Line Item
                        </button>
                    </div>
                    @*<h3 class="panel-title" id="panelTitle">
                            Line Items
                        </h3>*@
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped text text-sm" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap; width:140px;">Pay To</th>
                                        @*<th style="white-space: nowrap; width:140px;">Apply</th>*@
                                        <th style="white-space: nowrap; width:140px;">Amount</th>
                                        <th style="white-space: nowrap; width:140px;">Invoice No</th>
                                        <th style="white-space: nowrap; width:140px;">Currency</th>
                                        @*<th style="white-space: nowrap;">WHT</th>*@
                                        <th style="white-space: nowrap;">Memo</th>
                                        <th style="white-space: nowrap;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="suppliersRowTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="col-sm-offset-9">
                            <label class="control-label" for="">Total Amount</label>
                            <div>
                                <input type="text" id="totalAmount" class="form-control" style="text-align:right;" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                            <button id="savePrint" class="btn btn-primary btn-labeled fa fa-envelope">Save & Print</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog" style="width:1000px;">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Make Payment</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Pay To</label>
                                    <select id="suppliers" class="form-control custBorderStyle" style="width:100%;"></select>
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label">Amount</label>
                                        <input id="amount" onchange="changeAmount(this)" type="number" min="0" value="0" class="form-control" />
                                    </div>*@
                                <div class="form-group">
                                    <label class="control-label">Reference</label>
                                    <select id="reference" class="form-control custBorderStyle" style="width:100%;">
                                        <option value="">Please Select</option>
                                        <option value="Against">Against</option>
                                        <option value="OnAccount">On Account</option>
                                    </select>
                                </div>
                                <div id="typeParent" class="form-group">
                                    <label class="control-label">Type</label>
                                    <select id="type" class="form-control custBorderStyle" style="width:100%;"></select>
                                </div>

                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label">Memo</label>
                                        <input type="text" id="memo" class="form-control" style="width:100%;" />
                                    </div>
                                    @*<label class="control-label">Apply</label>
                                                <select id="apply" class="form-control custBorderStyle">
                                                    <option value="">Select...</option>
                                                    <option value="onAccount">On Account</option>
                                                    <option value="Against">Against</option>
                                                </select>
                                            </div>
                                        <div class="form-group">
                                            <label class="control-label">With-Holding Tax</label>
                                            <select class="form-control" id="wht">
                                            </select>
                                        </div>*@
                                    <div class="form-group">
                                        <label class="control-label">Currency</label>
                                        <select class="form-control" id="currency">
                                            <option value="1"> Naira | NGN </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="partyBalanceTable" class="table-responsive text text-sm pre-scrollable col-sm-12">
                                <table class="table table-striped" style="overflow:auto !important;">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap;">Reference</th>
                                            <th style="white-space: nowrap; width:220px;">Type</th>
                                            <th style="white-space: nowrap;">Num</th>
                                            <th style="white-space: nowrap;" class="outstandingTablehead">Outstanding</th>
                                            <th style="white-space: nowrap;width:150px;">Amount</th>
                                            <th style="white-space: nowrap;">Cr/Dr</th>
                                        </tr>
                                    </thead>
                                    <tbody id="partyBalanceTbody"></tbody>
                                </table>
                            </div>
                            @*<div id="transactionDetailsTable" class="table-responsive text text-sm pre-scrollable col-sm-12">
                                    <table class="table table-striped" style="overflow:auto !important;">
                                        <thead>
                                            <tr>
                                                <th style="white-space: nowrap;">S/N</th>
                                                <th style="white-space: nowrap; width:220px;">Date</th>
                                                <th style="white-space: nowrap;">Type</th>
                                                <th style="white-space: nowrap;">Num</th>
                                                <th style="white-space: nowrap;width:150px;">Memo</th>
                                                <th style="white-space: nowrap;">Debit</th>
                                                <th style="white-space: nowrap;">Credit</th>
                                                <th style="white-space: nowrap;">Balance</th>
                                            </tr>
                                        </thead>
                                        <tbody id="transactionDetailsTbody"></tbody>
                                    </table>
                                </div>*@
                        </div>
                    </div>
                    <div class="col-sm-offset-8">
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="text-align:right;" value="0" id="totalPaymentAmount">
                        <br />
                    </div>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePartyBalance" onclick="addPaymentToObject()" type="button">Add</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="applyModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Customer Supplier Balance</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <div class="table-responsive" id="">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap; width:220px;">Invoice</th>
                                        <th style="white-space: nowrap;">Num</th>
                                        <th style="white-space: nowrap;">Pending</th>
                                        <th style="white-space: nowrap;width:150px;">Amount</th>
                                        <th style="white-space: nowrap;">Cr/Dr</th>
                                    </tr>
                                </thead>
                                <tbody id="partyBalanceTbody"></tbody>
                            </table>
                        </div>
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="width:50%;" value="0.0" id="totalInvoiceAmt">
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePartyBalance" type="button">Save</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="applyOnAccount" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title" id="mySmallModalLabel">Enter Amount</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="number" class="form-control" id="applyOnAccountAmount" />
                    </div>
                </div><br /><br />
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" id="saveAmountApplyOnAccount"><i class="fa fa-check"></i> Save</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-danger" onclick='$("#applyOnAccountAmount").val(0); $("#applyOnAccount").modal("hide");'><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@{
    @Html.Raw("<input type='hidden' value='" + @Request.QueryString["pendingPaymentMasterId"] + "' id='queryString'/>");
}

@section PageScripts
    {
    <script src="~/Scripts/Supplier/PaymentNew.js?v=@DateTime.Now"></script>
    <script src="//cdn.rawgit.com/saribe/eModal/1.2.67/dist/eModal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

}


@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay =@(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#transactionDate").datepicker({
            autoclose: true,
            defaultDate: new Date(),
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("transactionDate");
        doc.readonly = true;


        $("#chequeDate").datepicker({
            autoclose: true,
            defaultDate: new Date(),
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("chequeDate");
        doc.readonly = true;

        //document.getElementById("chequeDate").value = EndMonth + "/" + EndDay + "/" + EndYear;

        //document.getElementById("transactionDate").value = EndMonth + "/" + EndDay + "/" + EndYear;
    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("transactionDate");
            doc.readonly = true;

            $("#chequeDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("chequeDate");
            doc.readonly = true;


        });

    </script>
}
