﻿
@{
    ViewBag.Title = "Run General Journals";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <br />
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="col-sm-offset-3 col-sm-3">
                            <label class="control-label">Journal Date</label>
                        </div>
                        <div>
                            <div class="col-sm-6">
                                <input id="date" type="text" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-6">
                            <label class="control-label">Journal No</label>
                        </div>
                        <div>
                            <div class="col-sm-6">
                                <input id="voucherNo" type="text" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        @*Date: <input type="text" id="date" class="dateCtrl form-control" style="width:40%;" readonly /> 
                        Journal No: <input type="text" id="voucherNo" style="width:40%;" readonly class="form-control" />*@
                        
                    </div>
                  
                </div>
                <div class="col-md-12">
                    <h3 class="panel-title" style="padding-bottom:10px">
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add New Record</button>
                    </h3>
                    <br />
                </div>

                <div class="col-md-12">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Account Ledger</th>
                                    <th style="white-space: nowrap;">Dr</th>
                                    <th style="white-space: nowrap;">Cr</th>
                                    <th style="white-space: nowrap;">Memo</th>
                                    <th style="white-space: nowrap;">Remove</th>
                                </tr>
                            </thead>
                            <tbody id="journalLineItemTbody"></tbody>
                        </table>

                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        
                                    </div>

                                    <div class="col-sm-3">
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Total Debit</label>
                                            <input id="totalDebit" type="text" class="form-control" readonly="readonly" value="0.00" style="text-align:right;">
                                            <label class="control-label">Total Credit</label>
                                            <input id="totalCredit" type="text" class="form-control" readonly="readonly" value="0.00" style="text-align:right;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="panel-footer text-right">
                        <button id="saveJournal" class="btn btn-primary btn-labeled fa fa-save">Save Journal</button>
                    </div>
                </form>
                    </div> 
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Account Ledger</label>
                                    <input type="text" id="accountLedger"/>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Dr/Cr</label>
                                    <select id="drOrCr" class="form-control custBorderStyle">
                                        <option value="">Please select</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Cr">Cr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="number" id="amount" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <input type="text" id="memo" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItem">Add</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
    <div class="col-sm-12">
        
        <br />
        <div id="journalsGrid"></div>
    </div>
    <div class="panel">
        <div class="panel-body">
            <div class="col-sm-offset-8">
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Debit Total</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" class="form-control" id="totalDebit" readonly="readonly" value="0.00" />
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="form-group">
                        <label class="control-label">Credit Total</label>
                    </div>
                </div>
                <div class="col-md-7">
                    <div class="form-group">
                        <input type="text" class="form-control" id="totalCredit" readonly="readonly" value="0.00" />
                    </div>
                </div>
            </div>
            <div class="col-sm-offset-8">
                <button class="btn btn-primary" id="">Save</button>
            </div>
        </div>
    </div>
</div>*@


<div class="modal fade" id="againstModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Customer/Supplier Balance</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Invoice No.</th>
                                        <th style="white-space: nowrap;">Pending</th>
                                        <th style="white-space: nowrap;width:150px;">Amount</th>
                                        <th style="white-space: nowrap;">Cr/Dr</th>
                                    </tr>
                                </thead>
                                <tbody id="partyBalanceTbody"></tbody>
                            </table>
                        </div>
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="width:50%;" value="0.0" id="totalInvoiceAmt">
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="onAccountModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Apply on account</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <input id="applyAmount" type="number" min="0" class="form-control" />
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Enter Amount</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <input id="newAmount" type="number" min="0" class="form-control" />
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
<script src="~/Scripts/Company/GeneralJournals/RunGeneralJournals.js"></script>   
}