﻿
@{
    ViewBag.Title = "Sales Point";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box panel" style="padding: 20px;">
                <div class="box-header">
                    <h3 class="box-title">Sales Points</h3><br />
                    @{
                        if (pagePrivileges.Contains("Save"))
                        {
                            @Html.Raw("<button class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#addModal\"><i class=\"fa fa-plus-circle\"></i> Add Sales Point</button>");
                        }
                        
                    }
                    
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="salesPointTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Sales Point Name</th>
                                @{
                                    if (pagePrivileges.Contains("Update"))
                                    {
                                        @Html.Raw("<th>Edit</th>");
                                    }
                                    if (pagePrivileges.Contains("Delete"))
                                    {
                                        @Html.Raw("<th>Delete</th>");
                                    }
                                }
                                                         
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"  id="myModalLabel">Add Sales Point</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        @*<input type="hidden" id="editStateId" />*@
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Point Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="salesPointName" placeholder="Sales point name">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveSalesPoint" data-dismiss="modal">Add Sales Point</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Sales Point</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editSalesPointId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Sales Point</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editSalesPointName" placeholder="Sales Point Name">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges" data-dismiss="modal">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete State</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteSalesPointName"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" data-dismiss="modal" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>



@*@section stateScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/SalesPoint.js"></script>
}*@

@section scripts{
   <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/SalesPoint.js"></script>
}




