﻿
@{
    ViewBag.Title = "Bank Transfer Register";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(From)</label>
                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(To)</label>
                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Bank</label>
                            <select id="ledgers" class="form-control" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Transaction Type</label>
                            <select id="type" class="form-control" style="width:100%;"> 
                                <option value="Deposit">Deposit</option>
                                <option value="Withdraw">Withdrawal</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div id="table3">
                        <div class="container" style="height:450px; display: block; overflow-x: auto;">
                            <table id="BankTransferRegisterTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="1">S/N</th>
                                        <th colspan="1">Txn. Type</th>
                                        <th colspan="1">Invoice No</th>
                                        <th colspan="1">Date</th>
                                        <th colspan="1">Amount</th>
                                        <th colspan="1">Type</th>
                                        <th colspan="1">Narration</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <h5 class="control-label">Total:</h5>
                        <input type="text" style="text-align:right; font-size:medium;" class="form-control" id="totalAmount" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageScripts{
    
<script src="~/Scripts/Banking/BankTransferRegister.js?v=@DateTime.Now"></script>
    }