﻿
@{
    ViewBag.Title = "Tax";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control required-control" id="username">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Role</label><br />
                                    <select id="role" class="form-control required-control"></select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" value="12345" class="form-control required-control" id="password">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" value="12345" class="form-control required-control" id="confPassword">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Active</label><br />
                                    <select id="active" class="form-control required-control">
                                        <option>Active</option>
                                        <option selected="selected">Inactive</option>
                                    </select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Narration</label><br />
                                    <textarea id="narration" rows="5" cols="40"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" type="button" id="createUser">Create User</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="usersGrid"></div>
    </div>
</div>


@section PageScripts{
    <script src="~/Scripts/Company/Settings/tax.js"></script>
}

