﻿
@{
    ViewBag.Title = "Bank Register";
}
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">From</label><br />
                                    <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Agent</label><br />
                                    <select id="agent" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Bank</label><br />
                                    <select id="bank" class="form-control"></select>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="viewReport">View Report</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left" style="display:none;">
                                <button class="btn btn-primary btn-labeled fa fa-download"> Export</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="">
                                @*<thead style="display: block;" id="thead">*@
                                @*<thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Agent</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>*@
                                <tbody id="bankRegisterTbody"></tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
<script src="~/Scripts/Reports/FinancialStatements/CustomBankRegister.js?v=@DateTime.Now"></script>
}




