﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Rejection In Report";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmRejectionInReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Rejection In Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">from Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Form Type</label>
                                    <div>
                                        <input type="text" class="form-control" id="formType">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Customer</label>
                                    <div>
                                        <input type="text" class="form-control" id="customer">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">Delivery Note No</label>
                                    <div>
                                        <input type="text" class="form-control" id="dnoteno">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Sales Man</label>
                                    <div>
                                        <input type="text" class="form-control" id="salesMan">
                                    </div>
                                </div>
                            </div>

                            @*<div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product</label>
                                    <div>
                                        <input type="text" class="form-control" id="product">
                                    </div>
                                </div>
                            </div>*@
                        </div>

                        <div class="row">

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="getRejectionInDetails()" id="search"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
        </div>

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="RejectionInList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Form Type</th>
                                        <th>Form No</th>
                                        <th>Date</th>
                                        <th>Customer</th>
                                        <th>Total Amount</th>
                                        <th>Delivery Note No</th>
                                        <th>Done By</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section pageScripts
{
    <script src="~/Scripts/Reports/CustomerReports/RejectionIn.js?v=@DateTime.Now"></script>
}