﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Sales Summary Report";
}
@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}
    <style>
        .alignCompanydetails {
            text-align: center;
        }
    </style>

<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Sales Summary Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">from Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Form Type</label>
                                    <div>
                                        <input type="text" class="form-control" id="formType">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Cash or Bank</label>
                                    <div>
                                        <input type="text" class="form-control" id="cb">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Account Ledger</label>
                                    <div>
                                        <input type="text" class="form-control" id="aLedger">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <div>
                                        <input type="text" class="form-control" id="productCode">
                                    </div>
                                </div>
                            </div>
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">form no</label>
                                        <div>
                                            <input type="text" class="form-control" id="formno">
                                        </div>
                                    </div>

                                </div>*@
                            @*<div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Product Code</label>
                                        <div>
                                            <input type="text" class="form-control" id="productCode">
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-3">


                                    <div class="form-group">
                                        <label class="control-label">Product Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="productName">
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                        @*<div class="row">

                            @*<div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">Form Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="formNo">
                                    </div>
                                </div>

                            </div>*@




                        <div class="row">

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="paymentReportDetails()" id="search"><i class="fa fa-search"></i> Search</button>

                </div>
            </div>
        </div>


    </div>
</section>