﻿
@{
    ViewBag.Title = "Sales Quotation Report";
}

<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Sales Quotation Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">from Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly">
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Form Type</label>
                                    <div>
                                        <input type="text" class="form-control" id="formType">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">Customer</label>
                                    <div>
                                        <input type="text" class="form-control" id="customer">
                                    </div>
                                </div>

                            </div>

                           
                        </div>


                        <div class="row">
                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="productName">
                                    </div>
                                </div>
                            </div>
                            

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">Sales Man</label>
                                    <div>
                                        <input type="text" class="form-control" id="salesMan">
                                    </div>
                                </div>

                            </div>


                            </div>

                        <div class="row">

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="getQuotationReportDetails()" id="search"><i class="fa fa-search"></i> Search</button>

                </div>
            </div>
        </div>

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="SalesQuotationList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Form No</th>
                                        <th>Form Type</th>
                                        <th>CashorParty</th>
                                        <th>DoneBy</th>
                                        <th>Date</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />

                        <div class="col-md-12 ">

                            <div class="form-group pull-right">
                                <label class="control-label">Total Amount</label>
                                <div>
                                    <input type="text" class="form-control" id="totalAmount" readonly="readonly" style="text-align:right">
                                </div>
                            </div>

                        </div>

                    </div>
                 </form>
            </div>
        </div>


    </div>
</section>

@section pageScripts
{   
    <script src="~/Scripts/Reports/CustomerReports/SalesQuotation.js?v=@DateTime.Now"></script>
}



