﻿
@{
    ViewBag.Title = "Shift Report";
}


<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Shift Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">from Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly">
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Form Type</label>
                                    <div>
                                        <input type="text" class="form-control" id="formType">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Ledger</label>
                                    <div>
                                        <input type="text" class="form-control" id="ledger">
                                    </div>
                                </div>
                            </div>
                        </div>

                        
                        @*<div class="row">

                        @*<div class="col-md-3">

                            <div class="form-group">
                                <label class="control-label">Form Number</label>
                                <div>
                                    <input type="text" class="form-control" id="formNo">
                                </div>
                            </div>

                        </div>*@




                        <div class="row">

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="getShiftReportDetails()" id="search"><i class="fa fa-search"></i> Search</button>

                </div>
            </div>
        </div>

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="ShiftList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Date</th>
                                        <th>Voucher type</th>
                                        <th>Voucher No</th>
                                        <th>Form Type</th>
                                        <th>Form No</th>
                                        <th>Narration</th>
                                        <th>TypeOfVoucher</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Inward Qty</th>
                                        <th>Outward Qty</th>
                                        <th>MasterId</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />

                    </div>



                </form>
            </div>
        </div>

    </div>
</section>

@section pageScripts
{
    <script src="~/Scripts/Reports/CustomerReports/Shift.js?v=@DateTime.Now"></script>
}
