﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Customer Centre";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
    var pagePrivileges = ViewBag.pagePrivileges;
}

<style>
    #customerAccountListTbody td:nth-child(5) {
        text-align: right;
    }

    #LedgerTransactionListTbody td:nth-last-child(-n+3) {
        text-align: right;
    }
</style>


<div class="row">
    <div class="col-md-12 ">
        <div class="panel pre-scrollable">
            <div class="panel-heading btn-default">
                <div class="panel-control">
                    @{
                        foreach (var item in pagePrivileges)
                        {
                            if (item == "Save")
                            {
                                @Html.Raw("<button class=\"demo-panel-ref-btn btn btn-primary\" id=\"createAgent\">" +
                                        "<i class=\"fa fa-plus\"></i> New Customer</button>" +
                                        "<button style=\"margin-left:5px;\" class=\"demo-panel-ref-btn btn btn-info\" id=\"uploadCust\" onclick=\"uploadModal()\"  data-toggle=\"modal\">" +
                                        "<i class=\"fa fa-plus\"></i>  Upload from Excel</button>");
                            }

                        }
                    }

                    <a type="submit" id="exportToExcel" class="demo-panel-ref-btn btn btn-mint" href="/customer/CustomerCentre/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>
                </div>
                <h3 class="panel-title">Customer Ledgers</h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">
                    <input type="hidden" readonly="readonly" value="@DateTime.Now.ToShortDateString()" class="form-control" id="fromDate">
                    <input type="hidden" readonly="readonly" value="@DateTime.Now.ToShortDateString()" class="form-control" id="toDate">
                    <div class="table-responsive">
                        <table class="table text text-sm table-bordered table-hover table-striped" style="overflow:auto !important;" id="customerAccountListTbody">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap; width:50px;">S/N</th>
                                    <th style="white-space: nowrap;">Customer Name</th>
                                    <th style="white-space: nowrap;"><center>Customer Code</center></th>
                                    <th style="white-space: nowrap;"><center>State</center></th>
                                    <th style="white-space: nowrap; width:150px;"><center>Balance</center></th>
                                    @{
                                        foreach (var item in pagePrivileges)
                                        {
                                            if (item == "View")
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap; width:200px;\"><center>View</center></th>");
                                            }

                                        }
                                    }
                                    @{
                                        foreach (var item in pagePrivileges)
                                        {
                                            if (item == "Delete")
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap; width:69px;\"><center>Delete</center></th>");
                                            }

                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 ">
        <div class="panel">
            <div class="panel-heading btn-default">
                <h3 class="panel-title" id="panelTitle">
                    Customer Transactions
                </h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">

                    <div class="table-responsive">
                        <table class="table text text-sm table-bordered table-striped" style="overflow:auto !important;" id="LedgerTransactionListTbody">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">s/n</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Type</th>
                                    <th style="white-space: nowrap;">Number</th>
                                    <th style="white-space: nowrap;">Memo</th>
                                    <th style="white-space: nowrap;">Debit</th>
                                    <th style="white-space: nowrap;">Credit</th>
                                    <th style="white-space: nowrap;">Balance</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-sm-9">
                            <div class="form-group">
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label"><b>Total Balance:</b></label>
                                <input type="text" class="form-control text-right" id="totalBalance" value="0.00" disabled="disabled">
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>


<div class="modal fade" id="AgentDetails">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Customer Details</h4>
            </div>
            <div class="modal-body">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Customer name</label>
                                        <input type="text" class="form-control" id="newCustomerName">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Customer Code</label>
                                        <input type="text" class="form-control" id="agentCode">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Company name</label>
                                        <input type="text" class="form-control" id="companyName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Branch Code</label>
                                        <input type="text" class="form-control" id="branchCode">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Branch name</label>
                                        <input type="text" class="form-control" id="branchName">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Account No.</label>
                                        <input type="text" class="form-control" id="accountNumber" onkeypress="return isNumberKey(event)">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Phone No.</label>
                                        <input type="text" class="form-control" id="phoneNumber" onkeypress="return isNumberKey(event)">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Mobile No.</label>
                                        <input type="text" class="form-control" id="mobileNumber" onkeypress="return isNumberKey(event)">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label class="control-label">Address</label>
                                        <input type="text" class="form-control" id="address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Email Address</label>
                                        <input type="email" class="form-control" id="emailAddress">
                                        <small style="color: #d81b1b; display:none;" id="invalidEmail">invalid email!</small>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Bill by Bill</label>
                                        <select id="billByBill" class="form-control custBorderStyle">
                                            <option>Yes</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Credit limit</label>
                                        <input type="text" class="form-control" id="creditLimit">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Position</label>
                                        <input type="text" class="form-control" id="position">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">TIN</label>
                                        <input type="text" class="form-control" id="TIN">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Credit Period</label>
                                        <input type="text" class="form-control" id="creditPeriod">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">State</label>
                                        <select id="state1" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">City </label>
                                        <select id="city1" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Pricing Level </label>
                                        <select id="pricingLevel" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-success btn-labeled fa fa-save" id="newLedger" onclick="addNewLedger()">Save</button>
                @{
                    foreach (var item in pagePrivileges)
                    {
                        if (item == "Update")
                        {
                            @Html.Raw("<button class=\"btn btn-primary btn-labeled fa fa-save\" id=\"updateLedger\" onclick=\"updateLedgerDetails()\">Update</button>");
                        }

                    }
                }

                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!--customer import modal start-->

<div class="modal fade" id="uploadCustomermodal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Upload Customers</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body p-1">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <a href="/assets/mat/templates/CustomerList.xlsx" target="_blank"><h5><b>CLICK HERE TO DOWNLOAD SAMPLE TEMPLATE</b></h5></a>
                                <div class="col-lg-9 col-sm-12">
                                    <input id="excelfile" type="file" class="dropify" data-height="70" />
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <br>
                                    <button onclick="ExportToTable()" type="button" class="btn btn-info "><i class="fa fa-upload"></i> IMPORT DATA</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover card-table table-bordered table-vcenter table-outline text-nowrap" id="customerListToUpload">
                                    <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Customer Name</th>
                                            <th scope="col">Customer Code</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Opening Balance</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Narration</th>
                                            <th scope="col">Mailing Name</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Credit Period</th>
                                            <th scope="col">Credit Limit</th>
                                            <th scope="col">Bank Account Number</th>
                                            <th scope="col">Branch Name</th>
                                            <th scope="col">Branch Code</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveCustomers" onclick="addNewLedger()" class="btn btn-success btn-labeled fa fa-save">SAVE</button>
            </div>
        </div>
    </div>
</div>
<!--customer import modal end-->

@section PageScripts{
    <script src="~/Scripts/Customer/CustomerCentre.js?v=@DateTime.Now"></script>
}

@{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{


<script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("toDate");
        doc.readonly = true;


        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("fromDate");
        doc.readonly = true;

    });

</script>
}
else
{

    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}




@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
    
}

@if (Result != null)
{

<script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
        var EndDay1 = @Result.ToDate.Day;

         var FyearId = @Result.CurrentFinicialYearId;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
            //searchCustomerDetailsByDate($("#fromDate").val(), $("#toDate").val(), FyearId);
        })

      
</script>

}


