﻿
@{
    ViewBag.Title = "Transactions";
}

<div class="panel">
    <div class="panel-heading">
        <div class="panel-heading btn-default">
            <div class="panel-control">
                <button class="btn btn-default btn-labeled" id="filterBtn">Filter <i class="fa fa-filter"></i></button>
                <div class="btn-group btn-group-sm">
                    <div class="dropdown">
                        <button class="btn btn-success btn-active-purple dropdown-toggle" data-toggle="dropdown" type="button">
                            New Transaction <i class="dropdown-caret"></i>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="/Customer/SalesOrder/Index">Sales Order</a></li>
                            <li><a href="/Customer/DeliveryNote/Index">Delivery Note</a></li>
                            <li><a href="/Customer/SalesInvoice/Index">Sales Invoice</a></li>
                            <li><a href="/Customer/SalesReturn/Index">Sales Return</a></li>


                            <li><a href="/Customer/Receipt/Receipt">Receipt</a></li>
                        </ul>
                    </div>
                </div>

            </div>
            <h3 class="panel-title">Customer Transactions</h3>
        </div>
    </div>
    <div class="panel-body">
        <table id="transactionList" class="table table-striped table-bordered" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>S/N</th>
                    <th>Txn No.</th>
                    <th class="min-tablet">Date</th>
                    <th class="min-desktop">Txn. Type</th>
                    <th class="min-tablet">Customer Name</th>
                    <th class="min-desktop">Amount</th>
                    <th class="min-desktop">Status</th>
                    <th class="min-desktop">Done By</th>
                    <th class="min-desktop">Additional Details</th>

                    <th class="min-desktop">Action</th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

<div class="modal fade" id="filterModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Filter</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">From</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">To</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Customer</label>
                                    <select class="form-control" id="transactionType">
                                        <option value="All">Kofi Ansah</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label>
                                    <select class="form-control" id="transactionType">
                                        <option value="All">All Transactions</option>
                                        <option value="SALES_ORDER">Sales Order</option>
                                        <option value="SALES_INVOICE">Sales Invoice</option>
                                        <option value="DELIVERY_NOTE">Delivery Note</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-success">Apply</button>
            </div>
        </div>
    </div>
</div>

<div id="salesInvoiceModal" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><i class="pci-cross pci-circle"></i></button>
                <h4 class="modal-title" id="myLargeModalLabel">Invoice Details</h4>
            </div>
            <div class="modal-body">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Invoice No.</label>
                                <input type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Customer Name</label><br />
                                <select class="form-control" id="invoiceCustomerName" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Credit Period</label>
                                <input type="number" min="0" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Billing Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <br />
                            <button data-target="#salesInvoiceLineItemModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead style="overflow:auto;">
                                        <tr>
                                            <th style="white-space: nowrap;">Remove</th>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap;"></th>
                                            <th style="white-space: nowrap;">Barcode</th>
                                            <th style="white-space:nowrap">Product Code</th>
                                            <th style="white-space: nowrap;">Product Name</th>
                                            <th style="white-space: nowrap;">Store</th>
                                            <th style="white-space: nowrap;">Quantity</th>
                                            <th style="white-space: nowrap;">Unit</th>
                                            <th style="white-space: nowrap;">Rate</th>
                                            <th style="white-space: nowrap;">Gross Amount</th>
                                            <th style="white-space: nowrap;">Tax Amount</th>
                                            <th style="white-space: nowrap;">Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody id="salesInvoiceLineItemTbody"></tbody>
                                </table>
                            </div>
                            <form onsubmit="return false;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label class="control-label">Narration</label>
                                                <textarea class="form-control custBorderStyle" id="narrationInvoice"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Total Amount</label>
                                                <input id="totalAmountInvoice" value="0" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                                <label class="control-label">Total Discount</label>
                                                <input id="totalTaxInvoice" value="0" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                                <label class="control-label">Grand Total</label>
                                                <input id="grandTotalInvoice" value="0" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4 col-md-offset-8">
                            <button id="save" class="btn btn-primary btn-labeled fa fa-save">Save</button>
                            <button class="btn btn-primary btn-labeled fa fa-envelope">Save & Email</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="salesInvoiceLineItemModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog" style="border:1px solid black;">
        <div class="modal-content">
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Order Line Item</h4>
            </div>
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <input type="hidden" readonly="readonly" id="productId" />
                                <div class="form-group">
                                    <label class="control-label">Warehouse</label>
                                    <select id="storeInvoice" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <div id="searchByBarcodeInvoice" class="form-control" style="width:100%;"></div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <div id="searchByProductCodeInvoice" class="form-control" style="width:100%;"></div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <div id="searchByProductNameInvoice" class="form-control" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label class="control-label">Size</label>
                                    <input id="sizeInvoice" readonly="readonly" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityInvoice" value="0" type="number" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="taxInvoice" class="form-control"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unitInvoice" class="form-control" disabled></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Manufacturer</label>
                                    <input id="manufacturerInvoice" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Color</label>
                                    <input id="colorInvoice" readonly="readonly" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rateInvoice" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="taxAmountInvoice" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity in Stock</label>
                                    <input id="quantityInStockInvoice" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" readonly="readonly" id="amountInvoice" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea id="descriptionInvoice" class="form-control" readonly="readonly"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItemInvoice">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Receipt Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Receipt No :</div>
                                        <div class="col-md-6" id="receiptNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Recipt Date :</div>
                                        <div class="col-md-6" id="receiptDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Cash Or Bank :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped" id="invoicetb" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Cheque No.</th>
                                    <th style="white-space: nowrap;">Cheque Date</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    <th style="white-space: nowrap;">Ledger Name</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" style="text-align:right;" id="amountTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-info" onclick="EditReceipt();" id="editReceipt" type="button"><i class="fa fa-edit"></i> Edit Receipt</button>
                <button class="btn btn-danger" onclick="deleteReceipt();" id="delReceipt" type="button"><i class="fa fa-times"></i> Delete Receipt</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="rejectionInDetailModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">RejectionIn Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="rOrderNo" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="rOderDate" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">ProcessedBy :</div>
                                        <div class="col-md-6" id="rProccessedby" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                @*<div class="row" style="background-color:#fff;">
                                        <div class="">
                                            <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Cash Or Bank :</div>
                                            <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                        <hr />
                        @*<div id="availableQuantityDiv" style="font-size:18px;"></div>*@
                        <table class="table table-striped" id="rejectionIntb" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space: nowrap;">Product Code</th>
                                    <th style="white-space: nowrap;">Name</th>
                                    <th style="white-space: nowrap;">Store/WareHouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="rejectionIn"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                <div class="col-md-6" id="rGrandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" style="text-align:right;" id="rAmountTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-info" onclick="EditReceipt();" id="editReceipt" type="button"><i class="fa fa-edit"></i> Edit Receipt</button>
                    <button class="btn btn-danger" onclick="deleteReceipt();" id="delReceipt" type="button"><i class="fa fa-times"></i> Delete Receipt</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="deliveryNoteDetailModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Delivery Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="dOrderNo" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="dOderDate" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">ProcessedBy :</div>
                                        <div class="col-md-6" id="dProccessedby" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                @*<div class="row" style="background-color:#fff;">
                                        <div class="">
                                            <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Cash Or Bank :</div>
                                            <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                        <hr />
                        @*<div id="availableQuantityDiv" style="font-size:18px;"></div>*@
                        <table class="table table-striped" id="deliverytb" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space: nowrap;">Product Code</th>
                                    <th style="white-space: nowrap;">Name</th>
                                    <th style="white-space: nowrap;">Store/WareHouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                </tr>
                            </thead>
                            <tbody id="deliveryBody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                <div class="col-md-6" id="dGrandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" style="text-align:right;" id="dAmountTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-info" onclick="EditReceipt();" id="editReceipt" type="button"><i class="fa fa-edit"></i> Edit Receipt</button>
                    <button class="btn btn-danger" onclick="deleteReceipt();" id="delReceipt" type="button"><i class="fa fa-times"></i> Delete Receipt</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            @*<div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>*@
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="sOrderNo" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="sOrderDate" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Customer :</div>
                                        <div class="col-md-6" id="sCustomer" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                              
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Processed By :</div>
                                        <div class="col-md-6" id="sUser" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="s" style="font-size:18px;"></div>
                        <div class="table-responsive">
                            <table class="table table-sm table-striped" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                 
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        @*<th style="white-space: nowrap;">Rate</th>*@
                                        <th style="white-space: nowrap;">Amount</th>
                                        @*<th style="white-space: nowrap;">Mgt. Fee</th>*@
                                    </tr>
                                </thead>
                                <tbody id="sOrderTableBody"></tbody>
                            </table>
                        </div>

                        @*<div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Order Amount</div>
                                <div class="col-md-6" id="orderAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" style="text-align:right;" id="orderAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />*@
                     
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="sgrandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" style="text-align:right;" id="sTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Approve Order</button>*@
                <button class="btn btn-info" onclick="EditOrder();" id="editSalesOrder" type="button"><i class="fa fa-edit"></i> Edit Order</button>
                <button class="btn btn-danger" id="deleteSalesOrder" onclick="deleteOrder();" type="button"><i class="fa fa-times"></i> Delete Order</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        //window.location = "/General/Dashboard/Index";
        var selectedSalesInvoiceMasterId = "";
    </script>


    @*<script src="~/Scripts/Customer/CustomerTransactions.js?v=@DateTime.Now"></script>
        <script src="~/Scripts/Customer/CustomerTransactionsInvoice.js?v=@DateTime.Now"></script>*@

    <script>
        function GetRejectionInFromMaster(txtId) {
            $.ajax(API_BASE_URL + "/RejectionIn/GetRejectionInFromMaster/?rejectionMasterId=" + txtId,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        var html = "";
                        var amount = 0.0;
                        for (var i of data) {
                            var row = `  <tr>
                                            <td >${i.Product.productCode}</td>
                                            <td >${i.Product.productCode}</td>
                                            <td >${i.Product.productName}</td>
                                            <td >${i.Store.godownName}</td>
                                            <td ">${i.OrderDetail.qty}</td>
                                         
                                            <td>${i.OrderDetail.rate}</td>
                                            <td>${i.OrderDetail.amount}</td>
                                           
                                        </tr>`;

                            $("#rOrderNo").html(i.DeliveryMaster.invoiceNo);
                            $("#rOrderDate").html(i.RejectionMaster.date);
                            $("#rProccessedby").html(i.User.userName);
                            amount += i.RejectionMaster.totalAmount;

                            html += row;
                        }
                        $("#rejectionIn").html(html);
                        $("#rAmountTxt").val(amount);
                        $("#rejectionInDetailModal").modal();
                    }

                });
        }
        function GetDeliveryNoteFromMaster(txtId) {
            $.ajax(API_BASE_URL + "/DeliveryNote/GetDeliveryNoteByMaster/?deliveryMasterId=" + txtId,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        var html = "";
                        var amount = 0.0;
                        for (var i of data) {
                            var row = `  <tr>
                                            <td >${i.Product.productCode}</td>
                                            <td >${i.Product.productCode}</td>
                                            <td >${i.Product.productName}</td>
                                            <td >${i.Store.godownName}</td>
                                            <td ">${i.OrderDetail.qty}</td>
                                        </tr>`;

                            $("#dOrderNo").html(i.OrderMaster.invoiceNo);
                            $("#dOrderDate").html(i.OrderMaster.date);
                            $("#dProccessedby").html(i.User.userName);
                            amount += i.DeliveryMaster.totalAmount;

                            html += row;
                        }
                        $("#deliveryBody").html(html);
                        $("#dAmountTxt").val(amount);
                        $("#deliveryNoteDetailModal").modal();
                    }

                });
        }

        function GetSaleOrderFromMaster(txtId) {
            $.ajax(API_BASE_URL + "/SalesOrder/GetSaleOrderFromMaster/?salesOrderMasterId=" + txtId,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        var html = "";
                        var amount = 0.0;
                        for (var i of data) {
                            var row = `  <tr>
                                            <td >${i.Product.productCode}</td>
                                            <td >${i.Product.productCode}</td>
                                            <td >${i.Product.productName}</td>
                                            <td >${i.Store.godownName}</td>
                                            <td ">${i.OrderDetail.qty}</td>
                                        </tr>`;

                            $("#dOrderNo").html(i.SaleOrderMaster.invoiceNo);
                            $("#dOrderDate").html(i.SaleOrderMaster.date);
                            $("#dProccessedby").html(i.User.userName);
                            amount += i.SaleOrderMaster.totalAmount;

                            html += row;
                        }
                        $("#deliveryBody").html(html);
                        $("#dAmountTxt").val(amount);
                        $("#deliveryNoteDetailModal").modal();
                    }

                });
        }

    </script>
    <script src="~/Scripts/Customer/CustomerTransactions.js"></script>
    <script src="~/Scripts/Customer/CustomerTransactionsInvoice.js"></script>
    <script src="~/Scripts/Customer/Registers/ReceiptRegister.js"></script>
    <script>
        getReceiptList("2017-01-01", $("#toDate").val(), $("#cashOrBank").val());
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            } else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }
        });
        $("#search").click(function () {
            //if ($("#orderStatus").val() == "")
            //{
            //    Utilities.ErrorNotification("Please select status");
            //    return;
            //}
            //else
            //{
            //    table.destroy();
            //    getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
            //}
            //table.destroy();
            getReceiptList($("#fromDate").val(), $("#toDate").val(), $("#cashOrBank").val());
        });
    </script>

    <script>

    </script>
}
