﻿

@{
    ViewBag.Title = "Pos Activity Log";

}
<div class="panel">
    <div class="panel-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="control-label">Sales Man</label>
                    <select class="form-control">
                        <option value="All"></option>

                    </select>
                </div>
            </div>
            <div class="col-md-4">
                <label class="control-label">Date</label>
                <input type="text" class="form-control" id="date" />

            </div>
            <div class="col-md-4">
                <button class="btn btn-primary "> Search</button>
            </div>
        </div>
        <div class="row">

            <div class="col-sm-6">
                <table class="table table-responsive table-striped">
                    <tr>
                        <th width="100"> Sales Point</th>
                        <th>Item</th>
                        <th>Qty</th>
                        <th>total</th>
                        <td>date</td>
                    </tr>
                    <tbody class="tbody">
                    </tbody>
                </table>
            </div>
            <div class="col-sm-6">
                <div>
                    <h4>Summary</h4>
                    <div id="paySummary">

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

@section scripts
{

    <script>
        $(function () {
            var record = [];
            var ledgerGroup = [];
            $.ajax(API_BASE_URL + "/Pos/ActivityLog2",
                {
                    type: "POST",
                    beforeSend: () => { Utilities.Loader.Show() },
                    complete: () => { Utilities.Loader.Hide() },
                    success: (data) => {
                        console.log("actitviy data ", data);
                        for (var i of data) {
                            record.push(i);
                        }
                        recordFill();
                        calculateLedgerAmount();
                    }
                });

            function recordFill() {
                var html = "";

                for (var i of record) {
                    html += `<tr >
                                <td rowspan="1" style="background-color: #cdcdcd; text-align: center"><b> ${i.counter.name
                        }  </b>
                        </td>
                            </tr>`;

                    if (i.counter.sale != null) {
                        for (var a of Object.values(i.counter.sale.salesDetail)) {
                            html += `<tr>
                                    <td width="100"></td>
                                        <td>${a.product.productName}</td>
                                          <td>${a.detail.qty}</td>
                                          <td>${a.detail.rate}</td>
                                            <td>${Date.parse(a.detail.date)}</td>
                                        </tr>`;
                        }
                        for (var c of Object.keys(i.counter.sale.ledger)) {
                            ledgerGroup.push({
                                ledgerId: c.ledgerId,
                                ledgerName: c.ledgerName,
                                amount: 0.0
                            });
                        }
                    } else {
                        html += `<tr >
                                <td colspan="3" style=" text-align: center"> <h6>No Record </h6>
                        </td>
                            </tr>`;
                    }
                }
                $(".tbody").html(html);
            }

            function calculateLedgerAmount() {
                var total = 0.0;
                for (var i of record) {
                    if (i.counter.sale != null) {
                        for (var a of Object.keys(i.counter.sale.saleMaster)) {
                            for (var l of ledgerGroup) {
                                if (a.ledgerId == l.ledgerId) {
                                    l.amount += a.totalAmount;
                                }
                            }
                        }
                    }

                }
                var html = "";
                for (var l of ledgerGroup) {
                    if (a.ledgerId == l.ledgerId) {
                        l.amount += a.totalAmount;
                        total += a.totalAmount;
                        html += `<span>${l.ledgerName} : >${l.ledgerName}</span> <br/>`;
                    }
                }
                html += `<b>Total : >${total}</b>`;
                $("#paySummary").html(html);

            }
        })
    </script>
}








@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;

        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("date");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            $("#date").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("date");
            doc.readonly = true;

        });



    </script>
}
