﻿@using MatOnline.Reports

@{
    ViewBag.Title = "POS";
}
@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Receipt No.</label>
                            <div class="col-sm-4">

                                <input type="text" id="receiptNo" class="form-control" readonly="readonly">
                                <input type="text" id="pendingSalesMasterId" hidden="hidden" value="0">
                            </div>
                            <label class="col-sm-2 control-label" for="">Transaction Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="transactionDate" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Pricing Level</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="pricingLevel"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Sales Point</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="salesPoint"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Payment Mode</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="paymentMode">
                                    <option value="" selected="selected">Select Payment Mode</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Bank">Bank</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="Both">Both(Cash/Card)</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Select Account</label>
                            <div class="col-sm-2">
                                <select id="cashDropdown" class="form-control"></select>
                            </div>
                            <div class="col-sm-2" hidden="hidden" id="bankDropdownParent">
                                <select id="bankDropdown" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Sales Person</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="salesMan"></select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="display:none">

                        <input type="text" id="companyName" readonly="readonly" value="@profile.companyName">
                        <input type="text" id="companyAddress" readonly="readonly" value="@profile.address">
                    </div>
                    @*<div class="row">
                            <div class="form-group">
                                <label class="col-sm-2 control-label" for="">Default Printer</label>
                                <div class="col-sm-4">
                                    <select id="defaultPrinter" class="form-control"></select>
                                </div>
                            </div>
                        </div>*@

                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*Line Items*@
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Remove</th>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Qty.</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        @*<th style="white-space: nowrap;">Gross Value</th>*@
                                        @*<th style="white-space: nowrap;">Discount</th>
                                            <th style="white-space: nowrap;">Net Amount</th>*@
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="posLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea class="form-control" id="narration"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-offset-6">
                                    <br />
                                    @*<div style="text-decoration:underline;font-size:13px;"><b>Bill Amount : </b><strong id="billAmountTag">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Tax Amount : </b><strong id="taxAmountTag">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotalTag">0.0</strong></div>*@
                                </div>
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Total Amount</label>
                                                <input type="number" readonly="readonly" class="form-control" id="totalAmount" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="tellerNoDiv" hidden="hidden">
                                            <div class="form-group">
                                                <label class="control-label">Teller No.</label>
                                                <input type="text" class="form-control" id="tellerNo" />
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount Amount</label>
                                                <input type="number" step="0.01" class="form-control" id="billDiscount" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount %</label>
                                                <input type="number" step="0.01" class="form-control" id="percentDiscount" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Sub Total</label>
                                                <input type="text" class="form-control" id="subTotal" readonly="readonly" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Tax Amount</label>
                                                <input type="text" class="form-control" id="totalTaxAmount" readonly="readonly" value="0" />
                                            </div>
                                        </div>
                                    </div>

                                    @*<div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Card Amount</label>
                                                <input type="text" class="form-control" id="" />
                                            </div>
                                        </div>*@

                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Grand Total</label>
                                                <input type="text" class="form-control" id="grandTotal" readonly="readonly" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3" id="amtPaid">
                                            <div class="form-group">
                                                <label class="control-label">Amount Paid</label>
                                                <input type="text" class="form-control" id="amountPaid" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3" hidden="hidden" id="cardAmt">
                                            <div class="form-group">
                                                <label class="control-label">Card Amount</label>
                                                <input type="text" class="form-control" id="cardAmount" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Balance</label>
                                                <input type="number" readonly="readonly" class="form-control" id="balance" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label text-black h4"><b>Print after save</b></label>
                                    <input type="checkbox" id="print" />
                                </div>
                            </div>
                            <div class="col-sm-offset-6">
                                <button class="btn btn-dark" id="hold"><i class="fa fa-question"></i> Hold</button>
                                <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                                <button class="btn btn-default" id="clear"><i class="fa fa-times"></i> Clear</button>
                                @*<button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Invoice Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <input type="hidden" readonly="readonly" id="productId" />
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantity" value="0" type="number" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="tax" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <select id="batch" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" readonly="readonly" id="amount" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="taxAmount" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity in Stock</label>
                                    <input id="quantityInStock" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock For Store</label>
                                    <input id="storeQuantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Store</label>
                                    <select id="store" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItem">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>




@*<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Add Line Item From <span id="storeToAddFrom"></span></h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="panel panel-default" style="background-color:#f8f8f8;">
                        <div class="panel-body">

                            <div class="row">
                                <div class="col-sm-4" style="margin-bottom:0px">
                                    <div class="form-group">
                                        <label class="control-label">Barcode</label>
                                        <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px">
                                        <label class="control-label">Product Code</label>
                                        <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                    </div>
                                    <div class="form-group" style="margin-bottom:0px">
                                        <label class="control-label">Product Name</label>
                                        <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Quantity</label>
                                        <input id="quantityToAdd" type="number" value="1" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Rate</label>
                                        <input id="rate" readonly="readonly" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Amount</label>
                                        <input type="text" id="amount" readonly="readonly" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Description</label>
                                        <input id="description" readonly="readonly" type="text" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Quantity In Stock</label>
                                        <input id="quantityInStock" type="text" readonly="readonly" class="form-control" />
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-primary" id="addLineItem" type="button">Add Item</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>*@

@section PageScripts{
    <script src="~/Scripts/Customer/Pos.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript">

        var salesMasterIdFromUrl = 0;
        salesMasterIdFromUrl = @Request.QueryString["salesMasterId"];

        console.log(salesMasterIdFromUrl);

    </script>
}


@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("transactionDate");
        doc.readonly = true;


        $("#chequeDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("chequeDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("transactionDate");
            doc.readonly = true;

            $("#chequeDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("chequeDate");
            doc.readonly = true;

        });

    </script>
}