﻿
@{
    ViewBag.Title = "Sales Man";
}


<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                <!-- /.box-header -->
                <div class="panel-header">
                    <br /><button style="margin-left:8px;" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle" >
                        </i> Add Sales Man </button > <br />
                </div>
                <div class="panel-body">
                    <table id="salesMenTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Code</th>
                                <th>Name</th>
                                <th>Phone No.</th>
                                <th>Is Active</th>
                                <th></th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Sales Man</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;" style="margin-left: 30px;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">First Name</label>
                                 <input type="text" class="form-control" id="firstName" placeholder="First Name">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Last Name</label>
                                 <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Salesman Code/Username</label>
                                <input type="text" class="form-control" id="salesmanCode" placeholder="Salesman Code">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" id="email" placeholder="email">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Mobile Number</label>
                                <input type="number" class="form-control" id="mobileNo" placeholder="Mobile Number">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Phone Number</label>
                                <input type="number" class="form-control" id="phoneNo" placeholder="Phone Number">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="***********">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmPassword" placeholder="***********">
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Role</label>
                                <select class="form-control" id="role" style="width:100%;"></select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Address</label>
                                <textarea  class="form-control" id="address" placeholder="Address"></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="form-group col-sm-2">
                                <label class="control-label">Active</label>
                              <input type="checkbox" id="isActive" checked="checked">
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Narration</label>
                                <textarea class="form-control" id="narration" placeholder="Narration"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" id="save">Add Sales Man</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;" style="margin-left: 30px;">
                    <center>
                        <div style="color:red;" id="errorMsg2"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" class="form-control" id="employeeId">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">First Name</label>
                                <input type="text" class="form-control" id="firstName2" placeholder="First Name" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Last Name</label>
                                <input type="text" class="form-control" id="lastName2" placeholder="Last Name" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Salesman Code/Username</label>
                                <input type="text" class="form-control" id="salesmanCode2" placeholder="Salesman Code" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Email</label>
                                <input type="text" class="form-control" id="email2" placeholder="email" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Mobile Number</label>
                                <input type="text" class="form-control" id="mobileNo2" placeholder="Mobile Number" readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Phone Number</label>
                                <input type="text" class="form-control" id="phoneNo2" placeholder="Phone Number" readonly>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Role</label>
                                <select class="form-control" id="role2" style="width:100%;"></select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Address</label>
                                <textarea class="form-control" id="address2" placeholder="Address" readonly></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4"></div>
                            <div class="form-group col-sm-2">
                                <label class="control-label">Active</label>
                                <input type="checkbox" id="isActive2" checked="checked"  readonly>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Narration</label>
                                <textarea class="form-control" id="narration2" placeholder="Narration" readonly></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="editSalesMan();" id="editSalesMan">Edit Sales Man</button>
                <button type="button" class="btn btn-success" id="updateSalesMan">Save Update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css" />
    <link rel="stylesheet" href="~/Assets/plugins/select2/select2.min.css">

    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Assets/plugins/select2/select2.js"></script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Customer/SalesMan.js?v=@DateTime.Now"></script>
}







