﻿
@{
    ViewBag.Title = "Bank Transfer Details";    
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Edit Transfer</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label>
                                    <select id="transactionType" class="form-control">
                                        <option value="Withdrawal">Withdrawal</option>
                                        <option value="Deposit">Deposit</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Date</label>
                                    <input type="text" class="form-control" id="transactionDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transferred From</label>
                                    <select id="source" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Account Balance</label>
                                    <input type="text" class="form-control" id="balance">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select id="currency" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Amount Transferred</label>
                                    <input type="text" id="amount" class="form-control">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Cheque No.</label>
                                    <input type="text" class="form-control" id="chequeNo">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Cheque Date</label>
                                    <input type="text" class="form-control" id="chequeDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <textarea class="form-control" cols="20" rows="5" id="memo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" type="button" id="update">Update</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script type="text/javascript">
        var l = @Model.LedgerId;
        var m=@Model.MasterId;
        var bankTransferParam=
            {
                ledgerId:l,
                decMasterId:m
            };        
    </script>
<script src="~/Scripts/Banking/EditTransfer.js"></script>
}