﻿
@{
    ViewBag.Title = "Bank Transfer";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Form No</label><br />
                                    <input type="text" class="form-control" readonly="readonly" id="formNo"/>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="date">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label><br />
                                    <select id="transferType" class="form-control">
                                        <option value="Deposit">Deposit</option>
                                        <option value="Withdrawal">Withdrawal</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label" id="accountLabel">Account</label>
                                    <select id="account" class="form-control">
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>

        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-primary" onclick="addBank()" id="createSetting">
                            <i class="fa fa-plus"></i> Add Bank
                        </button>
                    </div>
                    <h3 class="panel-title" id="panelLabel">Line Items</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="newBanksTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Ledger</th>
                                <th>Amount</th>
                                <th>Currency</th>
                                <th>Cheque No.</th>
                                <th>Cheque Date</th>
                                <th>Memo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-7">
                        </div>
                        <div class="col-md-2">
                            <label class="control-label">Total Amount</label>
                            <input type="text" readonly="readonly" class="form-control" id="totalAmount">
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="Save()" id="add">save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="addBankModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Bank</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label class="control-label">Bank Or Cash</label>
                                    <div id="bank" style="width:100%;">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Cheque No</label>
                                    <div>
                                        <input type="text" id="chequeNo" class="form-control" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Cheque Date</label>
                                    <div>
                                        <input type="text" id="chequeDate" class="form-control dateCtrl" readonly="readonly"/>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-1"></div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <div>
                                        <input type="number" id="amount" class="form-control" />

                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <div>
                                        <input type="text" id="memo" class="form-control" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <div id="currency" style="width:100%;">
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addDataToObject()" id="add">add</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Banking/BankTransfer.js"></script>
}

