﻿
@{
    ViewBag.Title = "Statutory Compliance settings";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">New Statutory Compliance Setting</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Apply PAYE</label>
                                    <select class="form-control" id="applyPAYE">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Receiving Ledger</label>
                                    <input type="text" class="form-control" id="receivingLedgerPAYE">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Apply Pension</label>
                                    <select class="form-control" id="applyPension">
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Receiving Ledger</label>
                                    <input type="text" class="form-control" id="receivingLedgerPension">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="button" onclick="saveAdvancePayment()" id="save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/StatutoryComplianceSettings/StatutoryComplianceSettings.js?v=@DateTime.Now"></script>
}