﻿@{
    ViewBag.Title = "Monthly Salary Settings";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<div class="row" id="viewMonthlySalary">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        @{

                            if (pagePrivileges.Contains("Save") == true)
                            {
                                @Html.Raw("<div class=\"panel-control\">");
                            }
                            else
                            {
                                @Html.Raw("<div class=\"hide panel-control\">");
                            }

                        }

                        <button class="demo-panel-ref-btn btn btn-primary" onclick="newSalarySetting()" id="createSetting">
                            <i class="fa fa-plus"></i> New Setting
                        </button>
                    </div>
                    <h3 class="panel-title">Monthly Salaries</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body text text-sm">
                        <table id="salaryMonthsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Salary Month</th>
                                    <th>Narration</th>
                                    @{

                                        if (pagePrivileges.Contains("View") == true || pagePrivileges.Contains("Delete") == true)
                                        {
                                            @Html.Raw("<th></th>");
                                        }

                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Salary Month Details</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="salaryMonthDetailsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Employee</th>
                                <th>Employee Code</th>
                                <th>Salary Package</th>
                                @{

                                    if (pagePrivileges.Contains("Update") == true)
                                    {
                                        @Html.Raw("<th></th>");
                                    }

                                }
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
</div>

<div id="newMonthlySalary" class="row">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Salary Setting</h3>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body text text-sm">
                            <div class="form-group col-md-4">
                                <label class="control-label">Pick Month</label>
                                <input type="text" class="form-control" id="date" readonly="readonly" placeholder="Please Select" />
                            </div>
                            <div class="form-group col-md-4">
                                <label class="control-label">Narration</label>
                                <textarea type="text" class="form-control" id="narration"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Salary Month Details</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="newSalaryMonthDetailsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Employee</th>
                                    <th>Employee Code</th>
                                    <th>Salary Package</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-success" onclick="saveNewSetting()">Save</button>
                        <button class="btn btn-default" onclick="close()">close</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="changeSPModalNew" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Salary Package</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">salary Package</label>
                            <div>
                                <select id="salaryPackageNewDropDown" class="form-control" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyChangeForNew()" id="add">save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="changeSPModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Change Salary Package</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">salary Package</label>
                            <div>
                                <select id="salaryPackageDropDown" class="form-control" style="width:100%;"></select>
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="saveChanges()" id="saveChange">save</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts{
    <script type="text/javascript" src="~/Scripts/Payroll/MonthlySalary/MonthlySalary.js?v=@DateTime.Now"></script>
    @*<script>
        $("#date").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });
    </script>*@
}







@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;


        $("#invoiceDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("invoiceDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            $("#invoiceDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("invoiceDate");
            doc.readonly = true;

        });

    </script>
}