﻿
@{
    ViewBag.Title = "Process Monthly Salary";
}



<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Seach Parameters</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Voucher No.</label>
                                    <input type="text" class="form-control" style="width:100%;"  id="voucherNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" id="date">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Month</label>
                                    <input type="text" class="form-control" readonly="readonly" id="month" placeholder="select month">
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary" type="button" onclick="getMonthlySalariesToProcess()" id="save"><i class="fa fa-search"></i>   Search</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Salary Details</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="row">
                        <div class="col-sm-4" style="display:none">
                            <div class="form-group">
                                <label class="control-label">Select Ledger</label>
                                <input type="text" class="form-control" style="width:100%;" id="filteredLedgers">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Cash/Bank Account</label>
                                <input type="text" class="form-control" style="width:100%;" id="cashOrBank">
                            </div>
                        </div>

                        <div class="col-sm-5">
                            <div class="form-group">
                                <label class="control-label">Narration</label>
                                <input type="text" class="form-control" id="narration">
                            </div>
                        </div>
                    </div>
                    <hr />
                    <table id="monthlySalaryDetails" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Employee Code</th>
                                <th>Employee Name</th>
                                <th>Bonus</th>
                                <th>Deduction</th>
                                <th>Advance</th>
                                <th>PAYE</th>
                                <th>Pension</th>
                                <th>Salary</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table><br />
                    <div class="form-group pull-right">
                        <label class="control-label">Total Salary</label>
                        <div><input type="text" class="form-control" id="totalSalary" readonly="readonly" style="text-align:right;" /></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-success" id="saveSalaries" onclick="saveMonthlySalaries()"><i class="fa fa-save"></i> &nbsp; Save</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/MonthlySalary/ProcessMonthlySalary.js?v=@DateTime.Now"></script>
    @*<script>
            $("#month").datepicker({
                format: "mm-yyyy",
                startView: "months",
                minViewMode: "months"
            });
        </script>*@
}






@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#month").datepicker({
            format: "MM yyyy",
            startView: "months",
            minViewMode: "months",
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("month");
        doc.readonly = true;

        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("date");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#month").datepicker({
                autoclose: true,
                format: "MM yyyy",
                startView: "months",
                minViewMode: "months"
            });
            var doc = document.getElementById("month");
            doc.readonly = true;

            $("#date").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("date");
            doc.readonly = true;

        });

    </script>
}