﻿
@{
    ViewBag.Title = "Stock Details";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<section class="content">
    <!-- Info boxes -->
    <div class="panel">
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-4" style="margin-bottom:0px">
                    <div class="form-group">
                        <label class="control-label">Date From</label>
                        <input id="FromDate" type="text" class="form-control dateCtrl" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Date To</label>
                        <input id="ToDate" type="text" class="form-control dateCtrl" />
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Product Code</label>
                        <input id="ProductCode" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label class="control-label">Store</label>
                        <select id="Store" class="form-control custBorderStyle"></select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group">
                        <label class="control-label">Batch</label>
                        <select id="Batch" class="form-control custBorderStyle"></select>
                    </div>
                    
                    <div class="form-group">
                        <label class="control-label">Product</label>
                        <select id="Product" class="form-control custBorderStyle"></select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4" style="margin-bottom:0px">
                    <button  id="btnSearch" class="btn btn-mint btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Invoice Line Item">Search</button>
                    <button data-toggle="modal" id="btnLineItemModal" class="btn btn-danger btn-labeled fa fa-times add-tooltip" data-original-title="Add Invoice Line Item">Clear</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <!-- /.box-header -->
                <div class="box-body">
                    <table id="StockDetailsRptTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>Store</th>
                                <th>Item</th>
                                <th>Code</th>
                                <th>RefNo</th>
                                <th>Transaction</th>
                                <th>Batch</th>
                                <th>Date</th>
                                <th>Rate</th>
                                <th>Qty-In</th>
                                <th>Qty-Out</th>
                                <th>Qty Bal</th>
                                <th>Avg Cost</th>
                                <th>Stock Val</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/Report/StockDetails.js"></script>
}

