﻿
@{
    ViewBag.Title = "Print Pay Slip";

}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Generate Pay Slip</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Month</label>
                                    <input type="text" class="form-control" readonly="readonly" id="date" placeholder="select month">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Employee</label>
                                    <select id="employee" class="form-control custBorderStyle" style="width:100%;"></select>
                                    @*<input type="text" class="form-control" style="width:100%;" id="employee">*@
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button class="btn btn-primary" onclick="getPaySlip()">Generate pay Slip</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-10">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-default" onclick="printDiv('printablediv')">
                            <i class="fa fa-print"></i> Print
                        </button>
                    </div>
                    <h4 class="panel-title">Pay Slip</h4>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div id="errorDiv" class="row"></div>
                        <div class="row">
                            <table class="table" id="printablediv">
                                <tbody>
                                    <tr>
                                        <td width="80%" style="text-align:center">
                                            <h4 id="companyName"></h4>
                                            <p id="companyAddress"></p>
                                        </td>
                                        <td width="20%" style="text-align:right">
                                            <img id="companyImage" style="width:80px;height:auto;border: 1px solid #ddd;padding:2px" />
                                            @*<h3 class="pull-right"></h3>*@
                                        </td>
                                    </tr>


                                </tbody>
                            </table>
                            <div style="display:flex; justify-content:center">
                                <div style="width:20%; display:flex; justify-content:center">
                                    <h3 style="border:2px solid #8888; padding:3px;">Pay Slip</h3>
                                </div>
                            </div>

                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="45%">
                                            <p><b>Employee Code:  </b><span id="employeeCode"></span></p>
                                            <p><b>Employee Name:  </b><span id="employeeName"></span></p>
                                            <p><b>Designation:  </b><span id="designation"> </span></p>
                                        </td>
                                        <td width="25%">
                                            <p><b>Working Days:  </b><span id="workingDays"></span></p>
                                            <p><b>Leave Days:  </b><span id="leaveDays"> </span></p>
                                            <p><b>Present Days:  </b><span id="presentDays"> </span></p>
                                        </td>
                                        <td width="30%">
                                            <p><b>Salary Month:  </b><span id="salaryMonth"></span></p>
                                            <p><b>Salary Date:  </b><span id="salaryDate"></span></p>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                            <table class="table">
                                <tbody>
                                    <tr>
                                        <td width="50%">
                                            <table class="table" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="75%">Earnings</th>
                                                        <th width="25%">Amount (&#8358;)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="earningsTable"></tbody>
                                            </table>
                                        </td>
                                        <td width="50%">
                                            <table class="table" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th width="75%">Deductions</th>
                                                        <th width="25%">Amount (&#8358;)</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="deductionTable"></tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="50%">
                                            <div class="pull-right">
                                                <span>Total Earnings: </span>
                                                <b id="totalEarnings"></b>
                                            </div>
                                        </td>
                                        <td width="50%">
                                            <div class="pull-right">
                                                <span>Total Deductions: </span>
                                                <b id="totalDeductions"></b>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td>
                                            <div class="pull-right">
                                                <span>Net Pay: </span>
                                                <b id="netPay"></b>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <td colspan="2">
                                            <div>
                                                <span>Salary in words: </span>
                                                <b id="netPayWord"></b>
                                            </div>
                                        </td>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="~/Scripts/Payroll/PaySlip/PaySlip.js?v=@DateTime.Now"></script>

    <script>
        //$("#date").datepicker({
        //    format: "mm-yyyy",
        //    startView: "months",
        //    minViewMode: "months"
        //});

        function printDiv(divID) {
            //Get the HTML of div
            var divElements = document.getElementById(divID).innerHTML;
            //Get the HTML of whole page
            var oldPage = document.body.innerHTML;

            //Reset the page's HTML with div's HTML only
            document.body.innerHTML =
                "<html><head><title></title></head><body>" +
                divElements + "</body>";

            //Print Page
            window.print();

            //Restore orignal HTML
            document.body.innerHTML = oldPage;


        }
    </script>
}




@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#date").datepicker({
            format: "MM yyyy",
            startView: "months",
            minViewMode: "months",
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;

        //$("#date").datepicker({
        //    autoclose: true,
        //    startDate: new Date(BeginYear, BeginMonth, BeginDay),
        //    endDate: new Date(EndYear, EndMonth, EndDay)
        //});

        //doc = document.getElementById("date");
        //doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
                format: "MM yyyy",
                startView: "months",
                minViewMode: "months"
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            //$("#date").datepicker({
            //    autoclose: true,
            //});
            //doc = document.getElementById("date");
            //doc.readonly = true;

        });

    </script>
}