﻿
@{
    ViewBag.Title = "POS";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Receipt No.</label>
                            <div class="col-sm-4">
                                <input type="text" id="receiptNo" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label" for="">Transaction Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="transactionDate" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Pricing Level</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="pricingLevel"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Sales Point</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="salesPoint"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Payment Mode</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="paymentMode">
                                    <option value="" selected="selected">Select Payment Mode</option>
                                    <option value="Cash">Cash</option>
                                    <option value="Bank">Bank</option>
                                    <option value="Cheque">Cheque</option>
                                    <option value="Both">Both(Cash/Card)</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Select Account</label>
                            <div class="col-sm-2">
                                <select id="cashDropdown" class="form-control"></select>
                            </div>
                            <div class="col-sm-2">
                                <select id="bankDropdown" disabled="disabled" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    @*<div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Default Printer</label>
                            <div class="col-sm-4">
                                <select id="defaultPrinter" class="form-control"></select>
                            </div>
                        </div>
                    </div>*@
                   
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*Line Items*@
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Remove</th>
                                        <th style="white-space: nowrap;">#</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product</th>
                                        <th style="white-space: nowrap;">Qty.</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Value</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="posLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea class="form-control" id="narration"></textarea>
                                    </div>
                                </div>
                                @*<div class="col-sm-offset-6">
                                    <br />
                                    <div style="text-decoration:underline;font-size:13px;"><b>Bill Amount : </b><strong id="billAmount">0.0</strong></div>
                                    <div style="text-decoration:underline;font-size:13px;"><b>Tax Amount : </b><strong id="taxAmountHtml">0.0</strong></div>
                                    <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>
                                </div>*@
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Amount Paid</label>
                                                <input type="text" class="form-control" id="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Card Amount</label>
                                                <input type="text" class="form-control" id="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Balance</label>
                                                <input type="number" readonly="readonly" class="form-control" id="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Teller No.</label>
                                                <input type="text" class="form-control" id="" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Total</label>
                                                <input type="number" readonly="readonly" class="form-control" id="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount %</label>
                                                <input type="number" readonly="readonly" class="form-control" id="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount Amount</label>
                                                <input type="number" readonly="readonly" class="form-control" id="" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Grand Total</label>
                                                <input type="text" class="form-control" id="" readonly="readonly" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Print after save</label>
                                    <input type="checkbox" id="print" />
                                </div>
                            </div>
                            <div class="col-sm-offset-6">
                                <button class="btn btn-dark" id="hold"><i class="fa fa-question"></i> Hold</button>
                                <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                                <button class="btn btn-default"><i class="fa fa-times"></i> Clear</button>
                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Line Item From <span id="storeToAddFrom"></span></h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityToAdd" type="number" value="1" disabled="disabled" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="amount" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="description" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock</label>
                                    <input id="quantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" id="addLineItem" type="button">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Pos.js"></script>
}

