﻿
@{
    ViewBag.Title = "Salary Package Register";
    var pagePrivileges = ViewBag.pagePrivileges;
    var itemPrivileges = ViewBag.itemPrivileges;
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="form-group col-md-3">
                        <label class="control-label">Salary Package</label>
                        <input type="text" class="form-control " id="salaryPackage"/>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Active</label>
                            <select id="status" class="form-control" style="width:100%;">
                                <option value="True">Yes</option>
                                <option value="False">No</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                    <a class="btn btn-primary" onclick="window.location.reload();"><i class="fa fa-refresh"></i>   Reload Page</a>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Salary Package Lists</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="row" style="height:450px; display: block; overflow-x: auto;">
                        <table id="salaryPackageRegisterTable" class="table table-sm table-bordered">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Package Name</th>
                                    <th>Active</th>
                                    <th>Amount</th>
                                    @{

                                        if (itemPrivileges.Contains("Update") == true || itemPrivileges.Contains("Delete") == true)
                                        {
                                            @Html.Raw("<th></th>");
                                        }

                                    }
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="salaryPackageDetailsModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Salary Package Details</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Package Name :</div>
                                        <div class="col-md-6" id="packageNameDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Active :</div>
                                        <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Narration :</div>
                                        <div class="col-md-6" id="narrationDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Pay Head</th>
                                    <th style="white-space: nowrap;">Type</th>
                                    <th style="white-space:nowrap">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="grandTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                    This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                </center>*@
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="~/Scripts/Payroll/SalaryPackage/Register.js?v=@DateTime.Now"></script>

}