﻿
@{
    ViewBag.Title = "Salary Package";
}
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Salary Package Details
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group col-sm-3">
                            <label class="control-label">Package Name</label>
                            <div>
                                <input type="text" class="form-control" id="packageName" placeholder="Package Name">
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label">Active</label>
                            <div>
                                <select class="form-control custBorderStyle" id="isActive" style="width:100%;">
                                    <option value="true">Yes</option>
                                    <option value="false">No</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label">Narration</label>
                            <div>
                                <input type="text" class="form-control" id="narration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <a id="exportToExcel" onclick="addNewPayElement()" class="demo-panel-ref-btn btn btn-primary"><i class="fa fa-plus"></i> Add Pay Element</a>
                    </div>
                    <h3 class="panel-title" id="panelTitle">
                        Pay Elements List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="payElementsTable" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Pay Head</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                        <div class="col-md-2 form-group pull-right">
                            <label class="control-label text text-lg pull-right"><b>Total Amount</b></label>
                            <div>
                                <input type="text" class="form-control" id="totalAmount" style="font-weight:bold; text-align:right" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success fa fa-save" onclick="saveSalaryPackage()" id="savePayElement"> Save</button>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="newPayElementModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add New Pay Element</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Pay Head</label>
                        <div class="col-sm-8">
                            <div id="payHead" class="form-control custBorderStyle"></div>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label"> Amount</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" min="1" id="amount">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <span id="errorNotification" class="label label-danger"></span>
                <span id="successNotification" class="label label-success"></span>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="addNewPayElementToObject()" id="savePayElement">save</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
<script src="~/Scripts/Payroll/SalaryPackage/SalaryPackage.js?v=@DateTime.Now"></script>
}