﻿
@{
    ViewBag.Title = "Material Receipt";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" id="transactionDate" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Supplier</label>
                                    <div class="form-control custBorderStyle" id="Supplier" style="width:95%;"></div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Apply On</label>
                                    <select id="applyOn" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Order No.</label>
                                        <select id="orderNo" class="form-control custBorderStyle"></select>
                                    </div>
                            </div>
                                @*<div class="col-sm-6">
                                    <div class="form-group">
                                        <label class="control-label">Currency</label>
                                        <select id="currency" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>*@
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-info" id="newLineItem" onclick="openModal();">
                            <i class="fa fa-plus"></i> Add Line Item
                        </button>
                    </div>
                    <h3 class="panel-title">Line Items</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body text text-sm">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Quantity Ordered</th>
                                        <th style="white-space: nowrap;">Quantity Received</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                        <th style="white-space: nowrap;"></th>
                                    </tr>
                                </thead>
                                <tbody id="salesInvoiceLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transportation Company</label>
                                    <input type="text" id="transportationCompany" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Registration No.</label>
                                    <input type="text" id="lrNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <textarea id="narration" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div>Total Amount : 
                                <input type="text" id="totalAmount" class="form-control" readonly="readonly" style="text-align:right" value="0.0"/></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-primary btn-labeled fa fa-save" id="saveDeliveryNote">Save</button>
                        @*<button class="btn btn-primary btn-labeled fa fa-envelope">Save & Email</button>*@
                        <button class="btn btn-danger btn-labeled fa fa-times">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LineItemModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Material Reciept Line Item</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <div id="Barcode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <div id="ProductCode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <div id="ProductName" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-4 control-label">Store</label>
                                    <div class="col-sm-8">
                                        <select id="stores2" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="Qty" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="Unit" disabled="disabled" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea id="Description" class="form-control"></textarea>
                                </div>
                                <div class="form-group">
                                        <input id="productId" class="form-control custBorderStyle" style="display:none;">
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="Rate" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="Amount" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="Tax" class="form-control custBorderStyle">
                                        <option value="0">NA</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="TaxAmount" readonly="readonly" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" onclick="AddtoLineItem()">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quantity to Receive</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="quantity" placeholder="Quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Store</label>
                            <div class="col-sm-8">
                                <select id="stores" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyQuantityOnObject()" id="newQuantity">save</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        //$("#transactionDate").datepicker({
        //    clearBtn: true,
        //    daysOfWeekHighlighted: "0",
        //    autoclose: true,
        //    todayHighlight: true,
        //    format: "yyyy-mm-dd"
        //});
    </script>
    <script src="~/Scripts/Supplier/MaterialReceipt.js?v=@DateTime.Now"></script>
}