﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Rejection Out Register";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var pagePriviledges = new List<string>();
    var itemPriviledges = new List<string>();
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    //var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    // rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmRejectionOutRegister") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    else
    {
        // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
        pagePriviledges = rolePriviledges.Where(p => p.formName == "frmRejectionOutRegister").Select(p => p.action).ToList();
        itemPriviledges = rolePriviledges.Where(p => p.formName == "frmRejectionOut").Select(p => p.action).ToList();
    }
}

<style>
    #listTable td:nth-child(5), th:nth-child(5) {
        text-align: right;
    }

    #listTable td:first-child, td:nth-child(2), th {
        text-align: center;
    }
</style>


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control" value="@DateTime.Now.ToShortDateString()" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control" value="@DateTime.Now.ToShortDateString()" id="toDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Supplier</label><br />
                                    <select id="suppliers" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Rejection Out No.</label>
                                    <input type="text" class="form-control" id="orderNo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="listTable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th> S/N </th>
                                    <th> Rej. Out No. </th>
                                    <th> Date </th>
                                    <th>Supplier Name</th>
                                    <th>Bill Amount (N)</th>
                                    <th>Narration</th>
                                    <th>Done by</th>
                                    @{
                                        foreach (var item in itemPriviledges)
                                        {
                                            if (item == "View")
                                            {
                                                @Html.Raw("<th>Action</th>");
                                            }

                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody id="listBody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @*<div id="registerGrid"></div>*@

    </div>
</div>


<div class="modal fade" id="modalList" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Rejection Out Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="invoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="invoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Customer :</div>
                                        <div class="col-md-6" id="customerDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped table-bordered" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Warehouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Rate (N)</th>
                                    <th style="white-space: nowrap;">Amount (N)</th>
                                    <th style="white-space: nowrap;">Tax Amount(N)</th>
                                </tr>

                            </thead>
                            <tbody id="detailsTbody">
                                @*<tr>
                                        <td style="white-space: nowrap;">S/N</td>
                                        <td style="white-space: nowrap;">Barcode</td>
                                        <td style="white-space:nowrap">Product Code</td>
                                        <td style="white-space: nowrap;">Product Name</td>
                                        <td style="white-space: nowrap;">Warehouse</td>
                                        <td style="white-space: nowrap;">Quantity</td>
                                        <td style="white-space: nowrap;">Unit</td>
                                        <td style="white-space: nowrap;">Rate</td>
                                        <td style="white-space: nowrap;">Amount</td>
                                        <td style="white-space: nowrap;">Tax Amount</td>
                                    </tr>*@
                            </tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="totalAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align: right;" class="form-control" id="totalAmount" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Tax Amount</div>
                                <div class="col-md-6" id="taxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align: right;" class="form-control" id="taxAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align: right;" class="form-control" id="grandTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <div class="modal-footer">
                <button class="btn btn-success" id="edit" type="button"><i class="fa fa-check"></i> Edit</button>
                <button class="btn btn-danger" id="delete" type="button"><i class="fa fa-times"></i> Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
    *
</div>

@{
    var today = DateTime.Now;
    var lastMonth = today.AddMonths(-1);
}

<input type="hidden" id="lastMonth" value="" />
@section PageScripts{

    <script src="~/Scripts/Supplier/Registers/RejectionOut.js"></script>

}



@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;


        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}







@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            $("#lastMonth").val(ConvertDateFrom);
            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);
          
            
            //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
            loadData();
        })

    </script>

}
