﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Account Group Type";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
    var pagePrivileges = ViewBag.pagePrivileges;
}

@{
//string query = string.Empty;
//MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
//List<MatDal.tbl_Privilege> rolePriviledges;
//var pagePriviledges = new List<string>();
//var db = new MatDal.DBMATAccounting_MagnetEntities();
//var roles = db.tbl_Role.ToList();
//decimal userId = Convert.ToDecimal(User.Identity.Name);
//query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
//var user = conn.customSelect(query);
////var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
//decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
//// rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
//rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
//if (rolePriviledges.Any(p => p.formName == "frmAccountGroup") == false)
//{
//    Response.Redirect("/Security/Login/AccessDenied");
//}
//else
//{
//    // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
//    pagePriviledges = rolePriviledges.Where(p => p.formName == "frmAccountGroup").Select(p => p.action).ToList();
//}
}
<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-header">
                    <h3 class="panel-title"></h3><br />
                    @*@{
                        foreach (var item in pagePrivileges)
                        {
                            if (item == "Save")
                            {
                                @Html.Raw("<button style=\"margin-left:5px;\" class=\"frmAccountGroup-Save btn btn-primary\" data-toggle=\"modal\" data-target=\"#addModal\"><i class=\"fa fa-plus-circle\"></i> Create Account Group</button>");
                            }
                        }
                    }*@
                    
                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="accountGroupTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Group Name</th>
                                <th>Nature of Account</th>
                                @*@{
                                    foreach (var item in pagePrivileges)
                                    {
                                        if (item == "View")
                                        {
                                            @Html.Raw("<th>View</th>");
                                        }
                                    }
                                }
                                @{
                                    foreach (var item in pagePrivileges)
                                    {
                                        if (item == "Update")
                                        {
                                            @Html.Raw("<th class=\"frmAccountGroup-Update\">Edit</th>");
                                        }
                                    }
                                }
                                @{
                                    foreach (var item in pagePrivileges)
                                    {
                                        if (item == "Delete")
                                        {
                                            @Html.Raw("<th class=\"frmAccountGroup-Delete\">Delete</th>");
                                        }
                                    }
                                }*@
                                
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="addModalLabel">Add Account</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="accountGroupName" placeholder="Account Group Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nature</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="nature">
                                    <option value="Assets">Assets</option>
                                    <option value="Income">Income</option>
                                    <option value="Expenses">Expenses</option>
                                    <option value="Liabilities">Liabilities</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <!--<label class="col-sm-4 control-label">Under</label>-->
                            <label class="col-sm-4 control-label">Nature Of Account</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="underGroupId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Affect Gross Profit</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="affectGrossProfit">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="narration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div> 
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @{
                    foreach (var item in pagePrivileges)
                    {
                        if (item == "Save")
                        {
                            @Html.Raw("<button type=\"button\" class=\"btn btn-primary\" id=\"saveAccountGroup\">Add Account Group</button>");
                        }
                    }
                }

            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="editModalLabel">Edit Account Group</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editAccountGroupId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editAccountGroupName" placeholder="Account Group Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nature</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="editNature">
                                    <option value="Assets">Assets</option>
                                    <option value="Income">Income</option>
                                    <option value="Expenses">Expenses</option>
                                    <option value="Liabilities">Liabilities</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Nature Of Account</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="editUnderGroupId">
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Affect Gross Profit</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="editAffectGrossProfit">
                                    <option value="No">No</option>
                                    <option value="Yes">Yes</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editNarration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete State</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteCityName"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Account/AccountGroup.js"></script>
}



