﻿
@{
    ViewBag.Title = "Unit";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-header">
                    @{

                        if (pagePrivileges.Contains("Save"))
                        {
                            @Html.Raw("<br /><button style=\"margin-left:5px;\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#addModal\"><i class=\"fa fa-plus-circle\" >" +
                                        "</i> Add Unit</ button >");
                        }

                    }
                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="unitTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Unit</th>
                                @{

                                    if (pagePrivileges.Contains("Update"))
                                    {
                                        @Html.Raw("<th>Edit</th>");
                                    }
                                    if (pagePrivileges.Contains("Delete"))
                                    {
                                        @Html.Raw("<th>Delete</th>");
                                    }

                                }
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Unit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="unit" placeholder="Unit">
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label class="col-sm-4 control-label">Decimal Place</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="decimalPlace" placeholder="No. of Decimal Place" value="2">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Add Unit</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Unit</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editUnitId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editUnit" placeholder="Name">
                            </div>
                        </div>
                        <div class="form-group" style="display:none;">
                            <label class="col-sm-4 control-label">Decimal Place</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editDecimalPlace" placeholder="No. of Decimal Place" value="2">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Unit</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteUnit"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/ItemComponents/Unit.js"></script>
}

