﻿
@{
    ViewBag.Title = "Accrued Expenses";
}
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="form-group col-md-3">
                        <label class="control-label">Date</label>
                        <input type="text" class="form-control" id="date" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Invoice No.</label>
                        <input type="text" class="form-control" id="invoiceNo" readonly="readonly" />
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Supplier</label>
                            <select id="supplier" class="form-control" style="width:100%;"></select>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Currency</label>
                            <select id="currency" class="form-control" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-primary" onclick="openModal()" id="newExpenses">
                            <i class="fa fa-plus"></i> Add Expense
                        </button>
                    </div>
                    <h3 class="panel-title" id="panelLabel">Expenses</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="expensesTable" class="table table-striped table-bordered pre-scrollable ">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Expense Account</th>
                                <th>Amount</th>
                                <th>Memo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="pre-scrollable fc-scroller"></tbody>
                    </table>
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <h5 class="control-label">Total</h5>
                        <input type="text" style="text-align:right; font-size:medium;" class="form-control" id="totalAmount" readonly="readonly" />
                    </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" id="save" onclick="save()">Save</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="newExpenseModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content ">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add New Expense</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel-body text text-sm">
                    <div class="row">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Expenses</label>
                            <input type="text" class="form-control" id="expenses" />
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Amount</label>
                            <input type="number" class="form-control" id="amount" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label">Memo</label>
                        <textarea class="form-control" id="memo"></textarea>
                    </div>
                </div>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="addToObject();" id="addToObject" type="button"><i class="fa fa-plus"></i> Add</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{


    <script src="~/Scripts/Supplier/AccruedExpenses.js?v=@DateTime.Now"></script>
}





@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;

        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("date");
        doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            $("#date").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("date");
            doc.readonly = true;

        });

    </script>
}
