﻿
@{
    ViewBag.Title = "Generate Way Bill";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Release Form No.</label>
                                    <input type="text" class="form-control" id="invoiceNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" readonly="readonly" id="transactionDate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Agent</label>
                                    <input type="text" class="form-control" id="customer" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Mode</label>
                                    <input type="text" class="form-control" id="deliveryMode" value="Against Order" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <input type="text" class="form-control" id="pricingLevel" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <input type="text" class="form-control" id="currency" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Sales Person</label>
                                    <input type="text" class="form-control" id="salesPerson" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4" id="orderNoPanel">
                                <div class="form-group">
                                    <label class="control-label">Order No</label>
                                    <input type="text" class="form-control" id="orderNo" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading" style="display:none;">
                    <h3 class="panel-title">
                        Release Form Line Items
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Release Form Line Item">Add</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Qty Ordered</th>
                                        <th style="white-space: nowrap;">Qty Outstanding.</th>
                                        <th style="white-space: nowrap;">Qty Dlvd.</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                    </tr>
                                </thead>
                                <tbody id="lineItems"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transporter</label>
                                    <input type="text" id="transportationCompany" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Vehicle No.</label>
                                    <input type="text" id="lrNo" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <textarea id="narration" class="form-control" readonly></textarea>
                                </div>
                            </div>

                            <div class="col-md-3" style="display:none;">
                                <div style="text-decoration:underline;font-size:13px;">Total Amount : <strong id="totalAmount">0</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        @*<a href="/Customer/DeliveryNote/Report" class="btn btn-primary btn-labeled fa fa-print">Generate Way Bill</a>*@
                        <input type="checkbox" id="confirmCheckBox" /> <b>I confirmed that i have reviewed and certify that the release note is accurate.</b>
                        <button class="btn btn-primary btn-labeled fa fa-print" id="generateWaybill">Generate Way Bill</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="waybillModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Way Bill</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div style="height:500px; width:600px;">
                    <iframe id="rptFrame" src="" frameborder="0" style="position: relative; height: 500px; width: 800px;"></iframe>
                    @*<iframe src="/Reports/Webforms/ReleaseForm.aspx?qry=80019" frameborder="0" style="position: relative;"></iframe>*@
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $("#transactionDate input").datepicker();
        var releaseNoteId=@ViewBag.ReleaseNoteId;


        $("#generateWaybill").click(function(){
            $("#rptFrame").prop("src","/Reports/Webforms/ReleaseForm.aspx?qry="+releaseNoteId);
            $("#waybillModal").modal("show");
        });

        $("#generateWaybill").hide();

        $("#confirmCheckBox").change(function(){
            if($("#confirmCheckBox").prop("checked"))
            {
                $("#generateWaybill").show();
            }
            else
            {
                $("#generateWaybill").hide();
            }
        });
    </script>
    <script src="~/Scripts/Customer/GenerateWayBill.js"></script>
}