﻿
@{
    ViewBag.Title = "Release Form";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12" style="display:none;">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Release Form No.</label>
                                    <input type="text" class="form-control" id="invoiceNo">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="transactionDate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Agent</label>
                                    <select id="customers" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">                            
                            <div class="col-sm-4" style="visibility:hidden;">
                                <div class="form-group">
                                    <label class="control-label">Release Mode</label>
                                    <select id="deliveryMode" class="form-control custBorderStyle">
                                        <option value="NA">NA</option>
                                        <option value="Against Order">Against Order</option>
                                        @*<option value="Against Quotation">Against Quotation</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4" style="visibility:hidden;">
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <select id="pricingLevel" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select id="currency" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4" style="visibility:hidden;">
                                <div class="form-group">
                                    <label class="control-label">Sales Person</label>
                                    <select id="salesMan" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4" id="orderNoPanel">
                                <div class="form-group">
                                    <label class="control-label">Order No</label>
                                    <select id="orderNo" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading" style="display:none;">
                    <h3 class="panel-title">
                        Release Form Line Items
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Release Form Line Item">Add</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;"></th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Qty Ordered</th>
                                        <th style="white-space: nowrap;">Qty To Deliver</th>
                                        <th style="white-space: nowrap;">Qty Outstanding</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;display:none;">Rate</th>
                                        <th style="white-space: nowrap;display:none;">Amount</th>
                                        <th style="white-space: nowrap;display:none;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="lineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transporter</label>
                                    <input type="text" id="transportationCompany" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Vehicle No.</label>
                                    <input type="text" id="lrNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <textarea id="narration" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3" style="display:none;">
                                <div style="text-decoration:underline;font-size:13px;">Total Amount : <strong id="totalAmount">0</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        @*<input type="checkbox" />Print after save*@
                        <div class="col-sm-1">
                            <button class="btn btn-primary btn-labeled fa fa-print" id="Print" onclick="print();">Print</button>
                        </div>
                        <button class="btn btn-primary btn-labeled fa fa-save" id="saveDeliveryNote">Process</button>
                        @*<button class="btn btn-primary btn-labeled fa fa-envelope">Save & Email</button>
                        <button class="btn btn-danger btn-labeled fa fa-times">Clear</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityToAdd" type="number" value="1" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="Unit" class="form-control custBorderStyle"></select>
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="amount" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" type="text" class="form-control" />
                                </div><br />                    
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="Description" type="text" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock</label>
                                    <input id="quantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="panel panel-default" style="background-color:#f8f8f8;" id="searchResultPanel">
                    <div class="panel-body">
                        <b>Product Details</b><br /><br />
                        <div id="qtyInStockDiv">Quantity in stock : <b id="quantityInStock"></b></div><br />
                        
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input type="number" id="" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-offset-4">
                                <div class="form-group">
                                    <br />
                                    <button class="btn btn-primary btn-labeled fa fa-plus-circle" id="addSalesInvoiceLineItem">Add</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>*@
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary"  id="addDeliveryNoteLineItem" type="button">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script type="text/javascript">
        $("#transactionDate input").datepicker();
        @*var mode = @Request.QueryString["deliveryMode"];*@
        var orderNoFromUrl = @Request.QueryString["orderNo"];
        //alert(orderNoFromUrl);
    </script>
    <script src="~/Scripts/Customer/DeliveryNote.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript">
        
    </script>
}

<div class="modal fade" id="LineItemModalE" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Quotation Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="Barcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="ProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="ProductName" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="Description" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="Qty" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="Unit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <select id="Batch" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="Rate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="Amount" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="Tax" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="TaxAmount" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" onclick="AddLineItemToList()">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
