﻿
@{
    ViewBag.Title = "Process Release Form Details";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Release Form No.</label>
                                    <input type="text" class="form-control" id="invoiceNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" readonly="readonly" id="transactionDate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Agent</label>
                                    <input type="text" class="form-control" id="customer" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Mode</label>
                                    <input type="text" class="form-control" id="deliveryMode" value="Against Order" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <input type="text" class="form-control" id="pricingLevel" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <input type="text" class="form-control" id="currency" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Sales Person</label>
                                    <input type="text" class="form-control" id="salesPerson" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4" id="orderNoPanel">
                                <div class="form-group">
                                    <label class="control-label">Order No</label>
                                    <input type="text" class="form-control" id="orderNo" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading" style="display:none;">
                    <h3 class="panel-title">
                        Release Form Line Items
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Release Form Line Item">Add</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Qty Ordered</th>
                                        <th style="white-space: nowrap;">Qty Dlvd.</th>
                                        <th style="white-space: nowrap;">Qty Outstanding.</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;">Batch</th>
                                        <th style="white-space: nowrap;display:none;">Rate</th>
                                        <th style="white-space: nowrap;display:none;">Amount</th>
                                        <th style="white-space: nowrap;display:none;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="lineItems"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transportation Company</label>
                                    <input type="text" id="transportationCompany" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">LR No.</label>
                                    <input type="text" id="lrNo" class="form-control" readonly />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <textarea id="narration" class="form-control" readonly></textarea>
                                </div>
                            </div>

                            <div class="col-md-3" style="display:none;">
                                <div style="text-decoration:underline;font-size:13px;">Total Amount : <strong id="totalAmount">0</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                       <button class="btn btn-success btn-labeled fa fa-check" id="processReleaseForm"> Process</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section PageScripts{
    <script type="text/javascript">
        $("#transactionDate input").datepicker();
        var releaseNoteId=@ViewBag.ReleaseNoteId;
        
    </script>
    <script src="~/Scripts/Customer/ProcessReleaseFormDetails.js"></script>
}

