﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Employee List/Centre";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();

    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmEmployeeAddressReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<input type="text" id="companyName" readonly="readonly" value="@profile.companyName" style="display:none">
<input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display:none">
<section>
    <div class="row">
        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                            <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                        </div>*@
                    <div class="panel-control">
                        @*//frmAccountLedger*@
                        <a class="btn btn-warning" onclick="print();" href="#"><i class="fa fa-print"></i> Print To PDF</a>
                        <a class="frmEmployee-Save demo-panel-ref-btn btn btn-primary" href="~/Payroll/Employee/EmployeeCreation"><i class=\"fa fa-plus-circle\"></i> Create Employee</a>
                        <button style="margin-left:5px;" class="demo-panel-ref-btn btn btn-info" id="uploadSupplier" onclick="uploadModal()" data-toggle="modal">
                            <i class="fa fa-plus"></i>  Upload from Excel
                        </button>
                        @*<a class="demo-panel-ref-btn btn btn-mint" href="/company/AccountLedger/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>*@
                        <a class="demo-panel-ref-btn btn btn-mint" href="#" onclick="exportToExcel()"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>
                    <h3 class="panel-title" id="panelTitle">
                        List of Employees
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="EmployeeAddressBookReportList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Employee Id</th>
                                        <th>Employee Code</th>
                                        <th>Employee Name</th>
                                        <th>Designation</th>
                                        <th>Address</th>
                                        <th>Phone</th>
                                        <th>Mobile</th>
                                        <th>Email</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
@section pageScripts
{
    <script src="~/Scripts/Reports/PayrollReports/EmployeeAddressBook.js?v=@DateTime.Now"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>
        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#EmployeeAddressBookReportList").table2excel({
                name: "Table2Excel",
                filename: "Employee List",
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Employee List Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });

        function print() {
            var CoyName = $("#companyName").val();
            var CoyAddress = $("#companyAddress").val();
            document.getElementById("EmployeeAddressBookReportList").border = 1;
            var pageTitle = '',
                stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                win = window.open('PrintPage', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> <br>' +
                '<div class = "container" style="text-align:center;"><div style="color:#25476A; font-size: 26px; margin: 0px"><b>' + CoyName + '</b></div>' +
                '<div style="color:#25476A;">' + CoyAddress + '</div><br>' +
                '<div style="color:#25476A; font-size: 20px; margin: 0px"><b>EMPLOYEE LIST</b></div>' +

                '<hr>' +
                $('.table')[0].outerHTML + '</body></html>');
            win.document.close();
            win.print();
            win.close();
            return false;
        }
    </script>
}