﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Salary Package Details Report";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmSalaryPackageDetailsReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}
<section>
    <div class="row">
        @*<div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Salary Package Details Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-6">

                                <div class="form-group">
                                    <label class="control-label">Package Name</label>
                                    <div>
                                        <input type="text" class="form-control" id="packageName">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="getSalaryPackageDetailsReport()" id="search"><i class="fa fa-search"></i> Search</button>

                </div>
            </div>
        </div>*@

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="SalaryPackagedDetailsReportList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>PayHead</th>
                                        <th>Type</th>
                                        <th>Amount</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label">Total Addition</label>
                                    <div>
                                        <input type="text" class="form-control" id="totAdd" readonly="readonly" style="text-align:right">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label">Total Deduction</label>
                                    <div>
                                        <input type="text" class="form-control" id="totDeduc" readonly="readonly" style="text-align:right">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">

                                <div class="form-group">
                                    <label class="control-label">Total Amount</label>
                                    <div>
                                        <input type="text" class="form-control" id="totAmount" readonly="readonly" style="text-align:right">
                                    </div>
                                </div>
                            </div>

                        </div>
                        
                    </div>
                 
                </form>

            </div>
        </div>
    </div>
</section>


@section pageScripts
{
    <script src="~/Scripts/Reports/PayrollReports/SalaryPackageDetails.js?v=@DateTime.Now"></script>
}
