﻿
@{
    ViewBag.Title = "User Accounts";
}


<div class="panel">
    <div class="panel-title frmUserCreation-Save hide">
        <button data-target="#createUserModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip">Create New User</button>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <table id="usersTable" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>Username</th>
                            <th>Name</th>
                            <th>Role</th>
                            <th>Location</th>
                            <th>Status</th>
                            <th>Edit</th>
                            <th>(Un)Block</th>
                            <th>Delete</th>
                        </tr>
                    </thead>

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="createUserModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">User Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Username</label>
                                    <input type="text" class="form-control required-control" id="username">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Role</label><br />
                                    <select id="role" class="form-control required-control"></select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Location</label><br />
                                    <select id="store" class="form-control required-control"></select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Password</label>
                                    <input type="password" value="12345" class="form-control required-control" id="password">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" value="12345" class="form-control required-control" id="confPassword">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Status</label><br />
                                    <select id="active" class="form-control required-control">
                                        <option selected="selected">Active</option>
                                        <option>Inactive</option>
                                    </select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">First Name</label>
                                    <input type="text" class="form-control required-control" id="fname">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Last Name</label>
                                    <input type="text" class="form-control required-control" id="lname">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-md-6">
                                <form action="/UserCreation/Index" enctype="multipart/form-data" method="post" id="frmSignatureImage">
                                    <input type="file" style="display:none;" id="signatureImage" name="signatureImage" class="form-control" />
                                    <button type="button" onclick="$('#signatureImage').click();" class="btn btn-primary">Pick Signature</button>
                                    <img class="img-lg" src="~/Content/ProductImages/default.jpg" alt="" id="imgSig">
                                    <input type="hidden" id="returnedUserId" name="returnedUserId" />
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" id="createUser">Create User</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit User</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editUserId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Username</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editUsername" placeholder="Username">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editFirstName" placeholder="First Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editLastName" placeholder="Last Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Role</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="editRole"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Location</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="editStore"></select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="userBlockModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="blockUserTitle">Block User</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Status</label><br />
                                    <select id="userStatus" class="form-control required-control">
                                        <option value="False">Block</option>
                                        <option value="True">Unblock</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Reason</label><br />
                                    <textarea id="userNarration" rows="5" cols="40"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="blockButton" onclick="confirmblock()" type="button"> Block</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Company/Settings/UserCreation.js?v="@DateTime.Now></script>
}

