﻿
@{
    ViewBag.Title = "Pending Sales";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel">
            <div class="panel-header">
                <h3 class="panel-title">Pending Sales</h3>
            </div>
            <div class="panel-body">
                <div id="pendingSalesGrid"></div>
            </div>
        </div>        
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/PendingSales.js"></script>
}

