﻿
@{
    ViewBag.Title = "Cash Register";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(From)</label>
                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(To)</label>
                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">cash Accounts</label>
                            <select id="cash" class="form-control" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="cashRegisterTable" class="table table-striped table-bordered pre-scrollable">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Ledger Name</th>
                                <th>Date</th>
                                <th>Memo</th>
                                <th>Txn. Type</th>
                                <th>Txn. Number</th>
                                <th>Payment</th>
                                <th>Receipt</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody class="pre-scrollable fc-scroller"></tbody>
                    </table>
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <h5 class="control-label">Current Balance:</h5>
                        <input type="text" style="text-align:right; font-size:medium;" class="form-control" id="currentBalance" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Banking/Registers.js?v=@DateTime.Now"></script>
    <script>
        $(function () {
            getLookUps();
            getCashRegisters(0, $("#toDate").val(), "2018/01/01", "All");
        });

        $("#search").click(function () {
            if ($("#cash").val() == 0 || $("#cash").val() == null || $("#cash").val() == "")
            {
                cId = 0;
            }
            else {
                cId = $("#cash").val();
            }
            getCashRegisters(cId, $("#toDate").val(), $("#fromDate").val(), $("#cash").data("kendoDropDownList").text());
        });
    </script>
}
