﻿
@{
    ViewBag.Title = "Other Register";
}
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="form-group col-md-3">
                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(To)</label>
                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Bank</label>
                            <select id="ledgers" class="form-control" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel" >
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div id="table3">
                        <div class="container" style="height:450px; display: block; overflow-x: auto;">
                            <table class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th colspan="1">S/N</th>
                                        <th colspan="1">Date</th>
                                        <th colspan="1">Memo</th>
                                        <th colspan="1">Txn. Type</th>
                                        <th colspan="1">Txn. Number</th>
                                        <th colspan="1">Payment</th>
                                        <th colspan="1">Receipt</th>
                                        <th colspan="1">Balance</th>
                                    </tr>
                                </thead>
                                <tbody id="otherRegisterTable"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <h5 class="control-label">Total:</h5>
                        <input type="text" style="text-align:right; font-size:medium;" class="form-control" id="totalAmount" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="~/Scripts/Banking/Registers.js?v=@DateTime.Now"></script>
    <script>
        $(function () {
            getLookUps();
            getOtherRegisters(0, $("#toDate").val(), "2018/01/01", "All");
        });

        $("#search").click(function () {
            if ($("#ledgers").val() == 0 || $("#ledgers").val() == null || $("#ledgers").val() == "")
            {
                lId = 0;
            }
            else {
                bId = $("#ledgers").val();
            }
            getOtherRegisters(lId, $("#toDate").val(), $("#fromDate").val(), $("#ledgers").data("kendoDropDownList").text());
        });
    </script>
}


