﻿T
@{
    ViewBag.Title = "Sales Invoice";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control" id="fromDate">
                                </div>
                            </div>  
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Customer</label><br />
                                    <select id="customers" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Form Type</label><br />
                                    <select id="formType" class="form-control">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" id="formNo">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Sales Mode</label><br />
                                    <select id="salesMode" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button class="btn btn-info" type="button" id="search" onclick="getSalesInvoiceList()">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">#</th>
                                        <th style="white-space: nowrap;">Form No.</th>
                                        <th style="white-space: nowrap;">Form Type</th>
                                        <th style="white-space: nowrap;">Date</th>
                                        <th style="white-space: nowrap;">Customer Name</th>
                                        <th style="white-space: nowrap;">Bill Amount</th>
                                        <th style="white-space: nowrap;">Narration</th>
                                        <th style="white-space: nowrap;">Done By</th>
                                    </tr>
                                </thead>
                                <tbody id="rejectionInListTbody"></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Register.js"></script>
}







@{


    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;


        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;
       
    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#toDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("toDate");
            doc.readonly = true;

            $("#fromDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("fromDate");
            doc.readonly = true;

        });

    </script>
}
