﻿
    <!-- Main content -->
<section class="content">
    <!-- Info boxes -->
    <div class="row">
        @*<div class="panel pre-scrollable fc-scroller">
            <div class="panel-body">*@

        <div class="col-md-12 panel panel-body">
            <p class="text text-lg">Quick Links</p>
            <div class="col-md-3">
                <div class="list-group">
                    <h5 class="list-group-item active">Accounts</h5>
                    <a class="list-group-item frmGeneralJournal-View hide" href="/Company/RunGeneralJournals/Index">General Journals</a>
                    <a class="list-group-item frmAccountGroup-View hide" href="/Company/AccountGroup/Index">Account Group</a>
                    <a class="list-group-item frmAccountLedger-View hide" href="/Company/AccountLedger/Index">Account Ledgers</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group ">
                    <h5 class="list-group-item active">Customers</h5>
                    <div class="pre-scrollable fc-scroller" style="height:230px;">
                        <a class="list-group-item frmSalesQuotation-View hide" href="/Customer/SalesQuotation/Index">Sales Order</a>
                        @*<a class="list-group-item frmSalesOrder-View hide" href="/Customer/SalesOrder/OrderConfirmationListing">Order Confirmation <span class="badge badge-pink text text-sm" id="OrderConfirmationCount">...</span></a>
                            <a class="list-group-item frmSalesOrderAuthorization-View hide" href="/Customer/SalesOrder/OrderAuthorizationListing">Order Authorization <span class="badge badge-pink text text-sm" id="OrderAuthorisationCount">...</span></a>*@
                        <a class="list-group-item frmReleaseForm-View hide" href="/Customer/SalesOrder/ReleaseFormListing">Release Form <span class="badge badge-pink text text-sm" id="ReleaseFormCount">...</span></a>
                        @*<a class="list-group-item frmSalesOrder-View hide" href="/Customer/DeliveryNote/DeliveryNoteRegister">Waybill</a>*@
                        <a class="list-group-item frmRejectionIn-View hide" href="/Customer/RejectionIn/Index">Rejection In</a>
                        <a class="list-group-item frmSalesInvoice-View hide" href="/Customer/SalesInvoice/Index">Sales Invoice</a>
                        <a class="list-group-item frmReceipts-View hide" href="/Customer/Receipt/Receipt">Receipt</a>
                    </div>
                </div>
            </div>   

            <div class="col-md-3">
                <div class="list-group">
                    <h5 class="list-group-item active">Suppliers</h5>
                    <a class="list-group-item frmPurchaseOrder-View hide" href="/Supplier/PurchaseOrder/Index">Purchase Order</a>
                    <a class="list-group-item frmMaterialReceipt-View hide" href="/Supplier/MaterialReceipt/Index">Material Receipt</a>
                    @*<a class="list-group-item frmPurchaseOrderListing-View hide" href="/Supplier/PurchaseOrder/PurchaseOrderListing">Purchase Order Listing<span class="badge badge-pink text text-sm" id="PurchaseOrderListingCount"></span></a>*@
                    <a style="display:none;" class="list-group-item frmMaterialReceiptApproval-View hide" href="/Supplier/MaterialReceipt/MaterialReceiptApproval">Material Receipt Approval<span class="badge badge-pink text text-sm" id="MaterialReceiptApprovalCount"></span></a>
                    <a class="list-group-item frmRejectionOut-View hide" href="/Supplier/RejectionOut/Index">Rejection Out</a> 


                    @*<a class="list-group-item frmPurchaseInvoice-View hide" href="/Supplier/PurchaseInvoice/Index">Purchase Invoice</a>
                        <a class="list-group-item frmPurchaseReturn-View hide" href="/Supplier/PurchaseReturn/Index">Purchase Return</a>*@                               

                    <a class="list-group-item frmPaymentVoucher-View hide" href="/Supplier/PaymentVoucher/Index">Payments</a>
                </div>
            </div>
            <div class="col-md-3">
                <div class="list-group">
                    <h5 class="list-group-item active">Stock</h5>
                    <a class="list-group-item" href="javascript:void(0);" onclick="(Utilities.ShowStockCardDialog(0))">Stock Card</a>
                    <a class="list-group-item frmProductCreation-View hide" href="/Inventory/ItemCreation/Index">Item Creation</a>
                    <a class="list-group-item frmPhysicalStock-Add hide" href="/Inventory/PhysicalStock/Index">Physical Stock</a>
                    <a class="list-group-item frmStockJournal-View hide" href="/Inventory/StockJournal/Index">Stock Journal</a>
                </div>
            </div>

        </div>
    </div>
    @*</div>
        </div>*@
    <div class="row">
        <div class="col-md-8 text text-sm frmStockPanel-View hide">
            <div class="panel">
                <h3 class="panel-title">
                    Stock Balance
                </h3>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table" id="stockBalanceTBody" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Product Item</th>
                                        <th>Stock Balance</th>
                                        <th style="white-space: nowrap;">Status</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4 text text-sm frmLedgerAccounts-View hide">
            <div class="panel pre-scrollable fc-scroller" style="height:300px;">
                <h3 class="panel-title">
                    Ledger Accounts
                </h3>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <center>
                                <table class="table" style="overflow:auto !important;">
                                    <thead class="fixed">
                                        <tr>
                                            <th style="white-space: nowrap;">Ledger Name</th>
                                            <th style="white-space: nowrap;">Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody id="customerAccountListTbody"></tbody>
                                </table>
                            </center>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /.row -->
    <!--Sales Rate Time Series Chart-->
    <div class="row">
        <div class="col-md-12 text text-sm">
            <div class="panel">
                <h3 class="panel-title">
                   Sales Rate Overview
                </h3>
                <div id="sales-rate-div" style="height: 500px !important" >

                </div>
            </div>
        </div>
  
    </div>
</section>
    <!-- /.content -->
@section PageScripts{
    <script src="~/Scripts/General/Dashboard.js"></script>
    <script src="~/Assets/DateJs/xbuildx/date.js"></script>
    <!-- FusionCharts -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/fusioncharts.js"></script>
    <!-- jQuery-FusionCharts -->
    <script type="text/javascript" src="https://rawgit.com/fusioncharts/fusioncharts-jquery-plugin/develop/dist/fusioncharts.jqueryplugin.min.js"></script>
    <!-- Fusion Theme -->
    <script type="text/javascript" src="https://cdn.fusioncharts.com/fusioncharts/latest/themes/fusioncharts.theme.fusion.js"></script>
    <script>
        $(function() {

            $.ajax(API_BASE_URL + "/Graph/SalesRate",
                {
                    type: "get",
                    beforeSend: function() {

                    },
                    complete: function() {

                    },
                    success: function(data) {
                        $("#sales-rate-div").insertFusionCharts({
                            type: "msline",
                            width: "100%",
                            height: "100%",
                            dataFormat: "json",
                            dataSource: {
                                chart: {
                                    caption: "Sales Rate on Stores",
                                    yaxisname: "Amount Sold",
                                   
                                    showhovereffect: "1",
                                    numbersuffix: " NGN",
                                    drawcrossline: "1",
                                    plottooltext: "<b>$dataValue</b> Sales in $seriesName ",
                                    theme: "fusion"
                                },
                                categories: [
                                    {
                                        category: getCategory(data)
                                    }
                                ],
                                dataset: getDataSet(data)
                            }
                        });
                        console.log(getDataSet(data));
                    }
                });

        });

        function unique(arr) {
            let unique = arr.filter((item, i, ar) => ar.indexOf(item) === i);
            return unique;
        }

        function getCategory(data) {
            let category = [];

            if (data.length > 0) {
                for (const i of data) {
                    //uniqueDate = moment(i.Date).format("MMM Do YYYY");
                    category.push(i.Date);
                    //category.push({
                    //    label: moment(i.Date).format("MMM Do YYYY")
                    //});
                }
            }
            var uniqueDate = unique(category);
            category = [];
            for (const i of uniqueDate) {
                category.push({
                    //label: moment(i).format("MMM Do YYYY")  
                    label: i
                });
            }
            return category;
        }

        function getUniqueCategory(data) {
            var store = [];

            //get unique store by looping all stores in data 
            for (var i of data) {
                store.push(i.Date);
            }
            return unique(store);
        }

        function getUniqueStore(data) {
            var store = [];

            //get unique store by looping all stores in data 
            for (var i of data) {
                store.push(i.StoreName);
            }
            return unique(store);
        }

        function getDataSet(data) {
            let set = [];

            var categoryDate = getUniqueCategory(data);
            var uniqueStore = getUniqueStore(data);
            var uniqueStoreSale = [];
            for (const i of uniqueStore) {
                var sale = [];
                for (const s of data) {

                    if (i == s.StoreName) {
                        sale.push(
                            {
                                date: s.Date,
                                Sale: s.Sale
                            });
                    }

                }
                uniqueStoreSale.push({
                    Store: i,
                    Sales: sale
                });
            }
            console.log("uniqueStorSale ", uniqueStoreSale);
            if (data.length > 0) {
                for (const us of uniqueStoreSale) {
                    var dateTime = [];
                    for (var s = 0; s < categoryDate.length; s++) {

                        console.log(us.Sales[s]);
                        if (us.Sales[s] == undefined) {
                            dateTime.push({ value: 0 });
                            continue;
                        }
                        if (us.Sales[s].date == categoryDate[s]) {
                            dateTime.push({ value: us.Sales[s].Sale });
                            } else {
                                dateTime.push({ value: 0 });
                            }
                          
                    }
                    set.push({
                        seriesname: us.Store,
                        data: dateTime
                    });
                }


            }
            console.log("set", set);
            return set;

        }
    </script>
}


