﻿
@{
    ViewBag.Title = "Pricing Level";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<MatDal.tbl_Privilege> rolePriviledges;
    var pagePriviledges = new List<string>();
    var db = new MatDal.DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    //var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    // rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmPricingLevel") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    else
    {
        // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
        pagePriviledges = rolePriviledges.Where(p => p.formName == "frmPricingLevel").Select(p => p.action).ToList();
    }
}

<!-- Main content -->
<section class="content">
    <div class="row">
        @{
            if (!pagePriviledges.Any(p => p == "Update" || p == "Delete"))
            {
                @Html.Raw("<div class=\"col-md-3\"> </div>");
            }
            if (pagePriviledges.Contains("Save"))
            {
                @Html.Raw("<div class=\"col-md-6\">");
            }
            else
            {
                @Html.Raw("<div class=\"col-md-6\" style=\"display:none;\">");
            }

        }
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Pricing Level Details
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pricing Level</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pricingLevel" placeholder="Pricing Level">
                            </div>
                        </div><br />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <textarea class="form-control" id="narration" placeholder="Narration"></textarea>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success " id="save"><i class="fa fa-check"></i> Save</button>
                    <button type="button" class="btn btn-default " onclick="editPricingLevel()" id="edit"><i class="fa fa-check"></i> Update</button>
                </div>
            </div>
        </div>
    @{
        if (!pagePriviledges.Contains("Save"))
        {
        @Html.Raw("<div class=\"col-md-3\"> </div>");
        }
        
        if (pagePriviledges.Contains("Update") || pagePriviledges.Contains("Delete"))
        {
            @Html.Raw("<div class=\"col-md-6 text text-sm\">");
        }
        else
        {
            @Html.Raw("<div class=\"col-md-6 text text-sm\"  style=\"display:none;\">");
        }

    }
        <div class=\"col-md-6 text text-sm\">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                         Pricing Level List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="pricingLevelTable" class="table">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Pricing Level</th>
                                        <th>Narration</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Pricing Level</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pricing Level</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="pricingLevel" placeholder="Pricing Level">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Add Pricing Level</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Pricing Level</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editPrcingLevelId"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editUnitId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Pricing Level</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editPricingLevel" placeholder="Pricing Level">
                            </div>
                        </div>
                    </div>
                        <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deletePricingLevel"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/PricingList/PricingLevel.js?v=@DateTime.Now;"></script>
}

