﻿
@{
    ViewBag.Title = "Advance Payment Listing";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Month</label>
                            <input type="text" class="form-control" readonly="readonly" id="month" placeholder="select month">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Advance Payments List</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="advancePaymentListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Adv. No.</th>
                                <th>Emp. Code</th>
                                <th>Employee</th>
                                <th>Amount</th>
                                <th>Date</th>
                                <th>Month</th>
                                <th>Account</th>
                                <th>Chq No.</th>
                                <th>Chq Date</th>
                                <th>Status</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content ">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Advance Payment Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body" style="background-color:ghostwhite;">
                <div class="panel-body " id="detailsBody">
                    <div class="row">
                        <div class="col-md-4">
                            <p><b>Date:  </b><span id="dateSpan"></span></p>
                            <p><b>Adv Payment No:  </b><span id="advPayNoSpan"></span></p>
                            <p><b>Month:  </b><span id="monthSpan"></span></p>
                            <p><b>Narration:  </b><span id="narrationSpan"></span></p><br />
                        </div>
                    </div>
                    <div class="row">
                        <table class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Employee</th>
                                    <th>Cheque No.</th>
                                    <th>Cheque Date</th>
                                    <th>Amount</th>
                                    <th>Cash/Bank</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-danger" onclick="toDelete();" id="deletePayment" type="button"><i class="fa fa-times"></i> Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
@section pageScripts
{
    <script src="~/Scripts/Payroll/AdvancePayment/AdvancePaymentListing.js?v=@DateTime.Now"></script>
    <script>
        $("#month").datepicker({
            format: "MM yyyy",
            startView: "months",
            minViewMode: "months"
        });
    </script>
}

