﻿
@{
    ViewBag.Title = "Advance Payment";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">New Advance Payment</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Advance Payment No.</label>
                                    <input type="text" class="form-control" style="width:100%;" id="advPaymentNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="date">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Month</label>
                                    <input type="text" class="form-control" placeholder="select month..." readonly="readonly" id="month">
                                </div>
                            </div>
                          
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Employee</label>
                                    <input type="text" class="form-control" style="width:100%;" id="employee">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Cash/Bank</label>
                                    <input type="text" class="form-control" style="width:100%;" id="cashOrBank">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Receiving Ledger</label>
                                    <input type="text" class="form-control" style="width:100%;" id="receivingLedger">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="number" min="0" value="0" class="form-control" id="amount">
                                </div>
                            </div>
                            <div id="chqDiv">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Cheque Number</label>
                                        <input type="text" class="form-control" id="chequeNo">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Cheque Date</label>
                                        <input type="text" class="form-control dateCtrl" readonly="readonly" id="chequeDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <input type="text" class="form-control" id="narration">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="button" onclick="saveAdvancePayment()" id="save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/AdvancePayment/AdvancePayment.js?v=@DateTime.Now"></script>
<script>
        $("#month").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });
</script>
}