﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Account Ledger Details";

    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}

<style>
    .table td:nth-child(5), td:nth-child(6), td:nth-child(7) {
        text-align: right;
    }

    .table th:nth-child(5), th:nth-child(6), th:nth-child(7) {
        text-align: right;
    }
</style>


<input type="text" id="companyNName" readonly="readonly" value="@profile.companyName" style="display:none">
<input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display: none ">
<h1 id="accountGroupAndLedger"></h1>
<h1 id="accountGroup" style="display:none"></h1>

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="tabs-base">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>
                            <li><a href="#tab2" data-toggle="tab">Secondary</a></li>
                            <li><a href="#tab3" data-toggle="tab">Transactions</a></li>
                        </ul> <br>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="row">
                                    <input type="hidden" id="ledgerIdToViewDetails" />
                                    <input type="hidden" id="accountGroupIdToViewDetails" />
                                    <input type="hidden" id="idDefaultToViewDetails" />
                                    <input type="hidden" id="crOrDrViewDetails" />
                                    <input type="hidden" id="cstViewDetails" />
                                    <input type="hidden" id="routeIdToViewDetails" />
                                    <input type="hidden" id="extra1ToViewDetails" />
                                    <input type="hidden" id="extra2ToViewDetails" />
                                    <input type="hidden" id="areaIdToViewDetails" />
                                    <input type="hidden" id="isActiveToViewDetails" />
                                    <div class="form-group col-md-6">
                                        <label>Account Code</label>
                                        <input type="text" id="accountCode" class="form-control" disabled="disabled" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Name</label>
                                        <input type="text" id="ledgerName" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Group</label>
                                        <input type="text" id="accountGroup" class="form-control" disabled="disabled" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Narration</label>
                                        <textarea cols="30" rows="3" class="form-control" id="narration" disabled="disabled"></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Branch Name</label>
                                        <input type="text" id="branchName" class="form-control" disabled="disabled" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Branch Code</label>
                                        <input type="text" id="branchCode" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Account Number</label>
                                        <input type="text" id="accountNumber" class="form-control" disabled="disabled" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Opening Balance</label>
                                        <input type="text" id="openingBalance" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>From Date</label>
                                        <input type="text" id="frmDate" class="form-control" disabled="disabled" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>To Date</label>
                                        <input type="text" id="toDate" class="form-control" disabled="disabled" />
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab2">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Company Name</label>
                                        <input type="text" id="companyName" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Account No.</label>
                                        <input type="text" id="accountNumber" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Mobile No.</label>
                                        <input type="text" id="mobileNo" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Phone</label>
                                        <input type="text" id="phone" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="text" id="email" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Position</label>
                                        <input type="text" id="position" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Pricing Level</label>
                                        <input type="text" id="pricingLevel" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Bill by Bill</label>
                                        <input type="text" id="billByBill" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Credit Limit</label>
                                        <input type="text" id="creditLimit" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Credit Period</label>
                                        <input type="text" id="creditPeriod" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>TIN</label>
                                        <input type="text" id="tin" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>PAN</label>
                                        <input type="text" id="pan" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>State</label>
                                        <input type="text" id="state" disabled="disabled" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>City</label>
                                        <input type="text" id="city" disabled="disabled" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Address</label>
                                        <textarea id="address" cols="30" rows="3" disabled="disabled" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab3">
                                <div class="box-body no-padding">
                                    <div class="row">
                                        <div class="col-md-4 table-toolbar-left">
                                            <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                            <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table class="table" id="ledgerPosting">
                                            <thead>
                                                <tr>
                                                    <th colspan="8" style="display:none;"><h2>@profile.companyName</h2></th>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" style="display:none;">@profile.address</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" style="display:none;"><h3>Account Ledger Details for <span id="thisAccountName"></span></h3></th>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" style="display:none;"></th>
                                                </tr>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>Transaction Type</th>
                                                    <th>Form No.</th>
                                                    <th>Memo</th>
                                                    <th>Debit</th>
                                                    <th>Credit</th>
                                                    <th>Balance</th>
                                                    <th></th>
                                                </tr>

                                            </thead>
                                            <tbody id="ledgerPostingItemDetails"></tbody>
                                        </table>
                                    </div>
                                </div>

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                        <ul class="nav nav-tabs">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8">
                                    <b>
                                        Transaction Summary: <span id="transactionSummary"></span>
                                    </b>
                                </div>
                            </div>
                            <a style="margin-left:20px;" href="/Company/AccountLedger/Index" class="btn btn-sm btn-primary"><i class="fa fa-angle-left"></i> Back to Account List</a>

                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-7">

            <div class="box box-primary" id="openingStockStorePanel" style="display:none;">
                <div class="box-header">
                    <h3 class="box-title">Opening Stock Stores</h3><br />
                    <button type="button" id="addModal" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fa fa-plus-circle"></i> Add Store</button>

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-1"><b>#</b></div>
                        <div class="col-md-1"><b>Store</b></div>
                        <div class="col-md-1"><b>Rack</b></div>
                        <div class="col-md-1 hideBatch" style="display:none;"><b>Batch</b></div>
                        <div class="col-md-1 hideBatch" style="display:none;"><b>MFD</b></div>
                        <div class="col-md-1 hideBatch" style="display:none;"><b>EXPD</b></div>
                        <div class="col-md-1"><b>Qty</b></div>
                        <div class="col-md-1"><b>Rate</b></div>
                        <div class="col-md-1"><b>Unit</b></div>
                        <div class="col-md-1"><b>Amount</b></div>
                        <div class="col-md-1"></div>
                    </div><hr />
                    <span id="tbody"></span>
                    <div class="row">
                        <br />
                        <div class="col-md-4 col-md-offset-8">
                            <label>Total Inventory Value</label>
                            <input type="text" id="totalInventoryValue" disabled="disabled" value="0.00" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->

<div class="modal fade" id="bankTransferModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <b>Bank Transfer</b>
                </h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <form>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label>
                                    <input type="text" class="form-control" disabled="disabled" id="transactionType">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Date</label>
                                    <input type="text" class="form-control" disabled="disabled" id="transactionDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transferred From</label>
                                    <input type="text" class="form-control" disabled="disabled" id="source">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Account Balance</label>
                                    <input type="text" class="form-control" disabled="disabled" id="balance">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <input type="text" class="form-control" disabled="disabled" id="currency">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Amount Transferred</label>
                                    <input type="text" class="form-control" disabled="disabled">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Cheque No.</label>
                                    <input type="text" class="form-control" disabled="disabled" id="chequeNo">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Cheque Date</label>
                                    <input type="text" class="form-control" disabled="disabled" id="chequeDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <textarea class="form-control" cols="20" rows="5" disabled="disabled" id="memo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" type="button">Edit Transfer</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-check-circle" style="color:#5eba7d;text-shadow: 1px 1px 1px #5eba7d;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Product created!</div>
                    <h1 id="cd" style="color:#5eba7d;"></h1>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-times-circle" style="color:red;text-shadow: 1px 1px 1px red;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Oops! Something went wrong.</div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bomModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Product Bill of Materials(BOM)
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Raw Material</label>
                                <select class="form-control" id="bomRawMaterial"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Quantity</label>
                                <input type="number" id="bomQuantity" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                <label>Unit</label>
                                <select class="form-control" id="bomUnit"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <br />
                                <button class="btn btn-primary" id="btnAddBomItem"><i class="fa fa-plus-circle"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><b>#</b></td>
                            <td><b>Raw Material</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Unit</b></td>
                            <td><b>Purchase Rate</b></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="bomTbody"></tbody>
                </table>
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <form onsubmit="return false;" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Total Inventory Value</label>

                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="bomTotalInventoryAmount" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newBrandModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Can't find brand? Add here
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input type="text" id="newBrandName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" id="newManufacturer" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-6">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btnAddNewBrand"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newUnitModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Can't find unit? Add here
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Unit</label>
                            <input type="text" id="newUnit" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>No. of decimal place</label>
                            <input type="number" id="newDp" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-6">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btnAddNewUnit"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="GeneralJournalDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Journal No :</div>
                                        <div class="col-md-6" id="journalNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Journal Date :</div>
                                        <div class="col-md-6" id="journalDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Created By :</div>
                                        <div class="col-md-6" id="createdByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Account Ledger</th>
                                    <th style="white-space:nowrap">Dr</th>
                                    <th style="white-space: nowrap;">Cr</th>
                                    <th style="white-space: nowrap;">Memo</th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                            <tbody id="GeneralJournalDetailsModalTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Debit Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="debitAmtTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Credit Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="creditAmtTxt" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <!--<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Edit Journal</button>-->
                <button class="btn btn-danger" onclick="cancelOrder();" id="cancelOrder" type="button"><i class="fa fa-times"></i> Delete Journal</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Purchase Invoice Modal Start-->
<div class="modal fade" id="purchaseInvoiceDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="purchaseInvoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                @*<div class="row" style="background-color:#fff;">
                                        <div class="">
                                            <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                            <div class="col-md-6" id="purchaseInvoiceOrderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        </div>
                                    </div>*@
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="purchaseInvoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Supplier :</div>
                                        <div class="col-md-6" id="purchaseInvoiceRaisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                @*<div class="row" style="background-color:#fff;">
                                        <div class="">
                                            <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                            <div class="col-md-6" id="purchaseInvoiceRaisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>

                        <div style="overflow: auto; white-space: nowrap;">
                            <table class="table table-striped">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        @*<th style="white-space: nowrap;">Unit</th>
                                            <th style="white-space: nowrap;">Store</th>
                                            <th style="white-space: nowrap;">Rack</th>
                                            <th style="white-space: nowrap;">Batch</th>*@
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Amount</th>
                                        <th style="white-space: nowrap;">Discount Amount</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        @*<th style="white-space: nowrap;">Tax</th>*@
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="purchaseInvoiceDetailsTbody"></tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="purchaseInvoiceTotalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Total Tax Amount</label>
                                        <input id="purchaseInvoiceTotalTaxAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Grand Total</label>
                                        <input id="purchaseInvoiceGrandTotal" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                    </div>
                                    @*<div style="text-decoration:underline;font-size:13px;"><b>total amount : </b><strong id="totalamount">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>bill discount : </b><strong>0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Purchase Invoice End-->
<!--Sales Invoice Modal Start-->
<div class="modal fade" id="salesInvoiceDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Invoice Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="salesInvoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="salesInvoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Customer :</div>
                                        <div class="col-md-6" id="salesInvoiceCustomerDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div id="salesInvoiceAvailableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Warehouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Purchase Rate</th>
                                    <th style="white-space: nowrap;">Sales Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    <th style="white-space: nowrap;">Tax Amount</th>
                                </tr>

                            </thead>
                            <tbody id="salesInvoiceDetailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="salesInvoiceTotalAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="salesInvoiceTotalAmount" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Tax Amount</div>
                                <div class="col-md-6" id="salesInvoiceTaxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="salesInvoiceTaxAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="salesInvoiceGrandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="salesInvoiceGrandTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Approve Order</button>
                    <button class="btn btn-danger" onclick="cancelOrder();" id="cancelOrder" type="button"><i class="fa fa-times"></i> Cancel Order</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Sales Invoice Modal End-->
<!--Opening Stock Modal Start-->
<div class="modal fade" id="openingStockDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Opening Stock Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Product :</div>
                                        <div class="col-md-6" id="openingStockProductDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="openingStockDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Warehouse</th>
                                    <th style="white-space: nowrap;">Batch</th>
                                    <th style="white-space:nowrap">Unit</th>
                                    <th style="white-space:nowrap">Quantity</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                </tr>
                            </thead>
                            <tbody id="openingStockDetailsModalTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="openingStockTotalAmount" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Opening Stock End-->
<!--Bank Transfer Start-->
<div class="modal fade" id="bankTransferDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Bank Transfer Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Ledger :</div>
                                        <div class="col-md-6" id="bankTransferLedgerNameDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="bankTransferDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">User :</div>
                                        <div class="col-md-6" id="bankTransferUserDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Type :</div>
                                        <div class="col-md-6" id="bankTransferTypeDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Bank/Cash</th>
                                    <th style="white-space: nowrap;">Cheque No</th>
                                    <th style="white-space:nowrap">Cheque Date</th>
                                    <th style="white-space:nowrap">Memo</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="bankTransferDetailsModalTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="bankTransferTotalAmount" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<!--Bank Transfer End-->
<!--Receipt Voucher Start-->
<div class="modal fade" id="receiptDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Receipt Voucher Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Voucher No :</div>
                                        <div class="col-md-6" id="receiptVoucherNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Ledger :</div>
                                        <div class="col-md-6" id="receiptLedgerNameDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="receiptDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">User :</div>
                                        <div class="col-md-6" id="receiptUserDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Customer</th>
                                    <th style="white-space: nowrap;">Cheque No</th>
                                    <th style="white-space:nowrap">Cheque Date</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="receiptDetailsModalTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="receiptTotalAmount" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Receipt Voucher End-->
<!--Payment Voucher Start-->
<div class="modal fade" id="paymentVoucherDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Payment Voucher Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Payment No :</div>
                                        <div class="col-md-6" id="paymentVoucherNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Ledger :</div>
                                        <div class="col-md-6" id="paymentVoucherLedgerNameDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="paymentVoucherDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">User :</div>
                                        <div class="col-md-6" id="paymentVoucherUserDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Supplier</th>
                                    <th style="white-space: nowrap;">Cheque No</th>
                                    <th style="white-space:nowrap">Cheque Date</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="paymentVoucherDetailsModalTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="paymentVoucherTotalAmount" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Payment Voucher End-->

@section pageScripts
{
    <script type="text/javascript">
      var ledgerIdToViewDetails=@ViewBag.LedgerId;
    </script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Account/AccountLedgerDetails.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>

        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#ledgerPosting").table2excel({
                exclude: ".noExl",
                name: "Table2Excel",
                filename: "Account Ledger Details",
                fileext: ".xls",
                preserveColors: true,
                exclude_links: true,
                exclude_inputs: true

            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var CoyName = $("#companyNName").val();
                var CoyAddress = $("#companyAddress").val();
                var pageTitle = '',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('PrintPage', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' +
                    '<style> ' +
                    '.table {width: 100%}' +
                    '@@media print { .table td:last-child { display: none } .table th:last-child { display: none } } ' +
                    '.table td:nth-child(5) { text-align: right; } .table th:nth-child(5) { text-align: right; }' +
                    '.table td:nth-child(6) { text-align: right; } .table th:nth-child(6) { text-align: right; }' +
                    '.table td:nth-child(7) { text-align: right; } .table th:nth-child(7) { text-align: right; }' +
                    '</style>' +
                    '</head>' +
                    '<body> <br>' +
                    '<div class = "container" style="text-align:center;"><div style="color:#25476A; font-size: 26px; margin: 0px; "><b>' + CoyName + '</b></div>' +
                    '<div style="color:#25476A;">' + CoyAddress + '</div><br>' +
                    '<div style="color:#25476A; font-size: 20px; margin: 0px"><b>Account Ledger Details: ' + $("#accountGroupAndLedger").html() + '</b></div>' +
                    '<div style="color:#25476A; margin:auto"></div></div>' +
                    '<hr>' +
                    $('.table')[0].outerHTML +
                    '<hr><br><div style="color:#25476A";>Transaction Summary:' + $("#transactionSummary").html() + '</div></body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>
}

