﻿
@{
    ViewBag.Title = "Account Ledger Edit";
}


<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="tabs-base">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>
                            <li class="disabled"><a href="#tab2">Secondary</a></li>
                            <li><a href="#tab3" data-toggle="tab">Transactions</a></li>
                        </ul>
                        <form >
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <div class="row">
                                    <input type="hidden" id="ledgerIdToViewDetails" />
                                    <input type="hidden" id="accountGroupIdToViewDetails" />
                                    <input type="hidden" id="idDefaultToViewDetails" />
                                    <input type="hidden" id="crOrDrViewDetails" />
                                    <input type="hidden" id="cstViewDetails" />
                                    <input type="hidden" id="routeIdToViewDetails" />
                                    <input type="hidden" id="extra1ToViewDetails" />
                                    <input type="hidden" id="extra2ToViewDetails" />
                                    <input type="hidden" id="areaIdToViewDetails" />
                                    <input type="hidden" id="isActiveToViewDetails" />
                                    <div class="form-group col-md-6">
                                        <label>Account Code</label>
                                        <input type="text" id="accountCode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6" id="accountGroupSelect">
                                        <label>Name</label>
                                        <input type="text" id="ledgerName" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Group</label>
                                        <select id="groupSelect" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Narration</label>
                                        <textarea cols="30" rows="3" class="form-control" id="narration" ></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Branch Name</label>
                                        <input type="text" id="branchName" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Branch Code</label>
                                        <input type="text" id="branchCode" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-12">
                                        <label>Account Number</label>
                                        <input type="text" id="accountNumber" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6" style="display:none">
                                        <label>Opening Balance</label>
                                        <input type="text" id="openingBalance" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>From Date</label>
                                        <input type="text" id="frmDate" class="form-control" disabled="disabled"/>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>To Date</label>
                                        <input type="text" id="toDate" class="form-control" disabled="disabled"/>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab2">
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Company Name</label>
                                        <input type="text" id="companyName" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>City</label>
                                        <input type="text" id="city" class="form-control" />
                                    </div>
                                    @*<div class="form-group col-md-6">
                                        <label>Account No.</label>
                                        <input type="text" id="accountNumber" class="form-control" />
                                    </div>*@
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Mobile No.</label>
                                        <input type="text" id="mobileNo" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Phone</label>
                                        <input type="text" id="phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Email</label>
                                        <input type="email" id="email" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Position</label>
                                        <input type="text" id="position" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Pricing Level</label>
                                        <input type="text" id="pricingLevel" class="form-control" />
                                    </div>
                                    @*<div class="form-group col-md-6">
                                        <label>Bill by Bill</label>
                                        <select  class="form-control" id="billByBillSelect">
                                            <option value="true">True</option>
                                            <option value="false">False</option>
                                        </select>
                                    </div>*@
                                    <div class="form-group col-md-6">
                                        <label>PAN</label>
                                        <input type="text" id="pan" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Credit Limit</label>
                                        <input type="text" id="creditLimit" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Credit Period</label>
                                        <input type="text" id="creditPeriod" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Address</label>
                                        <textarea id="address" cols="30" rows="3" class="form-control"></textarea>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>TIN</label>
                                        <input type="text" id="tin" class="form-control" />
                                    </div>
                                   
                                </div>
                                @*<div class="row">
                                    <div class="form-group col-md-6">
                                        <label>State</label>
                                        <input type="text" id="state" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>City</label>
                                        <input type="text" id="city" class="form-control" />
                                    </div>
                                </div>*@
                                
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab3">
                                <div class="box-body no-padding">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Type</th>
                                                <th>Invoice No.</th>
                                                <th>Debit</th>
                                                <th>Credit</th>
                                                <th>Memo</th>
                                                <th></th>
                                            </tr>
                                        </thead>
                                        <tbody id="ledgerPostingItemDetails"></tbody>
                                    </table>
                                </div>

                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                        <ul class="nav nav-tabs">
                            <div class="row">
                                <div class="col-md-4 col-md-offset-8">
                                    <b>
                                        Transaction Summary <span id="transactionSummary"></span>
                                    </b>
                                </div>
                            </div>
                            <li>
                            <a style="margin-left:20px;" href="/Company/AccountLedger/Index" class="btn btn-sm btn-primary"><i class="fa fa-angle-left"></i> Back to Account List</a> </li>
                           <li> <button class="btn btn-success" onclick="console.log();" id="updateLedger" type="button">Update Ledger</button> </li>
                        </ul>
                            </form>
                        <br />
                    </div>
                </div>
            </div>
        </div>
        <!-- /.col -->
        <div class="col-md-7">

            <div class="box box-primary" id="openingStockStorePanel" style="display:none;">
                <div class="box-header">
                    <h3 class="box-title">Opening Stock Stores</h3><br />
                    <button type="button" id="addModal" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fa fa-plus-circle"></i> Add Store</button>

                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-1"><b>#</b></div>
                        <div class="col-md-1"><b>Store</b></div>
                        <div class="col-md-1"><b>Rack</b></div>
                        <div class="col-md-1 hideBatch" style="display:none;"><b>Batch</b></div>
                        <div class="col-md-1 hideBatch" style="display:none;"><b>MFD</b></div>
                        <div class="col-md-1 hideBatch" style="display:none;"><b>EXPD</b></div>
                        <div class="col-md-1"><b>Qty</b></div>
                        <div class="col-md-1"><b>Rate</b></div>
                        <div class="col-md-1"><b>Unit</b></div>
                        <div class="col-md-1"><b>Amount</b></div>
                        <div class="col-md-1"></div>
                    </div><hr />
                    <span id="tbody"></span>
                    <div class="row">
                        <br />
                        <div class="col-md-4 col-md-offset-8">
                            <label>Total Inventory Value</label>
                            <input type="text" id="totalInventoryValue" value="0.00" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->

<div class="modal fade" id="bankTransferModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">
                    <b>Bank Transfer</b>
                </h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
               
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label>
                                    <input type="text" class="form-control" id="transactionType">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transaction Date</label>
                                    <input type="text" class="form-control" id="transactionDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Transferred From</label>
                                    <input type="text" class="form-control" id="source">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Account Balance</label>
                                    <input type="text" class="form-control" id="balance">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <input type="text" class="form-control" id="currency">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Amount Transferred</label>
                                    <input type="text" class="form-control" >
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Cheque No.</label>
                                    <input type="text" class="form-control" id="chequeNo">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Cheque Date</label>
                                    <input type="text" class="form-control" id="chequeDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <textarea class="form-control" cols="20" rows="5" id="memo"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
               
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" type="button">Edit Transfer</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-check-circle" style="color:#5eba7d;text-shadow: 1px 1px 1px #5eba7d;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Product created!</div>
                    <h1 id="cd" style="color:#5eba7d;"></h1>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-times-circle" style="color:red;text-shadow: 1px 1px 1px red;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Oops! Something went wrong.</div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bomModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Product Bill of Materials(BOM)
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-3">
                                <label>Raw Material</label>
                                <select class="form-control" id="bomRawMaterial"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Quantity</label>
                                <input type="number" id="bomQuantity" class="form-control" />
                            </div>
                            <div class="form-group col-md-3">
                                <label>Unit</label>
                                <select class="form-control" id="bomUnit"></select>
                            </div>
                            <div class="form-group col-md-3">
                                <br />
                                <button class="btn btn-primary" id="btnAddBomItem"><i class="fa fa-plus-circle"></i> Add</button>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><b>#</b></td>
                            <td><b>Raw Material</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Unit</b></td>
                            <td><b>Purchase Rate</b></td>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="bomTbody"></tbody>
                </table>
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <form onsubmit="return false;" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Total Inventory Value</label>

                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="bomTotalInventoryAmount" placeholder="0.00" >
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newBrandModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Can't find brand? Add here
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Brand Name</label>
                            <input type="text" id="newBrandName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" id="newManufacturer" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-6">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btnAddNewBrand"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newUnitModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Can't find unit? Add here
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Unit</label>
                            <input type="text" id="newUnit" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>No. of decimal place</label>
                            <input type="number" id="newDp" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-6">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btnAddNewUnit"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="GeneralJournalDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Journal No :</div>
                                        <div class="col-md-6" id="journalNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Journal Date :</div>
                                        <div class="col-md-6" id="journalDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Created By :</div>
                                        <div class="col-md-6" id="createdByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Account Ledger</th>
                                    <th style="white-space:nowrap">Dr</th>
                                    <th style="white-space: nowrap;">Cr</th>
                                    <th style="white-space: nowrap;">Memo</th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                            <tbody id="GeneralJournalDetailsModalTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Debit Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="debitAmtTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Credit Amount</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="creditAmtTxt" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <!--<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Edit Journal</button>-->
                <button class="btn btn-danger" onclick="cancelOrder();" id="cancelOrder" type="button"><i class="fa fa-times"></i> Delete Journal</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script type="text/javascript">
      var ledgerIdToViewDetails=@ViewBag.ledgerId;
    </script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Account/AccountLedgerDetails.js"></script>
<script src="~/Scripts/Company/Masters/Account/AccountLedgerEdit.js"></script>
}




