﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Account Ledger";
    var pagePrivileges = ViewBag.pagePrivileges;

    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}

<input type="text" id="companyNName" readonly="readonly" value="@profile.companyName" style="display:none">
<input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display: none ">

<!-- CSS to Align Amount contents to right -->
<style>
    table td:nth-child(5) {
        text-align: right;
    }
</style>

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="btn btn-warning" onclick="printPage();"><i class="fa fa-print"></i> Print this page</button> &nbsp;
                        @{
                            foreach (var item in pagePrivileges)
                            {
                                if (item == "Save")
                                {
                                    @Html.Raw("<a class=\"frmAccountLedger-Save demo-panel-ref-btn btn btn-primary\"" +
                                   " href=\"/Company/AccountLedger/Create\"><i class=\"fa fa-plus-circle\"></i> Create Account</a>" +
                                 "<button style=\"margin-left:5px;\" class=\"demo-panel-ref-btn btn btn-info\" id=\"uploadSupplier\" onclick=\"uploadModal()\"  data-toggle=\"modal\">" +
                                  "<i class=\"fa fa-plus\"></i>  Upload from Excel</button>");
                                }
                            }
                        }

                        <a class="demo-panel-ref-btn btn btn-mint" href="/company/AccountLedger/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>
                    <h3 class="panel-title"> Chart Of Accounts and Balance</h3>
                </div>
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="accountTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Ledger</th>
                                    <th>Account Group</th>
                                    <th>Account Code</th>
                                    <th>Balance</th>
                                    @{
                                        foreach (var item in pagePrivileges)
                                        {
                                            if (item == "View")
                                            {
                                                @Html.Raw("<th>Details</th>");
                                            }
                                        }
                                    }
                                    @{
                                        foreach (var item in pagePrivileges)
                                        {
                                            if (item == "Update")
                                            {
                                                @Html.Raw("<th>Edit</th>");
                                            }
                                        }
                                    }
                                    @{
                                        foreach (var item in pagePrivileges)
                                        {
                                            if (item == "Delete")
                                            {
                                                @Html.Raw("<th>Delete</th>");
                                            }
                                        }
                                    }

                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteProduct"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>

<!--Purchase Invoice Modal Start-->
<div class="modal fade" id="purchaseInvoiceDetailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="purchaseInvoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="purchaseInvoiceOrderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="purchaseInvoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Supplier :</div>
                                        <div class="col-md-6" id="purchaseInvoiceRaisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="purchaseInvoiceRaisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="overflow: auto; white-space: nowrap;">
                            <table class="table table-striped">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        @*<th style="white-space: nowrap;">Unit</th>
                                            <th style="white-space: nowrap;">Store</th>
                                            <th style="white-space: nowrap;">Rack</th>
                                            <th style="white-space: nowrap;">Batch</th>*@
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Amount</th>
                                        <th style="white-space: nowrap;">Discount Amount</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        @*<th style="white-space: nowrap;">Tax</th>*@
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="purchaseInvoiceDetailsTbody"></tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="purchaseInvoiceTotalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Total Tax Amount</label>
                                        <input id="purchaseInvoiceTotalTaxAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Grand Total</label>
                                        <input id="purchaseInvoiceGrandTotal" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                    </div>
                                    @*<div style="text-decoration:underline;font-size:13px;"><b>total amount : </b><strong id="totalamount">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>bill discount : </b><strong>0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Purchase Invoice End-->
<!--ledger import modal start-->

<div class="modal fade" id="uploadLedgerModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Upload Ledger</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body p-1">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <a href="/assets/mat/templates/AccountList.xlsx" target="_blank"><h5><b>CLICK HERE TO DOWNLOAD SAMPLE TEMPLATE</b></h5></a>
                                <div class="col-lg-9 col-sm-12">
                                    <input id="excelfile" type="file" class="dropify" data-height="70" />
                                </div>
                                <div class="col-lg-3 col-sm-12">
                                    <br>
                                    <button onclick="ExportToTable()" type="button" class="btn btn-info "><i class="fa fa-upload"></i> IMPORT DATA</button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover card-table table-bordered table-vcenter table-outline text-nowrap" id="ledgerListToUpload">
                                    <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Account Group</th>
                                            <th scope="col">Narration</th>
                                            <th scope="col">Account No</th>
                                            <th scope="col">Company Name</th>
                                            <th scope="col">Email</th>
                                            <th scope="col">Active</th>
                                            <th scope="col">Account Code</th>
                                            <th scope="col">Address</th>
                                            <th scope="col">State</th>
                                            <th scope="col">Phone</th>
                                            <th scope="col">Mobile</th>
                                            <th scope="col">Credit Limit</th>
                                            <th scope="col">Credit Period</th>
                                            <th scope="col">Pricing Level</th>
                                            <th scope="col">Tin</th>
                                            <th scope="col">Pan</th>
                                            <th scope="col">City</th>
                                            <th scope="col">Branch Name</th>
                                            <th scope="col">Branch Code</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveLedgers" onclick="addNewLedger()" class="btn btn-success btn-labeled fa fa-save">SAVE</button>
            </div>
        </div>
    </div>
</div>
<!--ledger import modal end-->

@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Account/AccountLedger.js"></script>
    <script src="//rawgit.com/saribe/eModal/master/dist/eModal.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script>
        function printPage() {
            var CoyName = $("#companyNName").val();
            var CoyAddress = $("#companyAddress").val();
            var pageTitle = '',
                stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                win = window.open('PrintPage', 'Print', 'width=500,height=700');
            win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                '<link rel="stylesheet" href="' + stylesheet + '">' +
                '<style> ' +
                '.table {width: 100%;}' +
                '@@media print { .table td:last-child { display: none } .table th:last-child { display: none } } ' +
                '.table td:nth-child(4) { text-align: center; } .table th:nth-child(4) { text-align: center; }' +
                '.table td:nth-child(5) { text-align: right; } .table th:nth-child(5) { text-align: right; }' +
                '.table td:nth-child(6) { display: none; } .table th:nth-child(6) { display: none; }' +
                '.table td:nth-child(7) { display: none; } .table th:nth-child(7) { display: none; }' +
                '</style>' +
                '</head>' +
                '<body> <br>' +
                '<div class = "container" style="text-align:center;"><div style="color:#25476A; font-size: 26px; margin: 0px; "><b>' + CoyName + '</b></div>' +
                '<div style="color:#25476A;">' + CoyAddress + '</div><br>' +
                '<div style="color:#25476A; font-size: 20px; margin: 0px"><b>Chart Of Accounts and Balance</b></div>' +
                '<div style="color:#25476A; margin:auto"></div></div>' +
                '<hr>' +
                $('.table')[0].outerHTML +
                '</body></html>');
            win.document.close();
            win.print();
            win.close();
            return false;
        }
    </script>
}

