﻿@{
    ViewBag.Title = "Batch";
    var pagePriviledges = ViewBag.pagePrivileges;
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                <!-- /.box-header -->
                <div class="panel-header">   
                    @{

                        if (pagePriviledges.Contains("Save"))
                        {
                            @Html.Raw("<br /><button style=\"margin-left:8px;\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#addModal\"><i class=\"fa fa-plus-circle\" >" +
                                        "</i> Add Batch</ button > <br />");
                        }

                    }
                   </div >
                    <div class="panel-body">
                        <table id="batchTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Batch No.</th>
                                    <th>Product</th>
                                    <th>Mfg.Date</th>
                                    <th>Expirty Date</th>
                                    @{

                                        if (pagePriviledges.Contains("Update"))
                                        {
                                            @Html.Raw("<th>Edit</th>");
                                        }
                                        if (pagePriviledges.Contains("Delete"))
                                        {
                                            @Html.Raw("<th>Delete</th>");
                                        }

                                    }

                                </tr>
                            </thead>

                        </table>
                    </div>
                    <!-- /.box-body -->
                </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Batch</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Batch Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="batchName" placeholder="Batch Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Product</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="productId" style="width:100%;"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Expiry Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control dateCtrl" id="expiryDate" placeholder="Expiry Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Manufacturing Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control dateCtrl" id="manufacturingDate" placeholder="Manufacturing Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="narration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="save">Add Batch</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Brand</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editBatchId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Batch Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editBatchName" placeholder="Batch Name">
                            </div>
                        </div>
                        <div class="form-group" style="margin-bottom:0px">
                            <label class="col-sm-4 control-label">Product</label>
                            <div class="col-sm-8">
                                <select id="products" class="form-control custBorderStyle"></select>
                             </div>
                         </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Manufacturing Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control dateCtrl" id="editManufacturingDate" placeholder="Manufacturing Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Expiry Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control dateCtrl" id="editExpiryDate" placeholder="Expiry Date">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editNarration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Brand</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteBrandName"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css" />
    <link rel="stylesheet" href="~/Assets/plugins/select2/select2.min.css">

    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script> 
    <script src="~/Assets/plugins/select2/select2.js"></script>   
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/ItemComponents/Batch.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        //$("#productId").chosen({width:"100%"});
    </script>
}

