@{
    ViewBag.Title = "State";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
    var pagePriviledges = ViewBag.pagePrivileges;
}

<div class="row">
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @{
                        foreach (var item in pagePriviledges)
                        {
                            if (item == "Save")
                            {
                                @Html.Raw("<div class=\"panel-control\">" +
                                             "<button class=\"demo-panel-ref-btn btn btn-primary\" id=\"createState\">" +
                                             "<i class=\"fa fa-plus\"></i> New State</button> </div>");
                            }
                        }
                    }

                    <h3 class="panel-title">States</h3>
                </div>
                <div class="panel-body">
                    <table id="stateTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>State</th>
                                <th>Narration</th>
                                @{
                                    foreach (var item in pagePriviledges)
                                    {
                                        if (item == "Update")
                                        {
                                            @Html.Raw("<th>Edit</th>");
                                        }

                                    }
                                }
                                @{
                                    foreach (var item in pagePriviledges)
                                    {
                                        if (item == "Delete")
                                        {
                                            @Html.Raw("<th>Delete</th>");
                                        }

                                    }
                                }
                               
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
<!-- /.content -->
<!--add new Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add States</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">State Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="stateName" placeholder="State Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="narration" placeholder="Narration">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-4 control-label">Extra 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra1" placeholder="Extra">
                            </div>
                        </div>*@
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveState">Add State</button>
            </div>
        </div>
    </div>
</div>


<!--edit Modal -->
<div class="modal fade frmArea-Save hide" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit State</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editStateId" />
                        <input type="hidden" id="editDate" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">State Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editStateName" placeholder="State Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editNarration" placeholder="Narration">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-4 control-label">Extra 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editExtra1" placeholder="Extra">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Extra 2</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editExtra2" placeholder="Extra">
                            </div>
                        </div>*@
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete State</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteStateName"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>



@section pageScripts
{
    <script src="~/Scripts/Company/Masters/States.js?v=@DateTime.Now"></script>
}