﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Balance Sheet";
    if (User.Identity.Name == "")

    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{


    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();

    //string query = string.Empty;
    //MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    //List<tbl_Privilege> rolePriviledges;
    //var db = new DBMATAccounting_MagnetEntities();
    //var roles = db.tbl_Role.ToList();
    //decimal userId = Convert.ToDecimal(User.Identity.Name);
    //query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    //var user = conn.customSelect(query);
    //decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    //rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    //if (rolePriviledges.Any(p => p.formName == "frmFinancialStatementProfitAndLoss" && p.action == "View") == false)
    //{
    //    Response.Redirect("/Security/Login/AccessDenied");
    //}
    ViewBag.Title = "Balance Sheet Report";
}


<style>
    #allReportId td:nth-child(3) {
        text-align: right;
    }

    #allReportId td:nth-child(2) {
        text-align: right;
    }

    #allReportId td:nth-child(4) {
        text-align: right;
    }
</style>


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">From</label><br />
                                    <input type="text" class="form-control" id="fromDate" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control" id="toDate" readonly="readonly" />
                                </div>
                            </div>
                           
                            <div class="col-md-1">
                                <div class="form-group">
                                    <label class="control-label">Include Date Picker</label><br />
                                    <input type="checkbox" onclick="IncludeDatePickerAction(this)" class="form-control" id="IncludeDatePicker" readonly="readonly" />
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Select Year</label><br />
                                    <select class="form-control" onchange="OnFinancialYearChange(this)" id="yearF" name="yearF">
                                        @{
                                            var Result = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancialYear();
                                        }


                                        @foreach (var itm in Result)
                                        {

                                            var dateFinancial = new { FiFromDay = itm.fromDate.Value.Day, FiFromMonth = itm.fromDate.Value.Month, FiFromYear = itm.fromDate.Value.Year, FiToDay = itm.toDate.Value.Day, FiToMonth = itm.toDate.Value.Month, FiToYear = itm.toDate.Value.Year };

                                            <option value="0">All Financial Year</option>
                                            <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(dateFinancial);" onclick="FinancialYearItems(this)">@itm.fromDate.Value.ToShortDateString() -  @itm.toDate.Value.ToShortDateString()</option>
                                        }
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <br />
                                <button class="btn btn-info" type="button" id="viewReport">View Report</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <input type="text" id="companyName" readonly="readonly" value="@profile.companyName" style="display:none">
                                <input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display:none">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive" id="allReportId">
                            <table class="table table-striped table-bordered" id="">
                                @*<thead style="display: block;" id="thead">*@
                                <thead>
                                    <tr><th colspan="4" hidden="hidden"><h2>@profile.companyName</h2></th></tr>
                                    <tr><th colspan="4" hidden="hidden">@profile.address</th></tr>
                                    <tr><th colspan="4" hidden="hidden"><h4>BALANCE SHEET REPORT</h4></th></tr>
                                    <tr>
                                        <th colspan="4" hidden="hidden">
                                            ( From: <span id="fromExcelPrint"></span> To: <span id="toExcelPrint"></span> )
                                        </th>
                                    </tr>
                                    <tr><th colspan="4" hidden="hidden"> </th></tr>
                                    <tr>
                                        <th>Particulars</th>
                                        <th> (N) Cost</th>
                                        <th>(N) Acc Depre.</th>
                                        <th>(N) NBV</th>
                                    </tr>
                                </thead>
                                <tbody id="trialBalanceTbody"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @*<script src="~/Scripts/Reports/FinancialStatements/ProfitAndLoss.js?v=@DateTime.Now"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>

        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#allReportId").table2excel({
                name: "Table2Excel",
                filename: "Balance Sheet Report from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var CoyName = $("#companyName").val();
                var CoyAddress = $("#companyAddress").val();
                var from = Utilities.FormatJsonDate($("#fromDate").val());
                var to = Utilities.FormatJsonDate($("#toDate").val());
                var pageTitle = 'Balance Sheet Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('PrintPage', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' +
                    '<style> table td:nth-child(2) {text-align: right;}' +
                    'table td:nth-child(3) {text-align: right;}' +
                    'table td:nth-child(4) {text-align: right;} </style > ' +
                    '</head><body> <br>' +
                    '<div class = "container" style="text-align:center;"><div style="color:#25476A; font-size: 26px; margin: 0px"><b>' + CoyName + '</b></div>' +
                    '<div style="color:#25476A;">' + CoyAddress + '</div><br>' +
                    '<div style="color:#25476A; font-size: 20px; margin: 0px"><b>BALANCE SHEET REPORT</b></div>' +
                    '<div style="color:#25476A; margin:auto">( From: ' + from + ' To: ' + to + ' )</div></div>' +
                    '<hr>' +
                    $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });



        //new implementation
        function loadRecord(to, from) {
            $("#fromExcelPrint").html(Utilities.FormatJsonDate($("#fromDate").val()));
            $("#toExcelPrint").html(Utilities.FormatJsonDate($("#toDate").val()));
            if (to == undefined) {
                to = '';
            }
            if (from == undefined) {
                from = '';
            }
            $.ajax(API_BASE_URL + `/FinancialStatements/GetBalanceSheetReport/?from=${from}&to=${to}`,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        var html = '';
                        var expensesAccount = "Expenses";
                        var incomeAccount = "Income";
                        var totalIncome = 0.00;
                        var totalCredit = 0.00, totalDebit = 0.00;
                        var totalExpense = 0.00;
                        $("#trialBalanceTbody").html(html);
                        for (var i of data) {
                            var header = `<tr style="background-color: #b3b3b359 !important;">
                                <td > <b>${i.AccountHeadLine} <b></td><td></td><td></td>
                                                                      </tr>`;

                            var item = "";
                            for (var a of i.AccountDetails) {
                                var cost = "";
                                var accDep = "";
                                var nbv = "";
                                a.Npv = parseFloat(a.Npv);
                                a.Cost = parseFloat(a.Cost);
                                a.AccDep = parseFloat(a.AccDep);
                                if (a.Cost < 0) {
                                    cost = ` ( ${Utilities.FormatCurrency(Math.abs(a.Cost)).toString()} )`;
                                } else {
                                    cost = Utilities.FormatCurrency(Math.abs(a.Cost));
                                }

                                if (a.AccDep < 0) {
                                    accDep = ` ( ${Utilities.FormatCurrency(Math.abs(a.AccDep)).toString()} )`;
                                } else {
                                    accDep = Utilities.FormatCurrency(Math.abs(a.AccDep));
                                }
                                if (a.Nbv < 0) {
                                    nbv = ` ( ${Utilities.FormatCurrency(Math.abs(a.Nbv)).toString()} )`;
                                } else {
                                    nbv = Utilities.FormatCurrency(Math.abs(a.Nbv));
                                }
                                if (a.isSubTotal == false) {


                                    if (a.Type == 'C') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td>${nbv}</td>
                                                                        <td></td>
                                                                      </tr>`;
                                    } else if (a.Type == 'R') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>${nbv}</td>
                                                                      </tr>`;
                                    } else if (a.Type == 'L') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td>${nbv}</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                      </tr>`;
                                    } else if (a.Type == 'L-C-R') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td>${cost}</td>
                                                                        <td>${accDep}</td>
                                                                        <td>${nbv}</td>
                                                                      </tr>`;
                                    } else if (a.Type == 'R-H') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>___________________</td>
                                                                      </tr>`;
                                    } else if (a.Type == 'C-R-H') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td>___________________</td>
                                                                        <td>___________________</td>
                                                                      </tr>`;
                                    }

                                } else {
                                    if (a.Type == 'C') {
                                        item += `<tr  style="background-color: #b3b3b359 !important;" >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td>${nbv}</td>
                                                                        <td></td>
                                                                      </tr>`;
                                    } else if (a.Type == 'R') {
                                        item += `<tr  style="background-color: #b3b3b359 !important;" >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>${nbv}</td>
                                                                      </tr>`;
                                    } else if (a.Type == 'L') {
                                        item += `<tr  style="background-color: #b3b3b359 !important;" >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td>${nbv}</td>
                                                                        <td></td>
                                                                        <td></td>
                                                                      </tr>`;
                                    } else if (a.Type == 'L-C-R') {
                                        item += `<tr  style="background-color: #b3b3b359 !important;" >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td>${cost}</td>
                                                                        <td>${accDep}</td>
                                                                        <td>${nbv}</td>
                                                                      </tr>`;
                                    } else if (a.Type == 'R-H') {
                                        item += `<tr >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>___________________</td>
                                                                      </tr>`;
                                    } else if (a.Type == 'C-R-H') {
                                        item += `<tr  >
                                                                        <td > ${a.AccountName} </td>
                                                                        <td></td>
                                                                        <td>___________________</td>
                                                                        <td>___________________</td>
                                                                      </tr>`;
                                    }


                                }

                            }
                            html += header + item;
                        }
                        $("#trialBalanceTbody").html(html);

                    }
                });
        }

        $(function () {
            loadRecord();
            $("#viewReport").click(function (event) {
                event.preventDefault();
                var from = $("#fromDate").val();
                var to = $("#toDate").val();
                loadRecord(to, from);

            });
        })



        //exportReport

        var specialElementHandlers = {
            "#editor": function (element, renderer) {
                return true;
            }
        };

        $("#exportReport").click(function () {

            var pdf = new jsPDF('p', 'pt', 'letter');
            // source can be HTML-formatted string, or a reference
            // to an actual DOM element from which the text will be scraped.
            source = $('#allReportId')[0];

            // we support special element handlers. Register them with jQuery-style
            // ID selector for either ID or node name. ("#iAmID", "div", "span" etc.)
            // There is no support for any other type of selectors
            // (class, of compound) at this time.
            specialElementHandlers = {
                // element with id of "bypass" - jQuery style selector
                '#bypassme': function (element, renderer) {
                    // true = "handled elsewhere, bypass text extraction"
                    return true
                }
            };

            margins = {
                top: 80,
                bottom: 60,
                left: 40,
                width: 522
            };
            // all coords and widths are in jsPDF instance's declared units
            // 'inches' in this case
            pdf.fromHTML(
                source, // HTML string or DOM elem ref.
                margins.left, // x coord
                margins.top, { // y coord
                'width': margins.width, // max width of content on PDF
                'elementHandlers': specialElementHandlers
            },

                function (dispose) {
                    // dispose: object with X, Y of the last line add to the PDF
                    //          this allow the insertion of new lines after html
                    pdf.save('Test.pdf');
                }, margins
            );


            //var doc = new jsPDF();
            //doc.fromHTML($("#allReportId").html(), 15, 0, {
            //  "width": 100,
            //"elementHandlers": specialElementHandlers
            //});
            //doc.save("sample.pdf");
        });

    </script>
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

<script type="text/javascript">

    var dateFrom = null;
    var dateTo = null;

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
        });

        dateFrom = document.getElementById("fromDate");
        dateFrom.readonly = true;

        $("#toDate").datepicker({
            autoclose: true,
        });

        dateTo = document.getElementById("toDate");
        dateTo.readonly = true;

    });

    var isFInclude = false;
    var listFinancialYear = [];

    function IncludeDatePickerAction(obj) {

        if (obj.checked) {
            obj.checked = false;
            isFInclude = false;
            listFinancialYear = null;
            RangeDatePicker();
        }
        else {
            obj.checked = true;
            isFInclude = true;
            listFinancialYear = [];
            RangeDatePicker();
        }
    }

    function FinancialYearItems(obj) {

        listFinancialYear.push({ year: obj.html });
    }

    function OnFinancialYearChange(obj) {

        if (obj.value == null || obj.value == "") {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        if (obj.value != "0") {
            if (isFInclude == false) {
                Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                return;
            }
        }
        else {

            document.getElementById('IncludeDatePicker').checked = false;
            listFinancialYear = null;
            obj.selectedIndex = 0;
            return;
        }

        var dateyerObj = parseJSON(obj.value);
        if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

        if (isFExitList != "-1") {

            Swal.fire({
                title: 'Warning',
                text: "Your have already selected this finanacial year, Do you want to remove finanacial year",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {

                if (result.value) {

                    try {

                        var listFYear = listFinancialYear.findIndex(p => p.year == obj.value);
                        if (listFYear != null && listFYear != "-1") {
                            listFinancialYear.splice(listFYear, 1);
                            RangeDatePicker();
                            return;
                        }

                    }
                    catch (error) {

                    }
                }
                else {

                }

            });
            return;
        }
        else {

            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });

            RangeDatePicker();
            return;
        }
    }

    function RangeDatePicker()
    {
        var dateAllFinancial = null;
        
        $.each(listFinancialYear, function (i, record) {

            dateAllFinancial += new Date(record.FiFromYear, record.FiFromMonth, record.FiFromDay);

        });

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
       
        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
    }

    function parseJSON(data)
    {
        return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
    }
   
</script>




