﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Profit And Loss Standard";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{

    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();

    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmFinancialStatementProfitAndLoss" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    ViewBag.Title = "Profit And Loss (Standard)";
}

<style>
    #profitAndLossId td:nth-child(3) {
        text-align: right;
    }

    #profitAndLossId td:nth-child(2) {
        text-align: right;
    }
</style>


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" style="font-size:14px;">Include Financial Year</label>
                                    <br />
                                    <input type="checkbox" onclick="IncludeDatePickerAction(this)" id="IncludeDatePicker" />
                                </div>
                            </div>



                            <div class="col-md-3" id="FinancialCover">
                                <div class="form-group">
                                    <label class="control-label">Select Year</label><br />
                                    <select class="form-control" onchange="OnFinancialYearChange(this)" id="yearF" name="yearF">
                                        @{
                                            var Result = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancialYear();
                                        }
                                        <option value="0">Current Financial Year</option>
                                        @foreach (var itm in Result)
                                        {
                                            var dateFinancial = new MATClassLibrary.Classes.SP.DatePickerModel() { FiFromDay = itm.fromDate.Value.Day, FiFromMonth = itm.fromDate.Value.Month, FiFromYear = itm.fromDate.Value.Year, FiToDay = itm.toDate.Value.Day, FiToMonth = itm.toDate.Value.Month, FiToYear = itm.toDate.Value.Year };

                                            <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(dateFinancial)" @*onclick="FinancialYearItems(this)"*@>@itm.fromDate.Value.ToShortDateString() -  @itm.toDate.Value.ToShortDateString()</option>
                                        }
                                    </select>
                                    <p id="selectedFinancialYear" style="font-size:9px;"></p>
                                </div>
                            </div>




                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">From</label><br />
                                    <input type="text" class="form-control" id="fromDate" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control" id="toDate" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                                </div>
                            </div>


                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-info" type="button" id="viewReport">View Report</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <input type="text" id="companyName" readonly="readonly" value="@profile.companyName" style="display:none">
                                <input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display:none">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive" id="profitAndLossId">
                            <table class="table table-striped" id="">
                                @*<thead style="display: block;" id="thead">*@
                                <thead>
                                    <tr><th colspan="4" hidden="hidden"><h2>@profile.companyName</h2></th></tr>
                                    <tr><th colspan="4" hidden="hidden">@profile.address</th></tr>
                                    <tr><th colspan="4" hidden="hidden"><h4>PROFIT & LOSS - STANDARD</h4></th></tr>
                                    <tr>
                                        <th colspan="4" hidden="hidden">
                                            ( From: <span id="fromExcelPrint"></span> To: <span id="toExcelPrint"></span> )
                                        </th>
                                    </tr>
                                    <tr><th colspan="4" hidden="hidden"> </th></tr>
                                    <tr>
                                        <th>Particulars</th>
                                        <th><!--Debit--></th>
                                        <th><!--Credit--></th>
                                    </tr>
                                </thead>
                                <tbody id="trialBalanceTbody"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @*<script src="~/Scripts/Reports/FinancialStatements/ProfitAndLoss.js?v=@DateTime.Now"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>

        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#profitAndLossId").table2excel({
                name: "Table2Excel",
                filename: "Profit & Loss Standard from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var CoyName = $("#companyName").val();
                var CoyAddress = $("#companyAddress").val();
                var from = Utilities.FormatJsonDate($("#fromDate").val());
                var to = Utilities.FormatJsonDate($("#toDate").val());
                var pageTitle = 'Profit and Loss Standard',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('PrintPage', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' +
                    '<style> table td:nth-child(3) {text-align: right;} table td:nth-child(2) {text-align: right;} </style>' +
                    '</head><body> <br>' +
                    '<div class = "container" style="text-align:center;"><div style="color:#25476A; font-size: 26px; margin: 0px; "><b>' + CoyName + '</b></div>' +
                    '<div style="color:#25476A;">' + CoyAddress + '</div><br>' +
                    '<div style="color:#25476A; font-size: 20px; margin: 0px"><b>PROFIT & LOSS - STANDARD</b></div>' +
                    '<div style="color:#25476A; margin:auto">( From: ' + from + ' To: ' + to + ' )</div></div>' +
                    '<hr>' +
                    $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });

        //new implementation
        function loadRecord(to, from) {

            Utilities.Loader.Show();

            $("#fromExcelPrint").html(Utilities.FormatJsonDate($("#fromDate").val()));
            $("#toExcelPrint").html(Utilities.FormatJsonDate($("#toDate").val()));
            if (to == undefined) {
                to = '';
            }
            if (from == undefined) {
                from = '';
            }
            $.ajax(API_BASE_URL + `/FinancialStatements/GetProfitAndLossStandard/?from=${from}&to=${to}`,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Hide();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        Utilities.Loader.Hide();
                        var html = '';
                        var expensesAccount = "Expenses";
                        var incomeAccount = "Income";
                        var totalIncome = 0.00;
                        var totalCredit = 0.00, totalDebit = 0.00;
                        var totalExpense = 0.00;
                        $("#trialBalanceTbody").html(html);
                        for (var i of data) {

                            var header = `<tr style="background-color: #b3b3b359 !important; border-bottom:2px solid rgb(150, 192, 241)">
                                                                <th > <b>${i.AccountHeadLine} <b></th><th></th><th></th>
                                                              </tr>`;
                            var item = "";
                            for (var a of i.AccountDetails) {
                                a.Value = parseFloat(a.Value);
                                if (a.Value == 0) {
                                    continue;
                                }
                                var value = "";
                                a.Value = parseFloat(a.Value);
                                if (a.Value < 0) {
                                    value = ` ( ${Utilities.FormatCurrency(Math.abs(a.Value)).toString()} )`;
                                } else {
                                    value = Utilities.FormatCurrency(Math.abs(a.Value));
                                }
                                if (a.isSubTotal == false) {
                                    if (a.Type == 'R') {
                                        item += `<tr>
                                                                <td >${a.AccountName} </td>
                                                                <td></td>
                                                                <td>${value}</td>
                                                              </tr>`;
                                    } else if (a.Type == "L") {
                                        item += `<tr>
                                                                <td>${a.AccountName} </td>
                                                                <td>${value}</td>
                                                                <td></td>
                                                              </tr>`;
                                    } else if (a.Type == "L-H") {
                                        item += `<tr >
                                                                <td>${a.AccountName} </td>
                                                                <td>__________________</td>
                                                                <td></td>
                                                              </tr>`;
                                    }
                                    else if (a.Type == "R-H") {
                                        item += `<tr>
                                                                <td>${a.AccountName} </td>
                                                                <td></td>
                                                                <td>__________________</td>
                                                              </tr>`;
                                    }
                                    else {
                                        item += `<tr>
                                                                <td>${a.AccountName} </td>
                                                                <td>${value}</td>
                                                                <td></td>
                                                              </tr>`;
                                    }

                                } else {
                                    item += `<tr style="" >
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                              </tr>`;
                                    if (a.Type == 'R') {
                                        item += `<tr style="background-color: #b3b3b359 !important;" >
                                                                <td>${a.AccountName} </td>
                                                                <td></td>
                                                                <td>${value}</td>
                                                              </tr>`;
                                    } else if (a.Type == "L") {

                                        item += `<tr style="background-color: #b3b3b359 !important;" >
                                                                <td>${a.AccountName} </td>
                                                                <td>${value}</td>
                                                                <td></td>
                                                              </tr>`;
                                    }
                                    else if (a.Type == "L-H") {
                                        item += `<tr >
                                                                <td>${a.AccountName} </td>
                                                                <td>__________________</td>
                                                                <td></td>
                                                              </tr>`;
                                    }
                                    else if (a.Type == "R-H") {
                                        item += `<tr >
                                                                <td > ${a.AccountName} </td>
                                                                <td></td>
                                                                <td>__________________</td>
                                                              </tr>`;
                                    }
                                    else {
                                        item += `<tr style="background-color: #b3b3b359 !important;" >
                                                                <td>${a.AccountName} </td>
                                                                <td>${value}</td>
                                                                <td></td>
                                                              </tr>`;
                                    }
                                    item += `<tr style="" >
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                              </tr>`;
                                }

                            }
                            html += header + item;

                        }
                        $("#trialBalanceTbody").html(html);

                    }
                });
        }

        $(function () {
           // loadRecord();
            $("#viewReport").click(function (event) {
                event.preventDefault();
                var from = $("#fromDate").val();
                var to = $("#toDate").val();
                loadRecord(to, from);
            });
        })
    </script>
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

@{
    var ResultDate = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

<script type="text/javascript">


    function hideFinancial() {
        $("#FinancialCover").hide();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "none";
        //}
    }

    function showFinancial() {
        $("#FinancialCover").show();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "grid";
        //}
    }

</script>

@if (ResultDate != null)
{

    <script type="text/javascript">


        var BeginYear = @ResultDate.FromDate.AddMonths(-1).Year;
        var BeginMonth = @ResultDate.FromDate.AddMonths(-1).Month;
        var BeginDay = @ResultDate.FromDate.AddMonths(-1).Day;

        var EndYear = @ResultDate.ToDate.AddMonths(-1).Year;
        var EndMonth = @ResultDate.ToDate.AddMonths(-1).Month;
        var EndDay = @(ResultDate.ToDate.AddMonths(-1).Day + 1);

    var dateFrom = null;
    var dateTo = null;

    var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;
        var host = location.origin;

        $(function () {
            hideFinancial();
        ArrangeDateList();

        //dateFrom1 = $("#fromDate");
        //dateTo1 = $("#toDate");

        //dateFrom1.datepicker({
        //    autoclose: true,
        //});

        dateFrom = document.getElementById("fromDate");
        dateFrom.readonly = true;


        //dateTo1.datepicker({
        //    autoclose: true,
        //});

        dateTo = document.getElementById("toDate");
        dateTo.readonly = true;

    });

    function IncludeDatePickerAction(obj) {

        if (obj.checked) {
            /* obj.checked = false;*/
            isFInclude = true;
            listFinancialYear = null;
            listFinancialYear = [];
            showFinancial();
           // RangeDatePicker();
        }
        else {
            /* obj.checked = true;*/
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }
    }

        function BackWordFinancialYear()
        {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

    function FinancialYearItems(obj) {

        //listFinancialYear.push({ year: obj.html });
    }

    function OnFinancialYearChange(obj) {

        if (obj.value == null || obj.value == "") {
            obj.selectedIndex = 0;
            BackWordFinancialYear();
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        if (obj.value != "0") {
            if (isFInclude == false) {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                return;
            }
        }
        else {

            document.getElementById('IncludeDatePicker').checked = false;
            listFinancialYear = null;
            obj.selectedIndex = 0;
            isFInclude = false;
            BackWordFinancialYear();
            return;
        }

        if (listFinancialYear == null) {
            listFinancialYear = [];
        }

        var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

        //$.post(url, { AllDate: obj.value }, function (data, status) {
        //    alert("Data: " + data + "\nStatus: " + status);
        //});

        var dateyerObj = parseJSON(obj.value);
        if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

        if (isFExitList != "-1") {




            Swal.fire({
                title: 'Warning',
                text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {

                if (result.value) {

                    try {

                        listFinancialYear = null;
                        listFinancialYear = [];

                        listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                        RangeDatePicker();

                        //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                        //if (listFYear != null && listFYear != "-1") {
                        //    //listFinancialYear.splice(listFYear, 1);
                        //    return;
                        //}

                        return;
                    }
                    catch (error) {
                        Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                        return;
                    }
                }
                else {

                }
            });
            return;



        }
        else {

            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
            RangeDatePicker();
            return;
        }
    }

    function ArrangeDateList() {
        Utilities.Loader.Show();

        $.ajax({
            url: host + "/FinancialStatements/GetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ data: "Good" }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);

                    Utilities.Loader.Hide();

                    if (result != null && result != "100") {
                        listFinancialYear = result.DatePickers;
                        if (listFinancialYear.length > 0) {
                            document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length ;
                        }
                        else {
                            document.getElementById('selectedFinancialYear').innerHTML = "";
                        }
                        showFinancial();
                        document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                        document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                        isFInclude = true;
                        BindResult(listFinancialYear);
                    }
                    else {

                        dateFrom1 = $("#fromDate");
                        dateTo1 = $("#toDate");

                        dateFrom1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateTo1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;

                    }
                    /// $("#fromDate").datepicker("refresh");

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function BindResult(objList) {
        Utilities.Loader.Show();

        $.ajax({
            url: API_BASE_URL + "/FinancialStatements/GetDateRange",
            type: "Post",
            data: JSON.stringify(objList),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result != null) {

                        $("#fromDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        $("#toDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;
                    }

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function RangeDatePicker() {
        Utilities.Loader.Show();

        // var PostDate = [];
        //  PostDate.listFinancialYear = listFinancialYear;
        var IsChecked = document.getElementById('IncludeDatePicker').checked;
        var SelectedIndex = document.getElementById('yearF').selectedIndex;

        $.ajax({
            url: host + "/FinancialStatements/SetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result == "200") {
                        location.reload();
                    }


                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function parseJSON(data) {
        return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
    }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {


                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        location.reload();
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    location.reload();
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

    </script>
}
else
{
    <script type="text/javascript">

        var dateFrom = null;
        var dateTo = null;

        var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;

        var host = location.origin;

        $(function () {

            hideFinancial();
            ArrangeDateList();
            //dateFrom1 = $("#fromDate");
            //dateTo1 = $("#toDate");

            //dateFrom1.datepicker({
            //    autoclose: true,
            //});

            dateFrom = document.getElementById("fromDate");
            dateFrom.readonly = true;

            //dateTo1.datepicker({
            //    autoclose: true,
            //});

            dateTo = document.getElementById("toDate");
            dateTo.readonly = true;

        });

        function IncludeDatePickerAction(obj) {

            if (obj.checked) {
                /* obj.checked = false;*/
                isFInclude = true;
                listFinancialYear = null;
                listFinancialYear = [];
                showFinancial();
                // RangeDatePicker();
            }
            else {
                /* obj.checked = true;*/
                isFInclude = false;
                listFinancialYear = null;
                document.getElementById('yearF').selectedIndex = 0;
                document.getElementById('selectedFinancialYear').innerHTML = "";
                hideFinancial();
                ClearDateList();
            }
        }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {


                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        location.reload();
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    location.reload();
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }


        function BackWordFinancialYear() {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

        function FinancialYearItems(obj) {

            //listFinancialYear.push({ year: obj.html });
        }

        function OnFinancialYearChange(obj) {

            if (obj.value == null || obj.value == "") {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            if (obj.value != "0") {
                if (isFInclude == false) {
                    obj.selectedIndex = 0;
                    BackWordFinancialYear();
                    Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                    return;
                }
            }
            else {

                document.getElementById('IncludeDatePicker').checked = false;
                listFinancialYear = null;
                obj.selectedIndex = 0;
                isFInclude = false;
                BackWordFinancialYear();
                return;
            }

            if (listFinancialYear == null) {
                listFinancialYear = [];
            }

            var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

            //$.post(url, { AllDate: obj.value }, function (data, status) {
            //    alert("Data: " + data + "\nStatus: " + status);
            //});

            var dateyerObj = parseJSON(obj.value);
            if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

            if (isFExitList != "-1") {


                Swal.fire({
                    title: 'Warning',
                    text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {

                    if (result.value) {

                        try {

                            listFinancialYear = null;
                            listFinancialYear = [];

                            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                            RangeDatePicker();

                            //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                            //if (listFYear != null && listFYear != "-1") {
                            //    //listFinancialYear.splice(listFYear, 1);
                            //    return;
                            //}

                            return;
                        }
                        catch (error) {
                            Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                            return;
                        }
                    }
                    else {

                    }
                });
                return;
            }
            else {

                listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                RangeDatePicker();
                return;
            }
        }

        function ArrangeDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/GetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();

                        if (result != null && result != "100") {
                            listFinancialYear = result.DatePickers;
                            if (listFinancialYear.length > 0) {
                                document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length;
                            }
                            else {
                                document.getElementById('selectedFinancialYear').innerHTML = "";
                            }
                            showFinancial();
                            document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                            document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                            isFInclude = true;
                            BindResult(listFinancialYear);
                        }
                        else {

                            dateFrom1 = $("#fromDate");
                            dateTo1 = $("#toDate");

                            dateFrom1.datepicker({
                                autoclose: true,
                            });

                            dateTo1.datepicker({
                                autoclose: true,
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;

                        }
                        /// $("#fromDate").datepicker("refresh");

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BindResult(objList) {
            Utilities.Loader.Show();

            $.ajax({
                url: API_BASE_URL + "/FinancialStatements/GetDateRange",
                type: "Post",
                data: JSON.stringify(objList),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result != null) {

                            $("#fromDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            $("#toDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function RangeDatePicker() {
            Utilities.Loader.Show();

            // var PostDate = [];
            //  PostDate.listFinancialYear = listFinancialYear;
            var IsChecked = document.getElementById('IncludeDatePicker').checked;
            var SelectedIndex = document.getElementById('yearF').selectedIndex;

            $.ajax({
                url: host + "/FinancialStatements/SetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result == "200") {
                            location.reload();
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function parseJSON(data) {
            return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
        }

    </script>

}

@if (ResultDate != null)
{

    <script type="text/javascript">

        var BeginYear1 = @ResultDate.FromDate.Year;
        var BeginMonth1 = @ResultDate.FromDate.Month;
        var BeginDay1 = @ResultDate.FromDate.Day;

         var EndYear1 = @ResultDate.ToDate.Year;
         var EndMonth1 = @ResultDate.ToDate.Month;
         var EndDay1 = @ResultDate.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            loadRecord($("#toDate").val(), $("#fromDate").val());
        })

    </script>

}

