﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Profit And Loss";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}

@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmFinancialStatementProfitAndLoss" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    ViewBag.Title = "Profit And Loss (Conventional)";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">From</label><br />
                                    <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-info" type="button" id="viewReport">View Report</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left" style="display:none;">
                                <button class="btn btn-primary btn-labeled fa fa-download"> Export</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="">
                                @*<thead style="display: block;" id="thead">*@
                                <thead>
                                    <tr>
                                        <th>Particulars</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody id="trialBalanceTbody"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Reports/FinancialStatements/ProfitAndLoss.js?v=@DateTime.Now"></script>
    <script >
        //new implementation 
        //function loadRecord(to, from) {
        //    if (to == undefined) {
        //        to = '';
        //    }
        //    if (from == undefined) {
        //        from = '';
        //    }
        //    $.ajax(API_BASE_URL + `/FinancialStatements/GetProfitLossConvention/?from=${from}&to=${to}`,
        //        {
        //            type: "get",
        //            beforeSend: function() {

        //            },
        //            complete: function() {

        //            },
        //            success: function(data) {
        //                var html = '';
        //                var expensesAccount = "Expenses";
        //                var incomeAccount = "Income";
        //                var totalIncome = 0.00;
        //                var totalCredit = 0.00, totalDebit = 0.00;
        //                var totalExpense = 0.00;
        //                $("#trialBalanceTbody").html(html);
        //                for (var i of data) {
        //                    var header = `<tr style="background-color: #b3b3b359 !important;">
        //                                    <td > <b>${i.AccountGroups.accountGroupName} <b></td><td></td><td></td>
        //                                  </tr>`;
        //                    var subCredit = 0.00, subDebit = 0.00;
        //                    html += header;
        //                    var accountId = i.AccountGroups.accountGroupId;
        //                    var accountNature = i.AccountGroups.nature;
        //                    for (var al of i.AccountLedgers) {
        //                        var creditSum = 0.0;
        //                        var debitSum = 0.0;
        //                        var ledgerName = al.Ledgers.ledgerName;
        //                        for (var l of al.Transactions) {
        //                            if (al.Ledgers.ledgerId == l.ledgerId) {

        //                                debitSum += l.debit;
        //                                creditSum += l.credit;
        //                            }
        //                        }

        //                        if (creditSum > 0 && debitSum > 0) {
        //                            //check the account natue
        //                            var debitDiff = 0;
        //                            debitDiff = debitSum - creditSum;
        //                            if (accountNature.toLowerCase() == expensesAccount.toLowerCase()) {

        //                                if (debitDiff < 0) {
        //                                    creditSum = 0.00;
        //                                    debitSum = debitDiff;
        //                                }
        //                                if (debitDiff > 0) {
        //                                    creditSum = 0.00;
        //                                    debitSum = debitDiff;
        //                                }

        //                            }
        //                            if (accountNature.toLowerCase() == incomeAccount.toLowerCase()) {
        //                                if (debitDiff < 0) {
        //                                    creditSum = debitDiff;
        //                                    debitSum = 0.00;
        //                                }
        //                                if (debitDiff > 0) {
        //                                    creditSum = debitDiff;
        //                                    debitSum = 0.00;
        //                                }
        //                            }
        //                            if (debitDiff == 0) {
        //                                creditSum = 0.00;
        //                                debitSum = 0.00;
        //                            }
        //                        }
        //                        if (accountNature.toLowerCase() == incomeAccount.toLowerCase()) {
        //                            if (debitSum > 0) {

        //                                creditSum = -debitSum; 
        //                                debitSum = 0.0;
        //                            }
        //                        } 

        //                        if (accountNature.toLowerCase() == expensesAccount.toLowerCase()) {
        //                            if (creditSum > 0) {

        //                                debitSum = -creditSum; 
        //                                creditSum = 0.0;
        //                            }
        //                        }
        //                        var record = `<tr><td>${ledgerName}</td><td>${debitSum}</td><td>${creditSum}</td></tr>`;
        //                        html += record;
        //                        subCredit += creditSum;
        //                        subDebit += debitSum;
        //                    }
        //                    var subFooter = `<tr style="background-color: #ececec59 !important;  border: 1px solid black;">
        //                                    <td> <b>Sub total <b></td>
        //                                    <td>${subDebit}</td>
        //                                    <td>${subCredit}</td>
        //                                  </tr>`;
        //                    html += subFooter;
        //                }
        //                $("#trialBalanceTbody").html(html);

        //            }
        //        });
        //}

        //$(function() {
        //    loadRecord();
        //    $("#viewReport").click(function(event) {
        //        event.preventDefault();
        //        var from = $("#fromDate").val();
        //        var to = $("#toDate").val();
        //        loadRecord(to, from);

        //    });
        //})
    </script>
}