﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Trial Balance";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmFinancialStatementTrialBalance" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="viewReport">View Report</button>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left" style="display:none;">
                                <button class="btn btn-primary btn-labeled fa fa-download"> Export</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="">
                                @*<thead style="display: block;" id="thead">*@
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Particulars</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                    </tr>
                                </thead>
                                <tbody id="trialBalanceTbody"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Reports/FinancialStatements/TrialBalance.js"></script>

    @*<script>
        $("#viewReport").click(function(event) {
            event.preventDefault();
            $("#trialBalanceTbody").html("");

            var debitSum = 0.00;
            var creditSum = 0.00;
            var accountPayable = 22;
            var accountRecieveable = 26;
            $.ajax(API_BASE_URL + "/FinancialStatements/GetTrialBalance/?dateTime=" + $("#toDate").val(),
                {

                    type: "get",
                    before: () => {
                        Utilities.Loader.Show();
                    },
                    complete: () => {
                        Utilities.Loader.Hide();
                    },
                    success: (data) => {
                        var sl = 1;
                        var stock = `<tr>
                                        <th>${sl}</th>
                                        <th>${data.stock.accountName}</th>
                                        <th>${data.stock.debit}</th>
                                        <th>${data.stock.credit}</th>
                                        </tr>`;
                        creditSum += data.stock.credit;
                        debitSum += data.stock.debit;
                        $("#trialBalanceTbody").append(stock);
                       
                        data.groups.forEach(a => {
                            //get all account recievable account records 
                            var ledgerName = "";
                            if (a.Account.accountGroupId == accountRecieveable) {
                                sl += 1; 
                                ledgerName = a.Account.accountGroupName;
                                var credit = 0.0;
                                var debit = 0.0;
                                if (a.Ledgers != null || a.Ledgers != undefined ) {

                                    a.Ledgers.forEach(b => {
                                        // loop through all transactions inside the ledger posting 
                                        if (b.Transactions.length > 0) {
                                            b.Transactions.forEach(c => {
                                                credit += c.credit;
                                                debit += c.debit;
                                            });
                                        }
                                    });
                                    var html = `<tr>
                                        <th>${sl}</th>
                                        <th>${ledgerName}</th>
                                        <th>${debit}</th>
                                        <th>${credit}</th>
                                        </tr>`;
                                    $("#trialBalanceTbody").append(html);
                                    creditSum += credit;
                                    debitSum += debit; 
                                }
                            } 
                            // get all account payable records

                        if (a.Account.accountGroupId === accountPayable) {
                                sl += 1; 
                              ledgerName = a.Account.accountGroupName;
                                var credit1 = 0.0;
                                var debit1 = 0.0;
                                if (a.Ledgers != null || a.Ledgers != undefined ) {

                                    a.Ledgers.forEach(b => {
                                        // loop through all transactions inside the ledger posting 
                                        if (b.Transactions.length > 0) {
                                            b.Transactions.forEach(c => {
                                                credit1 += c.credit;
                                                debit1 += c.debit;
                                            });
                                        }
                                    });
                                    var html1 = `<tr>
                                        <th>${sl}</th>
                                        <th>${ledgerName}</th>
                                        <th>${debit1}</th>
                                        <th>${credit1}</th>
                                        </tr>`;
                                    $("#trialBalanceTbody").append(html1);
                                    creditSum += credit1;
                                    debitSum += debit1; 
                                }
                            } 
                            //get all other accounts 
                            if (a.Account.accountGroupId !== accountPayable && a.Account.accountGroupId !== accountRecieveable ) { 
                                
                                if (a.Ledgers != null || a.Ledgers != undefined ) {
                                    a.Ledgers.forEach(b => {
                                        if (b.Transactions.length > 0) {
                                            sl += 1;
                                            var ledgerName = "";
                                            var credit = 0.0;
                                            var debit = 0.0;
                                            ledgerName = b.Ledger.ledgerName;
                                            //   b.Transactions = b.Transactions.filter(f => f.debit != 0 && f.credit != 0);
                                            b.Transactions.forEach(c => {
                                              
                                                
                                                credit += c.credit;
                                                debit += c.debit; 

                                            }); 
                                            var debitDiff = 0.0;
                                            if (credit > 0.0 && debit > 0.0) {
                                                debitDiff = debit - credit;
                                                if (debitDiff > 0) {
                                                    debit = debitDiff;
                                                    credit = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit = 0.0;
                                                    credit = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit = 0.0;
                                                    credit = 0.0;                                                }
                                            }
                                            var html = `<tr>
                                        <th>${sl}</th>
                                        <th>${ledgerName}</th>
                                        <th>${debit}</th>
                                        <th>${credit}</th>
                                        </tr>`;
                                            $("#trialBalanceTbody").append(html);
                                            creditSum += credit;
                                            debitSum += debit; 
                                        }
                                    });
                                }
                            }
                        
                        });
                        sl += 1;
                        var html = `<tr>
                                        <th>${sl}</th>
                                        <th> <b> Total </b> </th>
                                        <th>${debitSum}</th>
                                        <th>${creditSum}</th>
                                        </tr>`;
                        $("#trialBalanceTbody").append(html);

                    }
                });
        })
    </script>*@
}




