﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Trial Balance";
}

<style>
    #trialBalanceTbody td:last-child {
        text-align: right;
    }

    #trialBalanceTbody th:last-child {
        text-align: right;
    }

    #trialBalanceTbody td:nth-child(3) {
        text-align: right;
    }

    #trialBalanceTbody th:nth-child(3) {
        text-align: right;
    }
</style>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" style="font-size:14px;">Include Financial Year</label>
                                    <br />
                                    <input type="checkbox" onclick="IncludeDatePickerAction(this)" id="IncludeDatePicker" />
                                </div>
                            </div>

                            <div class="col-md-3" id="FinancialCover">
                                <div class="form-group">
                                    <label class="control-label">Select Year</label><br />
                                    <select class="form-control" onchange="OnFinancialYearChange(this)" id="yearF">
                                        @{
                                            var Result = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancialYear();
                                        }
                                        <option value="0">Current Financial Year</option>
                                        @foreach (var itm in Result)
                                        {
                                            var dateFinancial = new MATClassLibrary.Classes.SP.DatePickerModel() { FiFromDay = itm.fromDate.Value.Day, FiFromMonth = itm.fromDate.Value.Month, FiFromYear = itm.fromDate.Value.Year, FiToDay = itm.toDate.Value.Day, FiToMonth = itm.toDate.Value.Month, FiToYear = itm.toDate.Value.Year };


                                            <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(dateFinancial)" @*onclick="FinancialYearItems(this)"*@>@itm.fromDate.Value.ToShortDateString() -  @itm.toDate.Value.ToShortDateString()</option>
                                        }
                                    </select>
                                    <p id="selectedFinancialYear" style="font-size:9px;"></p>
                                </div>
                            </div>



                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="hidden" class="form-control" id="fromDate" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                                    <input type="text" class="form-control" id="toDate" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                                </div>
                            </div>


                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="viewReport">View Report</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left" style="display:none;">
                                <button class="btn btn-primary btn-labeled fa fa-download"> Export</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="">
                                @*<thead style="display: block;" id="thead">*@
                                <thead>
                                    <tr>
                                        <th>   </th>
                                        <th>Particulars</th>
                                        <th style="text-align: right">Debit</th>
                                        <th style="text-align: right">Credit</th>
                                    </tr>
                                </thead>
                                <tbody id="trialBalanceTbody"></tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    @*<script src="~/Scripts/Reports/FinancialStatements/TrialBalance.js"></script>*@

    <script type="text/javascript">
        $("#viewReport").click(function (event) {
            event.preventDefault();
            Utilities.Loader.Show();
            $("#trialBalanceTbody").html("");

            var debitSum = 0.00;
            var creditSum = 0.00;
            var accountPayable = 22;
            var accountRecieveable = 26;
            $.ajax(API_BASE_URL + "/FinancialStatements/GetTrialBalance/?dateTime=" + $("#toDate").val(),
                {
                    type: "get",
                    before: () => {
                        Utilities.Loader.Show();
                    },
                    complete: () => {
                        Utilities.Loader.Hide();
                    },
                    success: (data) => {
                        var sl = 1;
                        Utilities.Loader.Show();
                        var stock = `<tr>
                                                <td>${''}</td>
                                                <th>${data.stock.accountName}</th>
                                                <th>${Utilities.FormatCurrency(data.stock.debit)}</th>
                                                <th>${Utilities.FormatCurrency(data.stock.credit)}</th>
                                                </tr>`;
                        creditSum += data.stock.credit;
                        debitSum += data.stock.debit;
                        $("#trialBalanceTbody").append(stock);
                        hideLoader();

                        ///sort arra
                        data.groups.forEach(a => {
                            //get all account recievable account records
                            var ledgerName = "";
                            if (a.Account.accountGroupId == accountRecieveable) {
                                sl += 1;
                                ledgerName = a.Account.accountGroupName;
                                var credit = 0.0;
                                var debit = 0.0;
                                if (a.Ledgers != null || a.Ledgers != undefined) {

                                    a.Ledgers.forEach(b => {
                                        // loop through all transactions inside the ledger posting
                                        if (b.Transactions.length > 0) {
                                            b.Transactions.forEach(c => {
                                                credit += c.credit;
                                                debit += c.debit;
                                            });
                                            var debitDiff = 0.0;
                                            if (credit > 0.0 && debit > 0.0) {
                                                debitDiff = debit - credit;
                                                if (debitDiff > 0) {
                                                    debit = debitDiff;
                                                    credit = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit = 0.0;
                                                    credit = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit = 0.0;
                                                    credit = 0.0;
                                                }
                                            }
                                        }
                                    });
                                    var html = `<tr>
                                                 <td>${''}</td>
                                                <td>${ledgerName}</td>
                                                <td>${Utilities.FormatCurrency(debit)}</td>
                                                <td>${Utilities.FormatCurrency(credit)}</td>
                                                </tr>`;
                                    $("#trialBalanceTbody").append(html);
                                    creditSum += credit;
                                    debitSum += debit;
                                }
                            }
                            // get all account payable records

                            if (a.Account.accountGroupId === accountPayable) {
                                sl += 1;
                                ledgerName = a.Account.accountGroupName;
                                var credit1 = 0.0;
                                var debit1 = 0.0;
                                if (a.Ledgers != null || a.Ledgers != undefined) {

                                    a.Ledgers.forEach(b => {
                                        // loop through all transactions inside the ledger posting
                                        if (b.Transactions.length > 0) {
                                            b.Transactions.forEach(c => {
                                                credit1 += c.credit;
                                                debit1 += c.debit;
                                            });
                                            var debitDiff = 0.0;
                                            if (credit1 > 0.0 && debit1 > 0.0) {
                                                debitDiff = debit1 - credit1;
                                                if (debitDiff > 0) {
                                                    debit1 = debitDiff;
                                                    credit1 = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit1 = 0.0;
                                                    credit1 = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit1 = 0.0;
                                                    credit1 = 0.0;
                                                }
                                            }
                                        }
                                    });
                                    var html1 = `<tr>
                                                <td>${''}</td>
                                                <td>${ledgerName}</td>
                                                <td>${Utilities.FormatCurrency(debit1)}</td>
                                                <td>${Utilities.FormatCurrency(credit1)}</td>
                                                </tr>`;
                                    $("#trialBalanceTbody").append(html1);
                                    creditSum += credit1;
                                    debitSum += debit1;
                                }
                            }
                            //get all other accounts
                            if (a.Account.accountGroupId !== accountPayable &&
                                a.Account.accountGroupId !== accountRecieveable) {

                                if (a.Ledgers != null || a.Ledgers != undefined) {
                                    a.Ledgers.forEach(b => {
                                        if (b.Transactions.length > 0) {
                                            sl += 1;
                                            var ledgerName = "";
                                            var credit = 0.0;
                                            var debit = 0.0;
                                            ledgerName = b.Ledger.ledgerName;
                                            //   b.Transactions = b.Transactions.filter(f => f.debit != 0 && f.credit != 0);
                                            b.Transactions.forEach(c => {


                                                credit += c.credit;
                                                debit += c.debit;

                                            });
                                            var debitDiff = 0.0;
                                            if (credit > 0.0 && debit > 0.0) {
                                                debitDiff = debit - credit;
                                                if (debitDiff > 0) {
                                                    debit = debitDiff;
                                                    credit = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit = 0.0;
                                                    credit = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit = 0.0;
                                                    credit = 0.0;
                                                }
                                            }
                                            var html = `<tr>
                                                 <td>${''}</td>
                                                <td>${ledgerName}</td>
                                                <td>${Utilities.FormatCurrency(debit)}</td>
                                                <td>${Utilities.FormatCurrency(credit)}</td>
                                                </tr>`;
                                            $("#trialBalanceTbody").append(html);
                                            creditSum += credit;
                                            debitSum += debit;
                                        }
                                    });
                                }
                            }

                        });

                        sl += 1;
                        var html = `<tr>
                                                 <td>${''}</td>
                                                <th> <b> Total </b> </th>
                                                <th>${Utilities.FormatCurrency(debitSum)}</th>
                                                <th>${Utilities.FormatCurrency(creditSum)}</th>
                                                </tr>`;
                        $("#trialBalanceTbody").append(html);

                    }
                });
        })

        function LoadData(toDate)
        {

            $("#trialBalanceTbody").html("");
            Utilities.Loader.Show();
            var debitSum = 0.00;
            var creditSum = 0.00;
            var accountPayable = 22;
            var accountRecieveable = 26;  
            $.ajax(API_BASE_URL + "/FinancialStatements/GetTrialBalance/?dateTime=" + toDate,
                {
                    type: "get",
                    before: () => {
                        Utilities.Loader.Show();
                    },
                    complete: () => {
                        Utilities.Loader.Hide();
                    },
                    success: (data) => {
                        var sl = 1;
                      
                        var stock = `<tr>
                                                 <td>${''}</td>
                                                <th>${data.stock.accountName}</th>
                                                <th>${Utilities.FormatCurrency(data.stock.debit)}</th>
                                                <th>${Utilities.FormatCurrency(data.stock.credit)}</th>
                                                </tr>`;
                        creditSum += data.stock.credit;
                        debitSum += data.stock.debit;
                        $("#trialBalanceTbody").append(stock);
                        hideLoader();

                        ///sort arra
                        data.groups.forEach(a => {
                            //get all account recievable account records
                            var ledgerName = "";
                            if (a.Account.accountGroupId == accountRecieveable)
                            {
                                sl += 1;
                                ledgerName = a.Account.accountGroupName;
                                var credit = 0.0;
                                var debit = 0.0;
                                if (a.Ledgers != null || a.Ledgers != undefined) {

                                    a.Ledgers.forEach(b => {
                                        // loop through all transactions inside the ledger posting
                                        if (b.Transactions.length > 0) {
                                            b.Transactions.forEach(c => {
                                                credit += c.credit;
                                                debit += c.debit;
                                            });
                                            var debitDiff = 0.0;
                                            if (credit > 0.0 && debit > 0.0) {
                                                debitDiff = debit - credit;
                                                if (debitDiff > 0) {
                                                    debit = debitDiff;
                                                    credit = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit = 0.0;
                                                    credit = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit = 0.0;
                                                    credit = 0.0;
                                                }
                                            }
                                        }
                                    });
                                    var html = `<tr>
                                               <td>${''}</td>
                                                <td>${ledgerName}</td>
                                                <td>${Utilities.FormatCurrency(debit)}</td>
                                                <td>${Utilities.FormatCurrency(credit)}</td>
                                                </tr>`;
                                    $("#trialBalanceTbody").append(html);
                                    creditSum += credit;
                                    debitSum += debit;
                                }
                            }
                            // get all account payable records

                            if (a.Account.accountGroupId == accountPayable) {
                                sl += 1;
                                ledgerName = a.Account.accountGroupName;
                                var credit1 = 0.0;
                                var debit1 = 0.0;
                                if (a.Ledgers != null || a.Ledgers != undefined) {

                                    a.Ledgers.forEach(b => {
                                        // loop through all transactions inside the ledger posting
                                        if (b.Transactions.length > 0) {
                                            b.Transactions.forEach(c => {
                                                credit1 += c.credit;
                                                debit1 += c.debit;
                                            });
                                            var debitDiff = 0.0;
                                            if (credit1 > 0.0 && debit1 > 0.0) {
                                                debitDiff = debit1 - credit1;
                                                if (debitDiff > 0) {
                                                    debit1 = debitDiff;
                                                    credit1 = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit1 = 0.0;
                                                    credit1 = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit1 = 0.0;
                                                    credit1 = 0.0;
                                                }
                                            }
                                        }
                                    });
                                    var html1 = `<tr>
                                               <td>${''}</td>
                                                <td>${ledgerName}</td>
                                                <td>${Utilities.FormatCurrency(debit1)}</td>
                                                <td>${Utilities.FormatCurrency(credit1)}</td>
                                                </tr>`;
                                    $("#trialBalanceTbody").append(html1);
                                    creditSum += credit1;
                                    debitSum += debit1;
                                }
                            }
                            //get all other accounts
                            if (a.Account.accountGroupId !== accountPayable &&
                                a.Account.accountGroupId !== accountRecieveable) {

                                if (a.Ledgers != null || a.Ledgers != undefined) {
                                    a.Ledgers.forEach(b => {
                                        if (b.Transactions.length > 0) {
                                            sl += 1;
                                            var ledgerName = "";
                                            var credit = 0.0;
                                            var debit = 0.0;
                                            ledgerName = b.Ledger.ledgerName;
                                            //   b.Transactions = b.Transactions.filter(f => f.debit != 0 && f.credit != 0);
                                            b.Transactions.forEach(c => {


                                                credit += c.credit;
                                                debit += c.debit;

                                            });
                                            var debitDiff = 0.0;
                                            if (credit > 0.0 && debit > 0.0) {
                                                debitDiff = debit - credit;
                                                if (debitDiff > 0) {
                                                    debit = debitDiff;
                                                    credit = 0.0;
                                                } else if (debitDiff < 0) {
                                                    debit = 0.0;
                                                    credit = Math.abs(debitDiff);
                                                } else if (debitDiff == 0) {
                                                    debit = 0.0;
                                                    credit = 0.0;
                                                }
                                            }
                                            var html = `<tr>
                                                 <td>${''}</td>
                                                <td>${ledgerName}</td>
                                                <td>${Utilities.FormatCurrency(debit)}</td>
                                                <td>${Utilities.FormatCurrency(credit)}</td>
                                                </tr>`;
                                            $("#trialBalanceTbody").append(html);
                                            creditSum += credit;
                                            debitSum += debit;
                                        }
                                    });
                                }
                            }

                        });

                        sl += 1;
                        var html = `<tr>
                                                 <td>${''}</td>
                                                <th> <b> Total </b> </th>
                                                <th>${Utilities.FormatCurrency(debitSum)}</th>
                                                <th>${Utilities.FormatCurrency(creditSum)}</th>
                                                </tr>`;
                        $("#trialBalanceTbody").append(html);

                    }
                });

        }

    </script>
}


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

@{
    var ResultDate = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

<script type="text/javascript">


    function hideFinancial() {
        $("#FinancialCover").hide();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "none";
        //}
    }

    function showFinancial() {
        $("#FinancialCover").show();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "grid";
        //}
    }

</script>

@if (ResultDate != null)
{
    <script type="text/javascript">

        var BeginYear = @ResultDate.FromDate.AddMonths(-1).Year;
        var BeginMonth = @ResultDate.FromDate.AddMonths(-1).Month;
        var BeginDay = @ResultDate.FromDate.AddMonths(-1).Day;

        var EndYear = @ResultDate.ToDate.AddMonths(-1).Year;
        var EndMonth = @ResultDate.ToDate.AddMonths(-1).Month;
        var EndDay = @(ResultDate.ToDate.AddMonths(-1).Day + 1);

    var dateFrom = null;
    var dateTo = null;

    var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;
        var host = location.origin;

        $(function () {
            hideFinancial();
        ArrangeDateList();

        //dateFrom1 = $("#fromDate");
        //dateTo1 = $("#toDate");

        //dateFrom1.datepicker({
        //    autoclose: true,
        //});

        dateFrom = document.getElementById("fromDate");
        dateFrom.readonly = true;


        //dateTo1.datepicker({
        //    autoclose: true,
        //});

        dateTo = document.getElementById("toDate");
        dateTo.readonly = true;

    });

    function IncludeDatePickerAction(obj) {

        if (obj.checked) {
            /* obj.checked = false;*/
            isFInclude = true;
            listFinancialYear = null;
            listFinancialYear = [];
            showFinancial();
           // RangeDatePicker();
        }
        else {
            /* obj.checked = true;*/
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }
    }

        function BackWordFinancialYear()
        {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

    function FinancialYearItems(obj) {

        //listFinancialYear.push({ year: obj.html });
    }

    function OnFinancialYearChange(obj) {

        if (obj.value == null || obj.value == "") {
            obj.selectedIndex = 0;
            BackWordFinancialYear();
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        if (obj.value != "0") {
            if (isFInclude == false) {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                return;
            }
        }
        else {

            document.getElementById('IncludeDatePicker').checked = false;
            listFinancialYear = null;
            obj.selectedIndex = 0;
            isFInclude = false;
            BackWordFinancialYear();
            return;
        }

        if (listFinancialYear == null) {
            listFinancialYear = [];
        }

        var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

        //$.post(url, { AllDate: obj.value }, function (data, status) {
        //    alert("Data: " + data + "\nStatus: " + status);
        //});

        var dateyerObj = parseJSON(obj.value);
        if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

        if (isFExitList != "-1") {


            Swal.fire({
                title: 'Warning',
                text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {

                if (result.value) {

                    try {

                        listFinancialYear = null;
                        listFinancialYear = [];

                        listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                        RangeDatePicker();

                        //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                        //if (listFYear != null && listFYear != "-1") {
                        //    //listFinancialYear.splice(listFYear, 1);
                        //    return;
                        //}

                        return;
                    }
                    catch (error) {
                        Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                        return;
                    }
                }
                else {

                }
            });
            return;
        }
        else {

            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
            RangeDatePicker();
            return;
        }
    }

    function ArrangeDateList() {
        Utilities.Loader.Show();

        $.ajax({
            url: host + "/FinancialStatements/GetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ data: "Good" }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);

                    Utilities.Loader.Hide();

                    if (result != null && result != "100") {
                        listFinancialYear = result.DatePickers;
                        if (listFinancialYear.length > 0) {
                            document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length ;
                        }
                        else {
                            document.getElementById('selectedFinancialYear').innerHTML = "";
                        }
                        showFinancial();
                        document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                        document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                        isFInclude = true;
                        BindResult(listFinancialYear);
                    }
                    else {

                        dateFrom1 = $("#fromDate");
                        dateTo1 = $("#toDate");

                        dateFrom1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateTo1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;

                    }
                    /// $("#fromDate").datepicker("refresh");

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function BindResult(objList) {
        Utilities.Loader.Show();

        $.ajax({
            url: API_BASE_URL + "/FinancialStatements/GetDateRange",
            type: "Post",
            data: JSON.stringify(objList),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result != null) {

                        $("#fromDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        $("#toDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;
                    }

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function RangeDatePicker() {
        Utilities.Loader.Show();

        // var PostDate = [];
        //  PostDate.listFinancialYear = listFinancialYear;
        var IsChecked = document.getElementById('IncludeDatePicker').checked;
        var SelectedIndex = document.getElementById('yearF').selectedIndex;

        $.ajax({
            url: host + "/FinancialStatements/SetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result == "200") {
                        location.reload();
                    }


                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function parseJSON(data) {
        return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
    }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {

                        location.reload();
                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }
                    location.reload();
                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

    </script>
}
else
{
    <script type="text/javascript">

        var dateFrom = null;
        var dateTo = null;

        var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;

        var host = location.origin;

        $(function () {

            hideFinancial();
            ArrangeDateList();
            //dateFrom1 = $("#fromDate");
            //dateTo1 = $("#toDate");

            //dateFrom1.datepicker({
            //    autoclose: true,
            //});

            dateFrom = document.getElementById("fromDate");
            dateFrom.readonly = true;

            //dateTo1.datepicker({
            //    autoclose: true,
            //});

            dateTo = document.getElementById("toDate");
            dateTo.readonly = true;

        });

        function IncludeDatePickerAction(obj) {

            if (obj.checked) {
                /* obj.checked = false;*/
                isFInclude = true;
                listFinancialYear = null;
                listFinancialYear = [];
                showFinancial();
                // RangeDatePicker();
            }
            else {
                /* obj.checked = true;*/
                isFInclude = false;
                listFinancialYear = null;
                document.getElementById('yearF').selectedIndex = 0;
                document.getElementById('selectedFinancialYear').innerHTML = "";
                hideFinancial();
                ClearDateList();
            }
        }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {

                        location.reload();
                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }
                    location.reload();
                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BackWordFinancialYear() {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

        function FinancialYearItems(obj) {

            //listFinancialYear.push({ year: obj.html });
        }

        function OnFinancialYearChange(obj) {

            if (obj.value == null || obj.value == "") {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            if (obj.value != "0") {
                if (isFInclude == false) {
                    obj.selectedIndex = 0;
                    BackWordFinancialYear();
                    Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                    return;
                }
            }
            else {

                document.getElementById('IncludeDatePicker').checked = false;
                listFinancialYear = null;
                obj.selectedIndex = 0;
                isFInclude = false;
                BackWordFinancialYear();
                return;
            }

            if (listFinancialYear == null) {
                listFinancialYear = [];
            }

            var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

            //$.post(url, { AllDate: obj.value }, function (data, status) {
            //    alert("Data: " + data + "\nStatus: " + status);
            //});

            var dateyerObj = parseJSON(obj.value);
            if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

            if (isFExitList != "-1") {




                Swal.fire({
                    title: 'Warning',
                    text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {

                    if (result.value) {

                        try {

                            listFinancialYear = null;
                            listFinancialYear = [];

                            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                            RangeDatePicker();

                            //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                            //if (listFYear != null && listFYear != "-1") {
                            //    //listFinancialYear.splice(listFYear, 1);
                            //    return;
                            //}

                            return;
                        }
                        catch (error) {
                            Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                            return;
                        }
                    }
                    else {

                    }
                });
                return;



            }
            else {

                listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                RangeDatePicker();
                return;
            }
        }

        function ArrangeDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/GetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();

                        if (result != null && result != "100") {
                            listFinancialYear = result.DatePickers;
                            if (listFinancialYear.length > 0) {
                                document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length;
                            }
                            else {
                                document.getElementById('selectedFinancialYear').innerHTML = "";
                            }
                            showFinancial();
                            document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                            document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                            isFInclude = true;
                            BindResult(listFinancialYear);
                        }
                        else {

                            dateFrom1 = $("#fromDate");
                            dateTo1 = $("#toDate");

                            dateFrom1.datepicker({
                                autoclose: true,
                            });

                            dateTo1.datepicker({
                                autoclose: true,
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;

                        }
                        /// $("#fromDate").datepicker("refresh");

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BindResult(objList) {
            Utilities.Loader.Show();

            $.ajax({
                url: API_BASE_URL + "/FinancialStatements/GetDateRange",
                type: "Post",
                data: JSON.stringify(objList),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result != null) {

                            $("#fromDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            $("#toDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function RangeDatePicker() {
            Utilities.Loader.Show();

            // var PostDate = [];
            //  PostDate.listFinancialYear = listFinancialYear;
            var IsChecked = document.getElementById('IncludeDatePicker').checked;
            var SelectedIndex = document.getElementById('yearF').selectedIndex;

            $.ajax({
                url: host + "/FinancialStatements/SetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result == "200") {
                            location.reload();
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function parseJSON(data) {
            return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
        }

    </script>
}


@if (ResultDate != null)
{

    <script type="text/javascript">

        var BeginYear1 = @ResultDate.FromDate.Year;
        var BeginMonth1 = @ResultDate.FromDate.Month;
        var BeginDay1 = @ResultDate.FromDate.Day;

         var EndYear1 = @ResultDate.ToDate.Year;
         var EndMonth1 = @ResultDate.ToDate.Month;
         var EndDay1 = @ResultDate.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
           // $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            LoadData($("#toDate").val())
        })

    </script>

}

