﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatOnline | Login</title>
    
    <link href="~/Assets/mat/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/mat/css/nifty.min.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/mat/css/demo/nifty-demo.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/plugins/loader/jquery.loader.css">

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="~/Assets/mat/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="~/Assets/mat/plugins/pace/pace.min.js"></script> 
    <script src="~/Scripts/sweetalert.js"></script>
</head>
<body>
    <div id="container" class="cls-container">

        <!-- BACKGROUND IMAGE -->
        <!--===================================================-->
        <div id="bg-overlay" class="bg-img img-balloon"></div>


        <!-- HEADER -->
        <!--===================================================-->
        @*<div class="cls-header cls-header-lg">
            <div class="cls-brand">
                <a class="box-inline" href="index.html">
                    <span class="brand-title">Mat<span class="text-thin">Online</span></span>
                </a>
            </div>
        </div>*@
        @RenderBody()
        

        



    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <!--jQuery [ REQUIRED ]-->
    <script src="~/Assets/mat/js/jquery-2.1.1.min.js"></script>

    <!--BootstrapJS [ RECOMMENDED ]-->
    <script src="~/Assets/mat/js/bootstrap.min.js"></script>

    <!--Fast Click [ OPTIONAL ]-->
    <script src="~/Assets/mat/plugins/fast-click/fastclick.min.js"></script>

    <!--Nifty Admin [ RECOMMENDED ]-->
    <script src="~/Assets/mat/js/nifty.min.js"></script>

    <!--Background Image [ DEMONSTRATION ]-->
    <script src="~/Assets/mat/js/demo/bg-images.js"></script><script src="~/assets/plugins/loader/jquery.loader.js"></script>
    <script src="~/Scripts/Common/constants.js"></script>
    <script src="~/Scripts/Common/Utilities.js"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("pageScripts", required: false)
</body>
</html>
