﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Account Group Reports";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{

    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();

    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmAccountGroupReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}
<style>
    .alignCompanydetails {
        text-align: center;
    }
</style>
<section>
    <div class="row">
        <div class="panel">
            <div class="panel-heading btn-default">
                <h3 class="panel-title" id="panelTitle">
                    Account Group Report Search Parameters
                </h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">

                    <div class="row">

                        <div class="col-md-6">

                            <div class="form-group col-sm-6">
                                <label class="control-label">from Date</label>
                                <div>
                                    <input type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" id="fromDate" readonly="readonly">
                                </div>
                            </div>
                        </div>


                        <div class="col-md-6">
                            <div class="form-group col-sm-6">
                                <label class="control-label">To Date</label>
                                <div>
                                    <input type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" id="toDate" readonly="readonly">
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="row">

                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="getAccountGroupDetails()" id="search"><i class="fa fa-search"></i> Search</button>

            </div>
        </div>

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                            <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                        </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="AccountGroupReportList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="6" class="alignCompanydetails" id="companyName" hidden="hidden"><h2>@profile.companyName</h2></th>
                                    </tr>
                                    <tr>
                                        <th colspan="6" class="alignCompanydetails" id="companyAddress" hidden="hidden">@profile.address</th>
                                    </tr>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Group Name</th>
                                        <th>Opening Balance</th>
                                        <th>Debit</th>
                                        <th>Credit</th>
                                        <th>Closing Balance</th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />

                    </div>
                </form>
            </div>
        </div>

    </div>
</section>
@section pageScripts
{
    <script src="~/Scripts/Reports/AccountReports/AccountGroup.js?v=@DateTime.Now"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>
        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#AccountGroupReportList").table2excel({
                name: "Table2Excel",
                filename: "Account Group from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Account Group Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>
}








<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

@{
    var ResultDate = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}


<script type="text/javascript">


    function hideFinancial() {
        $("#FinancialCover").hide();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "none";
        //}
    }

    function showFinancial() {
        $("#FinancialCover").show();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "grid";
        //}
    }

</script>

@if (ResultDate != null)
{

    <script type="text/javascript">

        var BeginYear = @ResultDate.FromDate.AddMonths(-1).Year;
        var BeginMonth = @ResultDate.FromDate.AddMonths(-1).Month;
        var BeginDay = @ResultDate.FromDate.AddMonths(-1).Day;

        var EndYear = @ResultDate.ToDate.AddMonths(-1).Year;
        var EndMonth = @ResultDate.ToDate.AddMonths(-1).Month;
        var EndDay = @(ResultDate.ToDate.AddMonths(-1).Day + 1);

    var dateFrom = null;
    var dateTo = null;

    var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;
        var host = location.origin;

        $(function () {
            hideFinancial();
        ArrangeDateList();

        //dateFrom1 = $("#fromDate");
        //dateTo1 = $("#toDate");

        //dateFrom1.datepicker({
        //    autoclose: true,
        //});

        dateFrom = document.getElementById("fromDate");
        dateFrom.readonly = true;


        //dateTo1.datepicker({
        //    autoclose: true,
        //});

        dateTo = document.getElementById("toDate");
        dateTo.readonly = true;

    });

    function IncludeDatePickerAction(obj) {

        if (obj.checked) {
            /* obj.checked = false;*/
            isFInclude = true;
            listFinancialYear = null;
            listFinancialYear = [];
            showFinancial();
           // RangeDatePicker();
        }
        else {
            /* obj.checked = true;*/
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }
    }

        function BackWordFinancialYear()
        {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

    function FinancialYearItems(obj) {

        //listFinancialYear.push({ year: obj.html });
    }

    function OnFinancialYearChange(obj) {

        if (obj.value == null || obj.value == "") {
            obj.selectedIndex = 0;
            BackWordFinancialYear();
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        if (obj.value != "0") {
            if (isFInclude == false) {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                return;
            }
        }
        else {

            document.getElementById('IncludeDatePicker').checked = false;
            listFinancialYear = null;
            obj.selectedIndex = 0;
            isFInclude = false;
            BackWordFinancialYear();
            return;
        }

        if (listFinancialYear == null) {
            listFinancialYear = [];
        }

        var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

        //$.post(url, { AllDate: obj.value }, function (data, status) {
        //    alert("Data: " + data + "\nStatus: " + status);
        //});

        var dateyerObj = parseJSON(obj.value);
        if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

        if (isFExitList != "-1") {


            Swal.fire({
                title: 'Warning',
                text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {

                if (result.value) {

                    try {

                        listFinancialYear = null;
                        listFinancialYear = [];

                        listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                        RangeDatePicker();

                        //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                        //if (listFYear != null && listFYear != "-1") {
                        //    //listFinancialYear.splice(listFYear, 1);
                        //    return;
                        //}

                        return;
                    }
                    catch (error) {
                        Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                        return;
                    }
                }
                else {

                }
            });
            return;
        }
        else {

            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
            RangeDatePicker();
            return;
        }
    }

    function ArrangeDateList() {
        Utilities.Loader.Show();

        $.ajax({
            url: host + "/FinancialStatements/GetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ data: "Good" }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);

                    Utilities.Loader.Hide();

                    if (result != null && result != "100") {
                        listFinancialYear = result.DatePickers;
                        if (listFinancialYear.length > 0) {
                            document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length ;
                        }
                        else {
                            document.getElementById('selectedFinancialYear').innerHTML = "";
                        }
                        showFinancial();
                        document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                        document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                        isFInclude = true;
                        BindResult(listFinancialYear);
                    }
                    else {

                        dateFrom1 = $("#fromDate");
                        dateTo1 = $("#toDate");

                        dateFrom1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateTo1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;

                    }
                    /// $("#fromDate").datepicker("refresh");

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function BindResult(objList) {
        Utilities.Loader.Show();

        $.ajax({
            url: API_BASE_URL + "/FinancialStatements/GetDateRange",
            type: "Post",
            data: JSON.stringify(objList),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result != null) {

                        $("#fromDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        $("#toDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;
                    }

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function RangeDatePicker() {
        Utilities.Loader.Show();

        // var PostDate = [];
        //  PostDate.listFinancialYear = listFinancialYear;
        var IsChecked = document.getElementById('IncludeDatePicker').checked;
        var SelectedIndex = document.getElementById('yearF').selectedIndex;

        $.ajax({
            url: host + "/FinancialStatements/SetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result == "200") {
                        location.reload();
                    }


                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function parseJSON(data) {
        return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
    }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {

                        location.reload();
                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }
                    location.reload();
                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

    </script>
}
else
{
    <script type="text/javascript">

        var dateFrom = null;
        var dateTo = null;

        var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;

        var host = location.origin;

        $(function () {

            hideFinancial();
            ArrangeDateList();
            //dateFrom1 = $("#fromDate");
            //dateTo1 = $("#toDate");

            //dateFrom1.datepicker({
            //    autoclose: true,
            //});

            dateFrom = document.getElementById("fromDate");
            dateFrom.readonly = true;

            //dateTo1.datepicker({
            //    autoclose: true,
            //});

            dateTo = document.getElementById("toDate");
            dateTo.readonly = true;

        });

        function IncludeDatePickerAction(obj) {

            if (obj.checked) {
                /* obj.checked = false;*/
                isFInclude = true;
                listFinancialYear = null;
                listFinancialYear = [];
                showFinancial();
                // RangeDatePicker();
            }
            else {
                /* obj.checked = true;*/
                isFInclude = false;
                listFinancialYear = null;
                document.getElementById('yearF').selectedIndex = 0;
                document.getElementById('selectedFinancialYear').innerHTML = "";
                hideFinancial();
                ClearDateList();
            }
        }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {

                        location.reload();
                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }
                    location.reload();
                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BackWordFinancialYear() {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

        function FinancialYearItems(obj) {

            //listFinancialYear.push({ year: obj.html });
        }

        function OnFinancialYearChange(obj) {

            if (obj.value == null || obj.value == "") {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            if (obj.value != "0") {
                if (isFInclude == false) {
                    obj.selectedIndex = 0;
                    BackWordFinancialYear();
                    Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                    return;
                }
            }
            else {

                document.getElementById('IncludeDatePicker').checked = false;
                listFinancialYear = null;
                obj.selectedIndex = 0;
                isFInclude = false;
                BackWordFinancialYear();
                return;
            }

            if (listFinancialYear == null) {
                listFinancialYear = [];
            }

            var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

            //$.post(url, { AllDate: obj.value }, function (data, status) {
            //    alert("Data: " + data + "\nStatus: " + status);
            //});

            var dateyerObj = parseJSON(obj.value);
            if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

            if (isFExitList != "-1") {




                Swal.fire({
                    title: 'Warning',
                    text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {

                    if (result.value) {

                        try {

                            listFinancialYear = null;
                            listFinancialYear = [];

                            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                            RangeDatePicker();

                            //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                            //if (listFYear != null && listFYear != "-1") {
                            //    //listFinancialYear.splice(listFYear, 1);
                            //    return;
                            //}

                            return;
                        }
                        catch (error) {
                            Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                            return;
                        }
                    }
                    else {

                    }
                });
                return;



            }
            else {

                listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                RangeDatePicker();
                return;
            }
        }

        function ArrangeDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/GetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();

                        if (result != null && result != "100") {
                            listFinancialYear = result.DatePickers;
                            if (listFinancialYear.length > 0) {
                                document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length;
                            }
                            else {
                                document.getElementById('selectedFinancialYear').innerHTML = "";
                            }
                            showFinancial();
                            document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                            document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                            isFInclude = true;
                            BindResult(listFinancialYear);
                        }
                        else {

                            dateFrom1 = $("#fromDate");
                            dateTo1 = $("#toDate");

                            dateFrom1.datepicker({
                                autoclose: true,
                            });

                            dateTo1.datepicker({
                                autoclose: true,
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;

                        }
                        /// $("#fromDate").datepicker("refresh");

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BindResult(objList) {
            Utilities.Loader.Show();

            $.ajax({
                url: API_BASE_URL + "/FinancialStatements/GetDateRange",
                type: "Post",
                data: JSON.stringify(objList),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result != null) {

                            $("#fromDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            $("#toDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function RangeDatePicker() {
            Utilities.Loader.Show();

            // var PostDate = [];
            //  PostDate.listFinancialYear = listFinancialYear;
            var IsChecked = document.getElementById('IncludeDatePicker').checked;
            var SelectedIndex = document.getElementById('yearF').selectedIndex;

            $.ajax({
                url: host + "/FinancialStatements/SetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result == "200") {
                            location.reload();
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function parseJSON(data) {
            return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
        }

    </script>
}


