﻿
@{
    ViewBag.Title = "Holiday Settings";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Create New Holiday</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Holiday Name</label>
                                    <input type="text" class="form-control" id="holidayName">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="holidayDate">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Narration</label>
                                <input type="text" class="form-control" id="narration">
                            </div>
                        </div>
                        <div class="row">
                         
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" type="button" onclick="saveHoliday()" id="newHoliday">Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Holidays</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="holidaysTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Date</th>
                                <th>Holiday Name</th>
                                <th>Narration</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/Holiday/HolidaySettings.js?v=@DateTime.Now"></script>
}