﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Create Item";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmProductCreation" && p.action == "Save") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/css/selectize.min.css" />
<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <div class="nav-tabs-custom">
                        <ul class="nav nav-tabs">
                            @*<li style="margin-right:100px !important;" class="pull-left"><a href="#" class="text-muted"><i class="fa fa-plus-circle"></i> Add Item</a></li>*@
                            <li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>
                            <li><a href="#tab2" data-toggle="tab">Secondary</a></li>
                            <li><a href="#tab3" data-toggle="tab">Others</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="tab1">
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Voucher No<span style="color:red;">*</span></label>
                                        <input type="text" readonly class="form-control" id="VoucherNo" value="" />
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Item Code <span style="color:red;">*</span></label>
                                        <input type="text" id="productCode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <form action="/ItemCreation/CreateItem" enctype="multipart/form-data" method="post" id="frmProductImage">
                                            <input type="file" style="display:none;" id="productImage" name="productImage" class="form-control" />
                                            <img class="img-md img-circle" src="~/Content/ProductImages/default.jpg" alt="" id="blah">
                                            <input type="hidden" id="returnedProductId" name="returnedProductId" />
                                            <button type="button" onclick="$('#productImage').click();" class="btn btn-primary">Pick Image</button>
                                        </form>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Item Type</label>
                                        <select id="itemType" class="form-control">
                                            <option value="Product">Stock</option>
                                            <option value="Service">Service / Non Stock</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Item/Service Name <span style="color:red;">*</span></label>
                                        <input type="text" id="productName" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Purchase Rate</label>
                                        <input type="number" id="purchaseRate" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label id="lblSalesRate">Sales Rate</label>
                                        <input type="number" id="salesRate" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Income Account <span style="color:red;">*</span></label>
                                        <select class="form-control" id="salesAccount" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Cost of Sales Account <span style="color:red;">*</span></label>
                                        <select class="form-control" id="expenseAccount" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Warehouse</label>
                                        <select id="store" class="form-control" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Default Rack</label>
                                        <select id="rack" class="form-control" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab2">
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Minimum Stock</label>
                                        <input type="number" id="minimumStock" value="0" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Maximum Stock</label>
                                        <input type="number" id="maximumStock" value="0" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Re-Order Level</label>
                                        <input type="number" id="reorderLevel" value="0" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Colour</label>
                                        <select id="brand" class="form-control" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick='$("#newBrandModal").modal("toggle");'>
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Tax</label>
                                        <select class="form-control" id="tax" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Part No.</label>
                                        <input type="text" id="partNumber" class="form-control" />
                                        <label style="display:none;">Tax Applicable On.</label>
                                        <select class="form-control" id="taxApplicable" disabled="disabled" style="display:none;">
                                            <option value="MRP">MRP</option>
                                            <option value="Rate">Rate</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Opening Stock</label>
                                        <select onchange="OnopeningStockChange(this)" class="form-control" id="openingStock">
                                            <option value="False">No</option>
                                            <option value="True">Yes</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-6">
                                        <label>Allow Batch</label>
                                        <select onchange="OnallowBatchChange(this)" class="form-control" id="allowBatch">
                                            <option value="False">No</option>
                                            <option value="True">Yes</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Category/Profile</label>
                                        <select class="form-control" id="group" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Size</label>
                                        <select id="size" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Unit</label>
                                        <select onchange="ReplaceUnit(this)" class="form-control" id="unit" style="width:85%;"></select>
                                        @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick='$("#newUnitModal").modal("toggle");'>
                                                <i class="fa fa-plus-circle"></i>
                                            </button>*@
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab3">
                                <br />
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>BOM</label>
                                        <select class="form-control" id="bom">
                                            <option value="False">No</option>
                                            <option value="True">Yes</option>
                                        </select>
                                    </div>
                                    @*<div class="form-group col-md-6">
                                            <label>Allow Batch</label>
                                            <select class="form-control" id="allowBatch">
                                                <option value="False">No</option>
                                                <option value="True">Yes</option>
                                            </select>
                                        </div>*@
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6">
                                        <label>Multiple Unit</label>
                                        <select class="form-control" id="multipleUnit" style="width:85%;">
                                            <option selected value="False">No</option>
                                            <option value="True">Yes</option>
                                        </select>
                                        <button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick='$("#newUnitModal").modal("toggle");'>
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Model No.</label>
                                        <select class="form-control" id="modelNo" style="width:85%;"></select>
                                        <button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-6" style="display:none;">
                                        <label>MRP</label>
                                        <input type="text" id="mrp" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-6">
                                        <label>Manufacturer</label>

                                        <input type="text" id="manufacturer" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-2">
                                        <label>Active</label><br />
                                        <input type="checkbox" checked="checked" id="chkActive" class="" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Auto Barcode</label>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input type="checkbox" id="chkAutoBarcode" class="" />
                                            </div>
                                            <div class="col-md-8">
                                                <input type="text" id="txtAutoBarcode" class="form-control" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label>Effective Date <span style="color:red;">*</span></label>
                                        <input type="text" class="form-control" id="effectiveDate" />
                                    </div>


                                    <div class="form-group col-md-3">
                                        <label>Show in Reminder</label><br />
                                        <input type="checkbox" id="chkReminder" class="" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Description</label>
                                        <textarea id="description" cols="40" rows="3"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                        <ul class="nav nav-tabs">
                            <li>
                                <button class="btn btn-primary" style="margin-left:8px;" id="btnPrevious"><i class="fa fa-arrow-circle-left"></i> Previous</button><br /><br />
                            </li>
                            <li class="pull-right">
                                <button class="btn btn-primary" style="margin-left:8px;" id="btnNext"><i class="fa fa-arrow-circle-right"></i> Next</button>
                                <button class="btn btn-primary" id="btnSaveItem"><i class="fa fa-save"></i> Save</button>
                                <br /><br />
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>



        <!-- /.col -->
        <div class="col-md-8 col-md-offset-2">
            <div class="panel">
                <div class="panel-body">
                    <div class="box box-primary" id="openingStockStorePanel" style="display:none;">
                        <div class="box-header">
                            <h3 class="box-title">Opening Stock Warehouse</h3><br />
                            <button type="button" id="addModal" class="btn btn-primary" data-toggle="modal" data-target="#modal"><i class="fa fa-plus-circle"></i> Add Warehouse</button>

                        </div>
                        @*<div class="box-body">
                                <div class="row">
                                    <div class="col-md-1"><b>#</b></div>
                                    <div class="col-md-2"><b>Warehouse</b></div>
                                    <div class="col-md-1"><b>Rack</b></div>
                                    <div class="col-md-1 hideBatch" style="display:none;"><b>Batch</b></div>
                                    <div class="col-md-1 hideBatch" style="display:none;"><b>MFD</b></div>
                                    <div class="col-md-1 hideBatch" style="display:none;"><b>EXPD</b></div>
                                    <div class="col-md-1"><b>Qty</b></div>
                                    <div class="col-md-1"><b>Rate</b></div>
                                    <div class="col-md-1"><b>Unit</b></div>
                                    <div class="col-md-1"><b>Amount</b></div>
                                    <div class="col-md-1"></div>
                                </div><hr />
                                <span id="tbody"></span>
                                <div class="row">
                                    <br />
                                    <div class="col-md-4 col-md-offset-8">
                                        <label>Total Inventory Value</label>
                                        <input type="text" id="totalInventoryValue" disabled="disabled" value="0.00" />
                                    </div>
                                </div>
                            </div>*@
                        <div class="box-body table-responsive">
                            <table class="table table-striped">
                                <tr>
                                    <td><b>#</b></td>
                                    <td><b>Warehouse</b></td>
                                    <td><b>Rack</b></td>
                                    <td id="hidTap1"><b>Batch</b></td>
                                    <td id="hidTap2"><b>MFD</b></td>
                                    <td id="hidTap3"><b>EXPD</b></td>
                                    <td><b>Qty</b></td>
                                    <td><b>Rate</b></td>
                                    <td><b>Unit</b></td>
                                    <td><b>Amount(₦)</b></td>
                                    <td></td>
                                </tr>
                                <tbody id="newTbody">
                                </tbody>
                            </table><hr />

                            <div class="row">
                                <br />
                                <div class="col-md-4 col-md-offset-8">
                                    <label>Total Inventory Value</label>
                                    <input type="text" id="totalInventoryValue" disabled="disabled" value="0.00" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Item To Warehouse</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Warehouse</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="newStore"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Rack</label>
                            <div class="col-sm-8">
                                <select class="form-control" disabled id="newRack"></select>
                            </div>
                        </div>
                        <div class="form-group" id="hideBatchField" style="display:none;">
                            <label class="col-sm-4 control-label">Batch Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newBatch" value="" placeholder="Enter Batch" />
                            </div>
                        </div>


                        <div class="form-group" id="hideBatchMDate" style="display:none;">
                            <label class="col-sm-4 control-label">Manufactured Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newMf" placeholder="" />
                            </div>
                        </div>
                        <div class="form-group" id="hideBatchExpireDate" style="display:none;">
                            <label class="col-sm-4 control-label">Expirty Date</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="newExp" placeholder="" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" value="0" id="newQuantity" placeholder="Quantity">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Purchase Rate</label>
                            <div class="col-sm-8">
                                <input type="number" class="form-control" value="0" id="newRate" placeholder="Rate">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Unit</label>
                            <div class="col-sm-8">
                                <select class="form-control" disabled="disabled" id="newUnit"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Amount</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="amount" style="text:nowrap;" value="0" disabled placeholder="Amount">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addStore">Add Warehouse</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="successModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-check-circle" style="color:#5eba7d;text-shadow: 1px 1px 1px #5eba7d;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Product created!</div>
                    <h1 id="cd" style="color:#5eba7d;"></h1>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <center>
                    <i class="fa fa-times-circle" style="color:red;text-shadow: 1px 1px 1px red;font-size:50px;"></i>
                </center>
            </div>
            <div class="modal-body">
                <center>
                    <div style="font-size:20px;">Oops! Something went wrong.</div>
                </center>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="bomModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Product Bill of Materials(BOM)
            </div>
            <div class="modal-body">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <div class="row">
                            <div class="form-group col-md-6" style="margin: 0px;">
                                <label>Raw Material</label>
                                <select class="" id="bomRawMaterial"></select>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Quantity</label>
                                <input type="number" id="bomQuantity" class="form-control" />
                            </div>
                            <div class="form-group col-md-6">
                                <label>Unit</label>
                                <select class="form-control" disabled="disabled" id="bomUnit"></select>
                            </div>
                            <div class="form-group col-md-6" style="margin-top: 22px;">
                                <button class="btn btn-primary" style="width: 100%" id="btnAddBomItem"><i class="fa fa-plus-circle"></i> Add</button>
                            </div>

                        </div>
                    </div>
                </div>
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <td><b>S/N</b></td>
                            <td><b>Raw Material</b></td>
                            <td><b>Quantity</b></td>
                            <td><b>Unit</b></td>
                            <td><b>Purchase Rate</b></td>
                            <td><b>Amount</b></td>
                            <td><b>Remove</b></td>
                        </tr>
                    </thead>
                    <tbody id="bomTbody"></tbody>
                </table>
                <div class="row">
                    <div class="col-md-8 col-md-offset-4">
                        <form onsubmit="return false;" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-md-6 control-label">Total Inventory Value</label>

                                <div class="col-md-6">
                                    <input type="text" class="form-control" id="bomTotalInventoryAmount" placeholder="0.00" disabled="disabled">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newBrandModal" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header">
                Can't find color? Add here
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>color Name</label>
                            <input type="text" id="newBrandName" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <div class="form-group">
                            <label>Manufacturer</label>
                            <input type="text" id="newManufacturer" class="form-control" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-5 col-md-offset-6">
                        <div class="form-group">
                            <button class="btn btn-primary" id="btnAddNewBrand"><i class="fa fa-plus-circle"></i> Add</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newUnitModal" role="dialog" aria-labelledby="mySmallModalLabel">
    <div class="modal-dialog " role="document">
        <div class="modal-content">
            <div class="modal-header">
                Associate Units to an item
            </div>
            <div class="modal-body">

                <div class="form-group">
                    <label>Primary Unit</label>
                    <input type="text" id="primaryUnit" disabled class="form-control" />
                </div>

                <div class="form-group">
                    <label>Primary Unit Quantity</label>
                    <input type="number" id="primaryUnitQuantity" class="form-control" />
                </div>

                <div class="form-group">
                    <label>Derived / Secondary Unit</label>
                    <select class="form-control" id="derivedUnit"></select>
                </div>

                <div class="form-group">
                    @*<label>Measuring quantity for one(1) primary unit e.g( 12 pack <small>[primary unit] = 1 Dozen(secondary unit)</small> </label>*@
                    <label>Secondary Unit Quantity</label>
                    <input type="number" id="measuredQuantity" class="form-control" />
                </div>

                <div class="form-group">
                    <button class="btn btn-primary" type="button" id="btnAddMutipleUnit"><i class="fa fa-plus-circle"></i> Add Unit</button>
                </div>

                <div class="well-sm">
                    <div class="table-responsive">
                        <table class="table table-condensed table-sm table-striped">
                            <thead>
                                <tr>
                                    <th>SL</th>
                                    <th>Secondary/Derived unit</th>
                                    <th>Measured Quantity</th>
                                    <th>Primary Quantity</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody id="mUnitTbody"></tbody>
                        </table>
                    </div>
                </div>

            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-default btn-success" data-dismiss="modal">Ok</button>
            </div>
        </div>
    </div>
</div>




@section pageScripts
{
    <link rel="stylesheet" href="~/Assets/plugins/iCheck/all.css">
    @*<link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css">*@
    <script src="~/Assets/plugins/iCheck/icheck.min.js"></script>
    @*<script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script>*@
    <script type="text/javascript">
        //Flat red color scheme for iCheck
        $('input[type="checkbox"].flat-red, input[type="radio"].flat-red').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue'
        });
        $('input[type="checkbox"].minimal, input[type="radio"].minimal').iCheck({
            checkboxClass: 'icheckbox_minimal-blue',
            radioClass: 'iradio_minimal-blue'
        });

        //$('#effectiveDate').datepicker({
        //    autoclose: true
        //});
        $('#newMf').datepicker({
            autoclose: true
        });
        $('#newExp').datepicker({
            autoclose: true
        });






    </script>







    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js" type="text/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.3/js/standalone/selectize.js" type="text/javascript"></script>

    <script src="~/Scripts/Inventory/CreateItem1.js"></script>
    @*<script src="~/Scripts/Inventory/CreateItem1.js" type="text/javascript"></script>*@

}






<script type="text/javascript">

    function OnopeningStockChange(obj) {

        var effectiveDate = document.getElementById("effectiveDate");

        if (obj.value == "False") {
            effectiveDate.disabled = false;
            document.getElementById("hidTap1").style.display = "none";
            document.getElementById("hidTap2").style.display = "none";
            document.getElementById("hidTap3").style.display = "none";

            document.getElementById("allowBatch").selectedIndex = 0;
            document.getElementById("hideBatchField").style.display = "none";
            document.getElementById("hideBatchMDate").style.display = "none";
            document.getElementById("hideBatchExpireDate").style.display = "none";
            document.getElementById("openingStockStorePanel").style.display = "none";
        }
        else {

            showLoader();
            $.ajax({
                url: API_BASE_URL + "/ProductCreation/GetCompanyFinancialYearFrom",
                type: 'GET',
                contentType: "application/json",
                success: function (data) {

                    //var today = new Date();
                    //today = Date.parse(data);
                    // $("#newManufacturer").val()
                    // effectiveDate.value = Utilities.FormatJsonDate(data);
                    effectiveDate.readonly = true;
                    hideLoader();
                    /* console.log(data); // 9/17/2016*/
                },
                error: function (request, error) {
                    effectiveDate.disabled = false;
                    hideLoader();
                }
            });

            document.getElementById("hidTap1").style.display = "none";
            document.getElementById("hidTap2").style.display = "none";
            document.getElementById("hidTap3").style.display = "none";
            document.getElementById("allowBatch").selectedIndex = 0;
            document.getElementById("hideBatchField").style.display = "none";
            document.getElementById("hideBatchMDate").style.display = "none";
            document.getElementById("hideBatchExpireDate").style.display = "none";
            document.getElementById("openingStockStorePanel").style.display = "block";
        }
    }

    function CheckIfItemHasBatch() {

        var IsHasStock = false;
        const newstocks = storesToAddItem.findIndex(p => p.batch != "");

        if (newstocks != "-1") {
            IsHasStock = true;
        }

        return IsHasStock;
    }

    function CheckIfItemDontHasBatch() {

        var IsHasStock = true;
        const newstocks = storesToAddItem.findIndex(p => p.batch == "" || p.batch == null);

        if (newstocks == "0") {
            IsHasStock = false;
        }



        return IsHasStock;
    }

    function OnallowBatchChange(obj) {


        if (obj.value == "False") {

            var duu = CheckIfItemHasBatch();
            if (duu) {

                obj.selectedIndex = 1;
                Swal.fire('Please delete all opening stock items that has batch.', '', 'warning');

                obj.selectedIndex = 1;

                obj.selectedIndex = 1;

            }
            else {

                $("#newBatch").val("");
                $("#newMf").val("");
                $("#newExp").val("");
                $("#newQuantity").val("0");
                $("#newRate").val("0");

                document.getElementById("hidTap1").style.display = "none";
                document.getElementById("hidTap2").style.display = "none";
                document.getElementById("hidTap3").style.display = "none";

                document.getElementById("hideBatchField").style.display = "none";
                document.getElementById("hideBatchMDate").style.display = "none";
                document.getElementById("hideBatchExpireDate").style.display = "none";

                if (itemToCreate != null && itemToCreate != "-1") {
                    itemToCreate.IsBatch == false;
                }
            }




        }
        else {


            var dontHasBatch = CheckIfItemDontHasBatch();

            if (dontHasBatch == false) {

                obj.selectedIndex = 0;
                Swal.fire('Please delete all stock items that dont has a batch and try again', '', 'warning');

                obj.selectedIndex = 0;

                obj.selectedIndex = 0;

            }
            else {

                document.getElementById("hidTap1").style.display = "inline";
                document.getElementById("hidTap2").style.display = "inline";
                document.getElementById("hidTap3").style.display = "inline";

                document.getElementById("hideBatchField").style.display = "block";
                document.getElementById("hideBatchExpireDate").style.display = "block";
                document.getElementById("hideBatchMDate").style.display = "block";
                if (itemToCreate != null && itemToCreate != "-1") {
                    itemToCreate.IsBatch == true;
                }
            }

        }
    }

</script>

@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#effectiveDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("effectiveDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function ()
        {
            $("#effectiveDate").datepicker({
                autoclose: true,
            });

            var doc = document.getElementById("effectiveDate");
            doc.readonly = true;

        });

    </script>

}


@if (Result != null)
{
  
    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @DateTime.Now.Month;
        var BeginDay1 = @DateTime.Now.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @DateTime.Now.Month;
         var EndDay1 = @DateTime.Now.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function ()
        {
             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            $("#effectiveDate").val(ConvertDateFrom);
        })

    </script>

}

