﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Item List";
    var pagePrivileges = ViewBag.pagePrivileges;
    var itemPrivileges = ViewBag.itemPrivileges;

    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}


<style>
    #productTable td:nth-child(4){
        text-align: right
    }
</style>


<input type="text" id="companyNName" readonly="readonly" value="@profile.companyName" style="display:none">
<input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display: none ">
<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="row">
        <div class="col-md-8">

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-1">
        </div>
    </div>

    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="btn btn-warning" onclick="printPage();"><i class="fa fa-print"></i> Print this page</button> &nbsp;
                        @{

                            if (itemPrivileges.Contains("Save"))
                            {
                                @Html.Raw("<a class=\"demo-panel-ref-btn btn btn-primary\" href=\"/Inventory/ItemCreation/CreateItem\">" +
                               "<i class=\"fa fa-plus\"></i> Add Item</a>" +
                               "<button style=\"margin-left:5px;\" class=\"demo-panel-ref-btn btn btn-info\" id=\"uploadSupplier\" onclick=\"uploadModal()\"  data-toggle=\"modal\">" +
                                  "<i class=\"fa fa-plus\"></i>  Upload from Excel</button>");
                            }

                        }

                        <a id="exportToExcel" class="demo-panel-ref-btn btn btn-mint" href="/Inventory/ItemCreation/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>
                    <h3 class="panel-title">Item List</h3>
                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="productTable" class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Item Name</th>
                                    <th>Item Code</th>
                                    <th>Sales Rate</th>
                                    <th>Group</th>
                                    <th>Sub Group</th>
                                    <th>Category</th>
                                    <th>Sub Category</th>
                                    @{

                                        if (itemPrivileges.Contains("View") == true || itemPrivileges.Contains("Update") == true
                                            || itemPrivileges.Contains("Update") == true || itemPrivileges.Contains("Delete") == true)
                                        {
                                            @Html.Raw("<th>Action</th>");
                                        }

                                    }

                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--item import modal start-->

<div class="modal fade" id="uploadItemModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="example-Modal3">Upload Item</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="card-body p-1">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row" style="margin-bottom:5px;">
                                <div class="col-sm-6">
                                    <a href="/assets/mat/templates/ItemList.xlsx" target="_blank"><h5 class="btn btn-warning"><b>CLICK HERE TO DOWNLOAD SAMPLE TEMPLATE</b></h5></a>
                                </div>
                                <div class="col-sm-6">
                                    <a href="/assets/mat/templates/OpeningStockList.xlsx" target="_blank"><h5 class="btn btn-warning"><b>CLICK HERE TO DOWNLOAD SAMPLE TEMPLATE</b></h5></a>
                                </div>
                            </div>
                            <div class="row">
                                @*<div class="col-sm-6">*@
                                <div class="col-lg-4 col-sm-8">

                                    <input id="excelfile" type="file" class="dropify" data-height="70" />
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                    <button onclick="ExportToTable()" type="button" class="btn btn-info "><i class="fa fa-upload"></i> IMPORT ITEMS</button>
                                </div>
                                @*</div>*@
                                @*<div class="col-sm-6">*@
                                <div class="col-lg-4 col-sm-8">
                                    <input id="stockExcelfile" type="file" class="dropify" data-height="70" />
                                </div>
                                <div class="col-lg-2 col-sm-4">
                                    <button onclick="ExportStockToTable()" type="button" class="btn btn-info "><i class="fa fa-upload"></i> IMPORT STOCK</button>
                                </div>
                                @*</div>*@
                            </div>
                        </div>
                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover card-table table-bordered table-vcenter table-outline text-nowrap" id="itemListToUpload">
                                    <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Item Code</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Narration</th>
                                            <th scope="col">Sub-Category</th>
                                            <th scope="col">Colour</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Size</th>
                                            <th scope="col">Manufacturer</th>
                                            <th scope="col">Tax</th>
                                            <th scope="col">Purchase Rate</th>
                                            <th scope="col">Sales Rate</th>
                                            <th scope="col">Minimum Stock</th>
                                            <th scope="col">Maximum Stock</th>
                                            <th scope="col">Re-Order Level</th>
                                            <th scope="col">Part No</th>
                                            <th scope="col">Product Type</th>
                                            <th scope="col">Sales Account</th>
                                            <th scope="col">Expense Account</th>
                                            <th scope="col">Model No</th>
                                            <th scope="col">Warehouse</th>
                                            <th scope="col">Rack</th>
                                            <th scope="col">Allow Batch</th>
                                            <th scope="col">Barcode</th>
                                            <th scope="col">Effective Date</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>

                        <div class="card-body p-0">
                            <div class="table-responsive">
                                <table class="table table-sm table-hover card-table table-bordered table-vcenter table-outline text-nowrap" id="stockListToUpload">
                                    <thead>
                                        <tr>
                                            <th scope="col">S/N</th>
                                            <th scope="col">Item Code</th>
                                            <th scope="col">Item Name</th>
                                            <th scope="col">Warehouse</th>
                                            <th scope="col">Rack</th>
                                            <th scope="col">Quantity</th>
                                            <th scope="col">Rate</th>
                                            <th scope="col">Unit</th>
                                            <th scope="col">Amount</th>
                                            <th scope="col">Batch</th>
                                            <th scope="col">Manufacturing Date</th>
                                            <th scope="col">Expiry Date</th>
                                            <th scope="col"></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" id="saveItems" onclick="addNewItem()" class="btn btn-success btn-labeled fa fa-save">SAVE</button>
            </div>
        </div>
    </div>
</div>
<!--item import modal end-->
<!--delete Modal -->
@*<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
                </div>
                <div class="modal-body">
                    Do you really want to delete <b id="deleteProduct"></b>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger" id="delete"onclick="">Delete</button>
                </div>
            </div>
        </div>
    </div>*@


@section pageScripts
{
    @*<script>
            $("#exportToExcel").click(function () {
                //$("#exportForm").submit();
                $("#exportToExcel").attr('disabled', 'disabled');
                $("#exportToExcel").html("Exporting...");
            });
        </script>*@
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/Items.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.4/jspdf.min.js"></script>

    <script>
        function printPage() {
            var CoyName = $("#companyNName").val();
            var CoyAddress = $("#companyAddress").val();
            var pageTitle = '',
                stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                win = window.open('PrintPage', 'Print', 'width=500,height=700');
            win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                '<link rel="stylesheet" href="' + stylesheet + '">' +
                '<style> ' +
                '.table {width: 100%;}' +
                '@@media print { .table td:last-child { display: none } .table th:last-child { display: none } } ' +
                '.table td:nth-child(1) { text-align: center; } .table th:nth-child(1) { text-align: center; }' +
                '</style>' +
                '</head>' +
                '<body> <br>' +
                '<div class = "container" style="text-align:center;"><div style="color:#25476A; font-size: 26px; margin: 0px; "><b>' + CoyName + '</b></div>' +
                '<div style="color:#25476A;">' + CoyAddress + '</div><br>' +
                '<div style="color:#25476A; font-size: 20px; margin: 0px"><b>Item List</b></div>' +
                '<div style="color:#25476A; margin:auto"></div></div>' +
                '<hr>' +
                $('.table')[0].outerHTML +
                '</body></html>');
            win.document.close();
            win.print();
            win.close();
            return false;
        }
    </script>
}

