﻿
@{
    ViewBag.Title = "Stock Transfer Edit";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" readonly="readonly" id="formNoForTransfer">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="transactionDate">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select class="form-control custBorderStyle" id="currency"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12" id="transferPanel">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Transfer From
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="transferSourceGrid"></div>
                        <br /><br />
                    </div>

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="transferGoods"><i class="fa fa-download"></i> Transfer</button>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalSourceTransferCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Transfer To
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="transferDestinationGrid"></div>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalDestinationTransferCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" id="additionalCostTitle">
                        Narration
                    </h3>
                </div>
                <div class="panel-body">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-5">
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea class="form-control" id="narration"></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-offset-11">
                            @*<input type="checkbox" /> Print after save*@
                            <button class="btn btn-primary" id="saveStockJournal"><i class="fa fa-save"></i> Update</button>
                            @*<button class="btn btn-info"><i class="fa fa-times"></i> Clear</button>*@
                            @*<button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>

    <script src="~/Scripts/Inventory/StockTransferEdit.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        var jId =@ViewBag.journalId;
    </script>
}



