﻿
@{
    ViewBag.Title = "Stock Transfer Register";
}
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="">-Select-</option>
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <select id="status" class="form-control">
                                        <option value="">All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="In-Transit">In-Transit</option>
                                        <option value="Delivered">Delivered</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="stockJournalListTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Form No.</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Narration</th>
                                    <th style="white-space: nowrap;">Transferred By</th>
                                    <th style="white-space: nowrap;">Status</th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                            @*<tbody id="salesQuotationListTbody"></tbody>*@
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Stock Transfer Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="dateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Narration :</div>
                                        <div class="col-md-6" id="narrationDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Status :</div>
                                        <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <div>
                            <p>Stock Transfer(s) From</p>
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        @*<th style="white-space: nowrap;"></th>*@
                                        <th style="white-space: nowrap;"><center>Barcode</center></th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                    </tr>
                                </thead>
                                <tbody id="detailsTbodyConsumption"></tbody>
                            </table>
                        </div>
                        <div>
                            <p>Stock Transfer(s) To</p>
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        @*<th style="white-space: nowrap;"></th>*@
                                        <th style="white-space: nowrap;"><center>Barcode</center></th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                    </tr>
                                </thead>
                                <tbody id="detailsTbodyProduction"></tbody>
                            </table>
                        </div>
                        @*<p>Additional Cost(s)</p>*@
                        <div class="row">
                            <div class="col-md-8">
                                @*<table class="table table-striped" style="overflow:auto !important;">
                                    <thead style="background-color:#3c8dd3;color:#fff;">
                                        <tr>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap;">Account Name</th>
                                            <th style="white-space:nowrap">Debit</th>
                                            <th style="white-space: nowrap;">Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody id="detailsTbodyAdditionalCost"></tbody>
                                </table>*@
                            </div>
                            <div class="col-md-4">
                                @*<div class="row" style="background-color:#fff;">
                                    <div>
                                        <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                        <div class="col-md-6" id="AmountDiv" style="font-size:14px;font-weight:bolder;">
                                            <input type="text" class="form-control" id="AmountTxt" readonly />
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row" style="background-color:#fff;">
                                    <div>
                                        <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Additional Cost</div>
                                        <div class="col-md-6" id="addCostDiv" style="font-size:14px;font-weight:bolder;">
                                            <input type="text" class="form-control" id="addCostTxt" readonly />
                                        </div>
                                    </div>
                                </div><br />*@
                                <div class="row" style="background-color:#fff;">
                                    <div>
                                        <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                        <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder; text-align:right;">
                                            <input type="text" class="form-control" id="grandTotalTxt" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="editTransfer" onclick="editTransfer();" type="button"><i class="fa fa-edit"></i> Edit Transfer</button>
                <button class="btn btn-danger" onclick="deleteTransfer();" id="deleteTransfer" type="button"><i class="fa fa-times"></i> Delete Transfer</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@section PageScripts{
    <script src="~/Scripts/Inventory/StockTransferRegister.js"></script>
    <script type="text/javascript">
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "")
            {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0")
            {
                $("#fromDate").val(todayDate());
            }
        });
        $("#search").click(function () {
            //if ($("#orderStatus").val() == "")
            //{
            //    Utilities.ErrorNotification("Please select status");
            //    return;
            //}
            //else
            //{
            //    table.destroy();
            //    getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
            //}
            table.destroy();
            getStockTransfer($("#fromDate").val(), $("#toDate").val(), $("#status").val());
        });
    </script>

}
