﻿
@{
    ViewBag.Title = "Purchase Order Register";
}
@*<div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">To Date</label>
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Supplier</label><br />
                                        <select id="suppliers" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Order No.</label>
                                        <input type="text" class="form-control" id="orderNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Condition</label><br />
                                        <select id="condition" class="form-control">
                                            <option value="All" selected>All</option>
                                            <option value="Due">Overdue</option>
                                            <option value="Pending">Pending Order</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <button class="btn btn-info" type="button" id="search">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="registerGrid"></div>
        </div>
    </div>*@

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            @*<div class="panel" style="display:none;">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Agent</label><br />
                                        <select id="customers" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Order No.</label>
                                        <input type="text" class="form-control" id="quotationNo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Condition</label><br />
                                        <select id="condition" class="form-control">
                                            <option value="All" selected>All</option>
                                            <option value="False">Approved</option>
                                            <option value="True">Pending</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <button class="btn btn-info" type="button" id="search-old">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>*@
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="">-Select-</option>
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label">Order Status</label>
                                    <select id="orderStatus" class="form-control">
                                        <option value="">All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="purchaseOrderListTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Order No.</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Due Date</th>
                                    <th style="white-space: nowrap;">Supplier Name</th>
                                    <th style="white-space: nowrap;">Bill Amount</th>
                                    <th style="white-space: nowrap;">Done By</th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="orderDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Supplier :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff; display:none;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Status :</div>
                                        <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    @*<th style="white-space: nowrap;"></th>*@
                                    <th style="white-space: nowrap;"><center>Barcode</center></th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    @*<th style="white-space: nowrap;">Warehouse</th>*@
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Order Amount</div>
                                <div class="col-md-6" id="orderAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="orderAmountTxt" readonly style="text-align:right;" />
                                </div>
                            </div>
                        </div><br />
                        @*<div class="row" style="background-color:#fff;">
                                <div class="col-md-offset-7 col-md-5">
                                    <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Tax Amount</div>
                                    <div class="col-md-6" id="taxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                        <input type="text" class="form-control" id="taxAmountTxt" readonly />
                                    </div>
                                </div>
                            </div><br />*@
                        @*<div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="grandTotalTxt" readonly style="text-align:right;" />
                                </div>
                            </div>
                        </div>*@
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="editOrder" onclick="editPurchaseOrder();" type="button"><i class="fa fa-edit"></i> Edit Order</button>
                <button class="btn btn-danger" onclick="deletePurchaseOrder();" id="deleteOrder" type="button"><i class="fa fa-times"></i> Delete Order</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@section PageScripts{
<script src="~/Scripts/Supplier/Registers/PurchaseOrder.js?v=@DateTime.Now"></script>
<script type="text/javascript">
        var supp = [];
        var users = [];
        getPurchaseOrderToList("2017-01-01", $("#toDate").val());

        function loadLookUps() {
            Utilities.Loader.Show();
            $.ajax({
                url: API_BASE_URL + "/MaterialReceipt/InvoiceLookUps",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    supp = data.Customers;
                    users = data.Users;
                    console.log(data);

                    Utilities.Loader.Hide();
                },
                error: function (err) {
                    Utilities.ErrorNotification("Oops! Sorry, something went wrong.");
                    Utilities.Loader.Hide();
                }
            });
        }

        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "")
            {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0")
            {
                $("#fromDate").val(todayDate());
            }
        });
        $("#search").click(function () {
            //if ($("#orderStatus").val() == "")
            //{
            //    Utilities.ErrorNotification("Please select status");
            //    return;
            //}
            //else
            //{
            //    table.destroy();
            //    getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
            //}
            table.destroy();
            getPurchaseOrderToList($("#fromDate").val(), $("#toDate").val());
        });
</script>
}

