﻿
@{
    ViewBag.Title = "Leave Application";
}

<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Leave Application 
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group col-sm-6">

                                <label class="control-label">Start Date</label>
                                <div>
                                    <input type="text" class="form-control dateCtrl" id="startDate" readonly="readonly">
                                </div>
                           
                        </div>
                        <div class="form-group col-sm-6">

                            <label class="control-label">End Date</label>
                            <div>
                                <input type="text" class="form-control dateCtrl" id="endDate" readonly="readonly">
                            </div>

                        </div>
                        <div class="form-group col-sm-3">
                            <label class="control-label">Employee</label>
                            <div>
                                <input type="text" class="form-control" id="employee">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <label class="control-label">Leave Type</label>
                            <div>
                                <input type="text" class="form-control" id="leaveType">
                            </div>
                        </div>
                        <div class="form-group col-sm-3 col-sm-offset-1">
                            <label class="control-label">No of Days</label>
                            <div>
                                <input type="text" class="form-control" readonly="readonly" id="days">
                            </div>
                        </div>

                        <div class="form-group col-sm-6">

                            <label class="control-label">Description</label>
                            <div>
                                <textarea id="description" class="form-control"></textarea>
                            </div>

                        </div>

                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="createApplication()" id="search">Apply</button>

                </div>
            </div>
        </div>

        @*<div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">*@
                    @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>
                    <h3 class="panel-title" id="panelTitle">
                        Leave Approval List 
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="LeaveApprovalList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Days</th>
                                        <th>Approved</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />

                    </div>
                </form>
            </div>
        </div>*@


    </div>

</section>


@section pageScripts
{
    <script src="~/Scripts/Payroll/LeaveManagement/LeaveApplication.js?v=@DateTime.Now"></script>
<script>
    $('#startDate').datepicker({
            startDate: new Date()
        });
</script>
}
