﻿
@{
    ViewBag.Title = "Leave Approval Stage One";
}

<section>
    <div class="row">
        <div class="col-md-12 text text-sm">
        <div class="panel">
            <div class="panel-heading btn-default">
        @*<div class="panel-control">
                        <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Leave Approval List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="LeaveApprovalList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Employee Name</th>
                                        <th>Leave Type</th>
                                        <th>Start Date</th>
                                        <th>End Date</th>
                                        <th>Days</th>
                                        <th>Leave Balance</th>
                                        <th>Approved</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

@section pageScripts{
    <script type="text/javascript" src="~/Scripts/Payroll/LeaveManagement/LeaveAppStageOne.js?v=@DateTime.Now"></script>

}