﻿
@{
    ViewBag.Title = "Create Financial Year";
    //Layout = "_Layout";
    var HasFinancial = false;
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="panel pad-all">
                @*<h5>Create Financial year</h5>*@
                <a class="btn  btn-sm btn-primary" href="@Url.Action("Index","FinancialYear",new{area="Company"})">View All</a>
                <br />
                <div>
                    @{
                        var data1 = @MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials();
                    }

                    @if (data1 != null)
                    {
                        var BeginFinancialDate = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials().toDate.Value.AddDays(+1);
                        HasFinancial = true;

                        <div class="form-group" @*style="margin-top:50px;"*@>
                            <label class="control-label">
                                From <span style="font-size:12px;"> (Last Financial Year Date @MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials().fromDate.Value.ToLongDateString()  -  @MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials().toDate.Value.ToLongDateString()) </span>
                            </label>
                            <input type="text" id="fromDate" value="@BeginFinancialDate.ToShortDateString()"  class="form-control @*dateCtrl*@" readonly required />
                        </div>

                        var EndFinancialDate = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials().toDate.Value.AddMonths(+(12)).AddDays(-BeginFinancialDate.Day).AddDays(+1);

                        <div class="form-group">
                            <label class="control-label"> To </label>
                            <input type="text" id="toDate" value="@EndFinancialDate.ToShortDateString()" readonly class="form-control @*dateCtrl*@" required />
                        </div>
                    }
                    else
                    {
                        HasFinancial = false;
                        <div class="form-group">
                            <label class="control-label"> From </label>
                            <input type="text" id="fromDate" value="@DateTime.UtcNow.ToShortDateString()" readonly class="form-control @*dateCtrl*@" required />
                        </div>

                        <div class="form-group">
                            <label class="control-label"> To </label>
                            <input type="text" id="toDate" value="@DateTime.UtcNow.AddMonths(+ 12).ToShortDateString()"  readonly class="form-control @*dateCtrl*@" required />
                        </div>
                    }
                    <div class="form-group">
                        <button class="btn btn-success" id="btnCreate"> Create </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>

    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

@*<link rel="stylesheet" href="~/Assets/plugins/datepicker/datepicker3.css" />
    <script src="~/Assets/plugins/datepicker/bootstrap-datepicker.js"></script>*@

@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials();
}

@if (Result != null)
{
    <script type="text/javascript">

      @{
          var NextFinancialDate = Result.toDate.Value.AddDays(+1).AddMonths(+ (10)).AddDays(+29);

          /// var NextFinancialDate = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials().toDate.Value.AddMonths(+(12)).AddDays(+ MatOnline.Areas.Supplier.MatOnlineSession.GetFinancials().toDate.Value.Day);
      }

                var concateDateYear = @NextFinancialDate.Year;

                var concateDateMonth = @NextFinancialDate.Month;

                var concateDateDay = @NextFinancialDate.Day;

                $(function () {

                    $('#fromDate').datepicker({ autoclose: true });

                    $("#toDate").datepicker({

                         autoclose: true,
                         startDate: new Date(concateDateYear, concateDateMonth, concateDateDay)
                    });


                    var doc = document.getElementById("fromDate");
                    doc.readonly = true;
                    doc.disabled = true;


                    var doc = document.getElementById("toDate");
                    doc.readonly = true;

                });

   //var datepicker = $('#toDate').datepicker({
   //     autoclose: true,
   //});

   //     datepicker.EndDate = dateToday;

    </script>
}
else
{

  <script type="text/javascript">

                $(function () {

                    $('#fromDate').datepicker({ autoclose: true });

                    $('#toDate').datepicker({ autoclose: true });


                    var doc = document.getElementById("fromDate");
                    doc.readonly = true;


                    var doc = document.getElementById("toDate");
                    doc.readonly = true;

                });

   //var datepicker = $('#toDate').datepicker({
   //     autoclose: true,
   //});

   // datepicker.StartDate = dateToday;

    </script>

}


@section scripts
{
    <script type="text/javascript">

        $("#btnCreate").click(function(e) {
            e.preventDefault();

            Swal.fire({
                title: 'New Financial Year',
                text: "Are you sure that you want to create new financial year",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, I am sure'
            }).then((result) => {

                if (result.value) {

                    SaveFinancialYear();
                }
            });

        });

        function SaveFinancialYear()
        {

             Utilities.Loader.Show();

            var dateFrom = $("#fromDate").val();
            var dateTo = $("#toDate").val();

            var date1 = new Date(dateFrom)
            var date2 = new Date(dateTo)

            if (dateFrom == "") {
                Utilities.Loader.Hide();
                Swal.fire("Financial date is required, try again.", '', 'warning');
                return;
            }

            if (dateTo == "") {
                Utilities.Loader.Hide();
                Swal.fire("Financial date is required, try again.", '', 'warning');
                return;
            }

            if (date1 >= date2) {
                Utilities.Loader.Hide();
                Swal.fire("Date from cannot be greater than end date, try again.", '', 'warning');
                return;
            }

            if (date1 == date2) {
                Utilities.Loader.Hide();
                Swal.fire("Date from cannot be equal to end date, try again.", '', 'warning');
                return;
            }

            var host = location.origin;

            Utilities.Loader.Show();

            $.ajax(host + "/Security/Login/ConfirmSessionLogins",
                {
                    type: 'post',
                    data: { data: "data.UserId" },
                    success: function (res)
                    {
                        Utilities.Loader.Hide();

                        if (res > 0)
                        {
                            var textNotices = "";

                            if (res > 1) {
                                textNotices = "(" + res + ") Login Users with current financial year are required to signout before creating the new financial year. Are you sure that you want to do this?"

                            }
                            else {
                                textNotices = "(" + res + ") Login User with current financial year is required to signout before creating the new financial year. Are you sure that you want to do this?"

                            }
                           
                            Swal.fire({
                                title: 'New User Login detected',
                                text: textNotices,
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, SignOut All Users'
                            }).then((result) =>
                            {
                                if (result.value)
                                {
                                    var shortNote = "New financial year has been created. You're required to signout.";

                                    SaveWithSignOutAndFinanacialYear(dateFrom, dateTo, shortNote);

                                    //Swal.fire({
                                    //    title: 'New Financial Year Notices',
                                    //    input: 'text',
                                    //    text: 'Please write short note, Reason for signing out other login users',
                                    //    inputAttributes: {
                                    //        autocapitalize: 'off'
                                    //    },
                                    //    showCancelButton: true,
                                    //    confirmButtonText: 'Continue',
                                    //    showLoaderOnConfirm: false,
                                    //    preConfirm: (login) => {

                                    //        shortNote = login;
                                    //        alert(shortNote);
                                    //        if (shortNote == "")
                                    //        {
                                    //            Swal.fire("Please write short note, Reason for signing out other login users.", '', 'warning');
                                    //            return;
                                    //        }
                                           
                                    //    }
                                    //}).then((result) => {
                                    //    if (result.isConfirmed) {

                                    //        alert(shortNote);


                                    //        //if (shortNote == "") {
                                    //        //    Swal.fire("Please write short note, Reason for signing out other login users.", '', 'warning');
                                    //        //    return;
                                    //        //}
                                    //        //else {
                                    //        //    
                                    //        //}

                                    //    }
                                    //})

                                    ////Swal.fire({
                                    ////    title: `${result.value.login}'s avatar`,
                                    ////    imageUrl: result.value.avatar_url
                                    ////})
                                   
                                }
                                else
                                {

                                }
                            });
                        }
                        else
                        {
                            SaveFinanacialYear(dateFrom, dateTo);
                        }
                    }
                });
        }

        function SaveFinanacialYear(dateFrom, dateTo)
        {
            Utilities.Loader.Show();
            var host = location.origin;

                $.ajax(API_BASE_URL + "/FinancialYear/Create",
                {
                    type: "post",
                    before: function() { $(this).attr("disabled") },
                    complete: function() { $(this).removeAttr("disabled", "disabled") },
                    data: {
                        StartDate: dateFrom,
                        EndDate: dateTo, includeSign: false,
                    },
                    success: function (response) {

                        Utilities.Loader.Hide();

                        if (response.status == 200) {

                            Swal.fire({
                                title: 'New Financial Year Settings',
                                text: "New financial year has been saved and set as current year, To maintain this current financial year you're required to sign out.",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, Log me out'
                            }).then((result) => {

                                if (result.value) {

                                    location.href = host + "/Security/Login/Logout";
                                }
                                else {

                                     Utilities.Loader.Hide();
                                     ///Swal.fire(response.message, '', 'warning');
                                     location.href = "@Url.Action("Index","FinancialYear",new{area="Company"})";
                                }
                            });


                        } else {
                            Utilities.Loader.Hide();
                            Swal.fire(response.message, '', 'warning');
                            return null;
                        }
                    }
                });
        }

        function SaveWithSignOutAndFinanacialYear(dateFrom, dateTo, shortNote)
        {
             Utilities.Loader.Show();
            var host = location.origin;

                $.ajax(API_BASE_URL + "/FinancialYear/Create",
                {
                    type: "post",
                    before: function() { $(this).attr("disabled") },
                    complete: function() { $(this).removeAttr("disabled", "disabled") },
                    data: {
                        StartDate: dateFrom,
                        EndDate: dateTo, includeSign: true, shortNote: shortNote
                    },
                    success: function (response) {

                        Utilities.Loader.Hide();

                        if (response.status == 200) {

                            Swal.fire({
                                title: 'New Financial Year Settings',
                                text: "New financial year has been saved and set as current year, To maintain this current financial year you're required to sign out.",
                                type: 'warning',
                                showCancelButton: true,
                                confirmButtonColor: '#3085d6',
                                cancelButtonColor: '#d33',
                                confirmButtonText: 'Yes, Log me out'
                            }).then((result) => {

                                if (result.value) {

                                    location.href = host + "/Security/Login/Logout";
                                }
                                else {

                                     Utilities.Loader.Hide();
                                     ///Swal.fire(response.message, '', 'warning');
                                     location.href = "@Url.Action("Index","FinancialYear",new{area="Company"})";
                                }
                            });


                        }
                        else
                        {
                            Utilities.Loader.Hide();
                            Swal.fire(response.message, '', 'warning');
                            return null;
                        }
                    }
                });
        }
    </script>
}
