﻿@{
    ViewBag.Title = "List Financial Year";
    var pagePrivileges = ViewBag.pagePrivileges;
}
<div class="row" style="margin-top:20px;">
    <div class="eq-height">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="panel pad-all">
                @{

                    if (pagePrivileges.Contains("Save"))
                    {
                        @Html.Raw("<a class=\"btn  btn-sm btn-primary\" href=\"" + 
                       @Url.Action("Create", "FinancialYear", new { area = "Company" }) +
                       "\" > Create New</a>");
                    }

                }
                @*<a class=\"btn  btn-sm btn-primary\" href=\"@Url.Action("Create","FinancialYear",new{area="Company"})"> Create New</a>*@
                <div class="table-responsive">
                    <table class="table">
                        <caption id="currentFinicalYear"></caption>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Begins</th>
                                <th>End</th>
                                <th>Status</th>
                                <th></th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody class="tbody"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

@section scripts
{
    <script type="text/javascript">

        PriviledgeSettings.ApplyUserPriviledge();

        var setWaitInterval = setInterval(waitTillUserPrivilegeLoads, 100);

        function waitTillUserPrivilegeLoads() {
            if (userPriviledges.length != 0 || userRoleId == 1) {
                getFinancialYear();
                clearInterval(setWaitInterval);
            }
        }

        function getFinancialYear() {
            $.ajax(API_BASE_URL + "/FinancialYear/list",
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data)
                    {
                        var html = "";
                        var HasActF = false;

                        var IsActFExit = data.findIndex(p => p.IsFinanacialYearExpired == true);
                        if (IsActFExit != null && IsActFExit != "-1")
                        {
                            HasActF = true;
                        }

                        for (var i of data)
                        {
                            var setBtn = "";
                            var FinanacialYearExpired = "Not Active";

                            if (HasActF == false && i.IsFinanacialYearExpired == false)
                            {
                                    setBtn = `<button class="setDefault btn btn-primary btn-sm" onclick="setDefault(${i.financialYearId})">Set Default</button>`;
                                    FinanacialYearExpired = "Not Active";
                            }
                            else
                            {
                                if (!i.IsFinanacialYearExpired)
                                {
                                    /*setBtn = `<button class="setDefault btn btn-primary btn-sm" onclick="setDefault(${i.financialYearId})">Set Default</button>`;*/
                                    FinanacialYearExpired = "Not Active";
                                }
                                else
                                {
                                    FinanacialYearExpired = "Active";
                                }
                            }

                            html += `<tr id="row_${i.financialYearId}">
                                        <td>${ i.financialYearId } </td>
                                        <td>${ moment(i.fromDate)} </td>
                                        <td>${ moment(i.toDate) }  </td>
                                        <td>${ FinanacialYearExpired }</td>
                                        
    <td>
                                        ${ setBtn}
                                        <button class="deleteYear btn btn-success btn-sm" onclick="ChangeToDefault1(${i.financialYearId})">Set Default</button>      </td>
                                        <td>
                                        ${ setBtn }
                                        <button class="deleteYear btn btn-danger btn-sm" onclick="ChangeToDefault(${i.financialYearId})">Change to Previous Year</button>      </td>
                                    </tr>`;
                        }
                        
                        $(".tbody").html(html);
                        if (checkPriviledge("frmFinancialYear", "Update") === false) {
                            $(".setDefault").hide();
                        }

                        if (checkPriviledge("frmFinancialYear", "Delete") === false) {
                            $(".deleteYear").hide();
                        }
                        getCurrentYear();
                    }
                });


        }

        var currentStartYear = "";
        var currentEndYear = "";
        var currentYearId = "";
        function getCurrentYear() {
            $.ajax(API_BASE_URL + "/FinancialYear/GetCurrentFinancialYear",
                {
                    type: "get",
                    beforeSend: function() {
                        Utilities.Loader.Show();
                    },
                    complete: function() {
                        Utilities.Loader.Hide();
                    },
                    success: function(data) {
                        if (data.status == 200) {
                            currentStartYear = new Date(data.data.fromDate).toDateString();
                            currentEndYear = new Date(data.data.toDate).toDateString();
                            currentYearId = data.data.financialYearId;
                            $("#row_" + currentYearId).addClass("bg-success");
                            $("#currentFinicalYear").text(currentStartYear + " to " + currentEndYear);
                        } else {
                            currentStartYear = data.data;
                            $("#currentFinicalYear").text(currentStartYear);
                        }
                     
                    }
                });
        }

        function ChangeToDefault1(id) {

            Swal.fire({
                title: 'Financial Year Changings',
                text: "Please confirm if there are other users logged in the currenct year before changing this Financial Year as default!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, I am sure'
            }).then((result) => {

                if (result.value) {

                    ChangeToFinancialYear1(id);
                }
            });

        }

        function ChangeToFinancialYear1(id) {

            $.ajax(API_BASE_URL + "/FinancialYear/SetYear1/" + id,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        Utilities.Loader.Hide();
                       

                        var host = location.origin;

                        var loginUrl = "/Security/Login/Logout";

                        Swal.fire({
                            title: 'Financial Year Changings',
                            text: "Financial Year has been Changed successfully, A new login is required",
                            type: 'warning',
                            showCancelButton: false,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'Yes, Logout'
                        }).then((result) => {

                            if (result.value) {

                                var req = host + loginUrl;
                                console.log(req);
                                location.href = req;

                            }
                        });

                        //var dataResponse = JSON.stringify(data.response);
                        //var objResponse = { "data": dataResponse };
                        //$.ajax(host + "/Security/Login/SetPreviousFinancialYearSession",
                        //    {
                        //        type: 'post',
                        //        data: objResponse,
                        //        success: function (res) {

                        //            if (res == "True") {

                                      

                        //                return null;
                        //            }

                        //            Utilities.Loader.Hide();
                        //            Swal.fire("An error has occur, something went wrong please contact the admin or check internet connection and try again.", '', 'warning');
                        //            return;
                        //        },
                        //        error: function (e) {
                        //            Utilities.Loader.Hide();
                        //            Swal.fire("An error has occur, something went wrong please contact the admin or check internet connection and try again.", '', 'warning');
                        //            return;
                        //        }
                        //    });
                    }
                    //error: function (e) {

                    //    Utilities.Loader.Hide();
                    //    Swal.fire("An error has occur, something went wrong please contact the admin and try again.", '', 'warning');
                    //    return;
                    //}
                });

        }

        function ChangeToDefault(id)
        {

            Swal.fire({
                title: 'Financial Year Changings',
                text: "Are you sure that you want to move in this Financial Year",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, I am sure'
            }).then((result) => {

                if (result.value) {

                    ChangeToFinancialYear(id);
                }
            });

        }

        function ChangeToFinancialYear(id)
        {

            $.ajax(API_BASE_URL + "/FinancialYear/SetYear/" + id,
                {
                    type: "get",
                    beforeSend: function () {
                        Utilities.Loader.Show();
                    },
                    complete: function () {
                        Utilities.Loader.Hide();
                    },
                    success: function (data) {
                        Utilities.Loader.Hide();
                        Utilities.Loader.Show();

                        var host = location.origin;

                        var dataResponse = JSON.stringify(data.response);
                        var objResponse = { "data": dataResponse };
                        $.ajax(host + "/Security/Login/SetPreviousFinancialYearSession",
                            {
                                type: 'post',
                                data: objResponse,
                                success: function (res) {

                                    if (res == "True") {

                                        var loginUrl = "/Security/Login/Login";

                                        Swal.fire({
                                            title: 'Financial Year Changings',
                                            text: "Financial Year has been Changed successfully, A new login is required",
                                            type: 'warning',
                                            showCancelButton: false,
                                            confirmButtonColor: '#3085d6',
                                            cancelButtonColor: '#d33',
                                            confirmButtonText: 'Yes, Logout'
                                        }).then((result) => {

                                            if (result.value) {

                                                var req = host + loginUrl;
                                                console.log(req);
                                                location.href = req;

                                            }
                                        });

                                        return null;
                                    }

                                    Utilities.Loader.Hide();
                                    Swal.fire("An error has occur, something went wrong please contact the admin or check internet connection and try again.", '', 'warning');
                                    return;
                                },
                                error: function (e) {
                                    Utilities.Loader.Hide();
                                    Swal.fire("An error has occur, something went wrong please contact the admin or check internet connection and try again.", '', 'warning');
                                    return;
                                }
                            });
                    }
                    //error: function (e) {

                    //    Utilities.Loader.Hide();
                    //    Swal.fire("An error has occur, something went wrong please contact the admin and try again.", '', 'warning');
                    //    return;
                    //}
                });

        }

        function setDefault(id) {
            $.ajax(API_BASE_URL + "/FinancialYear/ChangeFinancialYear/"+id,
                {
                    type: "get",
                    beforeSend: function() {
                        Utilities.Loader.Show();
                    },
                    complete: function() {
                        Utilities.Loader.Hide();
                    },
                    success: function(data) {
                        Utilities.Alert(data.message);
                        location.reload();
                    }
                });
        } 

        function deleteYear(id)
        {
            $.ajax(API_BASE_URL + "/FinancialYear/DeleteYear/"+id,
                {
                    type: "get",
                    beforeSend: function() {
                        Utilities.Loader.Show();
                    },
                    complete: function() {
                        Utilities.Loader.Hide();
                    },
                    success: function(data) { 
                        if (data.status == 200) {
                            Utilities.Alert(data.message);
                            location.reload();
                        } else {
                            Utilities.ErrorNotification(data.message);

                        }
                      
                    }
                });
        }
    </script>
}
