﻿
@{
    ViewBag.Title = "Item Category/Profile";
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-header">
                    <br />
                    <button style="margin-left:5px;" class="btn btn-primary" data-toggle="modal" data-target="#addModal"><i class="fa fa-plus-circle"></i> Add Category/Profile</button>
                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="itemGroupTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Category/Profile</th>
                                <th>Under</th>
                                <th>Level</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="category" placeholder="Category/Profile Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Create As</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="groupLevel">
                                    <option value="">Select</option>
                                    <option value="Division">Division</option>
                                    <option value="Group">Group</option>
                                    <option value="Sub Group">Sub Group</option>
                                    <option value="Category">Category</option>
                                    <option value="Sub Category">Sub Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Under</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="under">
                                </select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="addCategory">Add Category</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" >
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Category</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="categoryEdit" placeholder="Category/Profile Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Create As</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="groupLevelEdit">
                                    <option value="">Select</option>
                                    <option value="Division">Division</option>
                                    <option value="Group">Group</option>
                                    <option value="Sub Group">Sub Group</option>
                                    <option value="Category">Category</option>
                                    <option value="Sub Category">Sub Category</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Under</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="underEdit"></select>
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="editProductGroup();" id="saveEdit">Save</button>
            </div>
        </div>
    </div>
</div>

<br /><br />

@*<div id="itemGroupGrid"></div>*@

@section PageScripts{
    <script src="~/Scripts/Inventory/itemGroup.js"></script>
}