﻿@model dynamic

@{
    ViewBag.Title = "Create Project";
    var pagePrivileges = ViewBag.pagePrivileges;
}
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            @{

                if (pagePrivileges.Contains("Save"))
                {
                    @Html.Raw("<div class=\"panel\">");
                }
                else
                {
                    @Html.Raw("<div class=\"panel hide\">");
                }

            }

            <!-- /.box-header -->
            <div class="panel-body">
                <h3 class="panel-title">Create Project</h3>
                <form class="">
                    <div class="form-group">
                        <label>Project name</label>
                        <input type="text" name="projectName" class="form-control" id="projectName" />
                    </div> <div class="form-group">
                        <label>Closing Date</label>
                        <input type="datetime" name="projectCloseDate" class="form-control" value="@DateTime.Now.ToShortDateString()" id="projectCloseDate" />
                    </div>
                    <div class="form-group">
                        <label>Project Owner</label>
                        <select class="form-control" id="projectOwner">
                        </select>
                    </div>

                    <button type="button" class="btn btn-primary" id="addProject">Add Project</button>
                    <button type="button" class="btn btn-success" id="saveProject" style="display:none">Save Project</button>
                </form>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel">

            <!-- /.box-header -->
            <div class="panel-body">
                <h3 class="panel-title">Project</h3>
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Name</th>
                                <th>Created by</th>
                                <th>Created Date</th>
                                <th>Owner</th>
                                <th>Closing Date</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody class="tbody">
                        </tbody>
                    </table>

                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
    </div>
</section>

@section scripts
{
    <script>
        $("#addProject").click(function (event) {
            event.preventDefault();
            if ($("#projectName").val() == '') {
                $("#projectName").css("border", "2px solid red");
            } else {
                $("#projectName").css("border", "none");
                var project = $("#projectName").val();
                $.ajax(API_BASE_URL + "/Project/CreateProject",
                    {
                        type: "post",
                        data: {
                            "ProjectName": project,
                            "CreatedBy": JSON.parse(localStorage.getItem("MAT_USER_INFO")).UserId,
                            ProjectOwnerId: $("#projectOwner").val(),
                            CloseDate: $("#projectCloseDate").val(),

                        },
                        beforeSend: () => {
                            $(this).attr("disabled");
                        },
                        complete: () => {
                            $(this).removeAttr("disabled");
                        },
                        success: (data) => {

                            Utilities.Alert("Saved Successfully");
                            console.log(data);
                            location.reload();
                        }
                    });

            }

        });

        $(function () {
            //;load

        });

        function GetUser(id) {
            if (users == null || users == '') {
                return "NA";
            } else {
                for (var i of users) {
                    if (i.userId == id) {
                        return i.userName;
                    }
                }
            }
        }

        var users = [];
        $(function () {
            $.ajax(API_BASE_URL + "/UserCreation/GetUser/",
                {
                    type: "get",
                    beforeSend: () => {
                        //  Utilities.InfoNotification("Loading Data");
                    },
                    complete: () => {
                        //   Utilities.ErrorNotification("Failed Loading Data");
                    }

                }).done((data) => {
                    if (data == null || data == '') {
                    } else {
                        users = data;
                        $("#projectOwner").append(`<option value="0">-select-</option>`);
                        data.forEach((a) => {
                            $("#projectOwner").append(`<option value="${a.userId}">${a.userName}</option>`);
                        });
                    }
                    $.ajax(API_BASE_URL + "/Project/GetProject",
                        {
                            type: "get",
                            beforeSend: () => {
                                Utilities.InfoNotification("Loading Data");
                            },
                            complete: () => {
                                Utilities.InfoNotification("Loading Complete!");

                            },
                            success: (data) => {
                                $(".tbody").html("");
                                var sn = 0;
                                for (var i of data) {
                                    sn += 1;

                                    $(".tbody").append(` <tr>
                                            <td>${sn}</td>
                                            <td>${i.ProjectName}</td>
                                            <td ">${GetUser(i.CreatedBy)}</td>
                                            <td>${new Date(i.CreatedOn).toDateString()}</td>
                                            <td>${GetUser(i.ProjectOwnerId)}</td>
                                            <td>${new Date(i.CloseDate).toDateString()}</td>

            <td><button class="btn btn-primary " onclick = 'editProject(${i.ProjectId})'><i class="fa fa-edit"></i> Edit</button></td>
            <td><button class="btn btn-danger " onclick = 'deleteProject(${i.ProjectId})'><i class="fa fa-times-circle"></i> Delete</button></td>
                                        </tr>`);
                                    var user = GetUser(i.CreatedBy, sn);
                                }
                            }
                        });
                });

        });
    </script>

    <script>
        function deleteProject(id) {
            if (confirm("Do you really want to delete Project?")) {
                $.ajax(API_BASE_URL + "/Project/DeleteProject/" + id,
                    {
                        type: "post",
                        success: function (res) {
                            if (res.ProjectId == null) {
                                Utilities.InfoNotification("Deleted");
                                location.reload();
                            }
                            else {
                                Utilities.InfoNotification("Unable to delete Project. Project Reference Exists.");
                            }

                        }
                    });
            }
        }
    </script>
    <script>

        function editProject(id) {
            $("#saveProject").show();
            $("#addProject").attr('disabled', true);
            if (id != '') {
                $.ajax(API_BASE_URL + "/Project/GetProject/" + id,
                    {
                        type: "get",
                        beforeSend: () => {
                            Utilities.InfoNotification("Geting Project");
                        },
                        complete: () => {
                            //Utilities.InfoNotification("Loading Complete!");

                        },
                        success: (data) => {
                            $("#projectName").val(data.ProjectName);
                            $("#projectCloseDate").val(new Date(data.CloseDate).toDateString());
                            $("#projectOwner").val(data.ProjectOwnerId);
                            $(this).scrollTop(0);

                            $("#saveProject").click(function (event) {
                                event.preventDefault();
                                if (id != '') {
                                    var projectId = id;
                                    var createdBy = data.CreatedBy;
                                    var createdOn = data.CreatedOn;
                                    var project = $("#projectName").val();
                                    var closeDate = $("#projectCloseDate").val();
                                    var projectOwner = $("#projectOwner").val();
                                    $.ajax(API_BASE_URL + "/Project/PutProject/" + id,
                                        {
                                            type: "post",
                                            data: {
                                                "CreatedBy": createdBy,
                                                "CreatedOn": createdOn,
                                                "ProjectId": projectId,
                                                "CloseDate": closeDate,
                                                "ProjectName": project,
                                                "ModifiedBy": JSON.parse(localStorage.getItem("MAT_USER_INFO")).UserId,
                                                "ProjectOwnerId": projectOwner,

                                            },
                                            beforeSend: () => {
                                                $(this).attr("disabled");
                                            },
                                            complete: () => {
                                                $(this).removeAttr("disabled");
                                            },
                                            success: (data) => {

                                                Utilities.Alert("Updated Successfully");
                                                console.log(data);
                                                location.reload();
                                            }
                                        });
                                }

                            });
                        }
                    });

            }


        }




    </script>

}








@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#projectCloseDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("projectCloseDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#projectCloseDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("projectCloseDate");
            doc.readonly = true;

        });

    </script>
}