@{
    ViewBag.Title = "City";
    var pagePrivileges = ViewBag.pagePrivileges;
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-xs-12">
            <div class="panel">
                @{
                    foreach (var item in pagePrivileges)
                    {
                        if (item == "Save")
                        {
                            @Html.Raw("<div class=\"panel-header\"> <br />" +
                    "<button style=\"margin:0px 20px 10px 0px\" class=\"frmCity-Save btn btn-primary pull-right\" data-toggle=\"modal\" data-target=\"#addModal\">" +
                    "<i class=\"fa fa-plus-circle\"></i> Add City</button></div>");
                        }

                    }
                }

                
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="cityTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>City</th>
                                <th>State</th>
                                @{
                                    foreach (var item in pagePrivileges)
                                    {
                                        if (item == "Update")
                                        {
                                            @Html.Raw("<th>Edit</th>");
                                        }

                                    }
                                }
                                @{
                                    foreach (var item in pagePrivileges)
                                    {
                                        if (item == "Delete")
                                        {
                                            @Html.Raw("<th>Delete</th>");
                                        }

                                    }
                                }
                                
                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--add Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add City</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editCityId" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">City Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="cityName" placeholder="City Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">State</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="stateId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="narration" placeholder="Narration">
                            </div>
                        </div>
                        @*<div class="form-group">
                            <label class="col-sm-4 control-label">Extra 1</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra1" placeholder="Extra">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Extra 2</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="extra2" placeholder="Extra">
                            </div>
                        </div>*@
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveCity">Add City</button>
            </div>
        </div>
    </div>
</div>

<!--edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit City</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="editErrorMsg"></div>
                    </center>
                    <div class="box-body">
                        <input type="hidden" id="editCityId" />
                        <input type="hidden" id="editDate" />
                        <div class="form-group">
                            <label class="col-sm-4 control-label">City Name</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editCityName" placeholder="City Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">State</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="editStateId"></select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Narration</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="editNarration" placeholder="Narration">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChanges">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete City</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteCityName"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Cities.js?v=@DateTime.Now"></script>
}