﻿@{
    ViewBag.Title = "Order Confirmation Listing";
}


<div class="tab-base">
    <ul class="nav nav-tabs">
        <li class="active">
            <a data-toggle="tab" href="#all">
                All Location
                <span class="badge badge-warning" id="allLocationCount">...</span>
            </a>
        </li>
        <li class="active">
            <a data-toggle="tab" href="#count">
                My Location
                <span class="badge badge-warning" id="myLocationCount">...</span>
            </a>
        </li>
        <li>
            <a data-toggle="tab" href="#listing">
                Other Locations
                <span class="badge badge-warning" id="otherLocationCount">...</span>
            </a>
        </li>
    </ul>
    <div class="tab-content">
        <div id="all" class="tab-pane fade active in">
            <div class="row">
                <div class="eq-height">
                    <div class="col-md-12">

                        <form onsubmit="return false;">
                            <div class="panel panel-body">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Date</label>
                                            <select id="backDays0" class="form-control">
                                                <option value="0">Today</option>
                                                <option value="1">Yesterday</option>
                                                <option value="7">One Week Ago</option>
                                                <option value="custom">Custom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dtHide">
                                        <div class="form-group">
                                            <label class="control-label">From Date</label>
                                            <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate0">
                                        </div>
                                    </div>
                                    <div class="col-md-3 dtHide">
                                        <div class="form-group">
                                            <label class="control-label">To Date</label>
                                            <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate0">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label class="control-label">Order Status</label>
                                                <select id="orderStatus0" class="form-control">
                                                    <option value="">All</option>
                                                    <option value="Pending" selected>Pending</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button id="search0" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="table-responsive">
                                    <table id="salesQuotationListTable0" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                                        <thead>
                                            <tr>
                                                <th style="white-space: nowrap;">S/N</th>
                                                <th style="white-space: nowrap;">Order No.</th>
                                                <th style="white-space: nowrap;">Date</th>
                                                <th style="white-space: nowrap;">Agent Name</th>
                                                <th style="white-space: nowrap;">Bill Amount</th>
                                                <th style="white-space: nowrap;">Done By</th>
                                                <th style="white-space: nowrap;">Status</th>
                                                <th style="white-space: nowrap;"></th>
                                            </tr>
                                        </thead>
                                        @*<tbody id="salesQuotationListTbody"></tbody>*@
                                    </table>
                                </div><br /><br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="count" class="tab-pane fade ">
            <div class="row">
                <div class="eq-height">
                    <div class="col-md-12">

                        <form onsubmit="return false;">
                            <div class="panel panel-body">
                                <div class="row">

                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Date</label>
                                            <select id="backDays" class="form-control">
                                                <option value="0">Today</option>
                                                <option value="1">Yesterday</option>
                                                <option value="7">One Week Ago</option>
                                                <option value="custom">Custom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dtHide">
                                        <div class="form-group">
                                            <label class="control-label">From Date</label>
                                            <input type="text" value="@DateTime.Now.ToShortDateString()" readonly="readonly" class="form-control" id="fromDate">
                                        </div>
                                    </div>
                                    <div class="col-md-3 dtHide">
                                        <div class="form-group">
                                            <label class="control-label">To Date</label>
                                            <input type="text" value="@DateTime.Now.ToShortDateString()" readonly="readonly" class="form-control" id="toDate">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label class="control-label">Order Status</label>
                                                <select id="orderStatus" class="form-control">
                                                    <option value="">All</option>
                                                    <option value="Pending" selected>Pending</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="table-responsive">
                                    <table id="salesQuotationListTable" class="table table-striped text text-sm text-sm" style="overflow: auto !important;">
                                        <thead>
                                            <tr>
                                                <th style="white-space: nowrap;">S/N</th>
                                                <th style="white-space: nowrap;">Order No.</th>
                                                <th style="white-space: nowrap;">Date</th>
                                                <th style="white-space: nowrap;">Agent Name</th>
                                                <th style="white-space: nowrap;">Bill Amount</th>
                                                <th style="white-space: nowrap;">Done By</th>
                                                <th style="white-space: nowrap;">Status</th>
                                                <th style="white-space: nowrap;"></th>
                                            </tr>
                                        </thead>
                                        @*<tbody id="salesQuotationListTbody"></tbody>*@
                                    </table>
                                </div><br /><br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div id="listing" class="tab-pane fade">
            <div class="row">
                <div class="eq-height">
                    <div class="col-md-12">

                        <form onsubmit="return false;">
                            <div class="panel panel-body">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Date</label>
                                            <select id="backDays2" class="form-control">
                                                <option value="0">Today</option>
                                                <option value="1">Yesterday</option>
                                                <option value="7">One Week Ago</option>
                                                <option value="custom">Custom</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-md-3 dtHide">
                                        <div class="form-group">
                                            <label class="control-label">From Date</label>
                                            <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate2">
                                        </div>
                                    </div>
                                    <div class="col-md-3 dtHide">
                                        <div class="form-group">
                                            <label class="control-label">To Date</label>
                                            <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate2">
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="col-md-9">
                                            <div class="form-group">
                                                <label class="control-label">Order Status</label>
                                                <select id="orderStatus2" class="form-control">
                                                    <option value="">All</option>
                                                    <option value="Pending" selected>Pending</option>
                                                    <option value="Approved">Approved</option>
                                                    <option value="Cancelled">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-md-3">
                                            <br />
                                            <button id="search2" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                        </div>
                                    </div>
                                </div>
                                <br /><br />
                                <div class="table-responsive">
                                    <table id="salesQuotationListTable2" class="table table-striped text text-sm text-sm" style="overflow: auto !important;">
                                        <thead>
                                            <tr>
                                                <th style="white-space: nowrap;">S/N</th>
                                                <th style="white-space: nowrap;">Order No.</th>
                                                <th style="white-space: nowrap;">Date</th>
                                                <th style="white-space: nowrap;">Agent Name</th>
                                                <th style="white-space: nowrap;">Bill Amount</th>
                                                <th style="white-space: nowrap;">Mgt. Fee</th>
                                                <th style="white-space: nowrap;">Done By</th>
                                                <th style="white-space: nowrap;">Status</th>
                                                <th style="white-space: nowrap;"></th>
                                            </tr>
                                        </thead>
                                        @*<tbody id="salesQuotationListTbody"></tbody>*@
                                    </table>
                                </div><br /><br />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="orderDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Agent :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Status :</div>
                                        <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;"></th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Warehouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    <th style="white-space: nowrap;">Tax Amount</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Order Amount</div>
                                <div class="col-md-6" id="orderAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="orderAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Management Fee</div>
                                <div class="col-md-6" id="taxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="taxAmountTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="grandTotalTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Approve Order</button>
                <button class="btn btn-danger" onclick="cancelOrder();" id="cancelOrder" type="button"><i class="fa fa-times"></i> Cancel Order</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Register2.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        getSalesQuotationsList("2017-01-01", $("#toDate0").val(), "Pending");
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }

            if ($(this).val() == "1") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -1));
                $("#toDate").val(Utilities.SetDate(todayDate(), -1));
            }
        });
        $("#search").click(function (event) {
            //if (table != "")
            //{
            //    table.destroy();
            //}
            event.preventDefault();
            getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
        });
        //getSalesQuotationsList2("2017-01-01", $("#toDate").val(), "Pending");
        $("#backDays2").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate2").val(Utilities.SetDate(todayDate(), -$("#backDays2").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate2").val(todayDate());
            }

            if ($(this).val() == "1") {
                $("#fromDate2").val(Utilities.SetDate(todayDate(), -1));
                $("#toDate2").val(Utilities.SetDate(todayDate(), -1));
            }
        });
        $("#search2").click(function (event) {
            //if (table2 != "") {
            //    table2.destroy();
            //}
            event.preventDefault();
            getSalesQuotationsList($("#fromDate2").val(), $("#toDate2").val(), $("#orderStatus2").val());
        });
        $("#backDays0").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate0").val(Utilities.SetDate(todayDate(), -$("#backDays0").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate0").val(todayDate());
            }

            if ($(this).val() == "1") {
                $("#fromDate0").val(Utilities.SetDate(todayDate(), -1));
                $("#toDate0").val(Utilities.SetDate(todayDate(), -1));
            }
        });
        $("#search0").click(function () {
            //if (table2 != "") {
            //    table2.destroy();
            //}
            getSalesQuotationsList($("#fromDate0").val(), $("#toDate0").val(), $("#orderStatus0").val());
        });
    </script>
}







<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

@{
    var ResultDate = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}


<script type="text/javascript">


    function hideFinancial() {
        $("#FinancialCover").hide();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "none";
        //}
    }

    function showFinancial() {
        $("#FinancialCover").show();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "grid";
        //}
    }

</script>

@if (ResultDate != null)
{

    <script type="text/javascript">

        var BeginYear = @ResultDate.FromDate.AddMonths(-1).Year;
        var BeginMonth = @ResultDate.FromDate.AddMonths(-1).Month;
        var BeginDay = @ResultDate.FromDate.AddMonths(-1).Day;

        var EndYear = @ResultDate.ToDate.AddMonths(-1).Year;
        var EndMonth = @ResultDate.ToDate.AddMonths(-1).Month;
        var EndDay = @(ResultDate.ToDate.AddMonths(-1).Day + 1);

    var dateFrom = null;
    var dateTo = null;

    var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;
        var host = location.origin;

        $(function () {
            hideFinancial();
        ArrangeDateList();

        //dateFrom1 = $("#fromDate");
        //dateTo1 = $("#toDate");

        //dateFrom1.datepicker({
        //    autoclose: true,
        //});

        dateFrom = document.getElementById("fromDate");
        dateFrom.readonly = true;


        //dateTo1.datepicker({
        //    autoclose: true,
        //});

        dateTo = document.getElementById("toDate");
        dateTo.readonly = true;

    });

    function IncludeDatePickerAction(obj) {

        if (obj.checked) {
            /* obj.checked = false;*/
            isFInclude = true;
            listFinancialYear = null;
            listFinancialYear = [];
            showFinancial();
           // RangeDatePicker();
        }
        else {
            /* obj.checked = true;*/
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }
    }

        function BackWordFinancialYear()
        {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

    function FinancialYearItems(obj) {

        //listFinancialYear.push({ year: obj.html });
    }

    function OnFinancialYearChange(obj) {

        if (obj.value == null || obj.value == "") {
            obj.selectedIndex = 0;
            BackWordFinancialYear();
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        if (obj.value != "0") {
            if (isFInclude == false) {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                return;
            }
        }
        else {

            document.getElementById('IncludeDatePicker').checked = false;
            listFinancialYear = null;
            obj.selectedIndex = 0;
            isFInclude = false;
            BackWordFinancialYear();
            return;
        }

        if (listFinancialYear == null) {
            listFinancialYear = [];
        }

        var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

        //$.post(url, { AllDate: obj.value }, function (data, status) {
        //    alert("Data: " + data + "\nStatus: " + status);
        //});

        var dateyerObj = parseJSON(obj.value);
        if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

        if (isFExitList != "-1") {


            Swal.fire({
                title: 'Warning',
                text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {

                if (result.value) {

                    try {

                        listFinancialYear = null;
                        listFinancialYear = [];

                        listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                        RangeDatePicker();

                        //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                        //if (listFYear != null && listFYear != "-1") {
                        //    //listFinancialYear.splice(listFYear, 1);
                        //    return;
                        //}

                        return;
                    }
                    catch (error) {
                        Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                        return;
                    }
                }
                else {

                }
            });
            return;
        }
        else {

            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
            RangeDatePicker();
            return;
        }
    }

    function ArrangeDateList() {
        Utilities.Loader.Show();

        $.ajax({
            url: host + "/FinancialStatements/GetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ data: "Good" }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);

                    Utilities.Loader.Hide();

                    if (result != null && result != "100") {
                        listFinancialYear = result.DatePickers;
                        if (listFinancialYear.length > 0) {
                            document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length ;
                        }
                        else {
                            document.getElementById('selectedFinancialYear').innerHTML = "";
                        }
                        showFinancial();
                        document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                        document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                        isFInclude = true;
                        BindResult(listFinancialYear);
                    }
                    else {

                        dateFrom1 = $("#fromDate");
                        dateTo1 = $("#toDate");

                        dateFrom1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateTo1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;

                    }
                    /// $("#fromDate").datepicker("refresh");

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function BindResult(objList) {
        Utilities.Loader.Show();

        $.ajax({
            url: API_BASE_URL + "/FinancialStatements/GetDateRange",
            type: "Post",
            data: JSON.stringify(objList),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result != null) {

                        $("#fromDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        $("#toDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;
                    }

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function RangeDatePicker() {
        Utilities.Loader.Show();

        // var PostDate = [];
        //  PostDate.listFinancialYear = listFinancialYear;
        var IsChecked = document.getElementById('IncludeDatePicker').checked;
        var SelectedIndex = document.getElementById('yearF').selectedIndex;

        $.ajax({
            url: host + "/FinancialStatements/SetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result == "200") {
                        location.reload();
                    }


                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function parseJSON(data) {
        return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
    }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {

                        location.reload();
                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }
                    location.reload();
                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

    </script>
}
else
{
    <script type="text/javascript">

        var dateFrom = null;
        var dateTo = null;

        var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;

        var host = location.origin;

        $(function () {

            hideFinancial();
            ArrangeDateList();
            //dateFrom1 = $("#fromDate");
            //dateTo1 = $("#toDate");

            //dateFrom1.datepicker({
            //    autoclose: true,
            //});

            dateFrom = document.getElementById("fromDate");
            dateFrom.readonly = true;

            //dateTo1.datepicker({
            //    autoclose: true,
            //});

            dateTo = document.getElementById("toDate");
            dateTo.readonly = true;

        });

        function IncludeDatePickerAction(obj) {

            if (obj.checked) {
                /* obj.checked = false;*/
                isFInclude = true;
                listFinancialYear = null;
                listFinancialYear = [];
                showFinancial();
                // RangeDatePicker();
            }
            else {
                /* obj.checked = true;*/
                isFInclude = false;
                listFinancialYear = null;
                document.getElementById('yearF').selectedIndex = 0;
                document.getElementById('selectedFinancialYear').innerHTML = "";
                hideFinancial();
                ClearDateList();
            }
        }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {

                        location.reload();
                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }
                    location.reload();
                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BackWordFinancialYear() {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

        function FinancialYearItems(obj) {

            //listFinancialYear.push({ year: obj.html });
        }

        function OnFinancialYearChange(obj) {

            if (obj.value == null || obj.value == "") {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            if (obj.value != "0") {
                if (isFInclude == false) {
                    obj.selectedIndex = 0;
                    BackWordFinancialYear();
                    Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                    return;
                }
            }
            else {

                document.getElementById('IncludeDatePicker').checked = false;
                listFinancialYear = null;
                obj.selectedIndex = 0;
                isFInclude = false;
                BackWordFinancialYear();
                return;
            }

            if (listFinancialYear == null) {
                listFinancialYear = [];
            }

            var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

            //$.post(url, { AllDate: obj.value }, function (data, status) {
            //    alert("Data: " + data + "\nStatus: " + status);
            //});

            var dateyerObj = parseJSON(obj.value);
            if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

            if (isFExitList != "-1") {




                Swal.fire({
                    title: 'Warning',
                    text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {

                    if (result.value) {

                        try {

                            listFinancialYear = null;
                            listFinancialYear = [];

                            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                            RangeDatePicker();

                            //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                            //if (listFYear != null && listFYear != "-1") {
                            //    //listFinancialYear.splice(listFYear, 1);
                            //    return;
                            //}

                            return;
                        }
                        catch (error) {
                            Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                            return;
                        }
                    }
                    else {

                    }
                });
                return;



            }
            else {

                listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                RangeDatePicker();
                return;
            }
        }

        function ArrangeDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/GetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();

                        if (result != null && result != "100") {
                            listFinancialYear = result.DatePickers;
                            if (listFinancialYear.length > 0) {
                                document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length;
                            }
                            else {
                                document.getElementById('selectedFinancialYear').innerHTML = "";
                            }
                            showFinancial();
                            document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                            document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                            isFInclude = true;
                            BindResult(listFinancialYear);
                        }
                        else {

                            dateFrom1 = $("#fromDate");
                            dateTo1 = $("#toDate");

                            dateFrom1.datepicker({
                                autoclose: true,
                            });

                            dateTo1.datepicker({
                                autoclose: true,
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;

                        }
                        /// $("#fromDate").datepicker("refresh");

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BindResult(objList) {
            Utilities.Loader.Show();

            $.ajax({
                url: API_BASE_URL + "/FinancialStatements/GetDateRange",
                type: "Post",
                data: JSON.stringify(objList),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result != null) {

                            $("#fromDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            $("#toDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function RangeDatePicker() {
            Utilities.Loader.Show();

            // var PostDate = [];
            //  PostDate.listFinancialYear = listFinancialYear;
            var IsChecked = document.getElementById('IncludeDatePicker').checked;
            var SelectedIndex = document.getElementById('yearF').selectedIndex;

            $.ajax({
                url: host + "/FinancialStatements/SetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result == "200") {
                            location.reload();
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function parseJSON(data) {
            return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
        }

    </script>
}

