﻿@{
    ViewBag.Title = "Release Form Listing";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <select id="backDays" class="form-control">
                                        <option value="0">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="7">One Week Ago</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="col-md-9">
                                    <div class="form-group">
                                        <label class="control-label">Order Status</label>
                                        <select id="status" class="form-control">
                                            <option value="Authorized">Pending</option>
                                            <option value="Processed">Processed</option>
                                            <option value="All">All</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <br />
                                    <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="table-responsive">
                            <table id="releaseFormListingTable" class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">#</th>
                                        <th style="white-space: nowrap;">Agent Name</th>
                                        <th style="white-space: nowrap;">Order No.</th>
                                        <th style="white-space: nowrap;">Order Date</th>
                                        <th style="white-space: nowrap;">Authorization Date</th>
                                        <th style="white-space: nowrap;">Status</th>
                                        <th style="white-space: nowrap;">Action</th>
                                    </tr>
                                </thead>

                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Register.js"></script>
    <script type="text/javascript">
        getReleaseFormListing("2017-01-01", $("#toDate").val(), "Authorized");
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }

            if ($(this).val() == "1") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -1));
                $("#toDate").val(Utilities.SetDate(todayDate(), -1));
            }
        });
        $("#search").click(function () {
            if (table != "")    //to prevent js error in case datatable is not initialized
            {
                table.destroy();
            }
            getReleaseFormListing($("#fromDate").val(), $("#toDate").val(),$("#status").val());
        });
    </script>
}