﻿@{
    ViewBag.Title = "Sales Order Edit";
}
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Order No.</label>
                            <div class="col-sm-4">
                                <input type="text" id="orderNo" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label" for="">Transaction Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="transactionDate" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Customer</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="customers"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Due Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="dueDate" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            @*<label class="col-sm-2 control-label" for="">Sales Man</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="salesMan"></select>
                            </div>*@
                            <label class="col-sm-2 control-label" for="">Due Days</label>
                            <div class="col-sm-4">
                                <input type="number" id="dueDays" value="0" class="form-control">
                            </div>
                        </div>
                    </div>
                    @*<br />*@
                    @*<div class="row">
                        <div class="form-group">
                            @*<label class="col-sm-2 control-label" for="">Apply On</label>
                            <div class="col-sm-4">
                                <select id="applyOn" class="form-control" disabled="disabled"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Quotation No.</label>
                            <div class="col-sm-4">
                                <select id="quotationNo" class="form-control" disabled="disabled"><option value="-1">--Select--</option></select>
                            </div>
                        </div>
                    </div>
                    <br />*@
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Pricing Level</label>
                            <div class="col-sm-4">
                                <select id="pricingLevel" class="form-control"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Currency.</label>
                            <div class="col-sm-4">
                                <select id="currency" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Store</label>
                            <div class="col-sm-4">
                                <select id="store" class="form-control" ></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*Line Items*@
                        <button id="btnAddLineItemModal" data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Remove</th>
                                        <th style="white-space: nowrap;">Stock Card</th>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;" class="Settings_Barcode">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="salesOrderLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea class="form-control" id="narration"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-offset-9">
                                    <br />
                                    <div class="form-group">
                                        <label class="control-label">Bill Total</label>
                                        <input id="billAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Tax Amount</label>
                                        <input id="taxAmountHtml" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                        <label class="control-label">Grand Total</label>
                                        <input id="grandTotal" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                    @*<div style="text-decoration:underline;font-size:13px;"><b>Bill Amount : </b><strong id="billAmount">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Tax Amount : </b><strong id="taxAmountHtml">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Canncelled</label>
                                        <input type="checkbox" id="cancelled" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-8">
                                <button class="btn btn-primary" id="update"><i class="fa fa-save"></i> Update</button>
                                <button class="btn btn-primary"><i class="fa fa-envelope"></i> Update & Email</button>
                                <button class="btn btn-danger" id="delete"><i class="fa fa-trash-o"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Line Item From <span id="storeToAddFrom"></span></h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle chosenDropdown"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle chosenDropdown"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle chosenDropdown"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityToAdd" type="number" value="1" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate"  type="text" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="amount" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="description" readonly="readonly" type="text" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock</label>
                                    <input id="quantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" id="addLineItem" type="button">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" value="@ViewBag.CustomerId" id="customerId" />
<input type="hidden" value="@ViewBag.CustomerName" id="customerName" />
@section PageScripts{
    <script type="text/javascript">
        var SalesOrderMasterId =@ViewBag.salesOderMasterId;
        
    </script>
    <script src="~/Scripts/Customer/SalesOrderEdit.js"></script>
}

