@{
    ViewBag.Title = "Role Priviledge Settings";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="demo-hor-inputemail">Role</label>
                            <div class="col-md-9">
                                <select class="form-control" id="role"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <br /><br />
                <div class="row">
                    <div class="col-sm-10">
                        <div class="tab-base">

                            <!--Nav Tabs-->
                            <ul class="nav nav-tabs" style="background-color:#f0f2f4;">
                                <li class="active">
                                    <a data-toggle="tab" href="#company">Company</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#masters1">Agents</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#masters2">Suppliers</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#masters3">Inventory</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#transactions1">Banking</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#transactions2">Masters</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#transactions3">Accounting</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#register">Registers</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#payroll1">Payroll 1</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#payroll2">Payroll 2</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#budget">Budget</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#settings">Settings</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#search">Search</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#reminder">Reminder</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#financialStatements">Financial Statements</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#reports1">Reports 1</a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#reports2">Reports 2</a>
                                </li>
                            </ul>

                            <!--Tabs Content-->
                            <div class="tab-content">
                                <div id="company" class="tab-pane fade active in">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmCompanyAction"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmCompanyAction"> Clear All</label>
                                    <br /><br /><br />

                                    <label> <input type="checkbox" id="frmCompany-Update">Edit</label>
                                    <br /><br />
                                    <label> <input type="checkbox" id="frmCompany-Delete">Delete</label>
                                    <br /><br />
                                    <label> <input type="checkbox" id="frmCompany-Backup">Back Up</label>
                                    <br /><br />
                                    <label> <input type="checkbox" id="frmCompany-Restore">Restore</label>
                                    <br /><br />
                                    <label> <input type="checkbox" id="frmCompany-Close">Close</label>
                                    <br /><br />
                                    <label><input type="checkbox" id="frmCompany-View" />View</label>
                                    <br /><br />
                                </div>
                                <div id="masters1" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmMasters1Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmMasters1Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Agent</b><br />
                                            <label> <input type="checkbox" id="frmCustomer-All">All</label>
                                            <label> <input type="checkbox" id="frmCustomer-Save">Add</label>
                                            <label> <input type="checkbox" id="frmCustomer-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmCustomer-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmCustomer-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Sales Order</b><br />
                                            <label> <input type="checkbox" id="frmSalesQuotation-All">All</label>
                                            <label> <input type="checkbox" id="frmSalesQuotation-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSalesQuotation-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSalesQuotation-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSalesQuotation-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Sales Confirmation</b><br />
                                            <label> <input type="checkbox" id="frmSalesOrder-All">All</label>
                                            <label> <input type="checkbox" id="frmSalesOrder-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSalesOrder-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSalesOrder-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSalesOrder-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Release Form</b><br />
                                            <label> <input type="checkbox" id="frmDeliveryNote-All">All</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-Save">Add</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Rejection In</b><br />
                                            <label> <input type="checkbox" id="frmRejectionIn-All">All</label>
                                            <label> <input type="checkbox" id="frmRejectionIn-Save">Add</label>
                                            <label> <input type="checkbox" id="frmRejectionIn-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmRejectionIn-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmRejectionIn-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Sales Invoice</b><br />
                                            <label> <input type="checkbox" id="frmSalesInvoice-All">All</label>
                                            <label> <input type="checkbox" id="frmSalesInvoice-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSalesInvoice-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSalesInvoice-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSalesInvoice-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Sales Return</b><br />
                                            <label> <input type="checkbox" id="frmSalesReturn-All">All</label>
                                            <label> <input type="checkbox" id="frmSalesReturn-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSalesReturn-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSalesReturn-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSalesReturn-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Receipts</b><br />
                                            <label> <input type="checkbox" id="frmReceipts-All">All</label>
                                            <label> <input type="checkbox" id="frmReceipts-Save">Add</label>
                                            <label> <input type="checkbox" id="frmReceipts-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmReceipts-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmReceipts-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>PDC Receivable</b><br />
                                            <label> <input type="checkbox" id="frmPdcReceivable-All">All</label>
                                            <label> <input type="checkbox" id="frmPdcReceivable-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPdcReceivable-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPdcReceivable-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPdcReceivable-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>PDC Clearance</b><br />
                                            <label> <input type="checkbox" id="frmPdcClearance-All">All</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Credit Note</b><br />
                                            <label> <input type="checkbox" id="frmCreditNote-All">All</label>
                                            <label> <input type="checkbox" id="frmCreditNote-Save">Add</label>
                                            <label> <input type="checkbox" id="frmCreditNote-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmCreditNote-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmCreditNote-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>POS</b><br />
                                            <label> <input type="checkbox" id="frmPos-All">All</label>
                                            <label> <input type="checkbox" id="frmPos-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPos-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPos-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPos-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Order Authorization</b><br />
                                            <label> <input type="checkbox" id="frmSalesOrderAuthorization-View">View</label><br /><br />
                                            <b>Release Form Listing</b><br />
                                            <label> <input type="checkbox" id="frmReleaseForm-View">View</label><br />
                                            <b>Waybill Listing</b><br />
                                            <label> <input type="checkbox" id="frmWaybillListing-View">View</label><br />
                                            <b>Stock Card</b><br />
                                            <label> <input type="checkbox" id="frmStockCard-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="masters2" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmMasters2Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmMasters2Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Supplier</b><br />
                                            <label> <input type="checkbox" id="frmSupplier-All">All</label>
                                            <label> <input type="checkbox" id="frmSupplier-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSupplier-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSupplier-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSupplier-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Purchase Order</b><br />
                                            <label> <input type="checkbox" id="frmPurchaseOrder-All">All</label>
                                            <label> <input type="checkbox" id="frmPurchaseOrder-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPurchaseOrder-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPurchaseOrder-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPurchaseOrder-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Material Receipt</b><br />
                                            <label> <input type="checkbox" id="frmMaterialReceipt-All">All</label>
                                            <label> <input type="checkbox" id="frmMaterialReceipt-Save">Add</label>
                                            <label> <input type="checkbox" id="frmMaterialReceipt-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmMaterialReceipt-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmMaterialReceipt-View">VIew</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Rejection Out</b><br />
                                            <label> <input type="checkbox" id="frmRejectionOut-All">All</label>
                                            <label> <input type="checkbox" id="frmRejectionOut-Save">Add</label>
                                            <label> <input type="checkbox" id="frmRejectionOut-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmRejectionOut-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmRejectionOut-View">VIew</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Purchase Invoice</b><br />
                                            <label> <input type="checkbox" id="frmPurchaseInvoice-All">All</label>
                                            <label> <input type="checkbox" id="frmPurchaseInvoice-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPurchaseInvoice-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPurchaseInvoice-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPurchaseInvoice-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Purchase Return</b><br />
                                            <label> <input type="checkbox" id="frmPurchaseReturn-All">All</label>
                                            <label> <input type="checkbox" id="frmPurchaseReturn-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPurchaseReturn-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPurchaseReturn-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPurchaseReturn-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>PDC Payable</b><br />
                                            <label> <input type="checkbox" id="frmPdcPayable-All">All</label>
                                            <label> <input type="checkbox" id="frmPdcPayable-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPdcPayable-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPdcPayable-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPdcPayable-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>PDC Clearance</b><br />
                                            <label> <input type="checkbox" id="frmPdcClearance-All">All</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPdcClearance-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Debit Note</b><br />
                                            <label> <input type="checkbox" id="frmDeliveryNote-All">All</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-Save">Add</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmDeliveryNote-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="masters3" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmMasters3Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmMasters3Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Item Group</b><br />
                                            <label> <input type="checkbox" id="frmProductGroup-All">All</label>
                                            <label> <input type="checkbox" id="frmProductGroup-Save">Add</label>
                                            <label> <input type="checkbox" id="frmProductGroup-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmProductGroup-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmProductGroup-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Item Creation</b><br />
                                            <label> <input type="checkbox" id="frmProductCreation-All">All</label>
                                            <label> <input type="checkbox" id="frmProductCreation-Save">Add</label>
                                            <label> <input type="checkbox" id="frmProductCreation-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmProductCreation-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmProductCreation-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Multiple Item Creation</b><br />
                                            <label> <input type="checkbox" id="frmMultipleProductCreation-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Physical Stock</b><br />
                                            <label> <input type="checkbox" id="frmPhysicalStock-Add">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Stock Journal</b><br />
                                            <label> <input type="checkbox" id="frmStockJournal-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <b>Item Components</b><hr />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Item Batch</b><br />
                                            <label> <input type="checkbox" id="frmProductBatch-All">All</label>
                                            <label> <input type="checkbox" id="frmProductBatch-Save">Add</label>
                                            <label> <input type="checkbox" id="frmProductBatch-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmProductBatch-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmProductBatch-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Color</b><br />
                                            <label> <input type="checkbox" id="frmBrand-All">All</label>
                                            <label> <input type="checkbox" id="frmBrand-Save">Add</label>
                                            <label> <input type="checkbox" id="frmBrand-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmBrand-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmBrand-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Model No.</b><br />
                                            <label> <input type="checkbox" id="frmModalNo-All">All</label>
                                            <label> <input type="checkbox" id="frmModalNo-Save">Add</label>
                                            <label> <input type="checkbox" id="frmModalNo-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmModalNo-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmModalNo-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Size</b><br />
                                            <label> <input type="checkbox" id="frmSize-All">All</label>
                                            <label> <input type="checkbox" id="frmSize-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSize-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSize-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSize-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Unit</b><br />
                                            <label> <input type="checkbox" id="frmUnit-All">All</label>
                                            <label> <input type="checkbox" id="frmUnit-Save">Add</label>
                                            <label> <input type="checkbox" id="frmUnit-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmUnit-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmUnit-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Warehouse</b><br />
                                            <label> <input type="checkbox" id="frmStore-All">All</label>
                                            <label> <input type="checkbox" id="frmStore-Save">Add</label>
                                            <label> <input type="checkbox" id="frmStore-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmStore-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmStore-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Rack</b><br />
                                            <label> <input type="checkbox" id="frmRack-All">All</label>
                                            <label> <input type="checkbox" id="frmRack-Save">Add</label>
                                            <label> <input type="checkbox" id="frmRack-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmRack-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmRack-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <b>Pricing</b><hr />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Pricing Level</b><br />
                                            <label> <input type="checkbox" id="frmPricingLevel-All">All</label>
                                            <label> <input type="checkbox" id="frmPricingLevel-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPricingLevel-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPricingLevel-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPricingLevel-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Price List</b><br />
                                            <label> <input type="checkbox" id="frmPriceListReport-View">Price List Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Standard Rate</b><br />
                                            <label> <input type="checkbox" id="frmStandardRate-All">All</label>
                                            <label> <input type="checkbox" id="frmStandardRate-Save">Add</label>
                                            <label> <input type="checkbox" id="frmStandardRate-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmStandardRate-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmStandardRate-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="transactions1" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmTransactions1Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmTransactions1Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Bank Transfer</b><br />
                                            <label> <input type="checkbox" id="frmBankTransfer-All">All</label>
                                            <label> <input type="checkbox" id="frmBankTransfer-Save">Add</label>
                                            <label> <input type="checkbox" id="frmBankTransfer-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmBankTransfer-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmBankTransfer-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Bank Reconcilliation</b><br />
                                            <label> <input type="checkbox" id="frmBankReconcilliation-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="transactions2" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmTransactions2Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmTransactions2Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Currency</b><br />
                                            <label> <input type="checkbox" id="frmAdvancePayment-All">All</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-Save">Add</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Exchange Rate</b><br />
                                            <label> <input type="checkbox" id="frmExchangeRate-All">All</label>
                                            <label> <input type="checkbox" id="frmExchangeRate-Save">Add</label>
                                            <label> <input type="checkbox" id="frmExchangeRate-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmExchangeRate-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmExchangeRate-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Form Type</b><br />
                                            <label> <input type="checkbox" id="frmFormType-All">All</label>
                                            <label> <input type="checkbox" id="frmFormType-Save">Add</label>
                                            <label> <input type="checkbox" id="frmFormType-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmFormType-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmFormType-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>City</b><br />
                                            <label> <input type="checkbox" id="frmCity-All">All</label>
                                            <label> <input type="checkbox" id="frmCity-Save">Add</label>
                                            <label> <input type="checkbox" id="frmCity-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmCity-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmCity-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>State</b><br />
                                            <label> <input type="checkbox" id="frmState-All">All</label>
                                            <label> <input type="checkbox" id="frmState-Save">Add</label>
                                            <label> <input type="checkbox" id="frmState-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmState-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmState-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Tax</b><br />
                                            <label> <input type="checkbox" id="frmTax-All">All</label>
                                            <label> <input type="checkbox" id="frmTax-Save">Add</label>
                                            <label> <input type="checkbox" id="frmTax-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmTax-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmTax-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Salesman</b><br />
                                            <label> <input type="checkbox" id="frmSalesman-All">All</label>
                                            <label> <input type="checkbox" id="frmSalesman-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSalesman-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSalesman-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSalesman-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="transactions3" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmTransactions3Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmTransactions3Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Account Group</b><br />
                                            <label> <input type="checkbox" id="frmAccountGroup-All">All</label>
                                            <label> <input type="checkbox" id="frmAccountGroup-Save">Add</label>
                                            <label> <input type="checkbox" id="frmAccountGroup-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmAccountGroup-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmAccountGroup-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Account Ledger</b><br />
                                            <label> <input type="checkbox" id="frmAccountLedger-All">All</label>
                                            <label> <input type="checkbox" id="frmAccountLedger-Save">Add</label>
                                            <label> <input type="checkbox" id="frmAccountLedger-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmAccountLedger-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmAccountLedger-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Multiple Account Ledger</b><br />
                                            <label> <input type="checkbox" id="frmMultipleAccountLedger-Add">Add</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>General Journal</b><br />
                                            <label> <input type="checkbox" id="frmGeneralJournal-All">All</label>
                                            <label> <input type="checkbox" id="frmGeneralJournal-Save">Add</label>
                                            <label> <input type="checkbox" id="frmGeneralJournal-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmGeneralJournal-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmGeneralJournal-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="register" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmRegister"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmRegister"> Clear All</label>
                                    <br /><br /><br />
                                    <b>Customers and Suppliers</b>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalesQuotationRegister-View">Sales Order Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalesOrderRegister-View">Order Confirmation Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmReceiptRegister-View">Receipt Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPdcReceivableRegister-View">PDC Receivable Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPdcClearanceRegister-View">PDC Clearance Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDeliveryNoteRegister-View">Release Form Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmProcessDeliveryNoteRegister-View">Process Release Form Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBankSalesReturnRegister-View">Sales Return Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmCreditNoteRegister-View">Credit Note Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPurchaseOrderRegister-View">Purchase Order Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPaymentRegister-View">Payment Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBankTransferRegister-View">PDC Payable Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPurchaseInvoiceRegister-View">Purchase Invoice Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPurchaseReturnRegister-View">Purchase Return Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDebitNoteRegister-View">Debit Note Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmMaterialReceiptRegister-View">Material Receipt Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmRejectionOutRegister-View">Rejection Out Register</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <b>Inventory</b>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPhysicalStockRegister-View">Physical Stock Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmStockJournalRegister-View">Stock Journal Register</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmProductRegister-View">Item Register</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <b>Banking</b>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBankTransferRegister-View">Bank Transfer Register</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmJournalRegister-View">Journal Register</label>
                                        </div>
                                    </div>
                                </div>
                                <div id="payroll1" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmPayroll1Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmPayroll1Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Designation</b><br />
                                            <label> <input type="checkbox" id="frmDesignation-All">All</label>
                                            <label> <input type="checkbox" id="frmDesignation-Save">Add</label>
                                            <label> <input type="checkbox" id="frmDesignation-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmDesignation-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmDesignation-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Holiday Settings</b><br />
                                            <label> <input type="checkbox" id="frmHolidaySettings-All">Add</label>
                                            <label> <input type="checkbox" id="frmHolidaySettings-Save">Add</label>
                                            <label> <input type="checkbox" id="frmHolidaySettings-Edit">Edit</label>
                                            <label> <input type="checkbox" id="frmHolidaySettings-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmHolidaySettings-View">View</label>

                                        </div>
                                        <div class="col-sm-4">
                                            <b>Bonus Deduction</b><br />
                                            <label> <input type="checkbox" id="frmBonusDeduction-All">All</label>
                                            <label> <input type="checkbox" id="frmBonusDeduction-Save">Add</label>
                                            <label> <input type="checkbox" id="frmBonusDeduction-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmBonusDeduction-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmBonusDeduction-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Pay Element</b><br />
                                            <label> <input type="checkbox" id="frmPayElement-All">All</label>
                                            <label> <input type="checkbox" id="frmPayElement-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPayElement-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPayElement-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPayElement-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Monthly Salary Settings</b><br />
                                            <label> <input type="checkbox" id="frmMonthlySalarySettings-All">All</label>
                                            <label> <input type="checkbox" id="frmMonthlySalarySettings-Save">Add</label>
                                            <label> <input type="checkbox" id="frmMonthlySalarySettings-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmMonthlySalarySettings-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmMonthlySalarySettings-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Monthly Salary Voucher</b><br />
                                            <label> <input type="checkbox" id="frmMonthlySalaryVoucher-All">All</label>
                                            <label> <input type="checkbox" id="frmMonthlySalaryVoucher-Save">Add</label>
                                            <label> <input type="checkbox" id="frmMonthlySalaryVoucher-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmMonthlySalaryVoucher-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmMonthlySalaryVoucher-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Salary Package Creation</b><br />
                                            <label> <input type="checkbox" id="frmSalaryPackageCreation-All">All</label>
                                            <label> <input type="checkbox" id="frmSalaryPackageCreation-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSalaryPackageCreation-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSalaryPackageCreation-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSalaryPackageCreation-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Attendance</b><br />
                                            <label> <input type="checkbox" id="frmAttendance-All">All</label>
                                            <label> <input type="checkbox" id="frmAttendance-Save">Add</label>
                                            <label> <input type="checkbox" id="frmAttendance-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmAttendance-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmAttendance-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalaryPackageRegister-View">Salary Package Register</label><br />
                                            <label> <input type="checkbox" id="frmEmployeeRegister-View">Employee Register</label><br />
                                            <label> <input type="checkbox" id="frmAdvanceRegister-View">Advance Register</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Employee Creation</b><br />
                                            <label> <input type="checkbox" id="frmEmployeeCreation-All">All</label>
                                            <label> <input type="checkbox" id="frmEmployeeCreation-Save">Add</label>
                                            <label> <input type="checkbox" id="frmEmployeeCreation-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmEmployeeCreation-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmEmployeeCreation-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Currency</b><br />
                                            <label> <input type="checkbox" id="frmAdvancePayment-All">All</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-Save">Add</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmAdvancePayment-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBonusDeductionRegister-View">Bonus Deduction Register</label><br />
                                            <label> <input type="checkbox" id="frmMonthlySalaryRegister-View">Monthly Salary Register</label><br />
                                        </div>
                                        <br /><br />
                                    </div>
                                </div>
                                <div id="payroll2" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmPayroll2Action"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmPayroll2Action"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Display Salary Voucher</b><br />
                                            <label> <input type="checkbox" id="frmDisplaySalaryVoucher-All">All</label>
                                            <label> <input type="checkbox" id="frmDisplaySalaryVoucher-Save">Add</label>
                                            <label> <input type="checkbox" id="frmDisplaySalaryVoucher-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmDisplaySalaryVoucher-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmDisplaySalaryVoucher-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDailySalaryRegister-All">Daily Salary Register</label><br />
                                            <label> <input type="checkbox" id="frmPayslip-Save">Pay Slip</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="budget" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmBudgetAction"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmBudgetAction"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Budget</b><br />
                                            <label> <input type="checkbox" id="frmBudget-All">All</label>
                                            <label> <input type="checkbox" id="frmBudget-Save">Add</label>
                                            <label> <input type="checkbox" id="frmBudget-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmBudget-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmBudget-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBudgetVariance-All">Budget Variance</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="settings" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmSettingsAction"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmSettingsAction"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Settings</b><br />
                                            <label> <input type="checkbox" id="Settings-All">All</label>
                                            <label> <input type="checkbox" id="Settings-Save">Add</label>
                                            <label> <input type="checkbox" id="Settings-Update">Edit</label>
                                            <label> <input type="checkbox" id="Settings-Delete">Delete</label>
                                            <label> <input type="checkbox" id="Settings-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Change Password</b><br />
                                            <label> <input type="checkbox" id="frmChangePassword-Save">Add</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Change Item Tax</b><br />
                                            <label> <input type="checkbox" id="frmChangeProductTax-Save">Add</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Role</b><br />
                                            <label> <input type="checkbox" id="frmRole-All">All</label>
                                            <label> <input type="checkbox" id="frmRole-Save">Add</label>
                                            <label> <input type="checkbox" id="frmRole-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmRole-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmRole-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Barcode Settings</b><br />
                                            <label> <input type="checkbox" id="frmBarcodeSettings-All">All</label>
                                            <label> <input type="checkbox" id="frmBarcodeSettings-Save">Add</label>
                                            <label> <input type="checkbox" id="frmBarcodeSettings-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmBarcodeSettings-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmBarcodeSettings-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBarcodePrinting-Save">Barcode Printing</label><br />
                                            <label> <input type="checkbox" id="frmChangeFinancialYear-Save">Change Financial Year</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Role Priviledge Settings</b><br />
                                            <label> <input type="checkbox" id="frmRolePriviledgeSettings-All">All</label>
                                            <label> <input type="checkbox" id="frmRolePriviledgeSettings-Save">Add</label>
                                            <label> <input type="checkbox" id="frmRolePriviledgeSettings-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmRolePriviledgeSettings-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmRolePriviledgeSettings-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>Suffix Prefix Settings</b><br />
                                            <label> <input type="checkbox" id="frmSuffixPrefixSettings-All">All</label>
                                            <label> <input type="checkbox" id="frmSuffixPrefixSettings-Save">Add</label>
                                            <label> <input type="checkbox" id="frmSuffixPrefixSettings-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmSuffixPrefixSettings-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmSuffixPrefixSettings-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>User Creation</b><br />
                                            <label> <input type="checkbox" id="frmUserCreation-All">All</label>
                                            <label> <input type="checkbox" id="frmUserCreation-Save">Add</label>
                                            <label> <input type="checkbox" id="frmUserCreation-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmUserCreation-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmUserCreation-View">View</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <b>New Financial Year</b><br />
                                            <label> <input type="checkbox" id="frmNewFinancialYear-Save">Add</label>
                                            <br />
                                            <b>Dashboard Panel</b>
                                            <label> <input type="checkbox" id="frmStockPanel-View">Stock Balance Panel</label>
                                            <br /><br />
                                            <label> <input type="checkbox" id="frmLedgerAccounts-View">Ledger Accounts</label>
                                            <br /><br />
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="search" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmSearchAction"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmSearchAction"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBudgetVariance-All">Item Search</label><br />
                                            <label> <input type="checkbox" id="frmBudgetVariance-All">Voucher Search</label><br />
                                            <label> <input type="checkbox" id="frmBudgetVariance-All">Voucher Wise Item Search</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="reminder" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmReminderAction"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmReminderAction"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <b>Personal Reminder</b><br />
                                            <label> <input type="checkbox" id="frmPersonalReminder-All">All</label>
                                            <label> <input type="checkbox" id="frmPersonalReminder-Save">Add</label>
                                            <label> <input type="checkbox" id="frmPersonalReminder-Update">Edit</label>
                                            <label> <input type="checkbox" id="frmPersonalReminder-Delete">Delete</label>
                                            <label> <input type="checkbox" id="frmPersonalReminder-View">View</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmOverduePurchaseOrder-View">Overdue Purchase Order</label><br />
                                            <label> <input type="checkbox" id="frmOverdueSalesOrder-View">Overdue Sales Order</label><br />
                                            <label> <input type="checkbox" id="frmShortExpiry-View">Short Expiry</label><br />
                                            <label> <input type="checkbox" id="frmStock-View">Stock</label><br />
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="financialStatements" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmFinancialStatementsAction"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmFinancialStatementsAction"> Clear All</label>
                                    <br /><br /><br />

                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmFinancialStatementTrialBalance-View">Trial Balance</label><br />
                                            <label> <input type="checkbox" id="frmFinancialStatementBalanceSheet-View">Balance Sheet</label><br />
                                            <label> <input type="checkbox" id="frmFinancialStatementProfitAndLoss-View">Profit and Loss</label><br />
                                            <label> <input type="checkbox" id="frmFinancialStatementCashFlow-View">Cash Flow</label><br />
                                            <label> <input type="checkbox" id="frmFinancialStatementFundFlow-View">Fund Flow</label><br />
                                            <label> <input type="checkbox" id="frmFinancialStatementChartofAccount-View">Chart of Account</label><br />
                                            <label> <input type="checkbox" id="frmFinancialStatementAccountLedgersOnHome-View">Account Ledgers on Home Page</label><br />
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                                <div id="reports1" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmReports1"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmReports1"> Clear All</label>
                                    <br /><br /><br />
                                    <div class="row">
                                        <div class="col-sm-4"><b>Transactions</b></div>
                                        <div class="col-sm-4 col-sm-offset-4"><b>Payroll</b></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmContraReport-View">Contra Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalesQuotationReport-View">Sales Quotation Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmEmployeeReport-View">Employee Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPaymentReport-View">Payment Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalesOrderReport-View">Sales Order Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDailyAttendanceReport-View">Daily Attendance Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmReceiptReport-View">Receipt Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDeliveryNoteReport-View">Delivery Note Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmMonthlyAttendanceReport-View">Monthly Attendance Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmJournalReport-View">Journal Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmRejectionInReport-View">Rejection In Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDailySalaryReport-View">Daily Salary Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPdcPayableReport-View">PDC Payable Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalesInvoiceReport-View">Sales Summary Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmMonthlySalaryReport-View">Monthly Salary Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPdcReceivableReport-View">PDC Receivable Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalesReturnReport-View">Sales Return Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPayheadReport-View">Payhead Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPdcClearanceReport-View">PDC Clearance Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPhysicalStockReport-View">Physical Stock Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmSalaryPackage-View">Salary Package Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPurchaseOrderReport-View">Purchase Order Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmServiceReport-View">Service Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmAdvancePaymentReport-View">Advance Payment Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmMaterialReceiptReport-View">Material Receipt Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmCreditNoteReport-View">Credit Note Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmBonusDeductionReport-View">Bonus Deduction Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmRejectionOutReport-View">Rejection Out Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDebitNoteReport-View">Debit Note Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmEmployeeAddressReport-View">Employee Address Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPurchaseInvoiceReport-View">Purchase Summary Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmStockJournalReport-View">Stock Journal Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmStockVarianceReport-View">Stock Variance Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPurchaseReturnReport-View">Purchase Return Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmInventoryMovementReport-View">Inventory Movement Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmStockDetailsReport-View">Stock Details Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmStockSummaryReport-View">Stock Summary Report</label>
                                        </div>
                                    </div>

                                </div>
                                <div id="reports2" class="tab-pane fade">
                                    <label class="form-radio form-normal"><input type="radio" value="SELECT_ALL" name="frmReports2"> Select All</label>
                                    <label class="form-radio form-normal"><input type="radio" value="CLEAR" name="frmReports2"> Clear All</label>
                                    <br /><br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label><input type="checkbox" id="frmDaybookReport-View">Day Book</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPriceListReport-View">Price List Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmCashbankBook-View">Cashbank Book</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmTaxReport-View">Tax Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmAccountGroupwiseReport-View">Account Groupwise Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmVatReturnReport-View">VAT Return Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmAccountLedgerReport-View">Account Ledger Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmChequeReport-View">Cheque Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmOutstandingReport-View">Outstanding Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmFreeSaleReport-View">Free Sale Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmAgeingReport-View">Ageing Report</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmProductVsBatchReport-View">Inventory Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmPartyAddressBook-View">Party Address Book</label>
                                        </div>
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmDayReport-View">Day Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmStockReport-View">Stock Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmShortExpiryReport-View">Short Expiry Report</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <label> <input type="checkbox" id="frmProductStatistics-View">Item Statistics</label>
                                        </div>
                                    </div>
                                    <br /><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button class="btn btn-primary" id="btnSave"><i class="fa fa-save"></i> Save</button>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Sales Cycle Restrictions
                </h3>
            </div>
            <div class="panel-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Waybill Generation</label>
                        <div class="col-sm-9">
                            <select id="stockControl" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Order Confirmation</label>
                        <div class="col-sm-9">
                            <select id="generalManager" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Order Preparation</label>
                        <div class="col-sm-9">
                            <select id="salesRep" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Release Item</label>
                        <div class="col-sm-9">
                            <select id="stockOfficer" class="form-control"></select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-3 control-label">Authorize Released Items</label>
                        <div class="col-sm-9">
                            <select id="warehouseManager" class="form-control"></select>
                        </div>
                    </div>
                </form>
            </div>
            <div class="panel-footer">
                <div class="pull-right">
                    <button class="btn btn-primary" id="btnSaveCycleRestriction"><i class="fa fa-save"></i> Save</button>
                </div>
                <br /><br />
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Company/Settings/RolePrivilegeSettings.js?v=@DateTime.Now"></script>
    <script src="~/Scripts/Company/Settings/CycleActionPrivilege.js?v=@DateTime.Now"></script>
}