﻿
@{
    ViewBag.Title = "Bank Reconcilation";
}
<div class="row" id="viewBudget">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Parameters</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <div class="form-group col-md-3">
                            <label class="control-label">Statement Date(From)</label>
                            <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly" />
                        </div>
                        <div class="form-group col-md-3">
                            <label class="control-label">Statement Date(To)</label>
                            <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly" />
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Status</label>
                                <select id="status" class="form-control">
                                    <option value="Unreconciled">Unreconciled</option>
                                    <option value="Reconciled">Reconciled</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Bank</label>
                                <select id="bank" class="form-control" style="width:100%;">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" id="search" onclick="getBankStatements()"><i class="fa fa-search"></i>   Search</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Bank Transactions</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="bankStatementsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Date</th>
                                    <th>Particular</th>
                                    <th>Transaction Type</th>
                                    <th>Txn. No</th>
                                    <th>Cheque No.</th>
                                    <th>Cheque Date</th>
                                    <th>Deposit</th>
                                    <th>Withdrawal</th>
                                    <th>Statement Date</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="col-md-8"></div>
                        <div class="col-md-4">
                            <table class="table table-bordered" cellspacing="0" >
                                <thead>
                                    <tr>
                                        <td></td>
                                        <td>DEPOSIT</td>
                                        <td>WITHDRAWAL</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Balance As Per Company Book</td>
                                        <td id="cbd"></td>
                                        <td id="cbw"></td>
                                    </tr>
                                    <tr>
                                        <td>Balance As Per Bank</td>
                                        <td id="bd"></td>
                                        <td id="bw"></td>
                                    </tr>
                                    <tr>
                                        <td>Difference</td>
                                        <td id="dd"></td>
                                        <td id="dw"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button class="btn btn-primary" onclick="save()">Save</button>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Banking/BankReconcilation.js?v=@DateTime.Now"></script>
}

