﻿
@{
    ViewBag.Title = "Payments";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <span id="balanceText" class="col-lg-10" style="text-align:right; font-size:20px;"></span>
                        <button type="submit" id="currentBalance" class="btn btn-primary">Check Current Balance</button>
                    </div>
                    <hr />
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="">Payment No.</label>
                            <div class="row">
                                <input type="text" id="voucherNo" class="form-control" readonly="readonly">
                            </div><br />
                            <label class="control-label" for="">Transaction Date</label>
                            <div class="row">
                                <input type="text" id="transactionDate" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="">Account Type</label>
                            <div class="row">
                                <select id="accountType" class="form-control">
                                    <option value="1">Suppliers</option>
                                    <option value="2">Other Expenses</option>
                                </select>
                            </div>
                            <br />
                            <label class="control-label" for="">Bank/Cash</label>
                            <div class="row">
                                <select class="form-control" id="bankorcash"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label" for="">Cheque/REF Number</label>
                            <div class="row">
                                <input type="text" id="chqrefNo" class="form-control"/>
                            </div>
                            <br />
                            <label class="control-label" for="">Cheque Date</label>
                            <div class="row">
                                <input type="text" id="chequeDate" class="form-control dateCtrl" readonly="readonly">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button class="demo-panel-ref-btn btn btn-default" onclick="openModal()" id="createState">
                            <i class="fa fa-plus"></i> Add Line Item
                        </button>
                    </div>
                    <h3 class="panel-title" id="panelTitle">
                        Line Items
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped text text-sm" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap; width:140px;">Pay To</th>
                                        @*<th style="white-space: nowrap; width:140px;">Apply</th>*@
                                        <th style="white-space: nowrap; width:140px;">Amount</th>
                                        <th style="white-space: nowrap; width:140px;">Currency</th>
                                        @*<th style="white-space: nowrap;">WHT</th>*@
                                        <th style="white-space: nowrap;">Memo</th>
                                        <th style="white-space: nowrap;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="suppliersRowTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="col-sm-offset-9">
                            <label class="control-label" for="">Total Amount</label>
                            <div>
                                <input type="text" id="totalAmount" class="form-control" style="text-align:right;" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="paymentModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Recieve Payment</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Pay To</label>
                                    <div id="suppliers" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input id="amount" onchange="changeAmount(this)" type="number" min="0" value="0" class="form-control" />
                                </div>
                               
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label">Memo</label>
                                        <input type="text" id="memo" class="form-control" style="width:100%;" />
                                    </div>
                                    @*<label class="control-label">Apply</label>
                                            <select id="apply" class="form-control custBorderStyle">
                                                <option value="">Select...</option>
                                                <option value="onAccount">On Account</option>
                                                <option value="Against">Against</option>
                                            </select>
                                        </div>
                                    <div class="form-group">
                                        <label class="control-label">With-Holding Tax</label>
                                        <select class="form-control" id="wht">
                                        </select>
                                    </div>*@
                                    <div class="form-group">
                                        <label class="control-label">Currency</label>
                                        <select class="form-control" id="currency">
                                            <option value="1"> Naira | NGN </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            @*<div id="partyBalanceTable" class="table-responsive text text-sm pre-scrollable">
                                <table class="table table-striped" style="overflow:auto !important;">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap; width:220px;">Invoice</th>
                                            <th style="white-space: nowrap;">Num</th>
                                            <th style="white-space: nowrap;">Pending</th>
                                            <th style="white-space: nowrap;width:150px;">Amount</th>
                                            <th style="white-space: nowrap;">Cr/Dr</th>
                                        </tr>
                                    </thead>
                                    <tbody id="partyBalanceTbody"></tbody>
                                </table>
                            </div>*@
                        </div>
                    </div>
                    <div class="col-sm-offset-8">
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="text-align:right;" value="0.0" id="totalInvoiceAmt">
                        <br />
                    </div>
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePartyBalance" onclick="addPaymentToObject()" type="button">Save</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="applyModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Recieve Payment</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <div class="table-responsive" id="">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap; width:220px;">Invoice</th>
                                        <th style="white-space: nowrap;">Num</th>
                                        <th style="white-space: nowrap;">Pending</th>
                                        <th style="white-space: nowrap;width:150px;">Amount</th>
                                        <th style="white-space: nowrap;">Cr/Dr</th>
                                    </tr>
                                </thead>
                                <tbody id="partyBalanceTbody"></tbody>
                            </table>
                        </div>
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="width:50%;" value="0.0" id="totalInvoiceAmt">
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePartyBalance" type="button">Save</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="applyOnAccount" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title" id="mySmallModalLabel">Enter Amount</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="number" class="form-control" id="applyOnAccountAmount" />
                    </div>
                </div><br /><br />
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" id="saveAmountApplyOnAccount"><i class="fa fa-check"></i> Save</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-danger" onclick='$("#applyOnAccountAmount").val(0); $("#applyOnAccount").modal("hide");'><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/PaymentNew.js?v=@DateTime.Now"></script>
}

