﻿


@{
    ViewBag.Title = "Sales Order";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Order Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Order Number</label>
                                    <input type="text" readonly="readonly" class="form-control" id="quotationNo">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Agents</label>
                                    <select class="form-control custBorderStyle" id="customer" style="width:90%;">
                                        <option>loading...</option>
                                    </select>                                    @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>*@
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Sales Man</label>
                                    <select class="form-control custBorderStyle" id="salesMan" style="width:95%;"></select>
                                    @*<button class="btn btn-primary btn-xs" style="float:right;margin-top:-25px;" onclick="alert('hey');">
                                            <i class="fa fa-plus-circle"></i>
                                        </button>*@
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="date">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <select class="form-control custBorderStyle" id="pricingLevel"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select class="form-control custBorderStyle" id="currency"></select>
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                        @*<button data-target="#itemLineModal" data-toggle="modal" class="btn btn-mint btn-icon icon-lg fa fa-plus-circle" data-original-title="Add Line Item"></button>*@
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body table-responsive">
                        <table class="table table-striped " style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">Remove</th>
                                    <th style="white-space: nowrap;">Stock Card</th>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space: nowrap;">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Store</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    @*<th style="white-space: nowrap;">Tax</th>*@
                                    <th style="white-space: nowrap;">Mgt. Fee</th>
                                </tr>
                            </thead>
                            <tbody id="quotationLineItemTbody"></tbody>
                        </table>

                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Narration</label>
                                            <textarea class="form-control custBorderStyle" id="narration"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Bill Total</label>
                                            <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Tax Amount</label>
                                            <input id="totalTax" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                            <label class="control-label">Grand Total</label>
                                            <input id="grandTotal" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="panel-footer text-right">
                        <div class="pull-left">
                            <input type="checkbox" />Print after save
                            <span style="display:none;"><input type="checkbox" id="approved" checked="checked" />Approved</span>
                        </div>
                        <button id="saveQuotation" class="btn btn-primary btn-labeled fa fa-save">Update</button>
                        @*<button class="btn btn-primary btn-labeled fa fa-envelope">Update & Email</button>*@
                        @*<button id="delete"class="btn btn-danger btn-labeled fa fa-times">Delete</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Order Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <input type="hidden" readonly="readonly" id="productId" />
                                <div class="form-group">
                                    <label class="control-label">Warehouse</label>
                                    <select id="store" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <div id="searchByBarcode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <div id="searchByProductCode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <div id="searchByProductName" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <br />
                                    <label class="control-label">Size</label>
                                    <input id="size" readonly="readonly" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantity" value="0" type="number" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Mgt. Fee</label>
                                    <select id="tax" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unit" class="form-control custBorderStyle" disabled></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Manufacturer</label>
                                    <input id="manufacturer" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Batch</label>
                                    <select id="batch" class="form-control custBorderStyle"></select>
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Color</label>
                                    <input id="color" readonly="readonly" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">

                                @*<div class="form-group">
                                <label class="control-label">Tax</label>
                                <select id="tax" class="form-control custBorderStyle"></select>
                            </div>*@
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Mgt. Fee</label>
                                    <input id="taxAmount" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity in Stock</label>
                                    <input id="quantityInStock" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" readonly="readonly" id="amount" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea id="description" class="form-control" readonly="readonly"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" id="addLineItem">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="agentsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Agent Lists</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <table id="agentsTable" class="table table-bordered table-striped hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Agent Code</th>
                                    <th>Agent Name</th>
                                </tr>
                            </thead>

                        </table>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="itemLineModalEdit" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Quotation Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <input type="hidden" readonly="readonly" id="productId" />
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcodeEdit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCodeEdit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductNameEdit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rateEdit" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityEdit" value="0" type="number" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="taxEdit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unitEdit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <select id="batchEdit" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" readonly="readonly" id="amountEdit" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                        <label class="control-label">Tax</label>
                                        <select id="tax" class="form-control custBorderStyle"></select>
                                    </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="taxAmountEdit" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity in Stock</label>
                                    <input id="quantityInStockEdit" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Store</label>
                                    <select id="storeEdit" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" id="replaceLineItem">Update Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>*@

@section pageScripts
{
    <script type="text/javascript">
        var SalesQuotationMasterId =@ViewBag.SalesQuotationMasterId;
    </script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Customer/SalesQuotationEdit.js"></script>
}



