﻿
@{
    ViewBag.Title = "Standard Rate";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<MatDal.tbl_Privilege> rolePriviledges;
    var db = new MatDal.DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmStandardRate" && p.action == "Save") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Standard Rate Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group col-sm-4">
                            <label class="control-label">Product Group</label>
                            <div>
                                <div class="form-control custBorderStyle" id="productGroupList" style="width:100%;"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-4">
                            <label class="control-label">Product</label>
                            <div>
                                <div class="form-control custBorderStyle" id="productList" style="width:100%;"></div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="searchForProducts()" id="search"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
        </div>
        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Product List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table id="productsForStandardRateTable" class="table">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Product Code</th>
                                        <th>Product Name</th>
                                        <th>Unit</th>
                                        <th></th>
                                    </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="standardRatePopUp" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog modal-lg text text-sm">
        <div class="modal-content" style="background-color:whitesmoke;">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Price List</h4>
            </div>
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="productCode" placeholder="Product Code">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate"/>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="productName" placeholder="Product Name">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <div class="">
                                        <input type="text" readonly="readonly" class="form-control" id="unit" placeholder="Unit">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <div class="">
                                        <div class="form-control custBorderStyle" id="batchList" style="width:100%;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <br /><br /><br /><br /><br />
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <div class="">
                                        <input type="number" class="form-control" id="rate" placeholder="1">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer  btn-default">
                        <span id="errorNotification" class="label label-danger"></span>
                        <span id="successNotification" class="label label-success"></span>
                        <button type="button" class="btn btn-sm btn-success" onclick="addNewRate()" id="save"><i class="fa fa-check"></i> Save</button>
                        <button type="button" class="btn btn-sm btn-primary" onclick="editRate()" id="edit"><i class="fa fa-check"></i> Save Changes</button>
                    </div>
                </div>
                <div class="table-responsive">
                    <h5>Rates</h5>
                    <table id="priceListTable" class="table table-striped" style="overflow:auto !important;">
                        <thead style="background-color:#3c8dd3;color:#fff;">
                            <tr>
                                <th>S/N</th>
                                <th>From Date</th>
                                <th>To Date</th>
                                <th>Batch</th>
                                <th>Rate</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!-- /.content -->

@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/PricingList/StandardRate.js"></script>
}




