﻿
@{
    ViewBag.Title = "Employee Creation";
}
<!--Panel with Tabs-->
<!--===================================================-->
<div class="panel">

    <!--Panel heading-->
    <div class="panel-heading">
        <div class="panel-control">
            <ul class="nav nav-tabs">
                <li class="active"><a href="#employeeInformationBox" data-toggle="tab">Employee Information</a></li>
                <li><a href="#jobAndSalaryInformation" data-toggle="tab">Job & Salary Information</a></li>
                <li><a href="#otherInformationBox" data-toggle="tab">Other Information</a></li>
                @*<li><a href="#finishBox" data-toggle="tab">Finish</a></li>*@
            </ul>
        </div>
        <h3 class="panel-title">Employee Details</h3>
    </div>

    <!--Panel body-->
    <div class="panel-body">
        <div class="tab-content">
            <div class="tab-pane fade in active" id="employeeInformationBox">
                <div class="row">
                    <p class="text-main text-semibold">Personal Information</p>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Employee Code <span style="color:red;">*</span></label>
                                <div>
                                    <input type="text" class="form-control" id="employeeCode" placeholder="Employee Code">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Employee Name <span style="color:red;">*</span></label>
                                <div>
                                    <input type="text" class="form-control" id="employeeName" placeholder="Employee Name">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">Gender</label>
                                <div>
                                    <select class="form-control custBorderStyle" id="gender" style="width:100%;">
                                        <option value="Male">Male</option>
                                        <option value="Female">Female</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Marital Status</label>
                                <div>
                                    <select class="form-control custBorderStyle" id="maritalStatus" style="width:100%;">
                                        <option value="single">Single</option>
                                        <option value="married">Married</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Blood Group</label>
                                <div>
                                    <select class="form-control custBorderStyle" id="bloodGroup" style="width:100%;">
                                        <option value="A+">A+</option>
                                        <option value="A-">A-</option>
                                        <option value="B+">B+</option>
                                        <option value="B-">B-</option>
                                        <option value="AB+">AB+</option>
                                        <option value="AB-">AB-</option>
                                        <option value="O+">O+</option>
                                        <option value="O-">O-</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Phone Number</label>
                                <div>
                                    <input type="text" class="form-control" id="phoneNumber" placeholder="Phone Number" onkeypress="return isNumberKey(event)">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Mobile Number</label>
                                <div>
                                    <input type="text" class="form-control" id="mobileNumber" placeholder="Mobile Number" onkeypress="return isNumberKey(event)">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Address</label>
                                <div>
                                    <textarea class="form-control" id="address" placeholder="Address"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Date of Birth <span style="color:red;">*</span></label>
                                <div>
                                    <input type="text" class="form-control dateCtrl" id="dob" readonly="readonly">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Email</label>
                                <div>
                                    <input type="email" class="form-control" id="email" placeholder="Email">
                                    <small style="color: #d81b1b; display:none;" id="invalidEmail">invalid email!</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-12">
                                <label class="control-label">Narration</label>
                                <div>
                                    <textarea class="form-control" id="narration" placeholder="Narration"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="pull-left">
                    <a href="~/Report/PayrollReports/EmployeeAddressBook" class="btn btn-info"><i class="fa fa-angle-left"></i> Back to Employee List</a>
                </div>
                <div class="pull-right pad-rgt mar-btm">
                    <a href="#jobAndSalaryInformation" class="btn btn-primary" data-toggle="tab">Next  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="tab-pane fade" id="jobAndSalaryInformation">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-main text-semibold">Salary Information</p>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Salary Type <span style="color:red;">*</span></label>
                                        <div>
                                            <select class="form-control custBorderStyle" id="salaryType" style="width:100%;">
                                                <option value="Monthly">Monthly</option>
                                                <option value="Daily Wage">Daily</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <span id="salaryPackageSpan">
                                            <label class="control-label">Salary Package <span style="color:red;">*</span></label>
                                            <div>
                                                <select id="salaryPackage" class="form-control custBorderStyle"></select>
                                                @*<input class="form-control custBorderStyle" id="salaryPackage">*@
                                            </div>
                                        </span>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <span id="dailySalarySpan">
                                            <label class="control-label">Daily Salary</label>
                                            <div>
                                                <input type="text" class="form-control custBorderStyle" id="dailySalary">
                                            </div>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Bank Name</label>
                                        <div>
                                            <input type="text" class="form-control" id="bankName" placeholder="Bank Name">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Account Number</label>
                                        <div>
                                            <input type="text" class="form-control" id="accountNumber" placeholder="Account Number" onkeypress="return isNumberKey(event)">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Branch</label>
                                        <div>
                                            <input type="text" class="form-control" id="branch" placeholder="Branch">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Branch Code</label>
                                        <div>
                                            <input type="text" class="form-control" id="branchCode" placeholder="Branch Code">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <p class="text-main text-semibold">Job Information</p>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Designation <span style="color:red;">*</span></label>
                                        <div>
                                            <select id="designation" class="form-control custBorderStyle"></select>
                                            @*<input class="form-control custBorderStyle" id="designation">*@
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Qualification</label>
                                        <div>
                                            <input type="text" class="form-control" id="qualification" placeholder="Qualification">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-sm-6">
                                        <label class="control-label">Join Date <span style="color:red;">*</span></label>
                                        <div>
                                            <input type="text" class="form-control dateCtrl" id="joinDate" readonly="readonly">
                                        </div>
                                    </div>
                                    <div class="form-group col-sm-6" style="display:none">
                                        <label class="control-label">Temination Date</label>
                                        <div>
                                            <input type="text" class="form-control dateCtrl" id="terminationDate" readonly="readonly">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="pull-left">
                    <a href="~/Report/PayrollReports/EmployeeAddressBook" class="btn btn-info"><i class="fa fa-angle-left"></i> Back to Employee List</a>
                </div>
                <div class="pull-right">
                    <a href="#employeeInformationBox" class="btn btn-primary" data-toggle="tab"><i class="fa fa-arrow-circle-left"></i>   Previous</a>
                    <a href="#otherInformationBox" class="btn btn-primary" data-toggle="tab">Next  <i class="fa fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <div class="tab-pane fade" id="otherInformationBox">
                <div class="row">
                    <div class="col-md-6">
                        <p class="text-main text-semibold">Other Information</p>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Passport Number</label>
                                <div>
                                    <input type="text" class="form-control" id="passportNumber" placeholder="Passport Number">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Passport Expiry Date</label>
                                <div>
                                    <input type="text" class="form-control dateCtrl" id="PExpiry" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Work Permit Number</label>
                                <div>
                                    <input type="text" class="form-control" id="workPermitNumber" placeholder="Work Permit Number">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Work Permit Expiry Date</label>
                                <div>
                                    <input type="text" class="form-control dateCtrl" id="WPExpiry" readonly="readonly">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-sm-6">
                                <label class="control-label">Visa Number</label>
                                <div>
                                    <input type="text" class="form-control" id="visaNumber" placeholder="Visa Number">
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="control-label">Visa Expiry Date</label>
                                <div>
                                    <input type="text" class="form-control dateCtrl" id="VExpiry" readonly="readonly">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <p class="text-main text-semibold">Statutory Information</p>
                        <div class="row">
                            <div class="form-group col-sm-4">
                                <label class="control-label">PFA Name</label>
                                <div>
                                    <input type="text" class="form-control" id="pensionNumber" placeholder="PFA Number">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">PFA Number</label>
                                <div>
                                    <input type="text" class="form-control" id="pfaNumber" placeholder="PFA Number">
                                </div>
                            </div>
                            <div class="form-group col-sm-4">
                                <label class="control-label">Emergency Contact Number</label>
                                <div>
                                    <input type="text" class="form-control" id="esiNumber" placeholder="EC Number">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="pull-left">
                    <a href="~/Report/PayrollReports/EmployeeAddressBook" class="btn btn-info"><i class="fa fa-angle-left"></i> Back to Employee List</a>
                </div>
                <div class="pull-right">
                    <a href="#jobAndSalaryInformation" class="btn btn-primary" data-toggle="tab"><i class="fa fa-arrow-circle-left"></i>   Previous</a>
                    <a class="btn btn-success" onclick="saveNewEmployee()"><i class="fa fa-check"></i>   Save</a>
                </div>
            </div>
            @*<div class="tab-pane fade" id="finishBox">
                <center><h4>Are you sure you want to Save?</h4></center>
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <span class="text-main text-semibold">Personal Information</span>
                            <div class="row">
                                <div class="col-md-6"><span>Employee Code: </span><b id="employeeCodeConfirm"></b></div>
                                <div class="col-md-6"><span>Employee Name: </span><b id="employeeNameConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><span>Gender: </span><b id="genderConfirm"></b></div>
                                <div class="col-md-4"><span>Marital Status: </span><b id="maritalStatusConfirm"></b></div>
                                <div class="col-md-4"><span>Blood Group: </span><b id="bgConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><span>Phone Number: </span><b id="phoneConfirm"></b></div>
                                <div class="col-md-6"><span>Mobile Number: </span><b id="mobileConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Email: </p><b id="emailConfirm"></b></div>
                                <div class="col-md-6"><p>D.O.B: </p><b id="dobConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Address: </p><b id="addressConfirm"></b></div>
                                <div class="col-md-6"><p>Narration: </p><b id="narrationConfirm"></b></div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-main text-semibold">Job Information</p>
                            <div class="row">
                                <div class="col-md-4"><p>Designation: </p><b id="desigConfirm"></b></div>
                                <div class="col-md-4"><p>Qualification: </p><b id="qualificationConfirm"></b></div>
                                <div class="col-md-4"><p>Join Date: </p><b id="jdConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><p>Salary type: </p><b id="salTypeConfirm"></b></div>
                                <div class="col-md-4"><p>salary Package: </p><b id="salPackConfirm"></b></div>
                                <div class="col-md-4"><p>Termination Date: </p><b id="tdConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-4"><p>Daily Salary: </p><b id="dailySalConfirm"></b></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <p class="text-main text-semibold">Salary Account Information</p>
                            <div class="row">
                                <div class="col-md-4"><p>Bank Name: </p><b id="bankNameConfirm"></b></div>
                                <div class="col-md-4"><p>Acc. Number: </p><b id="accNoConfirm"></b></div>
                                <div class="col-md-4"><p>Branch: </p><b id="branchConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Branch Code: </p><b id="bcodeConfirm"></b></div>
                            </div>
                        </div>
                        <div class="row">
                            <p class="text-main text-semibold">Statutory Information</p>
                            <div class="row">
                                <div class="col-md-4"><p>Pension No.: </p><b id="pensionConfirm"></b></div>
                                <div class="col-md-4"><p>PFA No.: </p><b id="pfaConfirm"></b></div>
                                <div class="col-md-4"><p>ESI No.: </p><b id="esiConfirm"></b></div>
                            </div>                        </div>
                        <div class="row">
                            <p class="text-main text-semibold">Other Information</p>
                            <div class="row">
                                <div class="col-md-6"><p>Passport No.: </p><b id="passConfirm"></b></div>
                                <div class="col-md-6"><p>Work Permit No.: </p><b id="workPConfirm"></b></div>
                                <div class="col-md-6"><p>Visa No.: </p><b id="visaConfirm"></b></div>
                            </div>
                            <div class="row">
                                <div class="col-md-6"><p>Passport Exp.: </p><b id="passExpConfirm"></b></div>
                                <div class="col-md-6"><p>Work Permit Exp.: </p><b id="workPExpConfirm"></b></div>
                                <div class="col-md-6"><p>Visa Exp.: </p><b id="visaExpConfirm"></b></div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <div class="pull-right pad-rgt mar-btm">
                    <a href="#otherInformationBox" class="btn btn-primary" data-toggle="tab"><i class="fa fa-arrow-circle-left"></i>   Previous</a>
                    <a class="btn btn-success" onclick="saveNewEmployee()"><i class="fa fa-check"></i>   Save</a>
                </div>
            </div>*@
        </div>
    </div>
</div>
<!--===================================================-->
<!--End Panel with Tabs-->


@section pageScripts
{
    <script type="text/javascript" src="~/Scripts/Payroll/Employee/EmployeeCreation.js?v=@DateTime.Now"></script>
}

