﻿
@{
    ViewBag.Title = "Advance Payment";

}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">New Advance Payment</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Advance Payment No.</label>
                                    <input type="text" class="form-control" style="width:100%;" id="advPaymentNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" readonly="readonly" id="date" value="@DateTime.Now.ToShortDateString()" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Month</label>
                                    <input type="text" class="form-control" placeholder="select month..." readonly="readonly" id="month">
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Employee</label>
                                    <input type="text" class="form-control" style="width:100%;" id="employee">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Cash/Bank</label>
                                    <input type="text" class="form-control" style="width:100%;" id="cashOrBank">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Receiving Ledger</label>
                                    <input type="text" class="form-control" style="width:100%;" id="receivingLedger">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="number" min="0" value="0" class="form-control" id="amount">
                                </div>
                            </div>
                            <div id="chqDiv">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Cheque Number</label>
                                        <input type="text" class="form-control" id="chequeNo">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Cheque Date</label>
                                        <input type="text" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" id="chequeDate">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-5">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <input type="text" class="form-control" id="narration">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-success" type="button" onclick="saveAdvancePayment()" id="save">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/AdvancePayment/AdvancePayment.js?v=@DateTime.Now"></script>
    <script>
        $("#month").datepicker({
            format: "mm-yyyy",
            startView: "months",
            minViewMode: "months"
        });
    </script>
}



@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;


        $("#chequeDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("chequeDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            $("#chequeDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("chequeDate");
            doc.readonly = true;

        });

    </script>
}