﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Receive Payment";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Voucher No.</label>
                                    <input type="text" class="form-control" id="voucherNo" readonly="readonly">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" value="@DateTime.Now.ToShortDateString()" class="form-control" readonly="readonly" id="date">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Bank/Cash</label>
                                    <div id="bankOrCash" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">
                            @*<button data-toggle="modal" id="btnLineItemModal" class="btn btn-mint btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Invoice Line Item">Add</button>*@
                            <button class="demo-panel-ref-btn btn btn-info" id="createReceipt" onclick="openModal();">
                                <i class="fa fa-plus"></i> Add Line Item
                            </button>
                        </h3>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="table-responsive">
                                @*<div id="ReceiptGrid"></div>*@
                                <table class="table table-striped text text-sm" style="overflow:auto !important;">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap; width:140px;">Receive From</th>
                                            <th style="white-space: nowrap; width:140px;">Apply</th>
                                            <th style="white-space: nowrap; width:140px;">Invoice No</th>
                                            <th style="white-space: nowrap; width:140px;">Currency</th>
                                            <th style="white-space: nowrap; width:140px;">Amount</th>
                                            <th style="white-space: nowrap;">Cheque/Ref. No.</th>
                                            <th style="white-space: nowrap;">Cheque Date</th>
                                            <th style="white-space: nowrap;">Remove</th>
                                        </tr>
                                    </thead>
                                    <tbody id="customersRowTbody"></tbody>
                                </table>
                            </div><br /><br />
                            <div class="row">
                                <div class="col-md-3 col-md-offset-6">
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea id="narration" class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Total</label>
                                        <input type="text" id="totalReceiptDetailsAmt" style="text-align:right;" readonly="readonly" value="0.0" class="form-control" />
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <button class="btn btn-primary btn-labeled fa fa-save" onclick="savePayment()" id="#">Save</button>
                            <button class="btn btn-danger btn-labeled fa fa-times">Clear</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="receiptModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Receive Payment</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Customer</label>
                                    <div id="agentList" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input id="amount" onchange="changeAmount(this)" type="number" min="0" value="0" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select class="form-control" id="currency">
                                        <option value="1"> Naira | NGN </option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="form-group">
                                        <label class="control-label">Cheque Date</label>
                                        <input type="text" id="effectiveDate" class="form-control" readonly="readonly" style="width:100%;" />
                                    </div>
                                    <label class="control-label">Apply</label>
                                    <select id="apply" onchange="applyCheck(this)" class="form-control custBorderStyle">
                                        <option value="">Select...</option>
                                        <option value="On Account">On Account</option>
                                        <option value="Against">Against</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Cheque/Ref No</label>
                                    <input id="chequeRefNo" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div id="partyBalanceTable" class="table-responsive text text-sm pre-scrollable" style="height:200px;">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap; width:220px;">Invoice</th>
                                        <th style="white-space: nowrap;">Num</th>
                                        <th style="white-space: nowrap;">Pending</th>
                                        <th style="white-space: nowrap;width:150px;">Amount</th>
                                        <th style="white-space: nowrap;">Cr/Dr</th>
                                    </tr>
                                </thead>
                                <tbody id="partyBalanceTbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-8">
                    <b>Total Amount</b>
                    <input type="text" class="form-control" readonly="readonly" style="text-align:right;" value="0.0" id="totalInvoiceAmt">
                    <br />
                </div>
                <!--Modal footer-->
                <div class="modal-footer">
                    <button class="btn btn-primary" id="savePartyBalance" onclick="addReceiptToObject()" type="button">Add</button>
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="applyOnAccount" class="modal fade" tabindex="-1">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal"><span>&times;</span></button>
                <h3 class="modal-title" id="mySmallModalLabel">Enter Amount</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <input type="number" class="form-control" id="applyOnAccountAmount" />
                    </div>
                </div><br /><br />
                <div class="row">
                    <div class="col-sm-6">
                        <button class="btn btn-primary" id="saveAmountApplyOnAccount"><i class="fa fa-check"></i> Save</button>
                    </div>
                    <div class="col-sm-6">
                        <button class="btn btn-danger" onclick='$("#applyOnAccountAmount").val(0); $("#applyOnAccount").modal("hide");'><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="ledgerId" value="@ViewBag.ledgerId" />
<input type="hidden" id="voucherId" value="@ViewBag.vouchureId" />
<input type="hidden" id="txtId" value="@ViewBag.txtId" />
<input type="hidden" id="txtAmount" value="@ViewBag.amount" />


@section PageScripts{

    @*<script src="~/Scripts/Customer/ReceiptNew.js?v=@DateTime.Now"></script>*@
    <script src="~/Scripts/Customer/ReceiptNew.js"></script>
}




@{


    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#effectiveDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });


        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        var doc = document.getElementById("effectiveDate");
        doc.readonly = true;

        var docq = document.getElementById("date");
        docq.readonly = true;


        document.getElementById("effectiveDate").value = BeginMonth + "/" + BeginDay + "/" + BeginYear;

        //document.getElementById("date").value = BeginMonth + "/" + BeginDay + "/" + BeginYear;


        //$("#effectiveDate").datepicker({
        //    autoclose: true,
        //    startDate: new Date(BeginYear, BeginMonth, BeginDay),
        //    endDate: new Date(EndYear, EndMonth, EndDay)
        //});

        //doc = document.getElementById("effectiveDate");
        //doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#effectiveDate").datepicker({
                autoclose: true,
            });

            $("#date").datepicker({
                autoclose: true,
            });

            var doc = document.getElementById("effectiveDate");
            doc.readonly = true;

            var docq = document.getElementById("date");
            docq.readonly = true;

            //$("#effectiveDate").datepicker({
            //    autoclose: true,
            //});
            //doc = document.getElementById("effectiveDate");
            //doc.readonly = true;

        });

    </script>
}
