﻿
@{
    ViewBag.Title = "Change Password";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-6">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Change Password</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">New Password</label>
                                    <input type="password" class="form-control" id="newPassword">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control" id="confirmPassword">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" type="button" id="changePassword">Change Password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Security/ChangePassword.js?v=@DateTime.Now"></script>
}

