﻿@{
    Layout = "~/Areas/Security/Views/Shared/_LoginLayout.cshtml";

    ViewBag.Title = "Login";
}

<br /><br /><br /><br /><br />
<div>
</div>
<div class="cls-content" id="page-content">
    <div class="cls-content-sm panel">
        <div class="panel-body">
            <img src="~/Assets/mat/img/MatOnlineLogo.png" height="80" /><br /><br />
            <p class="pad-btm">User Authentication</p>
            <span id="msg"></span>
            <form action="/Security/Login/ProcessLogin" method="post" id="frmLogin">
                <input type="hidden" id="userId" name="userId" />
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-user"></i></div>
                        <input onkeypress="keyPress(event)" type="text" class="form-control" placeholder="Username" id="username">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <div class="input-group-addon"><i class="fa fa-lock"></i></div>
                        <input onkeypress="keyPress(event)" type="password" class="form-control" placeholder="Password" id="password">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 text-left checkbox">
                        <label class="form-checkbox form-icon">
                            <input type="checkbox"> Remember me
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group text-right">
                            <button class="btn btn-primary text-uppercase" type="button" id="btnSignIn">Authenticate</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="pad-ver">
        <a href="#" class="btn-link mar-rgt">Forgot password ?</a>
        <a href="javascript:void();" class="btn-link mar-lft">Create a new account</a>
    </div>
</div>

@section pageScripts
{
<script src="~/Scripts/Security/Login/login.js"></script>
}