﻿
@{
    ViewBag.Title = "Purchase Return";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Form No.</label>
                            <div class="col-sm-4">
                                <input type="text" id="voucherNo" class="form-control">
                            </div>
                            <label class="col-sm-2 control-label" for="">Transaction Date</label>
                            <div class="col-sm-4">
                                <input type="text" id="transactionDate" class="form-control dateCtrl" readonly="readonly" required="required">
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Supplier</label>
                            <div class="col-sm-4">
                                <select class="form-control" id="suppliers"></select>
                            </div>
                        </div>
                        <label class="col-sm-2 control-label" for="">Apply On</label>
                        <div class="col-sm-4">
                            <select id="applyOn" class="form-control"></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="form-group">
                            <label class="col-sm-2 control-label" for="">Order No.</label>
                            <div class="col-sm-4">
                                <select id="orderNo" class="form-control"></select>
                            </div>
                            <label class="col-sm-2 control-label" for="">Currency.</label>
                            <div class="col-sm-4">
                                <select id="currency" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*Line Items*@
                        @*<button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>*@
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;">Batch</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Value</th>
                                        <th style="white-space: nowrap;">Net Value</th>
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="purchaseReturnLineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-sm-7">
                                <br /><br />
                                <div id="additionalCostGrid"></div>
                            </div>
                            <div class="col-md-5">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="table-responsive">
                                            <table class="table table-striped">
                                                <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Tax Name</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td>1</td>
                                                        <td id="taxNameHtml"></td>
                                                        <td id="taxAmountHtml"></td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Transportation Company</label>
                                            <input type="text" id="transportationCompany" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="form-group">
                                            <label class="control-label">Registration No.</label>
                                            <input type="text" id="lrNo" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Narration</label>
                                            <textarea class="form-control" id="narration"></textarea>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <br />
                                        <div class="form-group">
                                            <label class="control-label">Total Amount</label>
                                            <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Bill Discount</label>
                                            <input id="totalDiscount" type="text" class="form-control" value="0.0" disabled="disabled" style="text-align:right;">
                                            <label class="control-label">Grand Total</label>
                                            <input id="grandTotal" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                        </div>
                                        @*<div style="text-decoration:underline;font-size:13px;"><b>total amount : </b><strong id="totalamount">0.0</strong></div>
                                            <div style="text-decoration:underline;font-size:13px;"><b>bill discount : </b><strong>0.0</strong></div>
                                            <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                    </div>
                                </div>


                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-8">
                                <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                                <button class="btn btn-primary"><i class="fa fa-envelope"></i> Save & Email</button>
                                <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/PurchaseReturn.js"></script>
}

