﻿@{
    ViewBag.Title = "Receipts";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <select id="backDays" class="form-control">
                                        <option value="">-Select-</option>
                                        <option value="0">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="7">One Week Ago</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Cash/Bank</label><br />
                                    <select id="cashOrBank" class="form-control">
                                        <option value="0"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" style="display:none;">
                                <div class="form-group">
                                    @*<label class="control-label">Form No.</label>*@
                                    <input type="text" class="form-control" id="formNo">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body text text-sm">
                        <div class="table-responsive">
                            <table id="receiptListTbody" class="table" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Form No.</th>
                                        <th style="white-space: nowrap;">Date</th>
                                        <th style="white-space: nowrap;">Bill Amount</th>
                                        <th style="white-space: nowrap;">Narration</th>
                                        <th style="white-space: nowrap;">Cash/Bank</th>
                                        <th style="white-space: nowrap;"></th>
                                    </tr>
                                </thead>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Receipt Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Receipt No :</div>
                                        <div class="col-md-6" id="receiptNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Recipt Date :</div>
                                        <div class="col-md-6" id="receiptDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Cash Or Bank :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Cheque No.</th>
                                    <th style="white-space: nowrap;">Cheque Date</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    <th style="white-space: nowrap;">Ledger Name</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" style="text-align:right;" id="amountTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-info" onclick="EditReceipt();" id="editReceipt" type="button"><i class="fa fa-edit"></i> Edit Receipt</button>
                    <button class="btn btn-danger" onclick="deleteReceipt();" id="delReceipt" type="button"><i class="fa fa-times"></i> Delete Receipt</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Registers/ReceiptRegister.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        getReceiptList("2017-01-01", $("#toDate").val(), $("#cashOrBank").val());
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "")
            {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0")
            {
                $("#fromDate").val(todayDate());
            }
        });
        $("#search").click(function () {
            //if ($("#orderStatus").val() == "")
            //{
            //    Utilities.ErrorNotification("Please select status");
            //    return;
            //}
            //else
            //{
            //    table.destroy();
            //    getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
            //}
            table.destroy();
            getReceiptList($("#fromDate").val(), $("#toDate").val(), $("#cashOrBank").val());

        });
    </script>
}