﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ExportVatReturns</title>
</head>
<body>
    <div> 
    </div>
</body>
</html>
@section pageScripts
{
    <script src="~/Scripts/Reports/GeneralReports/VatReturnsReport.js?v=@DateTime.Now"></script>
}