﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Run General Journals";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}
<!-- Main content -->
<div class="row" style="display:none">
    <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <br />
                    <div class="col-sm-6 col-sm-offset-3">
                        <div class="col-sm-offset-3 col-sm-3">
                            <label class="control-label">Journal Date</label>
                        </div>
                        <div>
                            <div class="col-sm-6">
                                <input id="date" type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-6">
                            <label class="control-label">Journal No</label>
                        </div>
                        <div>
                            <div class="col-sm-6">
                                <input id="voucherNo" type="text" class="form-control" readonly="readonly">
                            </div>
                        </div>
                    </div>
                    <div class="">
                        @*Date: <input type="text" id="date" class="dateCtrl form-control" style="width:40%;" readonly />
                            Journal No: <input type="text" id="voucherNo" style="width:40%;" readonly class="form-control" />*@
                    </div>
                </div>
                <div class="col-md-12">
                    <h3 class="panel-title" style="padding-bottom:10px">
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">
                            Add New Record
                        </button>
                    </h3><br />
                </div>

                @*@Html.Raw("< div class=\"col-md-12\" >" +
                    "< h3 class=\"panel-title\" style=\"padding-bottom:10px\">" +
                        "<button data-target=\"#itemLineModal\" data-toggle=\"modal\" class=\"btn btn-primary btn-labeled fa fa-plus-circle add-tooltip\" data-original-title=\"Add Line Item\">"
                        + "Add New Record</button></h3><br /> </div>");*@

                <div class="col-md-12">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-striped" style="overflow:auto !important;">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap;"> S / N </th>
                                            <th style="white-space: nowrap;">Account Ledger</th>
                                            <th style="white-space: nowrap;"> Dr </th>
                                            <th style="white-space: nowrap;"> Cr </th>
                                            <th style="white-space: nowrap;">Project </th>
                                            <th style="white-space: nowrap;">Department </th>
                                            <th style="white-space: nowrap;"> Memo </th>
                                            <th style="white-space: nowrap;"> Remove </th>
                                        </tr>
                                    </thead>
                                    <tbody id="journalLineItemTbody"></tbody>
                                </table>
                            </div>

                            <form onsubmit="return false;">
                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-6">

                                        </div>

                                        <div class="col-sm-3">
                                        </div>

                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Total Debit</label>
                                                <input id="totalDebit" type="text" class="form-control" readonly="readonly" value="0.00" style="text-align:right;">
                                                <label class="control-label">Total Credit</label>
                                                <input id="totalCredit" type="text" class="form-control" readonly="readonly" value="0.00" style="text-align:right;">
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </form>
                        </div>

                        <div class="panel-footer text-right">
                            <div class="row">
                                @*<div class="col-sm-2">
                                        <div class="form-group">
                                                <label class="control-label text-black h4"><b>Print after save</b></label>
                                                <input type="checkbox" id="print" />
                                          </div>
                                    </div>*@
                                <div class="col-sm-offset-6">
                                    <button id="saveJournal" class="btn btn-primary btn-labeled fa fa-save"> Save Journal</button>
                                    <button id="savePrint" class="btn btn-primary btn-labeled fa fa-envelope">Save & Print</button>
                                </div>
                            </div>
                            @*<button id="saveJournal" class="btn btn-primary btn-labeled fa fa-save"> Save Journal</button>*@
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Account Ledger</label>
                                    <input type="text" id="accountLedger" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Dr/Cr</label>
                                    <select id="drOrCr" class="form-control custBorderStyle">
                                        <option value=""> Please select</option>
                                        <option value="Dr"> Dr </ option >
                                        <option value="Cr">Cr</option>
                                    </select>
                                    <!--<input type="text" id="drOrCr" class="form-control" />-->
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="amount" onkeypress="return CheckNumeric()" onkeyup="FormatCurrency(this)" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <input type="text" id="memo" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Project</label>
                                    <select id="project" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Department</label>
                                    <select id="category" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItem">Add</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@*<div class="row">
        <div class="col-sm-12">

            <br />
            <div id="journalsGrid"></div>
        </div>
        <div class="panel">
            <div class="panel-body">
                <div class="col-sm-offset-8">
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Debit Total</label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control" id="totalDebit" readonly="readonly" value="0.00" />
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            <label class="control-label">Credit Total</label>
                        </div>
                    </div>
                    <div class="col-md-7">
                        <div class="form-group">
                            <input type="text" class="form-control" id="totalCredit" readonly="readonly" value="0.00" />
                        </div>
                    </div>
                </div>
                <div class="col-sm-offset-8">
                    <button class="btn btn-primary" id="">Save</button>
                </div>
            </div>
        </div>
    </div>*@


<div class="modal fade" id="againstModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Customer/Supplier Balance</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Invoice No.</th>
                                        <th style="white-space: nowrap;">Pending</th>
                                        <th style="white-space: nowrap;width:150px;">Amount</th>
                                        <th style="white-space: nowrap;">Cr/Dr</th>
                                    </tr>
                                </thead>
                                <tbody id="partyBalanceTbody"></tbody>
                            </table>
                        </div>
                        <b>Total Amount</b>
                        <input type="text" class="form-control" readonly="readonly" style="width:50%;" value="0.0" id="totalInvoiceAmt">
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="onAccountModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Apply on account</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <input id="applyAmount" type="number" min="0" class="form-control" />
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Enter Amount</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">
                        <input id="newAmount" type="number" min="0" class="form-control" />
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Company/GeneralJournals/RunGeneralJournals.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
}

@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#date").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("date");
        doc.readonly = true;


        //$("#toDate").datepicker({
        //    autoclose: true,
        //    startDate: new Date(BeginYear, BeginMonth, BeginDay),
        //    endDate: new Date(EndYear, EndMonth, EndDay)
        //});

        //doc = document.getElementById("toDate");
        //doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#date").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("date");
            doc.readonly = true;

            //$("#toDate").datepicker({
            //    autoclose: true,
            //});
            //doc = document.getElementById("toDate");
            //doc.readonly = true;

        });

    </script>
}
