﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Journal Register";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
    var pagePrivileges = ViewBag.pagePrivileges;
    var itemPrivileges = ViewBag.itemPrivileges;
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}

<style>
    #journalTable td:nth-child(4) {
        text-align: right;
    }
    #journalTable td:nth-child(1), td:nth-child(2), th {
        text-align: center;
    }
    #detailsTbody td:nth-child(3), td:nth-child(4) {
        text-align: right;
    }
    #detailsTbody td:nth-child(2) {
        text-align: left;
    }
</style>

<!-- Main content -->
    <div class="row" style="display:none">
        <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
        <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
        <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
        <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
        <img src="@profile.extra2" id="companyImage"/>
    </div>
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-header">

                </div>
                <!-- /.box-header -->
                <div class="panel-body">
                    <table id="journalTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Form No</th>
                                <th>Date</th>
                                <th>Amount</th>
                                <th>Memo</th>
                                <th>Done By</th>
                                @{
                                    foreach (var item in itemPrivileges)
                                    {
                                        if (item == "View")
                                        {
                                            @Html.Raw("<th></th>");
                                            @Html.Raw("<th></th>");
                                        }

                                    }
                                }

                            </tr>
                        </thead>

                    </table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
</section>
<!-- /.content -->

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                            @*<img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Journal No :</div>
                                        <div class="col-md-6" id="journalNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Journal Date :</div>
                                        <div class="col-md-6" id="journalDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Created By :</div>
                                        <div class="col-md-6" id="createdByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        <input type="hidden" id="journalMasterId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <hr />
                        @{
                            foreach (var item in itemPrivileges)
                            {
                                if (item == "Save")
                                {
                                    @Html.Raw("<div class=\"col-md-12\" >" +
                            "<h3 class=\"panel-title\" style=\"padding-bottom:10px\">" +
                            "<button data-target=\"#itemLineModal\" data-toggle=\"modal\" class=\"btn btn-primary btn-labeled fa fa-plus-circle add-tooltip\" data-original-title=\"Add Line Item\">"
                             + "Add New Record</button></h3><br /> </div>");
                                }

                            }
                        }

                        <hr />
                        <table class="table table-striped table-bordered" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Account Ledger</th>
                                    <th style="white-space:nowrap">Dr</th>
                                    <th style="white-space: nowrap;">Cr</th>

                                    <th style="white-space: nowrap;">Memo</th>
                                    <th style="white-space: nowrap;">Project</th>
                                    <th style="white-space: nowrap;">Category</th>
                                    @{
                                        foreach (var item in itemPrivileges)
                                        {
                                            if (item == "Delete")
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap;\">Del</th>");
                                            }
                                        }
                                    }

                                    @{
                                        foreach (var item in itemPrivileges)
                                        {
                                            if (item == "Update")
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap;\">Edit</th>");
                                            }
                                        }
                                    }

                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Debit</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="debitAmtTxt" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Credit</div>
                                <div class="col-md-6" id="" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="creditAmtTxt" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <!--<button class="btn btn-success" id="approveOrder" onclick="approveOrder();" type="button"><i class="fa fa-check"></i> Edit Journal</button>-->
                @{
                    foreach (var item in itemPrivileges)
                    {
                        if (item == "Update")
                        {
                            @Html.Raw("<button class=\"btn btn-success\" onclick=\"console.log();\" id=\"updateJournal\" type=\"button\">Update Journal</button>");
                        }
                    }
                }

                @*<button class="btn btn-warning" onclick="confirmDelete();" id="saveChanes" type="button">Delete Journal Entries</button>*@
                @{
                    foreach (var item in itemPrivileges)
                    {
                        if (item == "Delete")
                        {
                            @Html.Raw("<button class=\"btn btn-danger\" onclick=\"deleteJournal();\" id=\"cancelOrder\" type=\"button\"><i class=\"fa fa-times\"></i> Delete Journal</button>");
                        }
                    }
                }

                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>




<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" style="background-color: #ddd;">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Account Ledger</label>
                                    <input type="text" id="accountLedger" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Dr/Cr</label>
                                    <select id="drOrCr" class="form-control custBorderStyle">
                                        <option value="">Please select</option>
                                        <option value="Dr">Dr</option>
                                        <option value="Cr">Cr</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="number" id="amount" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-8">
                                <div class="form-group">
                                    <label class="control-label">Memo</label>
                                    <input type="text" id="memo" class="form-control" />
                                </div>
                            </div>
                            <input type="hidden" id="serialId" />
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Project</label>
                                    <select id="project" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Department</label>
                                    <select id="category" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItem">Add</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section css{
    <style>
        .modal-dialog.modal-lg {
            overflow: auto;
            /* width: 400px; */
            height: 600px;
        }

        @@media (max-width: 600px) {
            .modal-dialog.modal-lg {
                overflow: auto;
                width: 500px;
                height: 500px;
            }
        }

        @@media (max-width: 400px) {
            .modal-dialog.modal-lg {
                overflow: auto;
                width: 300px;
                height: 300px;
            }
        }
    </style>

}


@section PageScripts{
    <script src="~/Scripts/Company/GeneralJournals/JournalRegister.js?v=@DateTime.Now"></script>
    <script src="//cdn.rawgit.com/saribe/eModal/1.2.67/dist/eModal.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
}