﻿
@{
    ViewBag.Title = "Purchase Invoice Register";
}

<style>
    #purchaseInvoiceLineItemTbody td:nth-child(6), th:nth-child(6) {
        text-align: right;
    }

    #purchaseInvoiceLineItemTbody td:first-child, td:nth-child(2), td:nth-child(3), th {
        text-align: center;
    }

    #detailsTbody td:nth-child(8), th {
        text-align: center;
    }

    #detailsTbody td:nth-child(9), td:nth-child(10), td:nth-child(11) {
        text-align: right;
    }

    #detailsTbody td:nth-child(12), td:nth-child(13), td:nth-child(14) {
        text-align: right;
    }
</style>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row" style="display:none;">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="radio">
                                        <label class="form-radio form-normal"><input type="radio" checked="checked" value="Voucher Date" id="voucherDate" name="dateType"> Voucher Date</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <div class="radio">
                                        <label class="form-radio form-normal"><input type="radio" value="Invoice Date" id="invoiceDate" name="dateType"> Invoice Date</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <select id="backDays" class="form-control">
                                        <option value="">-Select-</option>
                                        <option value="0">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="7">One Week Ago</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button class="btn btn-info" style="margin-top: 5px;" type="button" id="search">Search</button>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Supplier</label><br />
                                    <select id="suppliers" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Purchase Mode</label>
                                    <select id="purchaseMode" class="form-control">
                                        <option selected="selected">All</option>
                                        <option>NA</option>
                                        <option>Against PurchaseOrder</option>
                                        <option>Against MaterialReceipt</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="display:none;">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Form Type</label><br />
                                    <select id="formType" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" id="orderNo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            @*<div class="col-md-6">
                                    <br />
                                    <button class="btn btn-info" type="button" id="search">Search</button>
                                </div>*@
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row panel">
    <div class="col-sm-12">
        <form onsubmit="return false;">
            <div class="panel-body text text-sm">
                <div class="table-responsive">
                    <table id="purchaseInvoiceLineItemTbody" class="table table-striped table-bordered" style="overflow:auto !important;">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">S/N</th>
                                <th style="white-space: nowrap;">Invoice No.</th>
                                 <th style="white-space: nowrap;">Vendor Invoice No</th>
                                <th style="white-space: nowrap;">Order/Material Receipt No.</th>
                                <th style="white-space: nowrap;">Date</th>
                                <th style="white-space: nowrap;">Supplier Name</th>
                                <th style="white-space: nowrap;">Amount (N)</th>
                                <th style="white-space: nowrap;">Done By</th>
                                <th style="white-space: nowrap;"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div><br /><br />
                <div class="row">
                    <div class="col-sm-7">
                        <br /><br />
                        <div id="additionalCostGrid" style="display:none;"></div>
                    </div>
                    <div class="col-md-5">



                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                    </div>
                </div>
            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col-sm-offset-11">
                        <button class="btn btn-primary" id="save"><i class="fa fa-save"></i> Save</button>
                        @*<button class="btn btn-primary"><i class="fa fa-envelope"></i> Save & Email</button>
                            <button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice No :</div>
                                        <div class="col-md-6" id="invoiceNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Invoice Date :</div>
                                        <div class="col-md-6" id="invoiceDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Supplier :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div style="overflow: auto; white-space: nowrap; margin-top: 10px;">
                            <table class="table table-striped">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        @*<th style="white-space: nowrap;">Unit</th>
                                            <th style="white-space: nowrap;">Store</th>
                                            <th style="white-space: nowrap;">Rack</th>
                                            <th style="white-space: nowrap;">Batch</th>*@
                                        <th style="white-space: nowrap;">Project</th>
                                        <th style="white-space: nowrap;">Department</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Amount</th>
                                        <th style="white-space: nowrap;">Discount Amount</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        @*<th style="white-space: nowrap;">Tax</th>*@
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="detailsTbody"></tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-6">
                                </div>
                                <div class="col-sm-3">
                                </div>
                                <div class="col-sm-3">
                                    <br />
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Total Tax Amount</label>
                                        <input id="totalTaxAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                        <label class="control-label">Grand Total</label>
                                        <input id="grandTotal" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                    </div>
                                    @*<div style="text-decoration:underline;font-size:13px;"><b>total amount : </b><strong id="totalamount">0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>bill discount : </b><strong>0.0</strong></div>
                                        <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotal">0.0</strong></div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button id="edit" class="btn btn-primary" type="button">Edit</button>
                <button class="btn btn-danger" id="delete" type="button">Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Supplier/Registers/PurchaseInvoice.js"></script>
    <script>
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }
        });
        $(".dtHide").hide();
        $("#backDays").change(function () {
            if ($(this).val() == "custom") {
                $(".dtHide").show();
            }
            else {
                //getSalesQuotationsList("2017-01-01", $("#toDate").val(), "Pending");
                $(".dtHide").hide();
            }
        });
    </script>
}




@{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{


    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("toDate");
        doc.readonly = true;


        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("fromDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}



@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
            GetPurchaseInvoices($("#fromDate").val(), $("#toDate").val());
        })

    </script>

}
