﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Edit Sales Return";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmSalesReturn" && p.action == "Save") == false)
    {

        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Return No.</label>
                                    <input type="text" disabled="disabled" id="returnNo" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="returnDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Customer</label><br />
                                    <select disabled="disabled" id="customers" class="form-control">
                                        <option value="0">Please Select...</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Apply On</label><br />
                                    <select disabled="disabled" id="applyOn" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Invoice No.</label>
                                    <select disabled="disabled" id="invoiceNo" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">currency</label><br />
                                    <select id="currency" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row text text-sm">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">Apply Discount</th>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Product Decription</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Qty to Return</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Rack</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Value</th>
                                        <th style="white-space: nowrap;">Discount Value</th>
                                        <th style="white-space: nowrap;">Net Value</th>
                                        <th style="white-space: nowrap;">Mgt Fee</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                        <th style="white-space: nowrap;"></th>
                                    </tr>
                                </thead>
                                <tbody id="salesReturnListTbody"></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
                <br /><br />
                <div class="panel">
                    <div class="panel-body">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Transportation Company</label>
                                <input type="text" id="transportationCompany" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Registration No.</label>
                                <input type="text" id="lrNo" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Narration</label>
                                <textarea id="narration" class="form-control"></textarea>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Total Amount</label>
                                <input id="totalAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Bill Discount</label>
                                <input id="billDiscount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                            </div>
                            <div class="form-group">
                                <label class="control-label">Grand Total</label>
                                <input id="grandTotal" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                            </div>

                        </div>
                    </div>

                    <div class="panel-footer">
                        <div class="col-sm-offset-10">
                            <button class="btn btn-primary" onclick="saveEdit()"><i class="fa fa-check"></i> Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="agentsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Customer Lists</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <table id="agentsTable" class="table table-bordered table-striped hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Customer Code</th>
                                    <th>Customer Name</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="quantityModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Quantity to Return</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="box-body">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">Quantity</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" id="quantity" placeholder="Quantity">
                            </div>
                        </div>
                    </div>
                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="applyQuantityOnObject()" id="newQuantity">save</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="discountModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Apply Discount</h4>

            </div>
            <div class="modal-body">
                <form class="" onsubmit="return false;">
                    <input type="hidden" id="productIdToApplyDiscount" />
                    <center>
                        <div style="color:red;" id="errorMsg"></div>
                    </center>
                    <div class="form-group">
                        <label class="col-sm-4 control-label">Discount Type</label>
                        <div class="col-sm-6">
                            <select id="discountType" class="form-control">
                                <option value="">-Select-</option>
                                <option value="percentage">Percentage</option>
                                <option value="value">Value</option>
                            </select>
                        </div>
                    </div>
                    <br /><br />
                    <div class="form-group">
                        <label class="col-sm-4 control-label" id="lblDiscountType"></label>
                        <div class="col-sm-6">
                            <input type="number" class="form-control" id="discountValue" value="0.0" min="0">
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <br />
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="applyDiscount">Apply</button>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="ledgerId" value="@ViewBag.ledgerId" />
<input type="hidden" id="ledgerName" value="@ViewBag.ledgerName" />

<input type="hidden" id="voucherId" value="@ViewBag.vouchureId" />
<input type="hidden" id="voucherTypeId" value="@ViewBag.vouchureTypeId" />
<input type="hidden" id="txtId" value="@ViewBag.txtId" />
@section PageScripts{
    <script src="~/Scripts/Customer/EditSalesReturn.js"></script>
}





