﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Sales Return Register";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var pagePriviledges = new List<string>();
    var itemPriviledges = new List<string>();
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    //var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    // rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmBankSalesReturnRegister") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    else
    {
        // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
        pagePriviledges = rolePriviledges.Where(p => p.formName == "frmBankSalesReturnRegister").Select(p => p.action).ToList();
        itemPriviledges = rolePriviledges.Where(p => p.formName == "frmSalesReturn").Select(p => p.action).ToList();
    }
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Return Status</label>
                                    <select id="orderStatus" class="form-control">
                                        <option value="">All</option>
                                        @*<option value="Pending">Pending</option>
                                            <option value="Approved">Approved</option>
                                            <option value="Cancelled">Cancelled</option>*@
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="salesReturnListTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Return No</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Customer Name</th>
                                    <th style="white-space: nowrap;">Total Amount</th>
                                    <th style="white-space: nowrap;">Done By</th>
                                    @*<th style="white-space: nowrap;">Status</th>*@

                                    @{
                                        foreach (var item in itemPriviledges)
                                        {
                                            if (item == "View")
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap;\"></th>");
                                            }

                                        }
                                    }

                                </tr>
                            </thead>
                            @*<tbody id="salesQuotationListTbody"></tbody>*@
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Sales Return Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="orderDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Customer :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                @*<div class="row" style="background-color:#fff;">
                                        <div class="">
                                            <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Status :</div>
                                            <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        </div>
                                    </div>*@
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Amount</th>
                                        <th style="white-space: nowrap;">Discount Value</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        <th style="white-space: nowrap;">Mgt. Fee</th>
                                        <th style="white-space: nowrap;">Total Amount</th>
                                        @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                    </tr>
                                </thead>
                                <tbody id="detailsTbody"></tbody>
                            </table>
                        </div>

                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="totalAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="totalAmount" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Bill Discount</div>
                                <div class="col-md-6" id="billDiscountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="billDiscount" readonly />
                                </div>
                            </div>
                        </div><br />
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" style="text-align:right;" class="form-control" id="grandTotal" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-success" id="edit" type="button"><i class="fa fa-edit"></i>Edit</button>
                <button class="btn btn-danger" id="delete" type="button"><i class="fa fa-trash"></i> Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/SalesReturnListing.js"></script>
    <script type="text/javascript">
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "")
            {
                $("#fromDate").val(Utilities.SetDate($("#fromDate").val(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0")
            {
                $("#fromDate").val($("#fromDate").val());
            }

            if ($(this).val() == "1")
            {
                $("#fromDate").val(Utilities.SetDate($("#fromDate").val(), -1));
                $("#toDate").val(Utilities.SetDate($("#toDate").val(), -1));
            }
        });
        $("#search").click(function () {
            table.destroy();
            GetPendingList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
        });
    </script>
}






@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;


            $("#toDate").datepicker({
                autoclose: true,
            });

            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>

}






@{

     Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
           
            GetPendingList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
        })

    </script>

}
