﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Purchase Order";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmPurchaseOrder" && p.action == "Save") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}


<div class="row" style="display:none">
    <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>



<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Purchase Order Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Order Number</label>
                                    <input type="text" class="form-control" id="QuotationNo" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Supplier</label>
                                    <div class="form-control custBorderStyle" id="Supplier" style="width:95%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select class="form-control custBorderStyle" id="Currency"></select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" id="TransDate" value="@DateTime.Now.ToShortDateString()" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Due Date</label>
                                    <input type="text" class="form-control" id="DueDate"  value="@DateTime.Now.ToShortDateString()" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Due Days</label>
                                    <input type="text" class="form-control" id="DueDays">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*<button data-toggle="modal" id="btnLineItemModal" class="btn btn-mint btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Invoice Line Item">Add</button>*@
                        <button class="demo-panel-ref-btn btn btn-info" id="createSupplier" onclick="openModal();">
                            <i class="fa fa-plus"></i> Add Line Item
                        </button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">Remove</th>
                                    <th style="white-space: nowrap;">Stock Card</th>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space: nowrap;">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Description</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Store</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    @*<th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amt.</th>*@
                                </tr>
                            </thead>
                            <tbody id="OrderLineItemTbody"></tbody>
                        </table>

                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Naration</label>
                                            <textarea class="form-control custBorderStyle" id="Narration"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                @*<label class="control-label">Bill Total</label>
                                                    <input id="billAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">*@
                                                @*<label class="control-label">Tax Amount</label>
                                                    <input id="taxAmount" type="text" class="form-control" disabled="disabled" style="text-align:right;">*@
                                                <label class="control-label">Grand Total</label>
                                                <input id="grandTotal" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="panel-footer text-right">
                        <button id="btnSave" class="btn btn-primary btn-labeled fa fa-save">Save</button>
                        <button id="savePrint" class="btn btn-primary btn-labeled fa fa-envelope">Save & Print</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LineItemModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Purchase Order Line Item</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="Barcode" class="form-control custBorderStyle" style="width:100%;"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <select id="ProductCode" class="form-control custBorderStyle" style="width:100%;"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <select id="ProductName" class="form-control custBorderStyle" style="width:100%;"></select>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="Qty" type="number" value="0" class="form-control" />
                                </div>
                                <div class="form-group" style="margin-top: 30px">
                                    <label class="control-label">Unit</label>
                                    <input id="Unit" type="text" class="form-control" disabled="disabled" />
                                </div>
                                <div class="form-group" style="margin-top: 40px">
                                    <label class="control-label">Store <span style="color: red">*</span> </label>
                                    <select id="store" class="form-control">
                                        <option value="">--Select--</option>
                                    </select>

                                </div>

                                @*<div class="form-group">
                                        <label class="control-label">Batch</label>
                                        <select id="Batch" class="form-control custBorderStyle"></select>
                                    </div>*@
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="Rate" type="text" class="form-control" />
                                </div>
                                <div class="form-group" style="margin-top: 30px">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="Amount" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group" style="margin-top: 40px">
                                    <label class="control-label">Description</label>
                                    <textarea id="Description" class="form-control"></textarea>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Tax</label>
                                    <select id="Tax" class="form-control custBorderStyle">
                                        <option value="0">NA</option>
                                    </select>
                                </div>
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="TaxAmount" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" onclick="AddtoLineItem()">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Supplier/PurchaseOrder2.js?v=@DateTime.Now"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

}


@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        
        $("#TransDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("TransDate");
        doc.readonly = true;


        $("#DueDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("DueDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#TransDate").datepicker({
                autoclose: true,
            });

            var doc = document.getElementById("TransDate");
            doc.readonly = true;

            $("#DueDate").datepicker({
                autoclose: true,
            });

            doc = document.getElementById("DueDate");
            doc.readonly = true;

        });

    </script>
}