﻿@{
    ViewBag.Title = "Edit Purchase Order";
    Layout = "~/Views/Shared/_AppLayout.cshtml";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Purchase Order Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Order Number</label>
                                    <input type="text" class="form-control" id="orderNo" readonly>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Supplier</label>
                                    <div class="form-control custBorderStyle" id="Supplier" style="width:95%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select class="form-control custBorderStyle" id="Currency"></select>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="TransDate">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Due Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="DueDate">
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Due Days</label>
                                    <input type="text" class="form-control" disabled="disabled" id="DueDays">
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">

                <div class="panel-heading">
                    <h3 class="panel-title">
                        @*<button data-toggle="modal" id="btnLineItemModal" class="btn btn-mint btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Invoice Line Item">Add</button>*@
                        <button class="demo-panel-ref-btn btn btn-info" id="createSupplier" onclick="openModal();">
                            <i class="fa fa-plus"></i> Add Line Item
                        </button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <table class="table table-bordered table-striped table-responsive">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">Remove</th>
                                    <th style="white-space: nowrap;">Stock Card</th>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space: nowrap;">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Description</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                    @*<th style="white-space: nowrap;">Tax</th>
                                    <th style="white-space: nowrap;">Tax Amt.</th>*@
                                </tr>
                            </thead>
                            <tbody id="OrderLineItemTbody"></tbody>
                        </table>

                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Naration</label>
                                            <textarea class="form-control custBorderStyle" id="Narration"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label class="control-label">Bill Total</label>
                                                <input id="billAmount" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                                @*<label class="control-label">Tax Amount</label>
                                                  <input id="taxAmount" type="text" class="form-control" disabled="disabled" style="text-align:right;">*@
                                                <label class="control-label">Grand Total</label>
                                                <input id="grandTotal" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="panel-footer text-right">
                        <button id="btnSave" class="btn btn-primary btn-labeled fa fa-save">Save</button>
                        <button class="btn btn-danger btn-labeled fa fa-times">Clear</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LineItemModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Purchase Order Line Item</h4>
            </div>
            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-5" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <div id="Barcode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <div id="ProductCode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Name</label>
                                    <div id="ProductName" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>

                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="Qty" type="number" min="1" value="1" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <input id="Unit" type="text" class="form-control" readonly="readonly" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textarea id="Description" class="form-control" ></textarea>
                                </div>
                                @*<div class="form-group">
                                        <label class="control-label">Batch</label>
                                        <select id="Batch" class="form-control custBorderStyle"></select>
                                    </div>*@
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="Rate" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="Amount" readonly="readonly" class="form-control" />
                                </div>
                                @*<div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="Tax" class="form-control custBorderStyle">
                                        <option value="0">NA</option>
                                    </select>
                                </div>
                                  *@

                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="TaxAmount" type="text" class="form-control" />
                                </div>

                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">

                <button class="btn btn-primary" onclick="AddtoLineItem()">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
<script type="text/javascript">
    var purchaseOrderId =@ViewBag.purchaseOrderId;
</script>
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Supplier/PurchaseOrderEdit.js?v=@DateTime.Now"></script>
}
