﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Purchase Order Register";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var pagePriviledges = new List<string>();
    var itemPriviledges = new List<string>();
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    //var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    // rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmPurchaseOrderRegister") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    else
    {
        // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
        pagePriviledges = rolePriviledges.Where(p => p.formName == "frmPurchaseOrderRegister").Select(p => p.action).ToList();
        itemPriviledges = rolePriviledges.Where(p => p.formName == "frmPurchaseOrder").Select(p => p.action).ToList();
    }
}


<style>
    #purchaseOrderListTable td:nth-child(6), th:nth-child(6) {
        text-align: right;
    }

    #purchaseOrderListTable td:first-child, td:nth-child(2), th {
        text-align: center;
    }

    #detailsTbody td:nth-child(5) {
        text-align: center;
    }

    #detailsTbody td:nth-child(7), td:nth-child(8) {
        text-align: right;
    }
</style>


@*<div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">From Date</label>
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">To Date</label>
                                        <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Supplier</label><br />
                                        <select id="suppliers" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Order No.</label>
                                        <input type="text" class="form-control" id="orderNo">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Condition</label><br />
                                        <select id="condition" class="form-control">
                                            <option value="All" selected>All</option>
                                            <option value="Due">Overdue</option>
                                            <option value="Pending">Pending Order</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <br />
                                    <button class="btn btn-info" type="button" id="search">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div id="registerGrid"></div>
        </div>
    </div>*@

@*hidden*@
<input type="text" id="companyName" value="@profile.companyName" style="display: none">
<input type="text" id="companyEmail" readonly="readonly" value="@profile.emailId" style="display: none">
<input type="text" id="companyPhone" readonly="readonly" value="@profile.phone" style="display: none">
<input type="text" id="companyAddress" readonly="readonly" value="@profile.address" style="display: none">
<img src="@profile.extra2" id="companyImage" style="display: none" />
@*hidden*@



<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            @*<div class="panel" style="display:none;">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Agent</label><br />
                                        <select id="customers" class="form-control"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Order No.</label>
                                        <input type="text" class="form-control" id="quotationNo">
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <div class="form-group">
                                        <label class="control-label">Condition</label><br />
                                        <select id="condition" class="form-control">
                                            <option value="All" selected>All</option>
                                            <option value="False">Approved</option>
                                            <option value="True">Pending</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-4">
                                    <br />
                                    <button class="btn btn-info" type="button" id="search-old">Search</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>*@
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="">-Select-</option>
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label">Order Status</label>
                                    <select id="orderStatus" class="form-control">
                                        <option value="">All</option>
                                        <option value="Pending">Pending</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Cancelled">Cancelled</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="search" style="margin-top:7px;" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="purchaseOrderListTable" class="table-bordered table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Order No.</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Due Date</th>
                                    <th style="white-space: nowrap;">Supplier Name</th>
                                    <th style="white-space: nowrap;">Bill Amount</th>
                                    <th style="white-space: nowrap;">Done By</th>
                                    <th style="white-space: nowrap;"></th>
                                    @{
                                        foreach (var item in itemPriviledges)
                                        {
                                            if (item == "View")
                                            {
                                                @Html.Raw("<th style=\"white-space: nowrap;\"></th>");
                                            }

                                        }
                                    }

                                </tr>
                            </thead>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Order Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="orderDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Supplier :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff; display:none;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Status :</div>
                                        <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        @*<th style="white-space: nowrap;"></th>*@
                                        <th style="white-space: nowrap;"><center>Barcode</center></th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        @*<th style="white-space: nowrap;">Warehouse</th>*@
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                        @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                    </tr>
                                </thead>
                                <tbody id="detailsTbody"></tbody>
                            </table>
                        </div>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Order Amount</div>
                                <div class="col-md-6" id="orderAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="orderAmountTxt" readonly style="text-align:right;" />
                                </div>
                            </div>
                        </div><br />
                        @*<div class="row" style="background-color:#fff;">
                                <div class="col-md-offset-7 col-md-5">
                                    <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Tax Amount</div>
                                    <div class="col-md-6" id="taxAmountDiv" style="font-size:14px;font-weight:bolder;">
                                        <input type="text" class="form-control" id="taxAmountTxt" readonly />
                                    </div>
                                </div>
                            </div><br />*@
                        @*<div class="row" style="background-color:#fff;">
                                <div class="col-md-offset-7 col-md-5">
                                    <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                    <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                        <input type="text" class="form-control" id="grandTotalTxt" readonly style="text-align:right;" />
                                    </div>
                                </div>
                            </div>*@
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary editOrder" id="editOrder" onclick="editPurchaseOrder();" type="button"><i class="fa fa-edit"></i> Edit Order</button>
                <button class="btn btn-danger deleteOrder" onclick="deletePurchaseOrder();" id="deleteOrder" type="button"><i class="fa fa-times"></i> Delete Order</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>


@section PageScripts{
    <script src="~/Scripts/Supplier/Registers/PurchaseOrder.js?v=@DateTime.Now"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript">
        var supp = [];
        var users = [];
        ///

        function loadLookUps() {
            Utilities.Loader.Show();
            $.ajax({
                url: API_BASE_URL + "/MaterialReceipt/InvoiceLookUps",
                type: "GET",
                contentType: "application/json",
                success: function (data) {
                    supp = data.Customers;
                    users = data.Users;
                    console.log(data);

                    Utilities.Loader.Hide();
                },
                error: function (err) {
                    Utilities.ErrorNotification("Oops! Sorry, something went wrong.");
                    Utilities.Loader.Hide();
                }
            });
        }

        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }
        });
        $("#search").click(function () {
            //if ($("#orderStatus").val() == "")
            //{
            //    Utilities.ErrorNotification("Please select status");
            //    return;
            //}
            //else
            //{
            //    table.destroy();
            //    getSalesQuotationsList($("#fromDate").val(), $("#toDate").val(), $("#orderStatus").val());
            //}
            table.destroy();
            getPurchaseOrderToList($("#fromDate").val(), $("#toDate").val());
        });
    </script>
}





@{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{


<script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("toDate");
        doc.readonly = true;


        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("fromDate");
        doc.readonly = true;

    });

</script>
}
else
{

    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}


@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            //getPurchaseOrderToList("2017-01-01", $("#toDate").val());
            //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
            getPurchaseOrderToList($("#fromDate").val(), $("#toDate").val());
            /// getReceiptList($("#fromDate").val(), $("#toDate").val(), $("#cashOrBank").val());
        })

    </script>

}


