﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Holiday Settings";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{

    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var pagePriviledges = new List<string>();
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    //var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    // rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmHolidaySettings") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    else
    {
        // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
        pagePriviledges = rolePriviledges.Where(p => p.formName == "frmHolidaySettings").Select(p => p.action).ToList();
    }
}

<div class="row">
    <div class="eq-height">
        @{

            if (pagePriviledges.Contains("Save") == true)
            {
                @Html.Raw("<div class=\"col-md-12\">");
            }
            else
            {
                @Html.Raw("<div class=\"hide col-md-6\">");
            }

        }

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Create New Holiday</h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Holiday Name</label>
                                <input type="text" class="form-control" id="holidayName">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <input type="text" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" id="holidayDate" />
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Narration</label>
                            <input type="text" class="form-control" id="narration">
                        </div>
                    </div>
                    <div class="row">

                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-info" type="button" onclick="saveHoliday()" id="newHoliday">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Holidays</h3>
            </div>
            <div class="panel-body text text-sm">
                <table id="holidaysTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Date</th>
                            <th>Holiday Name</th>
                            <th>Narration</th>
                            @{

                                if (pagePriviledges.Contains("Delete") == true)
                                {
                                    @Html.Raw(" <th></th>");
                                }
                            }

                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/Holiday/HolidaySettings.js?v=@DateTime.Now"></script>
}





@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#holidayDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("holidayDate");
        doc.readonly = true;


        $("#invoiceDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("invoiceDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#holidayDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("holidayDate");
            doc.readonly = true;

            $("#invoiceDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("invoiceDate");
            doc.readonly = true;

        });

    </script>
}



