﻿
@using MatOnline.Reports

@{
    ViewBag.Title = "Delivery Note Register";
    var pagePrivileges = ViewBag.pagePrivileges;
    var itemPrivileges = ViewBag.itemPrivileges;

}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}



<style>
    #deliveryNoteListTable td:nth-child(5), th:nth-child(5) {
        text-align: right;
    }

    #deliveryNoteListTable td:nth-child(2), td:first-child, th {
        text-align: center;
    }
</style>


<div class="row" style="display:none">
    <input type="text" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="text" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body text text-sm">
                        <div class="row">

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <select id="backDays" class="form-control">
                                        <option value="">-Select-</option>
                                        <option value="0">Today</option>
                                        <option value="1">Yesterday</option>
                                        <option value="7">One Week Ago</option>
                                        <option value="custom">Custom</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-3 dtHide">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-3">
                                @*<div class="col-md-9">
                                        <div class="form-group">
                                            <label class="control-label">Order Status</label>
                                            <select id="orderStatus" class="form-control">
                                                <option value="">All</option>
                                                <option value="Pending">Pending</option>
                                                <option value="Authorized">Authorized</option>
                                            </select>
                                        </div>
                                    </div>*@
                                <div class="col-md-3">
                                    <br />
                                    <button id="search" style="margin-top: 7px;" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                        <br /><br />
                        <div class="table-responsive">
                            <table id="deliveryNoteListTable" class="table table-striped table-bordered" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Form No.</th>
                                        <th style="white-space: nowrap;">Date</th>
                                        <th style="white-space: nowrap;">Customer Name</th>
                                        <th style="white-space: nowrap;">Bill Amount (N)</th>
                                        <th style="white-space: nowrap;">Released By</th>
                                        <th style="white-space: nowrap;"></th>
                                        @*<th style="white-space: nowrap;">Status</th>*@

                                        @{
                                            foreach (var item in itemPrivileges)
                                            {
                                                if (item == "View")
                                                {
                                                    @Html.Raw("<th style=\"white-space: nowrap;\"></th>");
                                                }

                                            }
                                        }

                                    </tr>
                                </thead>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Release Form Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="orderDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Customer :</div>
                                        <div class="col-md-6" id="raisedForDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                @*<div class="row" style="background-color:#fff;">
                                        <div class="">
                                            <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Status :</div>
                                            <div class="col-md-6" id="statusDiv" style="font-size:14px;font-weight:bolder;"></div>
                                        </div>
                                    </div>*@
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Raised By :</div>
                                        <div class="col-md-6" id="raisedByDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <table class="table table-striped table-bordered" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;"></th>
                                    <th style="white-space: nowrap;">Barcode</th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Warehouse</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder; text-align:right;">
                                    <input type="text" class="form-control" style="text-align:right;" id="amountTxt" readonly />
                                </div>
                            </div>
                        </div>
                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-success" id="edit" data-id="" type="button"><i class="fa fa-check"></i> Edit</button>
                <button class="btn btn-danger" id="delete" data-id="" type="button"><i class="fa fa-times"></i>Delete</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>




@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            getDeliveryNoteList($("#fromDate").val(), $("#toDate").val());
          //  getDeliveryNoteList("2017-01-01", $("#toDate").val());
        })

    </script>

}




@section PageScripts
{

    <script src="~/Scripts/Customer/Registers/DeliveryNoteRegister.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script type="text/javascript">
        //getDeliveryNoteList("2017-01-01", $("#toDate").val());
        //getDeliveryNoteList(ConvertDateFrom, ConvertDateTo);
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate($("#fromDate").val(), -$("#backDays").val()));
                //alert($("#toDate").val());
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val($("#fromDate").val());
            }

            if ($(this).val() == "1") {
                $("#toDate").val(Utilities.SetDate($("#toDate").val(), -1));
            }
        });
        $("#search").click(function () {
            table.destroy();
            getDeliveryNoteList($("#fromDate").val(), $("#toDate").val());
        });
    </script>

}


@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;


            $("#toDate").datepicker({
                autoclose: true,
            });

            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>

}