﻿@using MatOnline.Reports

@{
    /**/
    ViewBag.Title = "Delivery Note";
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12" style="display:block;">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Note No.</label>
                                    <input type="text" class="form-control" readonly="readonly" id="invoiceNo">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control" readonly="readonly" value="@DateTime.Now.ToShortDateString()" id="transactionDate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Customer</label> <br />
                                    <select id="customers" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Delivery Mode</label>
                                    <select id="deliveryMode" class="form-control custBorderStyle">
                                        <option value="NA">NA</option>
                                        <option value="Against Order">Against Order</option>
                                        @*<option value="Against Quotation">Against Quotation</option>*@
                                    </select>
                                </div>
                            </div>

                            @*<div class="col-sm-4" style="visibility:hidden;">
                                    <div class="form-group">
                                        <label class="control-label">Pricing Level</label>
                                        <select id="pricingLevel" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>*@
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select id="currency" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4" id="orderNoPanel">
                                <div class="form-group">
                                    <label class="control-label">Order No</label>
                                    <select id="orderNo" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Sales Person</label>
                                    <select id="salesMan" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            @*<div class="col-sm-4" id="orderNoPanel">
                                    <div class="form-group">
                                        <label class="control-label">Order No</label>
                                        <select id="orderNo" class="form-control custBorderStyle"></select>
                                    </div>
                                </div>*@
                        </div>

                        <div class="row" style="display:none">
                            <input type="text" id="companyName" readonly="readonly" value="@profile.companyName">
                            <input type="text" id="companyAddress" readonly="readonly" value="@profile.address">
                            <input type="hidden" id="companyEmail" readonly="readonly" value="@profile.emailId">
                            <input type="hidden" id="companyPhone" readonly="readonly" value="@profile.phone">
                            <img src="@profile.extra2" id="companyImage" />
                        </div>

                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip">
                            Add Line Item
                        </button>
                    </div>
                    <h3 class="panel-title">Line Items</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Remove</th>
                                        <th style="white-space: nowrap;"></th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Description</th>
                                        <th style="white-space: nowrap;">Qty Ordered</th>
                                        <th style="white-space: nowrap;">Qty Delivered</th>
                                        <th style="white-space: nowrap;">Qty Outstanding</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;display:none;">Rate</th>
                                        <th style="white-space: nowrap;display:none;">Amount</th>
                                        <th style="white-space: nowrap;display:none;">Remove</th>
                                    </tr>
                                </thead>
                                <tbody id="lineItemTbody"></tbody>
                            </table>
                        </div><br /><br />
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Transporter</label>
                                    <input type="text" id="transportationCompany" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Vehicle No.</label>
                                    <input type="text" id="lrNo" class="form-control" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <textarea id="narration" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="col-md-3" style="display:none;">
                                <div style="text-decoration:underline;font-size:13px;">Total Amount : <strong id="totalAmount">0</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button id="saveDeliveryNote" class="btn btn-primary btn-labeled fa fa-save">Save</button>
                        <button id="savePrint" class="btn btn-primary btn-labeled fa fa-envelope">Save & Print</button>
                        @*<div class="col-sm-1">
                                <button class="btn btn-primary btn-labeled fa fa-print" id="Print" onclick="print();">Print</button>
                            </div>*@
                        @*<div class="row">
                                <div class="col-sm-2">
                                    <div class="form-group">
                                        <label class="control-label">Print after save</label>
                                        <input type="checkbox" id="print" />
                                    </div>
                                </div>
                                <div class="col-sm-offset-6">
                                    <button class="btn btn-primary btn-labeled fa fa-save" id="saveDeliveryNote">Save</button>
                                </div>
                            </div>*@

                        @*<button class="btn btn-primary btn-labeled fa fa-envelope">Save & Email</button>
                            <button class="btn btn-danger btn-labeled fa fa-times">Clear</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch <span style="color:red;">*</span></label>
                                    <select id="batch" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity <span style="color:red;">*</span></label>
                                    <input id="quantityToAdd" type="number" value="0" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unit" disabled="disabled" class="form-control custBorderStyle"></select>
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="amount" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Store <span style="color:red;">*</span></label>
                                    <select id="store" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" type="text" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">description</label>
                                    <input id="Description" type="text" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock</label>
                                    <input id="quantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity In Stock For Store</label>
                                    <input id="storeQuantityInStock" type="text" readonly="readonly" class="form-control" />
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                @*<div class="panel panel-default" style="background-color:#f8f8f8;" id="searchResultPanel">
                        <div class="panel-body">
                            <b>Product Details</b><br /><br />
                            <div id="qtyInStockDiv">Quantity in stock : <b id="quantityInStock"></b></div><br />

                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="form-group">
                                        <label class="control-label">Quantity</label>
                                        <input type="number" id="" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-offset-4">
                                    <div class="form-group">
                                        <br />
                                        <button class="btn btn-primary btn-labeled fa fa-plus-circle" id="addSalesInvoiceLineItem">Add</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" id="addDeliveryNoteLineItem" type="button">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="LineItemModalE" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Quotation Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="Barcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="ProductCode" class="form-control custBorderStyle">
                                    </select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="ProductName" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <input id="Description" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="Qty" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="Unit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <select id="Batch" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="Rate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" id="Amount" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="Tax" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="TaxAmount" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" onclick="AddLineItemToList()">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>
<input type="hidden" id="ledgerId" value="@ViewBag.ledgerId" />
<input type="hidden" id="voucherId" value="@ViewBag.vouchureId" />
<input type="hidden" id="txtId" value="@ViewBag.txtId" />


@section PageScripts{


    <script type="text/javascript">
       /* $("#transactionDate input").datepicker();*/
        @*var mode = @Request.QueryString["deliveryMode"];*@
        //var orderNoFromUrl = @Request.QueryString["orderNo"];
        //alert(orderNoFromUrl);
    </script>
    <script src="~/Scripts/Customer/DeliveryNote.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
    <script src="//cdn.rawgit.com/saribe/eModal/1.2.67/dist/eModal.min.js"></script>

}




@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        var doc = document.getElementById("transactionDate");
        doc.readonly = true;

        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        var doc = document.getElementById("transactionDate");
        doc.readonly = true;

        var ConvertDateFrom = EndMonth + "/" + BeginDay + "/" + EndYear;

        $("#transactionDate").val(ConvertDateFrom);

        document.getElementById("transactionDate").value = ConvertDateFrom;
    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("transactionDate");
            doc.readonly = true;


            $("#transactionDate").datepicker({
                autoclose: true,
            });

            doc = document.getElementById("transactionDate");
            doc.readonly = true;

        });

    </script>

}