﻿<table style="background-color:red !important; font-family:'Courier New' !important;font-size:8px !important;">
    <tr>
        <td>
            <img src="http://localhost:29722/Content/pdfImages/wichtech-logo.jpg"  />
            <h3 style="margin-left:10px;">WAY BILL</h3>
            <div style="text-align:left;">
                <strong>To</strong>:______________________________________________<br />
                <strong>Address</strong>:_________________________________________<br />
            </div>         
        </td>
        <td style="margin-top:-80px !important;">
            <b>LIAISON/MANAGEMENT OFFICE : </b>5. Wema Terra, 29 Udi Street,
            Osborne Foreshore Estate, Ikoyi-Lagos<br />
            <b>LIAISON/MANAGEMENT OFFICE : </b>5. Wema Terra, 29 Udi Street,
            Osborne Foreshore Estate, Ikoyi-Lagos<br />
        </td>
    </tr>
</table>
<br /><br />
<table style="background-color:darksalmon !important; font-family:'Courier New' !important;font-size:8px !important;" border="1">
    <thead>
        <tr>
            <th><b>ITEM</b></th>
            <th><b>QTY.</b></th>
            <th><b>DESCRIPTION OF GOODS</b></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Biscuit</td>
            <td>1</td>
            <td>biscuit for toyin</td>
        </tr>
        <tr>
            <td>Shoe</td>
            <td>12</td>
            <td>shoe for lizzy</td>
        </tr>
        <tr>
            <td>Akpu</td>
            <td>4 plates</td>
            <td>akpu for emeka</td>
        </tr>
    </tbody>

</table>
<div style="color:#5eba7d !important; font-family:'Courier New' !important;font-size:8px !important;margin-left:20px;">
    PLEASE RECEIVE THE ABOVE MENTIONED GOODS IN GOOD CONDITION
</div>
<br /><br /><br />
<div style="border-style:double !important;">
<table style="background-color:darksalmon !important; font-family:'Courier New' !important;font-size:8px !important;">
    <tbody>
        <tr>
            <td>
                DELIVERED BY:______________________
            </td>
            <td>
                RECEIVED BY:______________________
            </td>
        </tr>
        <tr>
            <td>
                SIGN/DATE:______________________
            </td>
            <td>
                SIGN/DATE:______________________
            </td>
        </tr>
    </tbody>
</table>
</div>