﻿
@{
    ViewBag.Title = "Budget Variance";
}


<div class="row" id="viewBudget">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Parameters</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Budgets</label>
                                <select id="budget" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Budgets Variance</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="budgetVarianceTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Particulars</th>
                                    <th>Budget(Dr)</th>
                                    <th>Actual(Dr)</th>
                                    <th>Variance(Dr)</th>
                                    <th>Budget(Cr)</th>
                                    <th>Actual(Cr)</th>
                                    <th>Variance(Cr)</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Company/Masters/Budget/BudgetVariance.js?v=@DateTime.Now"></script>
}

