﻿
@{
    ViewBag.Title = "Stock Summary";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">From</label><br />
                                    <input type="text" class="form-control dateCtrl" id="from" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control dateCtrl" id="to" readonly="readonly" />
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Division</label><br />
                                    <select class="form-control" id="divisions">
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Group</label><br />
                                    <select class="form-control" id="groups"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Sub Group</label><br />
                                    <select class="form-control" id="subgroups"></select>
                                </div>
                            </div>

                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Category</label><br />
                                    <select class="form-control" id="categories"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Sub Category</label><br />
                                    <select class="form-control" id="subcategories"></select>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">Store</label><br />
                                    <select class="form-control"id="stores">
                                        <option>loading...</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-md-12 table-toolbar-right">
                                <button id="excelExport" class="btn btn-primary btn-labeled fa fa-file-excel-o"> Export to Excel</button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                @*<div id="grid"></div>*@
                                <table class="table table-hover table-vcenter" border="1" id="rptTable">
                                    <thead>
                                        <tr>
                                            <th>Warehouse</th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody id="reportTbody">
                                       
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <br /><br />
                        <hr />
                        <div class="row" style="display:none;">
                            <div class="col-md-offset-8 col-md-4">
                                <label>Total Stock Value</label>
                                <input class="form-control" type="text" value="0.00" readonly="readonly" id="totalStockValue" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


    @section PageScripts{
        <style>
            .selectpicker{
                width:70%;
            }
        </style>
<script src="~/Scripts/Reports/OtherReports/Inventory/CustomStockSummary.js"></script>
        <script type="text/javascript">
            

            //function populateAllRelatedSubgroups()
            //{
            //    for(i=0;i<productGroups.length;i++)
            //    {
            //        if(productGroups.indexOf(productGroups[i].GroupUnder)>=0 && productGroups[i].GroupUnder)
            //    }
            //}
        </script>
    }

