﻿
@{
    ViewBag.Title = "Farm / Manufacturing Profitability By Department";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control" value="@DateTime.Now.ToShortDateString()" id="fromDate" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control" value="@DateTime.Now.ToShortDateString()" id="toDate" />
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Department </label>
                                <select id="category" class="form-control">
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label">Location</label>
                                    <select id="storeCtrl" class="form-control">
                                        <option value="0">-All-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-4 table-toolbar-left">
                            <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                            <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="farmActivityProfitabilityTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th width="40%" style="white-space: nowrap;"></th>
                                    <th width="20%" style="white-space: nowrap;"><!--Debit--></th>
                                    <th width="20%" style="white-space: nowrap;"> <!--Credit (Qty * Avg Sales Rate) --></th>
                                </tr>
                            </thead>

                            <tbody id="tblBodyHarvest"></tbody>
                            <tfoot id="tblFootManufacturing">

                            </tfoot>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Reports/OtherReports/Inventory/FarmProfitabilityReportByDepartment.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>
        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#farmActivityProfitabilityTable").table2excel({
                name: "Table2Excel",
                filename: "Farm Profitability by Department from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Farm Profitability by Department Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>
}




@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });



    </script>
}
