﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Stock Variance";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmStockVarianceReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Store</label><br />
                                    <select id="store" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Product Name</label><br />
                                    <select id="product" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label><br />
                                    <input type="text" class="form-control" id="productCode" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Date</th>
                                        <th>Code</th>
                                        <th>Name</th>
                                        <th>Physical Stock Qty.</th>
                                        <th>Store</th>
                                        <th>System Qty.</th>
                                        <th>Batch</th>
                                        <th>Rate</th>
                                        <th>Difference</th>
                                        <th>Stock Value</th>
                                    </tr>
                                </thead>
                                <tbody id="stockVarianceTbody"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Reports/OtherReports/Inventory/StockVariance.js?v=@DateTime.Now"></script>
}