﻿
@{
    ViewBag.Title = "Stock Journals Report";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" id="formNo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label>
                                    <div id="productCode" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Product</label><br />
                                    <div id="product" class="form-control custBorderStyle" style="width:100%;"></div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-11">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">        
        <div class="panel panel-body text text-sm">
            <div class="table-responsive">
                <table class="table table-striped" id="stockJournalTbody">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Form No.</th>
                            <th>Form Date</th>
                            <th>Qty</th>
                            <th>Narration</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Journal Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Date :</div>
                                        <div class="col-md-6" id="dateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Narration :</div>
                                        <div class="col-md-6" id="narrationDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Stock Journal :</div>
                                        <div class="col-md-6" id="stockJournalDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr />
                        <div id="availableQuantityDiv" style="font-size:18px;"></div>
                        <div>
                            <p>Raw Materials(Consumption)</p>
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        @*<th style="white-space: nowrap;"></th>*@
                                        <th style="white-space: nowrap;"><center>Barcode</center></th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                        @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                    </tr>
                                </thead>
                                <tbody id="detailsTbodyConsumption"></tbody>
                            </table>
                        </div>
                        <div>
                            <p>Finished Goods(Production)</p>
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        @*<th style="white-space: nowrap;"></th>*@
                                        <th style="white-space: nowrap;"><center>Barcode</center></th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Warehouse</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                        @*<th style="white-space: nowrap;">Tax Amount</th>*@
                                    </tr>
                                </thead>
                                <tbody id="detailsTbodyProduction"></tbody>
                            </table>
                        </div>
                        <p>Additional Cost(s)</p>
                        <div class="row">
                            <div class="col-md-8">
                                <table class="table table-striped" style="overflow:auto !important;">
                                    <thead style="background-color:#3c8dd3;color:#fff;">
                                        <tr>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap;">Account Name</th>
                                            <th style="white-space:nowrap">Debit</th>
                                            <th style="white-space: nowrap;">Credit</th>
                                        </tr>
                                    </thead>
                                    <tbody id="detailsTbodyAdditionalCost"></tbody>
                                </table>
                            </div>
                            <div class="col-md-4">
                                <div class="row" style="background-color:#fff;">
                                    <div>
                                        <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Amount</div>
                                        <div class="col-md-6" id="AmountDiv" style="font-size:14px;font-weight:bolder;">
                                            <input type="text" class="form-control" id="AmountTxt" readonly />
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row" style="background-color:#fff;">
                                    <div>
                                        <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Additional Cost</div>
                                        <div class="col-md-6" id="addCostDiv" style="font-size:14px;font-weight:bolder;">
                                            <input type="text" class="form-control" id="addCostTxt" readonly />
                                        </div>
                                    </div>
                                </div><br />
                                <div class="row" style="background-color:#fff;">
                                    <div>
                                        <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Grand Total</div>
                                        <div class="col-md-6" id="grandTotalDiv" style="font-size:14px;font-weight:bolder;">
                                            <input type="text" class="form-control" id="grandTotalTxt" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<center>
                                This order was raised by <span id="raisedByDiv" style="font-size:12px;font-weight:bolder;text-align:right;"></span>
                            </center>*@
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                @*<button class="btn btn-success" id="ApproveTransfer" onclick="saveStockJournalforTransfer();" type="button"><i class="fa fa-check"></i> Approve Transfer</button>
                <button class="btn btn-danger" onclick="" id="cancelOrder" type="button"><i class="fa fa-times"></i> Cancel Transfer</button>*@
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Reports/OtherReports/Inventory/StockJournal.js?v=@DateTime.Now"></script>
}