﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Stock  Summary";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmStockSummaryReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}


<style>
    #stockSummaryable td:nth-child(4), td:nth-child(5), td:nth-child(6) {
        text-align: right;
    }
</style>


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label><br />
                                    <input type="text" class="form-control" id="productCode" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Store</label><br />
                                    <select id="store" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label><br />
                                    <select id="TransactionType" class="form-control">

                                        @{
                                            var context = new MatOnline.Reports.DBMATAccounting_MagnetEntities();
                                            var newVouchers = context.tbl_VoucherType.ToList();
                                        }


                                        @*@foreach(var itm in newVouchers)
                    {*@
                                        <option value="0">All</option>
                                        <option value="14">Purchase Return</option>
                                        <option value="20">Sales Return</option>
                                        <option value="25">Physical Stock</option>
                                        <option value="11">Material Receipt</option>
                                        <option value="28">Sales Invoice</option>
                                        <option value="2">Opening Stock</option>
                                        <option value="18">Rejection In</option>
                                        <option value="12">Rejection Out</option>
                                        <option value="17">Delivery Note</option>
                                        <option value="29">Purchase Invoice</option>
                                        <option value="24">Item Production</option>
                                        <option value="24">Stock Out</option>
                                        <option value="24">Stock Transfer</option>
                                        @*}*@

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Batch No.</label><br />
                                    <select id="batchNo" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Product</label><br />
                                    <select id="product" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover" id="stockSummaryable">
                                @*<thead style="display: block;" id="thead">*@
                                <thead id="thead">
                                    <tr>
                                        <th>Item</th>
                                        <th>Code</th>
                                        <th>Store Name</th>
                                        <th>Qty Balance</th>
                                        <th>Avg Cost</th>
                                        <th>Stock Value</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody id="stockSummaryTbody" style="overflow-y:scroll; height:300px;"></tbody>
                            </table>
                        </div>
                        <div class="row">
                            <div class="col-md-offset-8 col-md-4">
                                <label>Total Stock Value</label>
                                <input class="form-control text-right" type="text" value="0.00" readonly="readonly" id="totalStockValue" />
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
    </div>
@section PageScripts{
<script src="~/Scripts/Reports/OtherReports/Inventory/StockSummary.js" type="text/javascript"></script>
   <script src="~/Scripts/jquery.table2excel.js" type="text/javascript"></script>
   <script>
       function exportToExcel() {
           $("#stockSummaryable").table2excel({
               name: "Table2Excel",
               filename: "Stock Summary Report",
               fileext: ".xls",
               preserveColors: true
           });
       }

       $(function () {
           $('button[type="submit"]').click(function () {
               var pageTitle = 'Stock Summary Report',
                   stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                   win = window.open('', 'Print', 'width=500,height=700');
               win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                   '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');

               win.document.close();
               win.print();
               win.close();
               return false;
           });
       });
   </script>
}