﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Stock  Details";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmStockDetailsReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}



<style>
    #stockDetailsTable td:nth-child(11), td:nth-child(12), td:nth-child(13),
    td:nth-child(8), td:nth-child(9), td:nth-child(10) {
        text-align: right;
    }
</style>


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label" style="font-size:14px;">Include Financial Year</label>
                                    <br />
                                    <input type="checkbox" onclick="IncludeDatePickerAction(this)" id="IncludeDatePicker" />
                                </div>
                            </div>


                            <div class="col-md-3" id="FinancialCover">
                                <div class="form-group">
                                    <label class="control-label">Select Year</label><br />
                                    <select class="form-control" onchange="OnFinancialYearChange(this)" id="yearF">
                                        @{
                                            var Result = MatOnline.Areas.Supplier.MatOnlineSession.GetFinancialYear();
                                        }
                                        <option value="0">Current Financial Year</option>
                                        @foreach (var itm in Result)
                                        {
                                            var dateFinancial = new MATClassLibrary.Classes.SP.DatePickerModel() { FiFromDay = itm.fromDate.Value.Day, FiFromMonth = itm.fromDate.Value.Month, FiFromYear = itm.fromDate.Value.Year, FiToDay = itm.toDate.Value.Day, FiToMonth = itm.toDate.Value.Month, FiToYear = itm.toDate.Value.Year };

                                            <option value="@Newtonsoft.Json.JsonConvert.SerializeObject(dateFinancial)" @*onclick="FinancialYearItems(this)"*@>@itm.fromDate.Value.ToShortDateString() -  @itm.toDate.Value.ToShortDateString()</option>
                                        }
                                    </select>
                                    <p id="selectedFinancialYear" style="font-size:9px;"></p>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">From</label><br />
                                    <input type="text" class="form-control" id="fromDate" value="@DateTime.Now.ToShortDateString()" readonly="readonly" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To</label><br />
                                    <input type="text" class="form-control" id="toDate" value="@DateTime.Now.ToShortDateString()" readonly="readonly" />
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product Code</label><br />
                                    <input type="text" class="form-control" id="productCode" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Store</label><br />
                                    <select id="store" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Batch No.</label><br />
                                    <select id="batchNo" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product</label><br />
                                    <select id="product" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Project</label><br />
                                    <select id="project" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Department</label><br />
                                    <select id="category" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Transaction Type</label><br />
                                    <select id="TransactionType" class="form-control">

                                 @{ 
                                    var context = new MatOnline.Reports.DBMATAccounting_MagnetEntities();
                                    var newVouchers = context.tbl_VoucherType.ToList();
                                  }

                                       
                                        @*@foreach(var itm in newVouchers)
                                        {*@
                                            <option value="0">All</option>
                                            <option value="14">Purchase Return</option>
                                            <option value="20">Sales Return</option>
                                            <option value="25">Physical Stock</option>
                                            <option value="11">Material Receipt</option>
                                            <option value="28">Sales Invoice</option>
                                            <option value="2">Opening Stock</option>
                                            <option value="18">Rejection In</option>
                                            <option value="12">Rejection Out</option>
                                            <option value="17">Delivery Note</option>
                                            <option value="29">Purchase Invoice</option>
                                            <option value="24">Item Production</option>
                                            <option value="24">Stock Out</option>
                                            <option value="24">Stock Transfer</option>
                                        @*}*@

                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!--<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped" id="stockDetailsTable">-->
@*<thead style="display: block;" id="thead">*@
<!--<thead id="thead" style="width:100%; white-space: nowrap;">
                                    <tr>
                                        <th>Store</th>
                                        <th>Item</th>
                                        <th>Code</th>
                                        <th>Ref No</th>
                                        <th>Transaction</th>
                                        <th>Batch</th>
                                        <th>Date</th>
                                        <th>Rate</th>
                                        <th>Qty-In</th>
                                        <th>Qty-Out</th>
                                        <th>Qty Bal</th>
                                        <th>Avg Cost</th>
                                        <th>Stock Value</th>
                                        <th>Project</th>
                                        <th>Department</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody id="stockDetailsTbody" style="overflow-y:scroll; height:300px;"></tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>-->


<div class="row">
    <div class="col-sm-12">
        <div class="panel">
            <div class="panel-body">
                <div class="panel-body">
                    <div class="pad-btm form-inline">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive overflow-auto" style="max-height: 500px;">
                            <table class="table table-striped table-bordered table-hover" id="stockDetailsTable">
                                @*<thead style="display: block;" id="thead">*@
                                <thead id="thead" style="width:100%; white-space: nowrap;">
                                    <tr>
                                        <th>Store</th>
                                        <th>Item</th>
                                        <th>Code</th>
                                        <th>Ref No</th>
                                        <th>Transaction</th>
                                        <th>Batch</th>
                                        <th>Date</th>
                                        <th>Rate</th>
                                        <th>Qty-In</th>
                                        <th>Qty-Out</th>
                                        <th>Qty Bal</th>
                                        <th>Avg Cost</th>
                                        <th>Stock Value</th>
                                        <th>Project</th>
                                        <th>Department</th>
                                        <th>Unit</th>
                                    </tr>
                                </thead>
                                <tbody id="stockDetailsTbody">

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



 @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
<script src="~/Scripts/jquery.table2excel.js" type="text/javascript"></script>

<script type="text/javascript">
    var listFinancialYear = [];
</script>

@{
    var ResultDate = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

<script type="text/javascript">

    function hideFinancial()
    {
        $("#FinancialCover").hide();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "none";
        //}
    }

    function showFinancial() {
        $("#FinancialCover").show();
        //var elems = document.getElementsByClassName("hideTab");
        //for (var i = 0; i < elems.length; i++) {
        //    elems[i].style.display = "grid";
        //}
    }

</script>

@if (ResultDate != null)
{

    <script type="text/javascript">

        var BeginYear = @ResultDate.FromDate.AddMonths(-1).Year;
        var BeginMonth = @ResultDate.FromDate.AddMonths(-1).Month;
        var BeginDay = @ResultDate.FromDate.AddMonths(-1).Day;

        var EndYear = @ResultDate.ToDate.AddMonths(-1).Year;
        var EndMonth = @ResultDate.ToDate.AddMonths(-1).Month;
        var EndDay = @(ResultDate.ToDate.AddMonths(-1).Day + 1);

    var dateFrom = null;
    var dateTo = null;

    var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;
        var host = location.origin;

        $(function () {
            hideFinancial();
        ArrangeDateList();

        //dateFrom1 = $("#fromDate");
        //dateTo1 = $("#toDate");

        //dateFrom1.datepicker({
        //    autoclose: true,
        //});

        dateFrom = document.getElementById("fromDate");
        dateFrom.readonly = true;


        //dateTo1.datepicker({
        //    autoclose: true,
        //});

        dateTo = document.getElementById("toDate");
        dateTo.readonly = true;

    });

    function IncludeDatePickerAction(obj) {

        if (obj.checked) {
            /* obj.checked = false;*/
            isFInclude = true;
            listFinancialYear = null;
            listFinancialYear = [];
            showFinancial();
           // RangeDatePicker();
        }
        else {
            /* obj.checked = true;*/
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }
    }

        function BackWordFinancialYear() {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

    function FinancialYearItems(obj) {

        //listFinancialYear.push({ year: obj.html });
    }

    function OnFinancialYearChange(obj) {

        if (obj.value == null || obj.value == "") {
            obj.selectedIndex = 0;
            BackWordFinancialYear();
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        if (obj.value != "0") {
            if (isFInclude == false) {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                return;
            }
        }
        else {

            document.getElementById('IncludeDatePicker').checked = false;
            listFinancialYear = null;
            obj.selectedIndex = 0;
            isFInclude = false;
            BackWordFinancialYear();
            return;
        }

        if (listFinancialYear == null) {
            listFinancialYear = [];
        }

        var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

        //$.post(url, { AllDate: obj.value }, function (data, status) {
        //    alert("Data: " + data + "\nStatus: " + status);
        //});

        var dateyerObj = parseJSON(obj.value);
        if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
            Swal.fire('Finanacial year selected is invalid', '', 'warning');
            return;
        }

        const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

        if (isFExitList != "-1") {


            Swal.fire({
                title: 'Warning',
                text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes'
            }).then((result) => {

                if (result.value) {

                    try {

                        listFinancialYear = null;
                        listFinancialYear = [];

                        listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                        RangeDatePicker();

                        //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                        //if (listFYear != null && listFYear != "-1") {
                        //    //listFinancialYear.splice(listFYear, 1);
                        //    return;
                        //}

                        return;
                    }
                    catch (error) {
                        Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                        return;
                    }
                }
                else {

                }
            });
            return;
        }
        else {

            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
            RangeDatePicker();
            return;
        }
    }

    function ArrangeDateList() {
        Utilities.Loader.Show();

        $.ajax({
            url: host + "/FinancialStatements/GetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ data: "Good" }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);

                    Utilities.Loader.Hide();

                    if (result != null && result != "100") {
                        listFinancialYear = result.DatePickers;
                        if (listFinancialYear.length > 0) {
                            document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length ;
                        }
                        else {
                            document.getElementById('selectedFinancialYear').innerHTML = "";
                        }
                        showFinancial();
                        document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                        document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                        isFInclude = true;
                        BindResult(listFinancialYear);
                    }
                    else {

                        dateFrom1 = $("#fromDate");
                        dateTo1 = $("#toDate");

                        dateFrom1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateTo1.datepicker({
                            autoclose: true,
                            startDate: new Date(BeginYear, BeginMonth, BeginDay),
                            endDate: new Date(EndYear, EndMonth, EndDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;

                    }
                    /// $("#fromDate").datepicker("refresh");

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function BindResult(objList) {
        Utilities.Loader.Show();

        $.ajax({
            url: API_BASE_URL + "/FinancialStatements/GetDateRange",
            type: "Post",
            data: JSON.stringify(objList),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result != null) {

                        $("#fromDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        $("#toDate").datepicker({
                            autoclose: true,
                            startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                            endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                        });

                        dateFrom = document.getElementById("fromDate");
                        dateFrom.readonly = true;
                        dateTo = document.getElementById("toDate");
                        dateTo.readonly = true;
                    }

                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function RangeDatePicker() {
        Utilities.Loader.Show();

        // var PostDate = [];
        //  PostDate.listFinancialYear = listFinancialYear;
        var IsChecked = document.getElementById('IncludeDatePicker').checked;
        var SelectedIndex = document.getElementById('yearF').selectedIndex;

        $.ajax({
            url: host + "/FinancialStatements/SetDateRangeSession",
            type: "Post",
            data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
            contentType: "application/json",
            success: function (data) {
                if (data != null) {
                    var result = data;
                    console.log(result);
                    Utilities.Loader.Hide();

                    if (result == "200") {
                        location.reload();
                    }


                    return;
                }
                else {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Could not load balance sheet!");
                    return;
                }

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            },
            error: function (err) {

                Utilities.Loader.Hide();
                Utilities.ErrorNotification("Something went wrong!");
                return;
            }
        });
    }

    function parseJSON(data) {
        return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
    }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {


                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        location.reload();
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    location.reload();
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

    </script>

}
else
{
    <script type="text/javascript">

        var dateFrom = null;
        var dateTo = null;

        var dateFrom1 = null;
        var dateTo1 = null;

        var isFInclude = false;

        var host = location.origin;

        $(function () {

            hideFinancial();
            ArrangeDateList();
            //dateFrom1 = $("#fromDate");
            //dateTo1 = $("#toDate");

            //dateFrom1.datepicker({
            //    autoclose: true,
            //});

            dateFrom = document.getElementById("fromDate");
            dateFrom.readonly = true;

            //dateTo1.datepicker({
            //    autoclose: true,
            //});

            dateTo = document.getElementById("toDate");
            dateTo.readonly = true;

        });

        function IncludeDatePickerAction(obj) {

            if (obj.checked) {
                /* obj.checked = false;*/
                isFInclude = true;
                listFinancialYear = null;
                listFinancialYear = [];
                showFinancial();
                // RangeDatePicker();
            }
            else {
                /* obj.checked = true;*/
                isFInclude = false;
                listFinancialYear = null;
                document.getElementById('yearF').selectedIndex = 0;
                document.getElementById('selectedFinancialYear').innerHTML = "";
                hideFinancial();
                ClearDateList();
            }
        }

        function ClearDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/ClearDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();
                        location.reload();
                        return;
                    }
                    else {


                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        location.reload();
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    location.reload();
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BackWordFinancialYear() {
            isFInclude = false;
            listFinancialYear = null;
            document.getElementById('yearF').selectedIndex = 0;
            document.getElementById('selectedFinancialYear').innerHTML = "";
            hideFinancial();
            ClearDateList();
        }

        function FinancialYearItems(obj) {

            //listFinancialYear.push({ year: obj.html });
        }

        function OnFinancialYearChange(obj) {

            if (obj.value == null || obj.value == "") {
                obj.selectedIndex = 0;
                BackWordFinancialYear();
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            if (obj.value != "0") {
                if (isFInclude == false) {
                    obj.selectedIndex = 0;
                    BackWordFinancialYear();
                    Swal.fire('Please enable the check box to include finanacial year datepicker', '', 'warning');
                    return;
                }
            }
            else {

                document.getElementById('IncludeDatePicker').checked = false;
                listFinancialYear = null;
                obj.selectedIndex = 0;
                isFInclude = false;
                BackWordFinancialYear();
                return;
            }

            if (listFinancialYear == null) {
                listFinancialYear = [];
            }

            var url = API_BASE_URL + "/FinancialStatements/ChangeDateRange";

            //$.post(url, { AllDate: obj.value }, function (data, status) {
            //    alert("Data: " + data + "\nStatus: " + status);
            //});

            var dateyerObj = parseJSON(obj.value);
            if (dateyerObj == null || dateyerObj == "" || dateyerObj == obj.value) {
                Swal.fire('Finanacial year selected is invalid', '', 'warning');
                return;
            }

            const isFExitList = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);

            if (isFExitList != "-1") {



                Swal.fire({
                    title: 'Warning',
                    text: "Your have already selected this finanacial year, Do you want to search with only this finanacial.",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes'
                }).then((result) => {

                    if (result.value) {

                        try {

                            listFinancialYear = null;
                            listFinancialYear = [];

                            listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                            RangeDatePicker();

                            //var listFYear = listFinancialYear.findIndex(p => p.FiFromDay == dateyerObj.FiFromDay && p.FiFromMonth == dateyerObj.FiFromMonth && p.FiFromYear == dateyerObj.FiFromYear && p.FiToDay == dateyerObj.FiToDay && p.FiToMonth == dateyerObj.FiToMonth && p.FiToYear == dateyerObj.FiToYear);
                            //if (listFYear != null && listFYear != "-1") {
                            //    //listFinancialYear.splice(listFYear, 1);
                            //    return;
                            //}

                            return;
                        }
                        catch (error) {
                            Swal.fire('An error has occur, Refresh the page and try again', '', 'warning');
                            return;
                        }
                    }
                    else {

                    }
                });
                return;

            }
            else {

                listFinancialYear.push({ FiFromDay: dateyerObj.FiFromDay, FiFromMonth: dateyerObj.FiFromMonth, FiFromYear: dateyerObj.FiFromYear, FiToDay: dateyerObj.FiToDay, FiToMonth: dateyerObj.FiToMonth, FiToYear: dateyerObj.FiToYear });
                RangeDatePicker();
                return;
            }
        }

        function ArrangeDateList() {
            Utilities.Loader.Show();

            $.ajax({
                url: host + "/FinancialStatements/GetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ data: "Good" }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);

                        Utilities.Loader.Hide();

                        if (result != null && result != "100") {
                            listFinancialYear = result.DatePickers;
                            if (listFinancialYear.length > 0) {
                                document.getElementById('selectedFinancialYear').innerHTML = "Selected Financial year " + listFinancialYear.length;
                            }
                            else {
                                document.getElementById('selectedFinancialYear').innerHTML = "";
                            }
                            showFinancial();
                            document.getElementById('IncludeDatePicker').checked = result.IsChecked;
                            document.getElementById('yearF').selectedIndex = result.SelectedIndex;
                            isFInclude = true;
                            BindResult(listFinancialYear);
                        }
                        else {

                            dateFrom1 = $("#fromDate");
                            dateTo1 = $("#toDate");

                            dateFrom1.datepicker({
                                autoclose: true,
                            });

                            dateTo1.datepicker({
                                autoclose: true,
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;

                        }
                        /// $("#fromDate").datepicker("refresh");

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function BindResult(objList) {
            Utilities.Loader.Show();

            $.ajax({
                url: API_BASE_URL + "/FinancialStatements/GetDateRange",
                type: "Post",
                data: JSON.stringify(objList),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result != null) {

                            $("#fromDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            $("#toDate").datepicker({
                                autoclose: true,
                                startDate: new Date(result.FiFromYear, result.FiFromMonth, result.FiFromDay - result.FiToDay),
                                endDate: new Date(result.FiToYear, result.FiToMonth - 1, result.FiToDay)
                            });

                            dateFrom = document.getElementById("fromDate");
                            dateFrom.readonly = true;
                            dateTo = document.getElementById("toDate");
                            dateTo.readonly = true;
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function RangeDatePicker() {
            Utilities.Loader.Show();

            // var PostDate = [];
            //  PostDate.listFinancialYear = listFinancialYear;
            var IsChecked = document.getElementById('IncludeDatePicker').checked;
            var SelectedIndex = document.getElementById('yearF').selectedIndex;

            $.ajax({
                url: host + "/FinancialStatements/SetDateRangeSession",
                type: "Post",
                data: JSON.stringify({ DatePickers: listFinancialYear, IsChecked: IsChecked, SelectedIndex: SelectedIndex }),
                contentType: "application/json",
                success: function (data) {
                    if (data != null) {
                        var result = data;
                        console.log(result);
                        Utilities.Loader.Hide();

                        if (result == "200") {
                            location.reload();
                        }

                        return;
                    }
                    else {

                        Utilities.Loader.Hide();
                        Utilities.ErrorNotification("Could not load balance sheet!");
                        return;
                    }

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                },
                error: function (err) {

                    Utilities.Loader.Hide();
                    Utilities.ErrorNotification("Something went wrong!");
                    return;
                }
            });
        }

        function parseJSON(data) {
            return window.JSON && window.JSON.parse ? window.JSON.parse(data) : (new Function("return " + data))();
        }

    </script>
}


@if (ResultDate != null)
{

    <script type="text/javascript">

        var BeginYear1 = @ResultDate.FromDate.Year;
        var BeginMonth1 = @ResultDate.FromDate.Month;
        var BeginDay1 = @ResultDate.FromDate.Day;

         var EndYear1 = @ResultDate.ToDate.Year;
         var EndMonth1 = @ResultDate.ToDate.Month;
         var EndDay1 = @ResultDate.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

            document.getElementById("fromDate").value = ConvertDateFrom;
            document.getElementById("toDate").value = ConvertDateTo;

            loadStockDetailsByDefault($("#fromDate").val(), $("#toDate").val());

        })

    </script>

}


@section PageScripts{
    
    <script src="~/Scripts/Reports/OtherReports/Inventory/StockDetails.js"></script>

    <script>

        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#stockDetailsTable").table2excel({
                name: "Table2Excel",
                filename: "Stock Details from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Stock Details Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>
}