﻿
@{
    ViewBag.Title = "Physical Stock";
}

<div class="row">
    <div class="eq-height">
        <div class="tab-base">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle="tab" href="#count">Physical Stock Count</a>
                </li>
                <li>
                    <a data-toggle="tab" href="#listing">Physical Stock Count Listings</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="count" class="tab-pane fade active in">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="panel">
                                <div class="panel-heading">
                                    <h3 class="panel-title">
                                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Item">Add Item</button>

                                    </h3>
                                </div>
                                <form onsubmit="return false;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                Description : 
                                                <input type="text" id="description" placeholder="e.g stock count recorded by Inpector Kofi" class="form-control" />
                                            </div>
                                            <div class="col-sm-3 col-sm-offset-3">
                                                Date:
                                                <input id="date" class="dateCtrl form-control" readonly="readonly" placeholder="Date" />
                                            </div>
                                        </div><br /><br />
                                        <div class="table-responsive">
                                            <table class="table table-striped" style="overflow:auto !important;">
                                                <thead>
                                                    <tr>
                                                        <th style="white-space: nowrap;">S/N</th>
                                                        <th style="white-space: nowrap;">Barcode</th>
                                                        <th style="white-space:nowrap">Product Code</th>
                                                        <th style="white-space: nowrap;">Product Name</th>
                                                        <th style="white-space: nowrap;">Qty.</th>
                                                        <th style="white-space: nowrap;">Unit</th>
                                                        <th style="white-space: nowrap;">Warehouse</th>
                                                        @*<th style="white-space: nowrap;">Rack</th>*@
                                                        <th style="white-space: nowrap;">Remove</th>
                                                    </tr>
                                                </thead>
                                                <tbody id="physicalStockLineItemTbody"></tbody>
                                            </table>
                                        </div><br /><br />
                                        <div class="row" style="display:none;">
                                            <div class="col-sm-3 col-sm-offset-9">
                                                <div style="font-size:13px;">Total Amount  </div>
                                                <input readonly="readonly" id="totalAmount" class="form-control" />
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-3 col-sm-offset-9">
                                                <br />
                                                <div style="font-size:13px;">Narration </div>
                                                <textarea id="narration" class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12 pull-right">
                                            <button class="btn btn-primary btn-labeled fa fa-save" id="savePhysicalStock">Save</button>
                                        </div>
                                    </div>
                                    @*<div class="panel-footer text-right" style="background-color:white;">
                                        <input type="checkbox" style="display:none;" />Print after save
                                        <button class="btn btn-primary btn-labeled fa fa-save" id="savePhysicalStock">Save</button>
                                    </div>*@
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="listing" class="tab-pane fade">
                    <div class="row">

                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">Date</label>
                                <select id="backDays" class="form-control">
                                    <option value="0">Today</option>
                                    <option value="1">Yesterday</option>
                                    <option value="7">One Week Ago</option>
                                    <option value="custom">Custom</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3 dtHide">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="col-md-9">
                                <div class="form-group">
                                    <label class="control-label">Count Status</label>
                                    <select id="status" class="form-control">
                                        <option value="Pending">Pending</option>
                                        <option value="Confirmed">Confirmed</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i></button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="table-responsive">
                        <table id="physicalStockListingTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Description</th>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;"></th>
                                </tr>
                            </thead>
                        </table>
                    </div><br /><br />
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#f8f8f8;">
                    <div class="panel-body">

                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantityToAdd" type="number" value="1" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Warehouse</label>
                                    <select id="store" class="form-control custBorderStyle"></select>
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unit" disabled class="form-control custBorderStyle"></select>
                                </div><br />
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Rack</label>
                                    <select id="rack" class="form-control custBorderStyle">
                                        <option value="1"></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Batch</label>
                                    <select id="batch" class="form-control custBorderStyle">
                                        <option value="1"></option>
                                    </select>
                                </div><br />
                                <div class="form-group" style="display:none;">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" readonly="readonly" type="text" class="form-control" />
                                </div>
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-primary" id="addLineItem" type="button">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Physical Stock Count Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4"><i class="fa fa-calendar fa-2x"></i> <span id="dateSpan"></span></div>
                            <div class="col-md-4"><i class="fa fa-info fa-2x"></i> <span id="descriptionSpan"></span></div>
                        </div>
                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead>
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Quantity</th>
                                    <th style="white-space: nowrap;">Confirm</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <span id="includeConfirmedItemsSpan"><input type="checkbox" id="includeConfirmedItems" />Include confirmed items</span>
                <button class="btn btn-success" id="confirmCount" type="button"><i class="fa fa-check"></i> Save</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{    
<script src="~/Scripts/Inventory/PhysicalStock.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        var pendingStockCounts = [];
        var listings = [];
        var table = "";
        var itemsToConfirm = [];
        var lineItems = [];
        var status = "";
        var globalPhysicalStockMasterId = "";
        

        $(".dtHide").hide();
        $("#backDays").change(function () {
            if ($(this).val() != "custom" && $(this).val() != "0" && $(this).val() != "") {
                $("#fromDate").val(Utilities.SetDate(todayDate(), -$("#backDays").val()));
            }
            else if ($(this).val() == "0") {
                $("#fromDate").val(todayDate());
            }

            if ($(this).val() == "custom") {
                $(".dtHide").show();
            }
            else {
                $(".dtHide").hide();
            }
        });
       
        function getPhysicalStockListing(fromDate,toDate,status)
        {
            Utilities.Loader.Show();
            var param = {
                Status: status,
                FromDate: fromDate,
                ToDate: toDate
            };

            $.ajax({
                url: API_BASE_URL + "/physicalstock/PhysicalStockListing",
                type: "Post",
                data: JSON.stringify(param),
                contentType: "application/json",
                success: function (data)
                {
                    listings = data;
                    var objToShow = [];
                    listings = data;
                    $.each(data, function (count, row) {
                        var actionColumn = "";
                        if (status == "Pending")
                        {
                            actionColumn = '<button type="button" class="btn btn-primary btn-sm" onclick="viewDetails(' + row.physicalStockMasterId + ')"><i class="fa fa-eye"></i> View Details</button>';
                        }
                        else
                        {
                            //actionColumn = '<span class="label label-success"><i class="fa fa-check"></i>Confirmed</span>';
                            actionColumn = '<button type="button" class="btn btn-primary btn-sm" onclick="viewDetails(' + row.physicalStockMasterId + ')"><i class="fa fa-eye"></i> View Details</button>';
                        }
                        objToShow.push([
                            count + 1,
                            row.extra1,
                            //'&#8358;' + Utilities.FormatCurrency(row.amount),
                            Utilities.FormatJsonDate(row.date),
                            actionColumn
                        ]);
                    });
                    if (table != "")
                    {
                        table.destroy();
                    }
                    table = $('#physicalStockListingTable').DataTable({
                        data: objToShow,
                        "paging": true,
                        "lengthChange": true,
                        "searching": true,
                        "ordering": true,
                        "info": true,
                        "autoWidth": true
                    });
                    //$("#salesQuotationListTbody").html(output);
                    Utilities.Loader.Hide();
                },
                error: function (err) {
                    Utilities.Loader.Hide();
                }
            });
        }

        function confirmStockCount()
        {
            if (itemsToConfirm.length < 1)
            {
                $("#detailsModal").modal("hide");
                Utilities.ErrorNotification("Kindly confirm at least one item to save!");
                return;
            }
            else
            {
                lineItems = [];
                for (i = 0; i < itemsToConfirm.length; i++) {
                    var lineItem = pendingStockCounts.find(p=>p.physicalStockDetailsId == itemsToConfirm[i]);
                    //console.log(lineItem);
                    if (lineItem != null) {
                        lineItems.push({
                            Slno: 1,
                            ProductId: lineItem.productId,
                            GodownId: lineItem.godownId,
                            RackId: lineItem.rackId,
                            //Rack: lineItem.productId,
                            BatchId: lineItem.batchId,
                            //BatchNo: lineItem.productId,
                            Qty: lineItem.qty,
                            UnitId: lineItem.unitId,
                            //Unit: lineItem.productId,
                            Rate: lineItem.rate,
                            Amount: lineItem.amount,
                            PhysicalStockDetailsId: itemsToConfirm[i]   //this is used to update status of the shadow
                                                                        //table so it's a property from shadow table and not used in
                                                                        //main table
                        });
                    }
                }
                //console.log(lineItems); return;
                var objToSave = {
                    TotalAmount: getTotalAmount(),
                    StockDetails: lineItems,
                    StockMaster: {
                        //VoucherNo: 18,
                        Date: todayDate(),
                        Narration: "",
                        Extra1: $("#descriptionSpan").html()
                        //InvoiceNo: 18
                    }
                };

                Utilities.Loader.Show();
                $.ajax({
                    url: API_BASE_URL + "/PhysicalStock/SavePhysicalStock",
                    type: 'POST',
                    data: JSON.stringify(objToSave),
                    contentType: "application/json",
                    success: function (data)
                    {
                        Utilities.SuccessNotification("Stock count confirmed!");
                        //update the list
                        getPhysicalStockListing($("#fromDate").val(), $("#toDate").val(), $("#status").val());
                        $("#detailsModal").modal("hide");
                    },
                    error: function () {
                        Utilities.ErrorNotification("Sorry, something went wrong!");
                        Utilities.Loader.Hide();
                    }
                });
            }            
        }

        function getTotalAmount2(lineItems) {
            var total = 0.0;
            for (i = 0; i < lineItems.length; i++) {
                total = total + lineItems[i].Amount;
            }
            return total;
        }

        function viewDetails(physicalStockMasterId)
        {
            globalPhysicalStockMasterId = physicalStockMasterId;
            //status = $("#status").val();
            var selectedObject = listings.find(p=>p.physicalStockMasterId==physicalStockMasterId);
            $("#dateSpan").html(Utilities.FormatJsonDate(selectedObject.date));
            $("#descriptionSpan").html(selectedObject.extra1);
            $("#detailsModal").modal("show");
            Utilities.Loader.Show();
            $.ajax({
                url: API_BASE_URL + "/PhysicalStock/GetStockCountDetails?physicalStockMasterId=" + physicalStockMasterId + "&status=" + status,
                type: 'GET',
                contentType: "application/json",
                success: function (data)
                {
                    pendingStockCounts = data;
                    var output = "";
                    if (status == "Pending" || status == "All_Pending")
                    {
                        for (i = 0; i < data.length; i++)
                        {
                            var checkBoxPlaceholder = "";
                            if (data[i].extra1 == "Pending")
                            {
                                checkBoxPlaceholder = '<input type="checkbox" name="confirm[]" class"confirm" value="' + data[i].physicalStockDetailsId + '" />';
                            }
                            else if (data[i].extra1 == "Confirmed")
                            {
                                checkBoxPlaceholder = '<span class="label label-success"><i class="fa fa-check"></i>Confirmed</span>';
                            }

                            output += '<tr>\
                                    <td>'+ (i + 1) + '</td>\
                                    <td>' + data[i].productName + '</td>\
                                    <td>' + data[i].qty + '</td>\
                                    <td>'+checkBoxPlaceholder+'</td>\
                                   </tr>';
                        }
                        $("#includeConfirmedItemsSpan").show();
                        $('#confirmCount').show();
                    }
                    else if (status == "Confirmed")
                    {
                        $("#includeConfirmedItemsSpan").hide();
                        $('#confirmCount').hide();
                        for (i = 0; i < data.length; i++)
                        {
                            output += '<tr>\
                                    <td>'+ (i + 1) + '</td>\
                                    <td>' + data[i].productName + '</td>\
                                    <td>' + data[i].qty + '</td>\
                                    <td><span class="label label-success"><i class="fa fa-check"></i>Confirmed</span></td>\
                                   </tr>';
                        }
                    }
                    $("#detailsTbody").html(output);
                    Utilities.Loader.Hide();
                },
                error: function () {
                    Utilities.ErrorNotification("Sorry, something went wrong!");
                    Utilities.Loader.Hide();
                }
            });
        }

        $("#search").click(function () {
            status = $("#status").val();
            getPhysicalStockListing( $("#fromDate").val(), $("#toDate").val(), status);
        });
       
        $('#confirmCount').click(function () {
            itemsToConfirm = [];
            $(':checkbox:checked').each(function (i) {
                itemsToConfirm[i] = $(this).val();
            });
            confirmStockCount();
        });

        $("#includeConfirmedItems").change(function () {
            if(this.checked)
            {
                status = "All_Pending";
                viewDetails(globalPhysicalStockMasterId);
            }
            else
            {
                status = "Pending";
                viewDetails(globalPhysicalStockMasterId);
            }
        });
        
    </script>
}

