﻿
@{
    ViewBag.Title = "PDC Receivable";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Account Ledger</label><br />
                                    <select id="accountLedger" class="form-control"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" id="formNo">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <br />
                                <button class="btn btn-info" type="button" id="search" onclick="getPDCReceivableList()">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped" style="overflow:auto !important;">
                                <thead>
                                    <tr>
                                        <th style="white-space: nowrap;">#</th>
                                        <th style="white-space: nowrap;">Form No.</th>
                                        <th style="white-space: nowrap;">Form Type</th>
                                        <th style="white-space: nowrap;">Delivery Note No.</th>
                                        <th style="white-space: nowrap;">Date</th>
                                        <th style="white-space: nowrap;">Customer Name</th>
                                        <th style="white-space: nowrap;">Bill Amount</th>
                                        <th style="white-space: nowrap;">Narration</th>
                                        <th style="white-space: nowrap;">Curreny</th>
                                        <th style="white-space: nowrap;">Done By</th>
                                        <th style="white-space: nowrap;">Quotation No./Ivoice No.</th>
                                    </tr>
                                </thead>
                                <tbody id="deliveryNoteListTbody"></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/Register.js"></script>
}





