﻿@{
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatOnline | @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
    @*<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">*@
    <link href="~/Assets/mat/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/mat/css/nifty.min.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/switchery/switchery.min.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">
    <link href="~/Assets/mat/css/demo/nifty-demo.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/Assets/plugins/loader/jquery.loader.css?v=@DateTime.Now">
    <link href="~/Assets/mat/plugins/datatables/media/css/dataTables.bootstrap.css" rel="stylesheet" />
    <link href="~/Assets/mat/plugins/datatables/extensions/Responsive/css/dataTables.responsive.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/bootstrap-timepicker/bootstrap-timepicker.min.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/bootstrap-datepicker/bootstrap-datepicker.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/chosen/chosen.min.css" rel="stylesheet">
    <link href="~/Assets/mat/kendo/styles/kendo.common.min.css" rel="stylesheet" />
    <link href="~/Assets/mat/kendo/styles/kendo.material.min.css" rel="stylesheet" />
    <link href="~/Assets/mat/kendo/styles/kendo.common-material.min.css" rel="stylesheet" />
    <link href="~/Assets/mat/plugins/fooTable/css/footable.core.css" rel="stylesheet">
    <link href="~/Assets/mat/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet">

    <!--jquery is loaded up here so as to allow usagein validation script below-->
    <script src="~/Assets/mat/js/jquery-2.1.1.min.js"></script>
    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link href="~/Assets/mat/plugins/pace/pace.min.css" rel="stylesheet">
    <script src="~/Assets/mat/plugins/pace/pace.min.js"></script>
    <script src="~/Scripts/sweetalert.js"></script>
    <style>
        .required-control {
            width: 97% !important;
        }

        .required-span {
            float: right;
            margin-top: -25px;
            color: red !important;
        }

        input[type="text"], input[type="email"], input[type="password"], input[type="number"],
        form .custBorderStyle {
            border: solid 1px #908e8e;
        }
    </style>
    <script type="text/javascript">
        var userRoleId="";
        var unparseUserInfo = localStorage.getItem("MAT_USER_INFO");
        //console.log("unparse", unparseUserInfo);
        var matUserInfo={};
        if (unparseUserInfo == null)
        {
            window.location="/Security/Login/Login";    //redirect back to login
        }
    </script>

</head>
<body>
    <div id="container" class="effect mainnav-lg">
        <!--NAVBAR-->
        <!--===================================================-->
        <header id="navbar">
            <div id="navbar-container" class="boxed">
                <!--Brand logo & name-->
                <!--================================-->
                <div class="navbar-header">
                    <a href="javascript:void(0);" class="navbar-brand" style="background-color:white;">
                        <img src="~/Assets/mat/img/MatOnlineLogo.png" alt="MatOnline Logo" class="brand-icon" style="padding-bottom:10px !important;">
                        @*<div class="brand-title">
                                <span class="brand-text">MatOnline</span>
                            </div>*@
                    </a>
                </div>
                <!--================================-->
                <!--End brand logo & name-->
                <!--Navbar Dropdown-->
                <!--================================-->
                <div class="navbar-content clearfix">
                    <ul class="nav navbar-top-links pull-left">
                        <!--Navigation toogle button-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="tgl-menu-btn">
                            <a class="mainnav-toggle" href="#">
                                <i class="fa fa-navicon fa-lg"></i>
                            </a>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End Navigation toogle button-->
                        <!--Messages Dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="dropdown">
                            @*<a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    <i class="fa fa-envelope fa-lg"></i>
                                    <span class="badge badge-header badge-warning">9</span>
                                </a>*@
                            <!--Message dropdown menu-->
                            @*<div class="dropdown-menu dropdown-menu-md with-arrow">
                                    <div class="pad-all bord-btm">
                                        <p class="text-lg text-muted text-thin mar-no">You have 3 messages.</p>
                                    </div>
                                    <div class="nano scrollable">
                                        <div class="nano-content">
                                            <ul class="head-list">

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <img src="~/Assets/mat/img/av2.png" alt="Profile Picture" class="img-circle img-sm">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Andy sent you a message</div>
                                                            <small class="text-muted">15 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <img src="~/Assets/mat/img/av4.png" alt="Profile Picture" class="img-circle img-sm">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Lucy sent you a message</div>
                                                            <small class="text-muted">30 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <img src="~/Assets/mat/img/av3.png" alt="Profile Picture" class="img-circle img-sm">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Jackson sent you a message</div>
                                                            <small class="text-muted">40 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <img src="~/Assets/mat/img/av6.png" alt="Profile Picture" class="img-circle img-sm">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Donna sent you a message</div>
                                                            <small class="text-muted">5 hours ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <img src="~/Assets/mat/img/av4.png" alt="Profile Picture" class="img-circle img-sm">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Lucy sent you a message</div>
                                                            <small class="text-muted">Yesterday</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <img src="~/Assets/mat/img/av3.png" alt="Profile Picture" class="img-circle img-sm">
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Jackson sent you a message</div>
                                                            <small class="text-muted">Yesterday</small>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Dropdown footer-->
                                    <div class="pad-all bord-top">
                                        <a href="#" class="btn-link text-dark box-block">
                                            <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Messages
                                        </a>
                                    </div>
                                </div>*@
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End message dropdown-->
                        <!--Notification dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="dropdown">
                            @*<a href="#" data-toggle="dropdown" class="dropdown-toggle">
                                    <i class="fa fa-bell fa-lg"></i>
                                    <span class="badge badge-header badge-danger">5</span>
                                </a>*@
                            <!--Notification dropdown menu-->
                            @*<div class="dropdown-menu dropdown-menu-md with-arrow">
                                    <div class="pad-all bord-btm">
                                        <p class="text-lg text-muted text-thin mar-no">You have 3 messages.</p>
                                    </div>
                                    <div class="nano scrollable">
                                        <div class="nano-content">
                                            <ul class="head-list">
                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <p class="pull-left">Database Repair</p>
                                                            <p class="pull-right">70%</p>
                                                        </div>
                                                        <div class="progress progress-sm">
                                                            <div style="width: 70%;" class="progress-bar">
                                                                <span class="sr-only">70% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#">
                                                        <div class="clearfix">
                                                            <p class="pull-left">Upgrade Progress</p>
                                                            <p class="pull-right">10%</p>
                                                        </div>
                                                        <div class="progress progress-sm">
                                                            <div style="width: 10%;" class="progress-bar progress-bar-warning">
                                                                <span class="sr-only">10% Complete</span>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <span class="icon-wrap icon-circle bg-primary">
                                                                <i class="fa fa-comment fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">New comments waiting approval</div>
                                                            <small class="text-muted">15 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <span class="badge badge-success pull-right">90%</span>
                                                        <div class="media-left">
                                                            <span class="icon-wrap icon-circle bg-danger">
                                                                <i class="fa fa-hdd-o fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">HDD is full</div>
                                                            <small class="text-muted">50 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <span class="icon-wrap bg-info">
                                                                <i class="fa fa-file-word-o fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Write a news article</div>
                                                            <small class="text-muted">Last Update 8 hours ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <span class="label label-danger pull-right">New</span>
                                                        <div class="media-left">
                                                            <span class="icon-wrap bg-purple">
                                                                <i class="fa fa-comment fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">Comment Sorting</div>
                                                            <small class="text-muted">Last Update 8 hours ago</small>
                                                        </div>
                                                    </a>
                                                </li>

                                                <!-- Dropdown list-->
                                                <li>
                                                    <a href="#" class="media">
                                                        <div class="media-left">
                                                            <span class="icon-wrap bg-success">
                                                                <i class="fa fa-user fa-lg"></i>
                                                            </span>
                                                        </div>
                                                        <div class="media-body">
                                                            <div class="text-nowrap">New User Registered</div>
                                                            <small class="text-muted">4 minutes ago</small>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <!--Dropdown footer-->
                                    <div class="pad-all bord-top">
                                        <a href="#" class="btn-link text-dark box-block">
                                            <i class="fa fa-angle-right fa-lg pull-right"></i>Show All Notifications
                                        </a>
                                    </div>
                                </div>*@
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End notifications dropdown-->
                        <!--Mega dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <li class="mega-dropdown">
                            <a href="#" class="mega-dropdown-toggle">
                                <i class="fa fa-user fa-lg"></i> <b>Hello <span id="welcomeNameSpan"></span></b>
                            </a>
                            <div class="dropdown-menu mega-dropdown-menu">
                                <div class="clearfix">
                                    <div class="col-sm-12 col-md-3">
                                        <!--Mega menu widget-->
                                        <div class="text-center bg-purple pad-all">
                                            @*<h3 class="text-thin mar-no">Halex Thosyn</h3>*@
                                            <div class="pad-ver box-inline">
                                                <span class="icon-wrap icon-wrap-lg icon-circle bg-trans-light" style="padding:0 !important;">
                                                    @*<i class="fa fa-shopping-cart fa-4x"></i>*@
                                                    <img class="img-circle img-md media-object" src="/Assets/mat/img/av1.png" alt="Profile Picture">
                                                </span>
                                            </div>
                                            <p class="pad-btm">
                                                <b><span id="fnameSpan"></span> <span id="lnameSpan"></span></b><br />
                                                @*Technical Department<br />*@
                                                <span id="roleSpan"></span>
                                            </p>
                                        </div>
                                    </div>
                                    @*<div class="col-sm-4 col-md-3">
                                            <!--Mega menu list-->
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header">Pages</li>
                                                <li><a href="#">Profile</a></li>
                                                <li><a href="#">Search Result</a></li>
                                                <li><a href="#">FAQ</a></li>
                                                <li><a href="#">Sreen Lock</a></li>
                                                <li><a href="#" class="disabled">Disabled</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Icons</li>
                                                <li><a href="#"><span class="pull-right badge badge-purple">479</span> Font Awesome</a></li>
                                                <li><a href="#">Skycons</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <!--Mega menu list-->
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header">Mailbox</li>
                                                <li><a href="#"><span class="pull-right label label-danger">Hot</span>Indox</a></li>
                                                <li><a href="#">Read Message</a></li>
                                                <li><a href="#">Compose</a></li>
                                                <li class="divider"></li>
                                                <li class="dropdown-header">Featured</li>
                                                <li><a href="#">Smart navigation</a></li>
                                                <li><a href="#"><span class="pull-right badge badge-success">6</span>Exclusive plugins</a></li>
                                                <li><a href="#">Lot of themes</a></li>
                                                <li><a href="#">Transition effects</a></li>
                                            </ul>
                                        </div>
                                        <div class="col-sm-4 col-md-3">
                                            <!--Mega menu list-->
                                            <ul class="list-unstyled">
                                                <li class="dropdown-header">Components</li>
                                                <li><a href="#">Tables</a></li>
                                                <li><a href="#">Charts</a></li>
                                                <li><a href="#">Forms</a></li>
                                                <li class="divider"></li>
                                                <li>
                                                    <form role="form" class="form">
                                                        <div class="form-group">
                                                            <label class="dropdown-header" for="demo-megamenu-input">Newsletter</label>
                                                            <input id="demo-megamenu-input" type="email" placeholder="Enter email" class="form-control">
                                                        </div>
                                                        <button class="btn btn-primary btn-block" type="submit">Submit</button>
                                                    </form>
                                                </li>
                                            </ul>
                                        </div>*@
                                </div>
                            </div>
                        </li>
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End mega dropdown-->
                    </ul>
                    <ul class="nav navbar-top-links pull-right">

                        <!--User dropdown-->
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <img src="~/Assets/logo.jpg" style="margin-top:10px;" />
                        <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                        <!--End user dropdown-->
                    </ul>
                </div>
                <!--================================-->
                <!--End Navbar Dropdown-->
            </div>
        </header>
        <!--===================================================-->
        <!--END NAVBAR-->
        <div class="boxed">
            <!--CONTENT CONTAINER-->
            <!--===================================================-->
            <div id="content-container">

                <!--Page Title-->
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <div id="page-title">
                    <h3 class="text-overflow">@ViewBag.Title</h3>
                </div>
                <!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->
                <!--End page title-->
                <!--Page content-->
                <!--===================================================-->
                <div id="page-content">
                    @RenderBody()
                </div>
                <!--===================================================-->
                <!--End page content-->

            </div>
            <!--===================================================-->
            <!--END CONTENT CONTAINER-->
            <!--MAIN NAVIGATION-->
            <!--===================================================-->
            <nav id="mainnav-container">
                <div id="mainnav">
                    <!--Menu-->
                    <!--================================-->
                    <div id="mainnav-menu-wrap">
                        <div class="nano">
                            <div class="nano-content">
                                <ul id="mainnav-menu" class="list-group">

                                    <!--Menu list item-->
                                    <li>
                                        <a href="/General/Dashboard/Index">
                                            <i class="fa fa-dashboard"></i>
                                            <span class="menu-title">
                                                <strong>Dashboard</strong>
                                            </span>
                                        </a>
                                    </li>
                                    <li id="companyParent">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Company</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li id="generalJournalParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>General Journals</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmGeneralJournal-View hide"><a href="/Company/RunGeneralJournals/Index">Run General Journals</a></li>
                                                    <li class="frmStockJournalRegister-View hide"><a href="/Company/RunGeneralJournals/JournalRegister">Journal Register</a></li>
                                                </ul>
                                            </li>
                                            <li id="mastersParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Masters</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li id="accountParent">
                                                        <a href="#">
                                                            <span class="menu-title">
                                                                <strong>Account</strong>
                                                            </span>
                                                            <i class="arrow"></i>
                                                        </a>
                                                        <ul class="collapse">
                                                            <li class="frmAccountGroup-View hide"><a href="/Company/AccountGroup/Index">Account Group</a></li>
                                                            <li class="frmAccountLedger-View hide"><a href="/Company/AccountLedger/Index">Account Ledger</a></li>
                                                        </ul>
                                                    </li>
                                                    <li class="frmState-View hide"><a href="/Company/State/Index">State</a></li>
                                                    <li class="frmCity-View hide"><a href="/Company/City/Index">City</a></li>
                                                </ul>
                                            </li>
                                            <li id="settingsParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Settings</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmUserCreation-View hide"><a href="/Company/UserCreation/Index">User Creation</a></li>
                                                    <li class="frmSettings-View hide" style="display:none;"><a href="/Company/Settings/Index">Settings</a></li>
                                                    <li class="frmRole-View hide"><a href="/Company/Role/Index">Role</a></li>
                                                    <li class="frmRolePriviledgeSettings-View hide"><a href="/Company/RolePriviledgeSettings/Index">Role Priviledge Settings</a></li>
                                                    <li class="frmFinancialYearSettings-View " ><a href="/Company/FinancialYear/Index">Financial Year Settings</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="agentCycleParent">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Customer Cycle</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li class="frmCustomer-View hide"><a href="/Customer/CustomerCentre/Index">Agent Centre</a></li>
                                            <li class="frmReceipts-View hide"><a href="/Customer/Receipt/Receipt">Receipt</a></li>
                                            <li class="frmSalesQuotation-View hide"><a href="/Customer/SalesQuotation/Index">Sales Order</a></li>
                                            <li class="frmSalesOrder-View hide"><a href="/Customer/SalesOrder/OrderConfirmationListing">Order Confirmation</a></li>
                                            <li class="frmSalesOrderAuthorization-View hide"><a href="/Customer/SalesOrder/OrderAuthorizationListing">Order Authorization</a></li>
                                            <li class="frmReleaseForm-View hide"><a href="/Customer/SalesOrder/ReleaseFormListing">Release Form</a></li>
                                            <li class="frmWaybillListing-View hide"><a href="/Customer/SalesOrder/WaybillGenerationListing">Waybill</a></li>
                                            @*<li class="frmRejectionIn-View hide"><a href="/Customer/RejectionIn/Index">Rejection In</a></li>
                                            <li class="frmRejectionIn-View hide"><a href="/Customer/RejectionIn/rejectionInlisting">Rejection In Listing</a></li>*@
                                            <li class="frmSalesInvoice-View hide"><a href="/Customer/SalesInvoice/Index">Sales Invoice</a></li>
                                            <li class="frmSalesReturn-View hide"><a href="/Customer/SalesReturn/Index">Sales Return</a></li>
                                            <li class="frmSalesReturnRegister-View hide"><a href="/Customer/SalesReturn/SalesReturnListing">Sales Return Listing</a></li>
                                            @*<li><a href="/Supplier/MaterialReceipt/Index">Material Receipt</a></li>*@
                                            <li style="display:none;">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>POS</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmPos-View hide"><a href="/Customer/Pos/Index">POS</a></li>
                                                    <li class="frmPos-View hide"><a href="/Customer/PendingSales/Index">Pending Sales</a></li>
                                                </ul>
                                            </li>
                                            <li id="agentCycleRegisterParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Registers</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmReceiptRegister-View hide"><a href="/Customer/Receipt/Index">Receipt</a></li>
                                                    <li class="frmSalesQuotationRegister-View hide"><a href="/Customer/SalesQuotation/SalesQuotationRegister">Sales Order</a></li>
                                                    <li class="frmSalesOrderRegister-View hide"><a href="/Customer/SalesOrder/SalesOrderRegister">Order Confirmation</a></li>
                                                    @*<li class="frmProcessDeliveryNoteRegister-View hide"><a href="/Customer/DeliveryNote/ProcessReleaseForm">Process Release Form</a></li>*@
                                                    <li class="frmDeliveryNoteRegister-View hide"><a href="/Customer/DeliveryNote/DeliveryNoteRegister">Release Form</a></li>
                                                    @* <li class="frmRejectionInReport-View hide"><a href="/Customer/RejectionIn/RejectionInRegister">Rejection In</a></li>*@
                                                    <li class="hide"><a href="/Customer/Register/SalesInvoice">Sales Invoice</a></li>
                                                    <li class="frmSalesReturnRegister-View hide"><a href="/Customer/SalesReturn/SalesReturnRegister">Sales Return</a></li>
                                                    @*<li class="frmPdcReceivableReport-View hide"><a href="/Customer/PDCReceivable/Index">PDC Receivable</a></li>*@
                                                    @*<li><a href="/Customer/Register/SalesInvoice">PDC Clearance</a></li>*@
                                                    @*<li class="frmReceiptRegister-View hide"><a href="/Customer/RejectionIn/RejectionInRegister">Rejection In</a></li>*@
                                                    @*<li class="frmCreditNoteReport-View hide"><a href="/Customer/CreditNote/Index">Credit Note</a></li>*@
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="supplierCycleParent">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Supplier Cycle</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li class="frmSupplier-View hide"><a href="/Supplier/SupplierCentre/Index">Supplier Centre</a></li>
                                            <li class="frmPurchaseOrder-View hide"><a href="/Supplier/PurchaseOrder/Index">Purchase Order</a></li>
                                            @*<li class="frmPurchaseOrderListing-View hide"><a href="/Supplier/PurchaseOrder/PurchaseOrderListing">Purchase Order Listing</a></li>*@
                                            @*<li class="frmMaterialReceipt-View hide"><a href="/Supplier/MaterialReceipt/MaterialReceiptApproval">Material Receipt Approval</a></li>*@
                                            <li class="frmMaterialReceipt-View hide"><a href="/Supplier/MaterialReceipt/Index">Material Receipt</a></li>
                                            <li class="frmRejectionOut-View hide"><a href="/Supplier/RejectionOut/Index">Rejection Out</a></li>
                                            <li class=""><a href="/Supplier/PaymentVoucher/Index">Payment</a></li>
                                            <li class=""><a href="/Supplier/PurchaseInvoice/Index">Purchase Invoice</a></li>
                                            @*<li class="frmPurchaseInvoiceListing-View hide"><a href="/Supplier/PurchaseInvoice/PurchaseInvoiceListing">Purchase Invoice Listing</a></li>*@
                                            @*<li class="frmPurchaseInvoiceApproval-View hide"><a href="/Supplier/PurchaseInvoice/PurchaseInvoiceApproval">Purchase Invoice Approval</a></li>*@
                                            <li class="lnkSUpplierRegister" id="supplierCycleRegisterParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Registers</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmPurchaseOrderRegister-View hide"><a href="/Supplier/PurchaseOrder/Register">Purchase Order</a></li>
                                                    <li class="frmMaterialReceiptRegister-View hide"><a href="/Supplier/MaterialReceipt/Register">Material Receipt</a></li>
                                                    @*<li class="frmRejectionOutRegister-View hide"><a href="/Supplier/RejectionOut/Register">Rejection Out</a></li>*@
                                                    @*<li class="frmPurchaseReturnRegister-View hide"><a href="/Supplier/PurchaseReturn/Register">Purchase Return</a></li>
                                                        <li class="frmPurchaseInvoiceRegister-View hide"><a href="/Supplier/PurchaseInvoice/Register">Purchase Invoice</a></li>
                                                        <li class="frmPaymentRegister-View hide"><a href="/Supplier/Payment/Register">Payments</a></li>*@
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="display:none;">
                                        <a href="#">
                                            <i class="fa fa-th"></i>
                                            <span class="menu-title">
                                                <strong>Payroll</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="/Payroll/Designation/Index">Designation</a></li>
                                            <li><a href="/Payroll/PayElement/Index">Pay Element</a></li>
                                            <li><a href="#">Salary Package Creation</a></li>
                                            <li><a href="#">Employee Creation</a></li>
                                            <li><a href="#">Holiday Settings</a></li>
                                            <li><a href="#">Statutory Compliance Settings</a></li>
                                            <li><a href="#">Monthly Salary Settings</a></li>
                                            <li><a href="#">Attendance</a></li>
                                            <li><a href="#">Advance Payment</a></li>
                                            <li><a href="#">Bonus / Deduction</a></li>
                                            <li><a href="#">Monthly Salary</a></li>
                                            <li><a href="#">Daily Salary</a></li>
                                            <li><a href="#">Pay Slip</a></li>
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-th"></i>
                                                    <span class="menu-title">
                                                        <strong>Registers</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li><a href="#">Salary Package Register</a></li>
                                                    <li><a href="#">Employee Register</a></li>
                                                    <li><a href="#">Advance Register</a></li>
                                                    <li><a href="#">Bonus/Deduction Register</a></li>
                                                    <li><a href="#">Monthly Salary Register</a></li>
                                                    <li><a href="#">Daily Salary Register</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li id="inventoryParent">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Inventory</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li class="frmStockCard-View hide"><a href="javascript:void(0);" onclick="(Utilities.ShowStockCardDialog(0))">Stock Card</a></li>
                                            <li class="frmProductGroup-View hide"><a href="/Inventory/ItemGroup/Index">Item Category/Profile</a></li>
                                            <li class="frmProductCreation-View hide"><a href="/Inventory/ItemCreation/Index">Item Creation</a></li>
                                            <li id="inventoryComponentParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Item Components</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmProductBatch-View hide"><a href="/Inventory/Batch/Index">Batch</a></li>
                                                    <li class="frmBrand-View hide"><a href="/Inventory/Brand/Index">Colour</a></li>
                                                    <li class="frmModalNo-View hide"><a href="/Inventory/ModelNumber/Index">Model No.</a></li>
                                                    <li class="frmSize-View hide"><a href="/Inventory/Size/Index">Size</a></li>
                                                    <li class="frmUnit-View hide"><a href="/Inventory/Unit/Index">Unit</a></li>
                                                    <li class="frmStore-View hide"><a href="/Inventory/Store/Index">Store</a></li>
                                                    <li class="frmRack-View hide"><a href="/Inventory/Rack/Index">Rack</a></li>
                                                </ul>
                                            </li>
                                            <li class="frmPhysicalStock-Add hide"><a href="/Inventory/PhysicalStock/Index">Physical Stock</a></li>
                                            <li id="pricingListComponentParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Pricing List</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmPriceLevel-View hide"><a href="/Inventory/PricingLevel/Index">Pricing Level</a></li>
                                                    <li class="frmPriceList-View hide"><a href="/Inventory/PriceList/index">Price List</a></li>
                                                    <li class="frmStandardRate-View hide"><a href="/Inventory/StandardRate/Index">Standard Rate</a></li>
                                                </ul>
                                            </li>
                                            
                                            <li id="stockTransferComponentParent">
                                                <a href="#">
                                                    <span class="menu-title">
                                                        <strong>Stock Transfer</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmStockJournal-View hide"><a href="/Inventory/StockJournal/Index">Stock Transfer</a></li>
                                                    <li class="frmStockJournalConfirmation-View hide"><a href="/Inventory/StockJournal/stockJournalConfirmation">Transfer Out Confirmation</a></li>
                                                    <li class="frmStockTransferIn-View hide"><a href="/Inventory/StockJournal/TransferIn">Transfer In Confirmation</a></li>
                                                    @*<li class="frmStockTransferOut-View hide"><a href="/Inventory/StockJournal/TransferOut">Transfer Out</a></li>*@
                                                    <li class="frmStockJournalRegister-View hide"><a href="/Inventory/StockJournal/stockJournalRegister">Stock Transfer Register</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="display:none;">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Banking</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="/Banking/BankTransfer/Index">Bank Transfer</a></li>
                                        </ul>
                                    </li>
                                    <li id="reportParent">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Reports</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-info"></i>
                                                    <span class="menu-title">
                                                        <strong>Other Reports</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmBankRegisterReport-View hide"><a href="/Report/CustomBankRegister/Index">Bank Register</a></li>
                                                    <li class="frmAgentBalanceSummaryReport-View hide"><a href="/Report/CustomerBalance/Index">Agent Balance Summary</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="collapse">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-info"></i>
                                                    <span class="menu-title">
                                                        <strong>Inventory</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    @*<li class="frmStockJournalReport-View hide"><a href="/Report/Inventory/StockJournals">Stock Journals Report</a></li>*@
                                                    <li class="frmStockVarianceReport-View hide"><a href="/Report/Inventory/StockVariance">Stock Variance Report</a></li>
                                                    <li class="frmInventoryMovementReport-View hide"><a href="/Report/Inventory/InventoryMovement">Inventory Movement Report</a></li>
                                                    <li class="frmPhysicalStockReport-View hide"><a href="/Report/Inventory/PhysicalStock">Physical Stock Report</a></li>
                                                    <li class="frmStockSummaryReport-View hide"><a href="/Report/Inventory/CustomStockSummary">Stock Summary Report</a></li>
                                                    @*<li class="frmStockDetailsReport-View hide"><a href="/Report/Inventory/StockDetails">Stock Details Report</a></li>*@
                                                    <li class="frmStockDetailsReport-View hide"><a href="/Report/Inventory/InventoryStatistics">Inventory Statistics Report</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                        <ul class="collapse">
                                            <li>
                                                <a href="#">
                                                    <i class="fa fa-info"></i>
                                                    <span class="menu-title">
                                                        <strong>Financial Statements</strong>
                                                    </span>
                                                    <i class="arrow"></i>
                                                </a>
                                                <ul class="collapse">
                                                    <li class="frmBankRegisterReport-View hide"><a href="/Report/FinancialStatements/TrialBalance">Trial Balance</a></li>
                                                    <li class="frmAgentBalanceSummaryReport-View hide"><a href="/Report/FinancialStatements/BalanceSheet">Balance Sheet</a></li>
                                                    <li class="frmAgentBalanceSummaryReport-View hide"><a href="/Report/FinancialStatements/ProfitAndLoss">Profit & Loss</a></li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                    <li style="display:none;">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Search</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Sub Menu</a></li>
                                        </ul>
                                    </li>
                                    <li style="display:none;">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Reminder</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Sub Menu</a></li>
                                        </ul>
                                    </li>
                                    <li style="display:none;">
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Help</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="#">Sub Menu</a></li>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa fa-building"></i>
                                            <span class="menu-title">
                                                <strong>Profile</strong>
                                            </span>
                                            <i class="arrow"></i>
                                        </a>
                                        <!--Submenu-->
                                        <ul class="collapse">
                                            <li><a href="/Security/Login/ChangePassword">Change Password</a></li>
                                        </ul>
                                    </li>
                                    <li onclick="Utilities.LogOut();">
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-sign-out"></i>
                                            <span class="menu-title">
                                                <strong>Log Out</strong>
                                            </span>
                                        </a>
                                    </li>

                                </ul>

                            </div>
                        </div>
                    </div>
                    <!--================================-->
                    <!--End menu-->
                </div>
            </nav>
            <!--===================================================-->

        </div>

        <!-- FOOTER -->
        <!--===================================================-->
        <footer id="footer">

            <!-- Visible when footer positions are static -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <div class="hide-fixed pull-right pad-rgt">MatOnline v2.0</div>

            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <!-- Remove the class name "show-fixed" and "hide-fixed" to make the content always appears. -->
            <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
            <p class="pad-lft">&#0169; @DateTime.Now.Year.ToString() Magnet Consulting</p>

        </footer>
        <!--===================================================-->
        <!-- END FOOTER -->
        <!-- SCROLL TOP BUTTON -->
        <!--===================================================-->
        <button id="scroll-top" class="btn"><i class="fa fa-chevron-up"></i></button>
        <!--===================================================-->

    </div>
    <!--===================================================-->
    <!-- END OF CONTAINER -->
    <!--===================================================-->
    <!-- stock card modal -->
    <div class="modal fade" id="stockCardModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">

                <!--Modal header-->
                <div class="modal-header">
                    <button data-dismiss="modal" class="close" type="button">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title">Stock Card</h4>
                </div>

                <!--Modal body-->
                <div class="modal-body">
                    <div class="panel panel-default" @*style="background-color:#f8f8f8;"*@>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-12">
                                    @*<select class="form-control" id="stockCardProducts" onchange='Utilities.ShowStockCardDialog($("#stockCardProducts").val());'>
                                        </select>*@
                                    <input id="stockCardProducts" placeholder="" class="form-control" />
                                </div>
                            </div>
                            <br /><br /><br />
                            <b>Product Name : </b><span id="itemNameSpan">NA</span><br />
                            <b>Product Code : </b><span id="itemCodeSpan">NA</span><br />
                            <b>Description : </b><span id="itemDescriptionSpan">NA</span><br />
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Store Name</th>
                                        <th>Sales Order</th>
                                        <th>Qty. On Hand</th>
                                        <th>Available</th>
                                    </tr>
                                </thead>
                                <tbody id="stockCardTbody">
                                    <tr>
                                        <th>NA</th>
                                        <th>NA</th>
                                        <th>NA</th>
                                        <th>NA</th>
                                    </tr>
                                </tbody>
                            </table>
                            <hr />
                            <h3>INCOMING</h3>
                            <b>Purchase Order : </b><span id="purchaseOrderSpan">NA</span>
                        </div>
                    </div>
                </div>

                <!--Modal footer-->
                <div class="modal-footer">
                    <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--===================================================-->
    <!-- end of stock card modal -->
    <!--JAVASCRIPT-->
    <!--=================================================-->
    <script type="text/javascript">
        if (unparseUserInfo != null)
        {
            matUserInfo = JSON.parse(unparseUserInfo);
            console.log(matUserInfo);
            userRoleId = matUserInfo.RoleId;
            $("#roleSpan").html(matUserInfo.RoleName);
            $("#fnameSpan").html(matUserInfo.FirstName);
            $("#lnameSpan").html(matUserInfo.LastName);
            $("#welcomeNameSpan").html(matUserInfo.Username);
        }
    </script>
    <script src="~/Assets/mat/js/bootstrap.min.js"></script>
    <script src="~/Assets/mat/plugins/fast-click/fastclick.min.js"></script>
    <script src="~/Assets/mat/js/nifty.min.js"></script>
    <script src="~/Assets/mat/plugins/switchery/switchery.min.js"></script>
    <script src="~/Assets/mat/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/mat/js/demo/nifty-demo.min.js"></script>
    <script src="~/Assets/mat/plugins/datatables/media/js/jquery.dataTables.js"></script>
    <script src="~/Assets/mat/plugins/datatables/media/js/dataTables.bootstrap.js"></script>
    <script src="~/Assets/mat/plugins/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/Assets/mat/plugins/chosen/chosen.jquery.min.js"></script>
    <script src="~/Assets/mat/plugins/bootstrap-timepicker/bootstrap-timepicker.min.js"></script>
    <script src="~/Assets/mat/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Assets/mat/plugins/bootstrap-select/bootstrap-select.min.js"></script>
    <script src="~/Assets/mat/plugins/fooTable/dist/footable.all.min.js"></script>
    <script src="~/Assets/mat/js/demo/tables-footable.js"></script>
    <script src="~/assets/plugins/loader/jquery.loader.js?v=@DateTime.Now"></script>
    <script src="~/Scripts/Common/constants.js?v=@DateTime.Now"></script>
    <script src="~/Scripts/Common/Utilities.js?v=@DateTime.Now"></script>
    <script src="~/Scripts/Common/Settings.js"></script>
    <script src="~/Assets/mat/kendo/js/kendo.all.min.js"></script>
    <script type="text/javascript">
        (function ($) {
            $.fn.extend({
                tableExport: function (options) {
                    var defaults = {
                        separator: ',',
                        ignoreColumn: [],
                        tableName: 'yourTableName',
                        type: 'csv',
                        pdfFontSize: 14,
                        pdfLeftMargin: 20,
                        escape: 'true',
                        htmlContent: 'false',
                        consoleLog: 'false'
                    };

                    var options = $.extend(defaults, options);
                    var el = this;

                    if (defaults.type == 'csv' || defaults.type == 'txt') {

                        // Header
                        var tdData = "";
                        $(el).find('thead').find('tr').each(function () {
                            tdData += "\n";
                            $(this).filter(':visible').find('th').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        tdData += '"' + parseString($(this)) + '"' + defaults.separator;
                                    }
                                }

                            });
                            tdData = $.trim(tdData);
                            tdData = $.trim(tdData).substring(0, tdData.length - 1);
                        });

                        // Row vs Column
                        $(el).find('tbody').find('tr').each(function () {
                            tdData += "\n";
                            $(this).filter(':visible').find('td').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        tdData += '"' + parseString($(this)) + '"' + defaults.separator;
                                    }
                                }
                            });
                            //tdData = $.trim(tdData);
                            tdData = $.trim(tdData).substring(0, tdData.length - 1);
                        });

                        //output
                        if (defaults.consoleLog == 'true') {
                            console.log(tdData);
                        }
                        var base64data = "base64," + $.base64.encode(tdData);
                        window.open('data:application/' + defaults.type + ';filename=exportData;' + base64data);
                    } else if (defaults.type == 'sql') {

                        // Header
                        var tdData = "INSERT INTO `" + defaults.tableName + "` (";
                        $(el).find('thead').find('tr').each(function () {

                            $(this).filter(':visible').find('th').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        tdData += '`' + parseString($(this)) + '`,';
                                    }
                                }

                            });
                            tdData = $.trim(tdData);
                            tdData = $.trim(tdData).substring(0, tdData.length - 1);
                        });
                        tdData += ") VALUES ";
                        // Row vs Column
                        $(el).find('tbody').find('tr').each(function () {
                            tdData += "(";
                            $(this).filter(':visible').find('td').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        tdData += '"' + parseString($(this)) + '",';
                                    }
                                }
                            });

                            tdData = $.trim(tdData).substring(0, tdData.length - 1);
                            tdData += "),";
                        });
                        tdData = $.trim(tdData).substring(0, tdData.length - 1);
                        tdData += ";";

                        //output
                        //console.log(tdData);

                        if (defaults.consoleLog == 'true') {
                            console.log(tdData);
                        }

                        var base64data = "base64," + $.base64.encode(tdData);
                        window.open('data:application/sql;filename=exportData;' + base64data);


                    } else if (defaults.type == 'json') {

                        var jsonHeaderArray = [];
                        $(el).find('thead').find('tr').each(function () {
                            var tdData = "";
                            var jsonArrayTd = [];

                            $(this).filter(':visible').find('th').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        jsonArrayTd.push(parseString($(this)));
                                    }
                                }
                            });
                            jsonHeaderArray.push(jsonArrayTd);

                        });

                        var jsonArray = [];
                        $(el).find('tbody').find('tr').each(function () {
                            var tdData = "";
                            var jsonArrayTd = [];

                            $(this).filter(':visible').find('td').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        jsonArrayTd.push(parseString($(this)));
                                    }
                                }
                            });
                            jsonArray.push(jsonArrayTd);

                        });

                        var jsonExportArray = [];
                        jsonExportArray.push({ header: jsonHeaderArray, data: jsonArray });

                        //Return as JSON
                        //console.log(JSON.stringify(jsonExportArray));

                        //Return as Array
                        //console.log(jsonExportArray);
                        if (defaults.consoleLog == 'true') {
                            console.log(JSON.stringify(jsonExportArray));
                        }
                        var base64data = "base64," + $.base64.encode(JSON.stringify(jsonExportArray));
                        window.open('data:application/json;filename=exportData;' + base64data);
                    } else if (defaults.type == 'xml') {

                        var xml = '<?xml version="1.0" encoding="utf-8"?>';
                        xml += '<tabledata><fields>';

                        // Header
                        $(el).find('thead').find('tr').each(function () {
                            $(this).filter(':visible').find('th').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        xml += "<field>" + parseString($(this)) + "</field>";
                                    }
                                }
                            });
                        });
                        xml += '</fields><data>';

                        // Row Vs Column
                        var rowCount = 1;
                        $(el).find('tbody').find('tr').each(function () {
                            xml += '<row id="' + rowCount + '">';
                            var colCount = 0;
                            $(this).filter(':visible').find('td').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        xml += "<column-" + colCount + ">" + parseString($(this)) + "</column-" + colCount + ">";
                                    }
                                }
                                colCount++;
                            });
                            rowCount++;
                            xml += '</row>';
                        });
                        xml += '</data></tabledata>'

                        if (defaults.consoleLog == 'true') {
                            console.log(xml);
                        }

                        var base64data = "base64," + $.base64.encode(xml);
                        window.open('data:application/xml;filename=exportData;' + base64data);

                    } else if (defaults.type == 'excel' || defaults.type == 'doc' || defaults.type == 'powerpoint') {
                        //console.log($(this).html());
                        var excel = "<table>";
                        // Header
                        $(el).find('thead').find('tr').each(function () {
                            excel += "<tr>";
                            $(this).filter(':visible').find('th').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        excel += "<td>" + parseString($(this)) + "</td>";
                                    }
                                }
                            });
                            excel += '</tr>';

                        });


                        // Row Vs Column
                        var rowCount = 1;
                        $(el).find('tbody').find('tr').each(function () {
                            excel += "<tr>";
                            var colCount = 0;
                            $(this).filter(':visible').find('td').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        excel += "<td>" + parseString($(this)) + "</td>";
                                    }
                                }
                                colCount++;
                            });
                            rowCount++;
                            excel += '</tr>';
                        });
                        excel += '</table>'

                        if (defaults.consoleLog == 'true') {
                            console.log(excel);
                        }

                        var excelFile = "<html xmlns:o='urn:schemas-microsoft-com:office:office' xmlns:x='urn:schemas-microsoft-com:office:" + defaults.type + "' xmlns='http://www.w3.org/TR/REC-html40'>";
                        excelFile += "<head>";
                        excelFile += "<!--[if gte mso 9]>";
                        excelFile += "<xml>";
                        excelFile += "<x:ExcelWorkbook>";
                        excelFile += "<x:ExcelWorksheets>";
                        excelFile += "<x:ExcelWorksheet>";
                        excelFile += "<x:Name>";
                        excelFile += "{worksheet}";
                        excelFile += "</x:Name>";
                        excelFile += "<x:WorksheetOptions>";
                        excelFile += "<x:DisplayGridlines/>";
                        excelFile += "</x:WorksheetOptions>";
                        excelFile += "</x:ExcelWorksheet>";
                        excelFile += "</x:ExcelWorksheets>";
                        excelFile += "</x:ExcelWorkbook>";
                        excelFile += "</xml>";
                        excelFile += "<![endif]-->";
                        excelFile += "</head>";
                        excelFile += "<body>";
                        excelFile += excel;
                        excelFile += "</body>";
                        excelFile += "</html>";

                        var base64data = "base64," + $.base64.encode(excelFile);
                        window.open('data:application/vnd.ms-' + defaults.type + ';filename=exportData.doc;' + base64data);

                    } else if (defaults.type == 'png') {
                        html2canvas($(el), {
                            onrendered: function (canvas) {
                                var img = canvas.toDataURL("image/png");
                                window.open(img);


                            }
                        });
                    } else if (defaults.type == 'pdf') {

                        var doc = new jsPDF('p', 'pt', 'a4', true);
                        doc.setFontSize(defaults.pdfFontSize);

                        // Header
                        var startColPosition = defaults.pdfLeftMargin;
                        $(el).find('thead').find('tr').each(function () {
                            $(this).filter(':visible').find('th').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        var colPosition = startColPosition + (index * 50);
                                        doc.text(colPosition, 20, parseString($(this)));
                                    }
                                }
                            });
                        });


                        // Row Vs Column
                        var startRowPosition = 20; var page = 1; var rowPosition = 0;
                        $(el).find('tbody').find('tr').each(function (index, data) {
                            rowCalc = index + 1;

                            if (rowCalc % 26 == 0) {
                                doc.addPage();
                                page++;
                                startRowPosition = startRowPosition + 10;
                            }
                            rowPosition = (startRowPosition + (rowCalc * 10)) - ((page - 1) * 280);

                            $(this).filter(':visible').find('td').each(function (index, data) {
                                if ($(this).css('display') != 'none') {
                                    if (defaults.ignoreColumn.indexOf(index) == -1) {
                                        var colPosition = startColPosition + (index * 50);
                                        doc.text(colPosition, rowPosition, parseString($(this)));
                                    }
                                }

                            });

                        });

                        // Output as Data URI
                        doc.output('datauri');

                    }


                    function parseString(data) {

                        if (defaults.htmlContent == 'true') {
                            content_data = data.html().trim();
                        } else {
                            content_data = data.text().trim();
                        }

                        if (defaults.escape == 'true') {
                            content_data = escape(content_data);
                        }



                        return content_data;
                    }

                }
            });
        })(jQuery);

        jQuery.base64 = (function ($) {

            var _PADCHAR = "=",
              _ALPHA = "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789+/",
              _VERSION = "1.0";


            function _getbyte64(s, i) {
                // This is oddly fast, except on Chrome/V8.
                // Minimal or no improvement in performance by using a
                // object with properties mapping chars to value (eg. 'A': 0)

                var idx = _ALPHA.indexOf(s.charAt(i));

                if (idx === -1) {
                    throw "Cannot decode base64";
                }

                return idx;
            }


            function _decode(s) {
                var pads = 0,
                  i,
                  b10,
                  imax = s.length,
                  x = [];

                s = String(s);

                if (imax === 0) {
                    return s;
                }

                if (imax % 4 !== 0) {
                    throw "Cannot decode base64";
                }

                if (s.charAt(imax - 1) === _PADCHAR) {
                    pads = 1;

                    if (s.charAt(imax - 2) === _PADCHAR) {
                        pads = 2;
                    }

                    // either way, we want to ignore this last block
                    imax -= 4;
                }

                for (i = 0; i < imax; i += 4) {
                    b10 = (_getbyte64(s, i) << 18) | (_getbyte64(s, i + 1) << 12) | (_getbyte64(s, i + 2) << 6) | _getbyte64(s, i + 3);
                    x.push(String.fromCharCode(b10 >> 16, (b10 >> 8) & 0xff, b10 & 0xff));
                }

                switch (pads) {
                    case 1:
                        b10 = (_getbyte64(s, i) << 18) | (_getbyte64(s, i + 1) << 12) | (_getbyte64(s, i + 2) << 6);
                        x.push(String.fromCharCode(b10 >> 16, (b10 >> 8) & 0xff));
                        break;

                    case 2:
                        b10 = (_getbyte64(s, i) << 18) | (_getbyte64(s, i + 1) << 12);
                        x.push(String.fromCharCode(b10 >> 16));
                        break;
                }

                return x.join("");
            }


            function _getbyte(s, i) {
                var x = s.charCodeAt(i);

                if (x > 255) {
                    throw "INVALID_CHARACTER_ERR: DOM Exception 5";
                }

                return x;
            }


            function _encode(s) {
                if (arguments.length !== 1) {
                    throw "SyntaxError: exactly one argument required";
                }

                s = String(s);

                var i,
                  b10,
                  x = [],
                  imax = s.length - s.length % 3;

                if (s.length === 0) {
                    return s;
                }

                for (i = 0; i < imax; i += 3) {
                    b10 = (_getbyte(s, i) << 16) | (_getbyte(s, i + 1) << 8) | _getbyte(s, i + 2);
                    x.push(_ALPHA.charAt(b10 >> 18));
                    x.push(_ALPHA.charAt((b10 >> 12) & 0x3F));
                    x.push(_ALPHA.charAt((b10 >> 6) & 0x3f));
                    x.push(_ALPHA.charAt(b10 & 0x3f));
                }

                switch (s.length - imax) {
                    case 1:
                        b10 = _getbyte(s, i) << 16;
                        x.push(_ALPHA.charAt(b10 >> 18) + _ALPHA.charAt((b10 >> 12) & 0x3F) + _PADCHAR + _PADCHAR);
                        break;

                    case 2:
                        b10 = (_getbyte(s, i) << 16) | (_getbyte(s, i + 1) << 8);
                        x.push(_ALPHA.charAt(b10 >> 18) + _ALPHA.charAt((b10 >> 12) & 0x3F) + _ALPHA.charAt((b10 >> 6) & 0x3f) + _PADCHAR);
                        break;
                }

                return x.join("");
            }


            return {
                decode: _decode,
                encode: _encode,
                VERSION: _VERSION
            };

        }(jQuery));
    </script>
    <style>
        .k-dropdown {
            width: 250px;
        }
    </style>
    <script type="text/javascript">

        function todayDate()
        {
            var todaysDate = new Date();
            var yyyy = todaysDate.getFullYear().toString();
            var mm = (todaysDate.getMonth() + 1).toString();
            var dd = todaysDate.getDate().toString();

            //var mmChars = mm.split('');
            //var ddChars = dd.split('');
            //console.log(mm);
            if (mm < 10)
            {
                mm = "0" + mm;
            }
            if (dd < 10)
            {
                dd = "0" + dd;
            }
            console.log(yyyy + '-' + mm + '-' + dd);
            return yyyy + '-' + mm +'-' + dd;
        }

        $(".dateCtrl").datepicker({
            clearBtn: true,
            daysOfWeekHighlighted: "0",
            autoclose: true,
            todayHighlight: true,
            format: "yyyy-mm-dd",
            defaultViewDate: todayDate()
            //defaultViewDate:"today"
        });
        $(".dateCtrl").val(todayDate());

        $('.dateCtrl').datepicker().on('hide', function (e) {
            if ($(this).val() == "")
            {
                $(this).datepicker('update', todayDate());
            }
        });
        //$(".chosenDropdown").chosen({ width: "100%", margin: "1px" });
    </script>
    @RenderSection("scripts", required: false)
    @RenderSection("pageScripts", required: false)
    <script src="~/Scripts/Security/Priviledges.js?v=@DateTime.Now"></script>
    <script type="text/javascript">
        PriviledgeSettings.ApplyUserPriviledge();
    </script>
</body>
</html>
