﻿@{
    MatApi.Models.PersonInfo user=null;
    decimal id = Convert.ToDecimal(TempData["UserId"]);
    MatApi.Controllers.Security.LoginController matApi = new MatApi.Controllers.Security.LoginController();
    user = matApi.getUserDetails(id);
    if (user == null)
    {
        //redirect back to login
    }
    if (TempData["UserId"]!=null)
    {
        //decimal id = Convert.ToDecimal(TempData["UserId"]);
        //MatApi.Controllers.Security.LoginController matApi = new MatApi.Controllers.Security.LoginController();
        //user = matApi.getUserDetails(id);
        //if(user==null)
        //{
        //    //redirect back to login
        //}
    }
    else
    {
        //redirect back to login
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>MatOnline | @ViewBag.Title</title>
    <link href="~/favicon.ico" rel="icon" type="image/x-icon" />
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.6 -->
    <link rel="stylesheet" href="~/Assets/bootstrap/css/bootstrap.min.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/Assets/font-awesome.min.css">
    <!-- Ionicons -->
    <link rel="stylesheet" href="~/Assets/ionicons.min.css">
    <!-- jvectormap -->
    <link rel="stylesheet" href="~/Assets/plugins/jvectormap/jquery-jvectormap-1.2.2.css">
    <link rel="stylesheet" href="~/Assets/plugins/loader/jquery.loader.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/Assets/dist/css/AdminLTE.min.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="~/Assets/dist/css/skins/_all-skins.min.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link rel="stylesheet" href="~/Assets/plugins/datatables/dataTables.bootstrap.css">
    <script src="~/Scripts/sweetalert.js"></script>
   
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <!-- Logo -->
            <a href="javascript:void(0);" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>M</b>AT</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>MAT</b>Online</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        <li class="dropdown messages-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-envelope-o"></i>
                                <span class="label label-success">4</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 4 messages</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- start message -->
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="~/Assets/dist/img/avatar.png" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Support Team
                                                    <small><i class="fa fa-clock-o"></i> 5 mins</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <!-- end message -->
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/Assets/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    AdminLTE Design Team
                                                    <small><i class="fa fa-clock-o"></i> 2 hours</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/Assets/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Developers
                                                    <small><i class="fa fa-clock-o"></i> Today</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/Assets/dist/img/user3-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Sales Department
                                                    <small><i class="fa fa-clock-o"></i> Yesterday</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <div class="pull-left">
                                                    <img src="/Assets/dist/img/user4-128x128.jpg" class="img-circle" alt="User Image">
                                                </div>
                                                <h4>
                                                    Reviewers
                                                    <small><i class="fa fa-clock-o"></i> 2 days</small>
                                                </h4>
                                                <p>Why not buy a new awesome theme?</p>
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">See All Messages</a></li>
                            </ul>
                        </li>
                        <!-- Notifications: style can be found in dropdown.less -->
                        <li class="dropdown notifications-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-bell-o"></i>
                                <span class="label label-warning">10</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 10 notifications</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-aqua"></i> 5 new members joined today
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-warning text-yellow"></i> Very long description here that may not fit into the
                                                page and may cause design problems
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-users text-red"></i> 5 new members joined
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-shopping-cart text-green"></i> 25 sales made
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <i class="fa fa-user text-red"></i> You changed your username
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="footer"><a href="#">View all</a></li>
                            </ul>
                        </li>
                        <!-- Tasks: style can be found in dropdown.less -->
                        <li class="dropdown tasks-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-flag-o"></i>
                                <span class="label label-danger">9</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">You have 9 tasks</li>
                                <li>
                                    <!-- inner menu: contains the actual data -->
                                    <ul class="menu">
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Design some buttons
                                                    <small class="pull-right">20%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-aqua" style="width: 20%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">20% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Create a nice theme
                                                    <small class="pull-right">40%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-green" style="width: 40%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">40% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Some task I need to do
                                                    <small class="pull-right">60%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-red" style="width: 60%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">60% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                        <li>
                                            <!-- Task item -->
                                            <a href="#">
                                                <h3>
                                                    Make beautiful transitions
                                                    <small class="pull-right">80%</small>
                                                </h3>
                                                <div class="progress xs">
                                                    <div class="progress-bar progress-bar-yellow" style="width: 80%" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100">
                                                        <span class="sr-only">80% Complete</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                        <!-- end task item -->
                                    </ul>
                                </li>
                                <li class="footer">
                                    <a href="#">View all tasks</a>
                                </li>
                            </ul>
                        </li>
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <img src="~/Assets/dist/img/avatar.png" class="user-image" alt="User Image">
                                <span class="hidden-xs">Welcome @user.Username</span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header">
                                    <img src="~/Assets/dist/img/avatar.png" class="img-circle" alt="User Image">
                                    <p>
                                        @user.FirstName @user.LastName - @user.Role
                                    </p>
                                </li>
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-block btn-default btn-sm">My Profile</button>
                                        </div>
                                        <div class="col-md-6">
                                            <button type="button" class="btn btn-block btn-default btn-sm">Log Out</button>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Left side column. contains the logo and sidebar -->
        <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- Sidebar user panel -->
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Assets/dist/img/avatar.png" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@user.FirstName @user.LastName</p>
                        <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
                    </div>
                </div>
                <!-- search form -->
                @*<form action="#" method="get" class="sidebar-form">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control" placeholder="Search...">
                        <span class="input-group-btn">
                            <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                </form>*@
                <!-- /.search form -->
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu">
                    @*<li class="header">MAIN NAVIGATION</li>*@
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li class="active"><a href="index.html"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
                            <li><a href="index2.html"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
                        </ul>
                    </li>
                 
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-building"></i>
                            <span>Company</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="#">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Masters</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li>
                                        <a href="javascript:void(0);">
                                            <i class="fa fa-circle-o"></i>
                                            <span>Account</span>
                                            <span class="pull-right-container">
                                                <i class="fa fa-angle-left pull-right"></i>
                                            </span>
                                        </a>
                                        <ul class="treeview-menu">
                                            <li><a href="/Company/AccountGroup/Index"><i class="fa fa-circle-o"></i>Account Group</a></li>
                                            <li><a href="/Company/AccountLedger/Index"><i class="fa fa-circle-o"></i>Account Ledger</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="/Company/State/Index"><i class="fa fa-circle-o"></i>State</a></li>
                                    <li><a href="/Company/City/Index"><i class="fa fa-circle-o"></i>City</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-group"></i>
                            <span>Customers</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-truck"></i>
                            <span>Suppliers</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-archive"></i>
                            <span>Inventory</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li>
                                <a href="/Inventory/ItemGroup/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Item Group</span>
                                </a>
                            </li>
                            <li>
                                <a href="/Inventory/ItemCreation/Index">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Item Creation</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Item Components</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Inventory/Batch/Index"><i class="fa fa-circle-o"></i>Batch</a></li>
                                    <li><a href="/Inventory/Brand/Index"><i class="fa fa-circle-o"></i>Brand</a></li>
                                    <li><a href="/Inventory/ModelNumber/Index"><i class="fa fa-circle-o"></i>Model No.</a></li>
                                    <li><a href="/Inventory/Size/Index"><i class="fa fa-circle-o"></i>Size</a></li>
                                    <li><a href="/Inventory/Unit/Index"><i class="fa fa-circle-o"></i>Unit</a></li>
                                    <li><a href="/Inventory/Store/Index"><i class="fa fa-circle-o"></i>Store</a></li>
                                    <li><a href="/Inventory/Rack/Index"><i class="fa fa-circle-o"></i>Rack</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bank"></i>
                            <span>Banking</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-bar-chart"></i>
                            <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-search"></i>
                            <span>Search</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-money"></i>
                            <span>Payroll</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Designation</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Pay Element</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Salary Package Creation</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Employee Creation</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Holiday Settings</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Statutory Compliance Settings</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Monthly Salary Settings</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Attendance</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Advance Payment</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Bonus / Deduction</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Monthly Salary</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Daily Salary</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i>Pay Slip</a></li>
                            <li>
                                <a href="javascript:void(0);">
                                    <i class="fa fa-circle-o"></i>
                                    <span>Registers</span>
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="/Inventory/Batch/Index"><i class="fa fa-circle-o"></i>...</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-clock-o"></i>
                            <span>Reminder</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-question-circle"></i>
                            <span>Help</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i>Sub menu</a></li>
                        </ul>
                    </li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-user"></i>
                            <span>Profile</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/Trading/Terminal"><i class="fa fa-circle-o"></i> My Profile</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Change Password</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Log Out</a></li>
                        </ul>
                    </li>                  
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
        <div id="loader"> </div>
        <div id="dialog" style="position:fixed;height:100%; width:100%;  border:4px solid darkslategray;  background-color:black; opacity:0.5; display:none; z-index:5000000;"></div>
        <div id="dialogpan" style="max-width:40%; position:fixed; top:35%; left:45%; display:none; border:2px solid darkslategray;  background-color:white; z-index:500000002;">
            @*<img id="spinnerpan2" src="~/Assets/Images/animated.gif" style="float:left;  width:40px; height:40px;  margin-left:2px;" />*@

            <label style="float:left; margin-top:10px; margin-left:10px; margin-right:20px;  font-family:Verdana; font-size:9pt;  font-weight:bold; line-height:0.5cm; color:Maroon;">Please Wait... </label>
        </div>
        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            @RenderBody()
        </div>
        <div class="row row-offcanvas row-offcanvas-left" id="pageloader">
        </div>
        </div>
            <footer class="main-footer">
                <div class="pull-right hidden-xs">
                    <b>Version</b> 2.0.0
                </div>
                <strong> &copy; @DateTime.Now.Year.ToString() <a href="http://www.magnetgroupng.com">Magnet Consulting</a>.</strong> All rights reserved.
            </footer>
   
    <!-- ./wrapper -->
    
    <!-- jQuery 2.2.3 -->
    <script src="~/assets/plugins/jQuery/jquery-2.2.3.min.js"></script>
    <!-- Bootstrap 3.3.6 -->
    <script src="~/assets/bootstrap/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/assets/plugins/fastclick/fastclick.js"></script>
    <!-- AdminLTE App -->
    <script src="~/assets/dist/js/app.min.js"></script>
    <!-- Sparkline -->
    <script src="~/assets/plugins/sparkline/jquery.sparkline.min.js"></script>
    <!-- jvectormap -->
    <script src="~/assets/plugins/jvectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="~/assets/plugins/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <!-- SlimScroll 1.3.0 -->
    <script src="~/assets/plugins/slimScroll/jquery.slimscroll.min.js"></script>
    <!-- ChartJS 1.0.1 -->
    <script src="~/assets/plugins/chartjs/Chart.min.js"></script>
    <script src="~/assets/plugins/loader/jquery.loader.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    @*<script src="~/assets/dist/js/pages/dashboard2.js"></script>*@
    <!-- AdminLTE for demo purposes -->
    <script src="~/assets/dist/js/demo.js"></script>
    <script src="~/Scripts/Common/constants.js"></script>
    <script src="~/Scripts/Common/Utilities.js"></script>
            @RenderSection("scripts", required: false)
            @RenderSection("stateScripts", required:false)
   
</body>
</html>

