﻿
@{
    ViewBag.Title = "Stock Journal";
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="radio">
                                    <!-- Inline radio buttons -->
                                    <label class="form-radio form-normal"><input type="radio" name="transactionType" checked="checked" id="manufacturing"> Manufacturing</label>
                                    <label class="form-radio form-normal"><input type="radio" name="transactionType" id="transfer"> Transfer</label>
                                    <label class="form-radio form-normal"><input type="radio" name="transactionType" id="stockAdjustment"> Stock Adjustment</label>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group" id="PanelForFormNo">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" readonly="readonly" id="formNo">
                                </div>
                                <div class="form-group" id="PanelForTransferFormNo">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" readonly="readonly" id="formNoTransfer">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="transactionDate">
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select class="form-control custBorderStyle" id="currency"></select>
                                </div>
                            </div>

                        </div>        
                      </div>
                </form>
            </div>
        </div>
        <div class="col-md-12" id="manufacturingPanel">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Raw Material (Consumption)
                        @*<button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>*@
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <form class="form-inline" onsubmit="return false;">
                            <div class="form-group">
                                <label style="margin-right:10px;">Manufacture</label>
                            </div>
                            <div class="form-group">
                                 <input type="number" value="0" id="quantityToManufacture" style="width:80px; margin-right:10px;" class="form-control">
                            </div>
                            <div class="form-group">
                                <label style="margin-right:10px;">units of</label>
                            </div>
                            <div class="form-group">
                                <select class="form-control" style="margin-right:10px;" id="finishedGoods">
                                </select>
                            </div>
                            <div class="form-group">
                                <button id="addFinishedGoods" class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </form><br /><br />
                    </div>
                    <table class="table table-striped" style="overflow:auto !important;">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">S/N</th>
                                <th style="white-space: nowrap;" class="Settings_Barcode">Barcode</th>
                                <th style="white-space:nowrap">Product Code</th>
                                <th style="white-space: nowrap;">Product Name</th>
                                <th style="white-space: nowrap;">Quantity</th>
                                <th style="white-space: nowrap;">Unit</th>
                                <th style="white-space: nowrap;">Warehouse</th>
                                <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                <th style="white-space: nowrap;" class="Settings_Batch">Rack</th>
                                <th style="white-space: nowrap;">Rate</th>
                                <th style="white-space: nowrap;">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="manufacturingLineItem"></tbody>
                    </table>

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3" style="visibility:hidden;">
                                    <div class="form-group">                                            
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalRawMaterialAmt" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Finished Goods (Production)
                        @*<button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>*@
                    </h3>
                </div>
                <div class="panel-body">
                    <table class="table table-striped" style="overflow:auto !important;">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">S/N</th>
                                <th style="white-space: nowrap;" class="Settings_Barcode">Barcode</th>
                                <th style="white-space:nowrap">Product Code</th>
                                <th style="white-space: nowrap;">Product Name</th>
                                <th style="white-space: nowrap;">Quantity</th>
                                <th style="white-space: nowrap;">Unit</th>
                                <th style="white-space: nowrap;">Warehouse</th>
                                <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                <th style="white-space: nowrap;" class="Settings_Batch">Rack</th>
                                <th style="white-space: nowrap;">Rate</th>
                                <th style="white-space: nowrap;">Amount</th>
                            </tr>
                        </thead>
                        <tbody id="finishedGoodsLineItem"></tbody>
                    </table>

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3" style="visibility:hidden;">
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="finishedGoodsGrandTotal" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-12" id="transferPanel">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Transfer From
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="transferSourceGrid"></div>
                        <br /><br />
                    </div>

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <button class="btn btn-primary" id="transferGoods"><i class="fa fa-download"></i> Transfer</button>
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalSourceTransferCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Transfer To
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="transferDestinationGrid"></div>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                    </div>
                                </div>

                                <div class="col-sm-3">
                                </div>

                                <div class="col-sm-3" style="display:none;">
                                    <div class="form-group">
                                        <label class="control-label">Total Amount</label>
                                        <input id="totalDestinationTransferCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-md-12" id="stockAdjustmentPanel">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Stock Adjustment
                    </h3>
                </div>
                <div class="panel-body">
                    <div class="col-sm-12">
                        <div id="stockAdjustmentGrid"></div>
                    </div>

                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">

                                <div class="col-sm-9">
                                </div>

                                <div class="col-sm-3" style="display:none;">
                                    <div class="form-group" id="additionalCostAmtDiv">
                                        <label class="control-label">Total Amount</label>
                                        <input id="stockAdjustmentTotalCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>

                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title" id="additionalCostTitle">
                        Additional Cost
                    </h3>
                </div>
                <div class="panel-body">
                    <form onsubmit="return false;">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-sm-7" style="display:block;">
                                    <div id="additionalCostGrid"></div>
                                </div>
                                <div class="col-sm-5" >
                                    <div class="form-group" id="bankOrCashDiv" style="display:block">
                                        <label class="control-label"><b> Bank/Cash</b></label>
                                        <select class="form-control" id="bankOrCash"></select>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea class="form-control" id="narration"></textarea>
                                    </div>
                                    <div class="form-group" id="additionalCostAmountGrid" style="visibility:hidden;">
                                        <label class="control-label">Total Additional Cost</label>
                                        <input type="text" class="form-control" style="width:50%; text-align:right;" readonly="readonly" id="additionalCost" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-sm-offset-11">
                            @*<input type="checkbox" /> Print after save*@
                            <button class="btn btn-primary" id="saveStockJournal"><i class="fa fa-save"></i> Save</button>
                            @*<button class="btn btn-info"><i class="fa fa-times"></i> Clear</button>*@
                            @*<button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Inventory/StockJournal.js"></script>
}



