﻿@model dynamic

@{
    ViewBag.Title = "Farm / Manufacturing Activities Report";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <form onsubmit="return false;">
                <div class="panel panel-body">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">From Date</label>
                                <input type="text" style="width:200px" value="@DateTime.Now.ToShortDateString()" readonly="readonly" class="form-control" id="fromDate">
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="form-group">
                                <label class="control-label">To Date</label>
                                <input type="text" style="width:200px" value="@DateTime.Now.ToShortDateString()" readonly="readonly" class="form-control" id="toDate">
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">Project </label>
                                <select id="projectCtrl" class="form-control">
                                    <option value="0">-All-</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="col-md-8">
                                <div class="form-group">
                                    <label class="control-label">Location</label>
                                    <select id="storeCtrl" class="form-control">
                                        <option value="0">-All-</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-3" style="padding-top:7px">
                                <br />
                                <button id="search" class="btn btn-sm btn-primary"><i class="fa fa-search"></i> Search</button>
                            </div>
                        </div>
                    </div>
                    <br /><br />
                    <div class="row">
                        <div class="col-md-4 table-toolbar-left">
                            <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                            <!--<button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>-->
                        </div>
                    </div>
                    <div class="table-responsive">
                        <table id="stockJournalListTable" class="table table-striped text text-sm text-sm" style="overflow:auto !important;">
                            <caption>Item Produced</caption>
                            <thead>

                                <tr>
                                    <th style="white-space: nowrap;">Date</th>
                                    <th style="white-space: nowrap;">Form No</th>
                                    <th style="white-space: nowrap;">User</th>
                                    <th style="white-space: nowrap;">Product</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    <th style="white-space: nowrap;">Batch</th>
                                    <th style="white-space: nowrap;">Project</th>
                                    <th style="white-space: nowrap;">Department</th>
                                    <th style="white-space: nowrap;">Store</th>
                                    <th style="white-space: nowrap;">Qty Used</th>
                                    <th style="white-space: nowrap;">Standard Qty</th>
                                    <th style="white-space: nowrap;">Variance in Qty</th>
                                    <th style="white-space: nowrap;">Actual Usage Cost</th>
                                    <th style="white-space: nowrap;">Standard Cost</th>
                                    <th style="white-space: nowrap;">Variance in Cost</th>
                                </tr>
                            </thead>

                            <tbody id="tblBodyHarvest"></tbody>
                            <tfoot id="tblFootManufacturing">

                            </tfoot>
                        </table>
                    </div><br /><br />
                </div>
            </form>
        </div>
    </div>
</div>
@section scripts
{
    <script>
        var rawMaterialsIdList = [];
        var finishedGoodsIdList = [];

        getLookUps();

        function getLookUps() {
            var rawMaterialLookupAjax = $.ajax({
                url: API_BASE_URL + "/StockJournal/GetAllRawMaterial",
                type: "GET",
                contentType: "application/json",
            });
            $.when(rawMaterialLookupAjax)
                .done(function (dataRawMaterial) {
                    dataRawMaterial.forEach(function (item) {
                        rawMaterialsIdList.push(item.Raw.rowmaterialId);
                        if (!finishedGoodsIdList.includes(item.Raw.productId))
                            finishedGoodsIdList.push(item.Raw.productId);
                    })
                });
        }


        //$(function () {
        //    $.get(API_BASE_URL + "/StockJournal/GetStockRecord",
        //        function (data) {
        //            var html = "";
        //            $("#tblBodyHarvest").html("");
        //            html +=
        //                `<tr><th style="white-space: nowrap;"  class="text-center"  colspan='7'>-------------------------------Item Production--------------------------------------</th>  </tr>`;
        //            data.forEach(function (a) {

        //                if (a.StockMaster.extra1 == "Manufacturing") {

        //                    for (var i of a.StockDetail) {

        //                        if (i.Stock.consumptionOrProduction == "Consumption") {

        //                            if (a.StockMaster.stockJournalMasterId == i.Stock.stockJournalMasterId) {
        //                                html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Feed Consumption</th>  </tr>`;
        //                                break;
        //                            }
        //                        }
        //                    }

        //                    for (var b of a.StockDetail) {
        //                        if (b.Stock.consumptionOrProduction == "Consumption") {
        //                            //html += `<tr>
        //                            //    <th style="w★ ToShortDateString★ ToShortDateStringhite-space: nowrap;" colspan='7'>Feed Consumption</th>  </tr>`;
        //                            var bomQty = b.BOM.quantity;
        //                            var itemProductionStockDetail = a.StockDetail.find(p => p.Stock.consumptionOrProduction == "Production");
        //                            var standardQuantity = bomQty * itemProductionStockDetail.Stock.qty;
        //                            if (a.StockMaster.stockJournalMasterId == b.Stock.stockJournalMasterId)
        //                                html +=
        //                                    `<tr>
        //                            <td style="white-space: nowrap;">${new Date(a.StockMaster.extraDate).toDateString()}</td>
        //                            <td style="white-space: nowrap;">${b.Product.productName}</td>
        //                            <td style="white-space: nowrap;">${b.Unit.unitName}</td>
        //              ★ Year              <td style="white-space: nowrap;">${b.Stock.rate}</td>
        //                            <td style="white-space: nowrap;">${(b.Batch != null || b.Batch != undefined
        //                                    )
        //                                        ? b.Batch.batchNo
        //                                        : "NA"}</td>
        //                            <td style="white-space: nowrap;">${(b.Project != null ||
        //                                        b.Project != undefined)
        //                                        ? b.Project.ProjectName
        //                                        : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Category != null ||
        //                                        b.Category != undefined)
        //                                        ? b.Category.CategoryName
        //                                        : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Store != null ||
        //                                        b.Store != undefined)
        //                                        ? b.Store.godownName
        //                                        : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.qty}</td>
        //                                            <td style="white-space: nowrap;">${standardQuantity}</td>
        //                                            <td style="white-space: nowrap;"></td>
        //                        </tr>`;
        //                        }
        //                        if (b.Stock.consumptionOrProduction == "Production") {
        //                            if (a.StockMaster.stockJournalMasterId == b.Stock.stockJournalMasterId)
        //                                html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Item Production</th>  </tr>`;
        //                            html += `<tr>
        //                            <td style="white-space: nowrap;">${new Date(a.StockMaster.extraDate).toDateString()}</td>

        //                                            <td style="white-space: nowrap;">${b.Product.productName}</td>
        //                                            <td style="white-space: nowrap;">${b.Unit.unitName}</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.rate}</td>
        //                                          <td style="white-space: nowrap;">${(b.Batch != null || b.Batch != undefined
        //                                )
        //                                    ? b.Batch.batchNo
        //                                    : "NA"}</td>
        //                            <td style="white-space: nowrap;">${(b.Project != null ||
        //                                    b.Project != undefined)
        //                                    ? b.Project.ProjectName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Category != null ||
        //                                    b.Category != undefined)
        //                                    ? b.Category.CategoryName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">
        //${(b.Store != null ||
        //                                    b.Store != undefined)
        //                                    ? b.Store.godownName
        //                                    : "NA"}
        //</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.qty}</td>
        //                                            <td style="white-space: nowrap;"></td>
        //                                        </tr>`;
        //                        }
        //                    }

        //                }
        //                if (a.AdditionalCosts.length != 0) {
        //                    html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Additional Costs</th>  </tr>
        //                                        <tr>
        //                                        <th style="white-space: nowrap;">Date</th>
        //                                        <th style="white-space: nowrap;">Ac/Ledger</th>
        //                                        <th style="white-space: nowrap;">Amount</th>
        //                                        <th style="white-space: nowrap;">Project</th>
        //                                        <th style="white-space: nowrap;">Category</th></tr>`;
        //                    a.AdditionalCosts.forEach(function (item) {
        //                        html += `<tr>
        //                            <td style="white-space: nowrap;">${new Date(item.AdditionalCost.extraDate).toDateString()}</td>
        //                            <td style="white-space: nowrap;">${item.AccountLedgerName}</td>
        //                            <td style="white-space: nowrap;">${item.AdditionalCost.debit}</td>
        //                          <td style="white-space: nowrap;">${item.Project.ProjectName}</td>
        //                            <td style="white-space: nowrap;">${item.Category.CategoryName}</td>
        //                             </tr>`;
        //                    })
        //                }
        //                html += '<tr style="border-bottom: 2px solid #4d627b;"><td colspan="11">   </td> </tr>';
        //            }
        //            );
        //            //Stock Out Reports
        //            for (var r of data) {
        //                if (r.StockMaster.extra1 == "Stock Out") {

        //                    html +=
        //                        `<tr><th style="white-space: nowrap;"  class="text-center"  colspan='7'>-------------------------------${
        //                        r.StockMaster.extra1}--------------------------------------</th>  </tr>`;
        //                    break;
        //                }

        //            }
        //            data.forEach(function (a) {

        //                if (a.StockMaster.extra1 == "Stock Out") {

        //                    for (var i of a.StockDetail) {

        //                        if (i.Stock.consumptionOrProduction == "Consumption") {

        //                            if (a.StockMaster.stockJournalMasterId == i.Stock.stockJournalMasterId) {
        //                                html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Feed Consumption</th>  </tr>`;
        //                                break;
        //                            }
        //                        }
        //                    }

        //                    for (var b of a.StockDetail) {

        //                        if (b.Stock.consumptionOrProduction == "Consumption") {
        //                            //html += `<tr>
        //                            //    <th style="white-space: nowrap;" colspan='7'>Feed Consumption</th>  </tr>`;
        //                            if (a.StockMaster.stockJournalMasterId == b.Stock.stockJournalMasterId)
        //                                html +=
        //                                    `<tr>
        //                            <td style="white-space: nowrap;">${new Date(a.StockMaster.extraDate).toDateString()}</td>

        //                            <td style="white-space: nowrap;">${b.Product.productName}</td>
        //                          <td style="white-space: nowrap;"> ${(b.Unit != null || b.Unit != undefined
        //                                    )
        //                                        ? b.Unit.unitName
        //                                        : "NA"}</td>
        //                            <td style="white-space: nowrap;">${b.Stock.rate}</td>
        //                           <td style="white-space: nowrap;">${(b.Batch != null || b.Batch != undefined
        //                                    )
        //                                        ? b.Batch.batchNo
        //                                        : "NA"}</td>
        //                            <td style="white-space: nowrap;">${(b.Project != null ||
        //                                        b.Project != undefined)
        //                                        ? b.Project.ProjectName
        //                                        : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Category != null ||
        //                                        b.Category != undefined)
        //                                        ? b.Category.CategoryName
        //                                        : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Store != null ||
        //                                        b.Store != undefined)
        //                                        ? b.Store.godownName
        //                                        : "NA"}</td>
        //                            <td style="white-space: nowrap;">${b.Stock.qty}</td>
        //                                            <td style="white-space: nowrap;"></td>
        //                        </tr>`;
        //                        }
        //                        if (b.Stock.consumptionOrProduction == "Production") {
        //                            if (a.StockMaster.stockJournalMasterId == b.Stock.stockJournalMasterId)
        //                                html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Item Production</th>  </tr>`;
        //                            html += `<tr>
        //                            <td style="white-space: nowrap;">${new Date(a.StockMaster.extraDate).toDateString()}</td>
        //                                            <td style="white-space: nowrap;">${b.Product.productName}</td>
        //                                            <td style="white-space: nowrap;">${b.Unit.unitName}</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.rate}</td>
        //                                         <td style="white-space: nowrap;">${(b.Batch != null || b.Batch != undefined
        //                                )
        //                                    ? b.Batch.batchNo
        //                                    : "NA"}</td>
        //                            <td style="white-space: nowrap;">${(b.Project != null ||
        //                                    b.Project != undefined)
        //                                    ? b.Project.ProjectName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Category != null ||
        //                                    b.Category != undefined)
        //                                    ? b.Category.CategoryName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Store != null ||
        //                                    b.Store != undefined)
        //                                    ? b.Store.godownName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.qty}</td>
        //                                            <td style="white-space: nowrap;"></td>
        //                                        </tr>`;
        //                        }
        //                    }

        //                }


        //            });
        //            $("#tblBodyHarvest").html(html);

        //            //Other Reports
        //            for (var r of data) {
        //                if (r.StockMaster.extra1 == "Stock Transfer") {

        //                    html +=
        //                        `
        //tr><th style="white-space: nowrap;"  class="text-center"  colspan='7'>-----------------------------${
        //                        r.StockMaster.extra1}-------------------------------------</th>  </tr>
        //`;
        //                    break;
        //                }

        //            }
        //            data.forEach(function (a) {

        //                if (a.StockMaster.extra1 == "Stock Transfer") {

        //                    for (var i of a.StockDetail) {

        //                        if (i.Stock.consumptionOrProduction == "Consumption") {

        //                            if (a.StockMaster.stockJournalMasterId == i.Stock.stockJournalMasterId) {
        //                                html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Feed Consumption</th>  </tr>`;
        //                                break;
        //                            }
        //                        }
        //                    }

        //                    //transfer from

        //                    for (var b of a.StockDetail) {

        //                        if (b.Stock.consumptionOrProduction == "Consumption") {
        //                            //html += `<tr>
        //                            //    <th style="white-space: nowrap;" colspan='7'>Feed Consumption</th>  </tr>`;
        //                            if (a.StockMaster.stockJournalMasterId == b.Stock.stockJournalMasterId)
        //                                html +=
        //                                    `
        //                          <tr>
        //                            <td style="white-space: nowrap;">${new Date(a.StockMaster.extraDate).toDateString()}</td>
        //                            <td style="white-space: nowrap;">${b.Product.productName}</td>
        //                          <td style="white-space: nowrap;"> ${(b.Unit != null || b.Unit != undefined
        //                                    )
        //                                        ? b.Unit.unitName
        //                                        : "NA"}</td>
        //                            <td style="white-space: nowrap;">${b.Stock.rate}</td>
        //                            <td style="white-space: nowrap;">${(b.Batch != null || b.Batch != undefined
        //                                    )
        //                                        ? b.Batch.batchNo
        //                                        : "NA"}</td>
        //                            <td style="white-space: nowrap;">${(b.Project != null ||
        //                                        b.Project != undefined)
        //                                        ? b.Project.ProjectName
        //                                        : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Category != null ||
        //                                        b.Category != undefined)
        //                                        ? b.Category.CategoryName
        //                                        : "NA"}</td>
        //                                            <td>${(b.Stock.Store != null ||
        //                                        b.Store != undefined)
        //                                        ? b.Store.godownName
        //                                        : "NA"} </td>
        //                            <td style="white-space: nowrap;">${b.Stock.qty}</td>
        //                                            <td style="white-space: nowrap;"></td>
        //                        </tr>`;

        //                        }
        //                        if (b.Stock.consumptionOrProduction == "Production") {
        //                            if (a.StockMaster.stockJournalMasterId == b.Stock.stockJournalMasterId)
        //                                html += `<tr>
        //                                        <th style="white-space: nowrap;" colspan='7'>Item Production</th>  </tr>`;
        //                            html += `<tr>
        //                            <td style="white-space: nowrap;">${new Date(a.StockMaster.extraDate).toDateString()}</td>
        //                                            <td style="white-space: nowrap;">${b.Product.productName}</td>
        //                                            <td style="white-space: nowrap;">${b.Unit.unitName}</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.rate}</td>
        //                                     <td style="white-space: nowrap;">${(b.Batch != null || b.Batch != undefined
        //                                )
        //                                    ? b.Batch.batchNo
        //                                    : "NA"}</td>
        //                            <td style="white-space: nowrap;">${(b.Project != null ||
        //                                    b.Project != undefined)
        //                                    ? b.Project.ProjectName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Category != null ||
        //                                    b.Category != undefined)
        //                                    ? b.Category.CategoryName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${(b.Stock.Store != null ||
        //                                    b.Store != undefined)
        //                                    ? b.Store.godownName
        //                                    : "NA"}</td>
        //                                            <td style="white-space: nowrap;">${b.Stock.qty}</td>
        //                                            <td style="white-space: nowrap;"></td>
        //                                        </tr>`;
        //                        }
        //                    }

        //                }


        //            });
        //            $("#tblBodyHarvest").html(html);
        //        });

        //});

        $(function () {
            //$.get(API_BASE_URL + "/Batch/GetBatch", function (data) {
            //    var html = "";

            //    html += "<option value='0'>-All-</option>";
            //    data.forEach(function (a) {
            //        html += `<option value="${a.batchId}">${a.batchNo}</option>`;
            //    });
            //    $("#batchCtrl").html(html);
            //});
            $.get(API_BASE_URL + "/Project/GetProject", function (data) {
                var html = "";
                html += "<option value='0'>-All-</option>";
                data.forEach(function (a) {
                    html += `<option value="${a.ProjectId}">${a.ProjectName}</option>`;
                });
                $("#projectCtrl").html(html);
            });
        });

        $(function () {
            $.get(API_BASE_URL + "/Store/GetStores", function (data) {
                var html = "";
                html += "<option value='0'>-All-</option>";

                data.forEach(function (a) {
                    html += `<option value="${a.GodownId}">${a.GodownName}</option>`;
                });
                $("#storeCtrl").html(html);
            });
        });



       

        function renderTable(data) {

        }
    </script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>
        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#stockJournalListTable").table2excel({
                name: "Table2Excel",
                filename: "Farm Activity from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Farm Activity Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('PrintPage', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>





}


<script src="~/Scripts/AsJet.js" type="text/javascript"></script>



@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}



@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        $(function () {

            var ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
            var ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);
            loadReport(ConvertDateFrom, ConvertDateTo, null, null);
        })

    </script>




}


@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
        var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);


    $(function () {


        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;


        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;

            $("#toDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>
}



