﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Farm Build / Manufacturing";
    var pagePrivileges = ViewBag.pagePrivileges;
}


@{

    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmProductCreation" && p.action == "Save") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}



@model dynamic
<div class="row">
    <div class="eq-height">
        <div class="col-md-2"></div>
        <div class="col-md-12">
            <div class="panel pad-all" style="padding:40px;">
                <div class="panel-heading">
                    <h3 class="panel-title"></h3>
                </div>
                <div class="row">
                    <ul class="nav nav-tabs col-sm-8" data-tabs="tabs">
                        <li class="active"><a data-toggle="tab" href="#home" onclick="setHarvestSettings()"><h4>Harvest / BOM</h4></a></li>
                        <li><a data-toggle="tab" id="transfer-tab" href="#transfer" onclick="setTransferSettings()"><h4>Transfer</h4></a></li>
                        <li><a data-toggle="tab" id="stockAdjustment-tab" href="#simpleStockAdjustment" onclick="setStockAdjustmentSettings()"><h4>Stock Out</h4></a></li>
                    </ul>
                    <div class="col-sm-4" id="userDetail" style="margin-top: -80px;text-align: right;"></div>
                </div>
                <div class="row">
                    <h3>Havest / BOM</h3>
                    <div class="col-sm-4">
                        <div class="form-group" id="PanelForFormNo">
                            <label class="control-label">Form No.</label>
                            <input type="text" class="form-control" readonly="readonly" id="formNo">
                        </div>
                        <div class="form-group" id="PanelForTransferFormNo">
                            <label class="control-label">Form No.</label>
                            <input type="text" class="form-control" readonly="readonly" id="formNoTransfer">
                        </div>
                    </div>
                    @*<div class="col-sm-4">
                            <div class="form-group" id="PanelForProject">
                                <label class="control-label">Project</label>
                                <select id="project" class="form-control custBorderStyle"></select>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group" id="PanelForDepartment">
                                <label class="control-label">Department</label>
                                <select id="category" class="form-control custBorderStyle"></select>
                            </div>
                        </div>*@
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Date</label>
                            <input type="text" class="form-control" value="@DateTime.Now.ToShortDateString()" readonly="readonly" id="transactionDate">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label class="control-label">Currency</label>
                            <select class="form-control custBorderStyle" id="currency"></select>
                        </div>
                    </div>
                    @{

                        @*if (pagePriviledges.Contains("Save"))
                            {
                                @Html.Raw("<div class=\"form-group  col-sm-4\">");
                            }
                            else
                            {
                                @Html.Raw("<div class=\"form-group  col-sm-4 hide\">");
                            }*@

                    }
                    <div class="form-group col-sm-4" id="itemDiv">
                        <label class="control-label">Select BOM Item</label>
                        <select class="form-control" id="finishedGoods">
                            <option>select</option>
                        </select>
                        <p style="font-size:12px;color:red;font-family:'Segoe UI'" id="productLocationWarning"><span>This product does not have bom raw material yet, Please try another product</span></p>
                    </div>
                </div>
                <div class="tab-content">

                    <div id="home" class="tab-pane fade in active">
                        <br />
                        @*<label class="control-label"> Quantity harvested</label>*@
                        <div class=\"form-group col-sm-4\">
                            <div class="input-group">
                                <input type="number" value="0" id="quantityToManufacture" style="display:none;" class="form-control">

                                <span class="input-group-btn">
                                    <button id="addFinishedGoods2" class="btn btn-primary" type="button"><i class="fa fa-plus"></i> Add</button>
                                </span>
                            </div>
                        </div><!-- /input-group -->

                        <div class="row">
                            <hr />
                            <div class="col-md-12">
                                <h3 class="display: inline">Feeds / Raw Materials Consumption</h3>
                                @{

                                    if (pagePrivileges.Contains("Save"))
                                    {
                                        @Html.Raw("<button class=\"btn btn-sm btn-default\" id=\"btnAddRawMaterial\"><i class=\"fa fa-plus\"></i> Add Raw Material</button>");
                                    }
                                }

                                <div class="table-responsive">
                                    <table class="table table-striped ">
                                        <tr class="bg-primary text-white">
                                            <th>S/N</th>
                                            <th>Feed </th>
                                            <th>Qty to use</th>
                                            <th>Qty available</th>
                                            <th>unit</th>
                                            <th>Batch</th>
                                            <th>Project</th>
                                            <th>Department</th>
                                            <th>X</th>
                                        </tr>
                                        <tbody id="manufacturingLineItem"></tbody>
                                    </table>
                                </div>
                                <form onsubmit="return false;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                            </div>

                                            @*<div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Total Amount</label>
                                                        <input id="totalRawMaterialAmt" type="text" class="form-control" disabled="disabled" style="text-align: right;">
                                                    </div>
                                                </div>*@

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <hr />
                        <div class="panel">
                            <div class="panel-heading">

                                <h3 class="display: inline"> Item Produced </h3>

                            </div>
                            <div class="panel-body">
                                <table class="table table-striped table-responsive" style="overflow: auto !important;">
                                    <thead>
                                        <tr>
                                            <th style="white-space: nowrap;">S/N</th>
                                            <th style="white-space: nowrap;">Product Name</th>
                                            <th style="white-space: nowrap;">Quantity</th>
                                            <th style="white-space: nowrap;">Unit</th>
                                            <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                            <th style="white-space: nowrap;">Project</th>
                                            <th style="white-space: nowrap;">Department</th>
                                        </tr>
                                    </thead>
                                    <tbody id="finishedGoodsLineItem"></tbody>
                                </table>

                                <form onsubmit="return false;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                            </div>

                                            @*<div class="col-sm-3">
                                                    <div class="form-group">
                                                        <label class="control-label">Total Amount</label>
                                                        <input id="finishedGoodsGrandTotal" type="text" class="form-control" disabled="disabled" style="text-align: right;">
                                                    </div>
                                                </div>*@

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>

                    </div>
                    <div class="tab-pane fade" id="transfer" role="tabpanel" aria-labelledby="transfer-tab">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Transfer From (-)
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div id="simpleTransferSourceGrid" class="table-responsive"></div>
                                    <br /><br />
                                </div>

                                <form onsubmit="return false;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                    <button class="btn btn-primary" id="simpleTransferGoods"><i class="fa fa-download"></i> Transfer</button>
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                            </div>

                                            <div class="col-sm-3" style="display:none;">
                                                <div class="form-group">
                                                    <label class="control-label">Total Amount</label>
                                                    <input id="totalSourceTransferCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Transfer To (+)
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div id="simpleTransferDestinationGrid" class="table-responsive"></div>
                                </div>
                                <form onsubmit="return false;">
                                    <div class="panel-body">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <div class="form-group">
                                                </div>
                                            </div>

                                            <div class="col-sm-3">
                                            </div>

                                            <div class="col-sm-3" style="display:none;">
                                                <div class="form-group">
                                                    <label class="control-label">Total Amount</label>
                                                    <input id="totalDestinationTransferCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>
                    <div id="simpleStockAdjustment" class="tab-pane fade" role="tabpanel" aria-labelledby="stockAdjustment-tab">
                        <div class="panel">
                            <div class="panel-heading">
                                <h3 class="panel-title">
                                    Stock Out
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="col-sm-12">
                                    <div id="simpleStockAdjustmentGrid" class="table-responsive"></div>
                                </div>

                                <form onsubmit="return false;">
                                    <div class="panel-body">
                                        <div class="row">

                                            <div class="col-sm-9">
                                            </div>

                                            <div class="col-sm-3" style="display:none;">
                                                <div class="form-group" id="additionalCostAmtDiv">
                                                    <label class="control-label">Total Amount</label>
                                                    <input id="stockAdjustmentTotalCost" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </form>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="panel">
                    <div class="panel-heading">
                        <h3 id="additionalCostTitle">
                            Additional Cost
                        </h3>
                    </div>
                    <div class="panel-body">
                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div id="additionalCostDiv" class="col-sm-12" style="display: block;">
                                        @*<div id="additionalCostGrid"></div>*@
                                        @{

                                            if (pagePrivileges.Contains("Save"))
                                            {
                                                @Html.Raw("<button class=\"btn btn-primary\" id=\"btnAddNewAdditionalCost\">Add Cost</button>");
                                            }
                                        }

                                        <div>
                                            <table class="table-responsive table table-striped table-primary">
                                                <caption>

                                                </caption>
                                                <thead>

                                                    <tr>
                                                        <td>sln</td>
                                                        <td>Ac/Ledger</td>
                                                        <td>Amount</td>
                                                        <td>Project</td>
                                                        <td>Department</td>
                                                        <td></td>
                                                    </tr>
                                                </thead>
                                                <tbody id="additionalTableBody"></tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="form-group" id="bankOrCashDiv" style="display: block">
                                            <label class="control-label"><b> Bank/Cash</b></label>
                                            <select class="form-control" id="bankOrCash"></select>
                                        </div>
                                        <div class="form-group">
                                            <label class="control-label">Description</label>
                                            <textarea class="form-control" id="narration"> Narration</textarea>
                                        </div>
                                        <div class="form-group" id="additionalCostAmountGrid" style="visibility: hidden;">
                                            <label class="control-label">Total Additional Cost</label>
                                            <input type="text" class="form-control" style="width: 50%; text-align: right;" readonly="readonly" id="additionalCost" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-sm-offset-11">
                                @{

                                    if (pagePrivileges.Contains("Save"))
                                    {
                                        @Html.Raw("<button class=\"btn btn-primary\" id=\"saveTransfer\">Save </button>");
                                    }
                                }


                                @*<input type="checkbox" /> Print after save*@
                                @*<button class="btn btn-primary" id="saveStockJournal"><i class="fa fa-save"></i> Save</button>*@
                                @*<button class="btn btn-info"><i class="fa fa-times"></i> Clear</button>*@
                                @*<button class="btn btn-danger"><i class="fa fa-trash-o"></i> Delete</button>*@
                            </div>
                        </div>
                    </div>

                </div>

            </div>


            <div id="menu1" class="tab-pane fade">

            </div>
            <div id="menu2" class="tab-pane fade">

            </div>
        </div>

    </div>
</div>
<div class="col-md-2"></div>

<div class="modal fade" id="rawMaterialModel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header hide">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel"> Add Raw Material </h4>
            </div>
            <div class="modal-body">
                <div>
                    <div class="form-group">
                        <label> Product </label>
                        <input type="text" disabled="disabled" id="text_currentProduct" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label> Raw Material </label>
                        <select id="select_rawMaterial" class="form-control"></select>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" id="btnAddNewRawMaterial">Add Raw Material</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section css
{
    <link href="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/Assets/tabulator-master/dist/css/tabulator.css" rel="stylesheet" />
    <style type="text/css">
        [style*="--aspect-ratio"] > :first-child {
            width: 100%;
        }

        [style*="--aspect-ratio"] > img {
            height: auto;
        }

        .text-white {
            color: white;
        }

        @@supports (--custom:property) {
            [style*="--aspect-ratio"] {
                position: relative;
            }

                [style*="--aspect-ratio"]::before {
                    content: "";
                    display: block;
                    padding-bottom: calc(100% / (var(--aspect-ratio)));
                }

                [style*="--aspect-ratio"] > :first-child {
                    position: absolute;
                    top: 0;
                    left: 0;
                    height: 100%;
                }
        }

        label {
            font-weight: bolder;
        }
    </style>
}
@section scripts{
    <script type="text/javascript" src="assets/twitterbootstrap/js/bootstrap-tab.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.0.12/dist/js/select2.min.js"></script>
    <script src="~/Assets/tabulator-master/dist/js/tabulator.min.js"></script>
    <script src="~/Assets/NunJunks/nunjnks.js"></script>

    <script src="~/Scripts/Inventory/StockJournal.js" type="text/javascript"></script>
    <script src="~/Scripts/Inventory/SimpleStockJournal.js" type="text/javascript"></script>
}



@{

    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {


        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("transactionDate");
        doc.readonly = true;


        $("#transactionDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        doc = document.getElementById("transactionDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("transactionDate");
            doc.readonly = true;

            $("#transactionDate").datepicker({
                autoclose: true,
            });
            doc = document.getElementById("transactionDate");
            doc.readonly = true;

        });

    </script>
}

@{
    db = new DBMATAccounting_MagnetEntities();
    var userlogin = db.tbl_User.Where(u => u.userId == userId).FirstOrDefault();
}

<script type="text/javascript">

    var productLocationWarning = document.getElementById("productLocationWarning");
    productLocationWarning.style.display = "none";

    var LoginStoreId = @userlogin.storeId;

    var userId = JSON.parse(localStorage.getItem("MAT_USER_INFO")).UserId;
    var storeId = "";
    var productDetail = [];
    var lastSl = 0;
    var categories = [];
    var projects = [];
    var currentStockCalulatedValues = [];
    stockJournalAction = "Manufacturing";
    var allUnitConversionItems = [];

    $(function () {

        getUnitConversionItems()
        getCalculatedStockValues();

        $("#addFinishedGoods2").click(function () {

            finishedGoodsItems = [];
            finishedGoodsRawMaterial = [];
           
            var Result = $("#finishedGoods").val();

            if (Result == null || Result =="") {
                Utilities.ErrorNotification("Select BOM Item!");
                return;
            }

            Utilities.Loader.Show();
            $.ajax({
                url: API_BASE_URL + "/StockJournal/GetRawMaterialForProductV1?productId=" + $("#finishedGoods").val() + "&StoreId=" + LoginStoreId,
                type: "Get",
                contentType: "application/json",
                success: function (data) {

                    //if (data != null && data.length > 0)
                    //{
                    //     productLocationWarning.style.display = "none";
                    //}
                    //else
                    //{
                    //     productLocationWarning.style.display = "block";
                    //}

                    // console.log('Emeka', data);
                   
                    Utilities.Loader.Hide();
                    stockJournalDetailsInfoConsumption = [];
                    stockJournalDetailsInfoProduction = [];
                    additionalCostItems = [];
                    stockJournalMasterInfo = {};
                    additionalCostInfo = {};
                    totalAdditionalCost = 0.0
                    finishedGoodsItems = [];
                    transferDestination = [];
                    finishedGoodsRawMaterial = data;
                    renderRawMaterialForFinishedGoods2();
                    var product = findProduct12($("#finishedGoods").val());
                    var newBatch = Date.now() +
                        "_" +
                        product.productName +
                        + "_str_" +
                        $("#userStore").text();
                    // + "_qty_" +   $("#quantityToManufacture").val();
                    product.newBatchName = newBatch;
                    product.qty = $("#quantityToManufacture").val();
                    product.ProjectId = 0;
                    product.CategoryId = 0;
                    finishedGoodsItems.push(product);
                    console.log("finished item", finishedGoodsItems);
                    console.log("finishedGoodsRawMaterial", finishedGoodsRawMaterial);
                    //var qty = $("#quantityToManufacture").val();
                    //if (qty > 0) {
                    renderFinishedGoodsItems2();
                    // }
                },
                error: function () {
                    Utilities.Loader.Hide();
                }
            });
        });
    });

    function getUnitConversionItems() {
        var unitConversionLookupAjax = $.ajax({
            url: API_BASE_URL + "/ProductCreation/GetUnitConversionItems",
            type: "GET",
            contentType: "application/json",
        });

        $.when(unitConversionLookupAjax)
            .done(function (dataUnitConversion) {
                //console.log('conv',dataUnitConversion)
                allUnitConversionItems = dataUnitConversion.UnitCoversionItems;
                console.log('cov', allUnitConversionItems)
            });
    }

    function getCalculatedStockValues() {
        Utilities.Loader.Show();

        $.ajax({
            url: API_BASE_URL + "/InventoryReport/GetStockStatusValue",
            type: "Get",
            contentType: "application/json",
            success: function (data) {
                console.log(data);
                currentStockCalulatedValues = data.StockSummary;
                Utilities.Loader.Hide();
            },
            error: function () {
                Utilities.Loader.Hide();
            }
        });
    }
    function changeNewBatch(productId, sl) {
        finishedGoodsItems.forEach(function (a) {
            if (a.productId == productId) {
                a.newBatchName = $("#input_bewBatch_" + sl).val();
            }
        });
    }
    function changeNewQuantity(productId, sl) {
        finishedGoodsItems.forEach(function (a) {
            if (a.productId == productId) {
                a.qty = $("#input_newQty_" + sl).val() != "" ? Number($("#input_newQty_" + sl).val()) : 0;
            }
        });
    }
    function changeNewRate(productId, sl) {
        finishedGoodsItems.forEach(function (a) {
            if (a.productId == productId) {
                a.salesRate = $("#input_newRate_" + sl).val();
            }
        });
    }
    function findProduct12(productId) {
        var output = {};
        for (i = 0; i < allProductsFarmBuild.length; i++) {
            if (allProductsFarmBuild[i].productId == productId) {
                output = allProductsFarmBuild[i];
                break;
            }
        }
        return output;
    }
    function renderRawMaterialForFinishedGoods2()
    {

        var output = "";
        var sl = 1;
        lastSl = 1;
        var amount = 0.0;
        var totalRawMaterialAmount = 0.0;
        var rate = 0.0;
        var unit = "";
        $("#manufacturingLineItem").html("");

        $.each(finishedGoodsRawMaterial,
            function (count, row)
            {

                row.slno = sl;
                row.HasBatchSelected = true;
                row.ProjectId = 0;
                row.CategoryId = 0;
                rate = row.purchaseRate;
                var unitCol = "";

                var unitName1 = allUnits.find(p => p.unitId == row.unitId).unitName;

                if (allProductsFarmBuild != undefined) {
                    if (allProductsFarmBuild.find(p => p.productId == row.productId).ismultipleunit) {
                        unitCol = `<select class="form-control"  onchange="changeUnit(${sl
                            }, '#select_unit_') " id="select_unit_${sl
                            }"></select>`;
                    }
                    else {
                        unitCol = unitName1;
                    }
                }
                else {
                    unitCol = unitName1;
                }

                //amount = (rate * row.Qty);
                //totalRawMaterialAmount = totalRawMaterialAmount + amount;

                output = `<tr id="row_${sl}">
                                       <td>${sl} </td>

                                        <td>${row.productName} <p id="span_unit_${sl}"></span></td>

                                        <td> <input type="number" width="200" value="${row.Qty}" class="form-control" onchange="InsertQuantity(${sl})" id="input_qty_${sl}"/>  </td>

                                        <td> <input type="number" width="200" disabled value="${row.QtyAvailable}" class="form-control" id="input_qty_ramaining_${sl}"/>
                                        </td>

                                        <td>${unitCol}</td>

                                        <td>
<select class="form-control"  data-productId="${row.productId}" onchange="changeBatch(${sl
                    })" id="select_${sl
                    }"></select></td>

                                        <td>
                                        <select class="form-control" onchange="changeProject(${sl})" id="select_project_${sl
                    }"></select> </td>

                                        <td>
<select class="form-control" onchange="changeCategory(${sl})" id="select_category_${sl}"></select> </td>
                                        <td>
                                    <button class="btn-xs btn  btn-danger btn_delete_row" data-row-id="${sl}" id="btn_delete_row_${sl
                    }" ><i class="fa fa-trash"></i></button>
                        </td>
                                      </tr>`;


                $("#manufacturingLineItem").append(output);

                fillRawItemBatchSelect(sl);
                fillProjectSelect(sl);
                fillCategorySelect(sl);
                fillRawItemUnitSelect(sl, row.productId, "#select_unit_");
                $("#select_unit_" + sl).val(row.unitId);
                getProductDetail(row.productId).done(function (data) {
                    console.log("data-product", data);
                    $("#span_rate_" + sl).html(data.product.salesRate);
                    if (data.unit != undefined || data.unit != '') {
                        $("#span_unit_" + sl).html(data.unit.unitName);
                    }
                });

                sl++;
                lastSl += 1;
            });

       // renderFinishedGoodsItems2();
        // $("#totalRawMaterialAmt").val(Utilities.FormatCurrency(totalRawMaterialAmount));
    }

    function renderFinishedGoodsItems2()
    {
        var output = "";
        var sl = 1;
        lastSl = 1;
        var amount = 0.0;
        var totalFinishedGoodsAmount = 0.0;
        var rate = 0.0;
        $("#finishedGoodsLineItem").html("");
        $.each(finishedGoodsItems,
            function (count, row) {
                row.slno = sl;
                row.ProjectId = 0;
                row.CategoryId = 0;
                var newBatch = Date.now() +
                    "_" +
                    row.productName +
                    "_str_" +
                    $("#userStore").text();
                //+"_qty_" + $("#quantityToManufacture").val();
                rate = row.salesRate;
                //amount = (rate * $("#quantityToManufacture").val());
                //totalFinishedGoodsAmount = totalFinishedGoodsAmount + amount;
                var unitCol = "";
                unitName = allUnits.find(p => p.unitId == row.unitId).unitName;

                if (allProductsFarmBuild != undefined)
                {
                    if (allProductsFarmBuild.find(p => p.productId == row.productId).ismultipleunit) {
                        unitCol = `<select class="form-control"  onchange="changeUnit(${sl
                            }, '#select_unit2_') " id="select_unit2_${sl
                            }"></select>`;
                    }
                    else {
                        unitCol = unitName;
                    }
                }
                else {
                    unitCol = unitName;
                }

                output += `<tr id="row_${sl}">\
                                        <td>${sl} </td>\
                                        <td> ${row.productName} </td>\
                                        <td><input type="text" onchange="changeNewQuantity(${row.productId},${sl})" class ="form-control" value="${$("#quantityToManufacture").val()}" id="input_newQty_${sl}"/>    </td>\
                                        <td>${unitCol}</td>\
                                        <td> <input type="text" onchange="changeNewBatch(${row.productId},${sl})" class="form-control" value="${newBatch}" id="input_bewBatch_${sl}"/>  </td>\
            <td>
                                        <select class="form-control" onchange="changeProjectItem(${sl})" id="select_project_item_${sl}"></select> </td>
                                        <td> <select class="form-control" onchange="changeCategoryItem(${sl})" id="select_category_item_${sl}"></select> </td>
                                      </tr>`;

                $("#finishedGoodsLineItem").append(output);
                fillProjectSelectItem(sl);
                fillCategorySelectItem(sl);
                fillRawItemUnitSelect(sl, row.productId, "#select_unit2_");

            });

        // $("#finishedGoodsGrandTotal").val(Utilities.FormatCurrency(totalFinishedGoodsAmount));
    }

    function InsertQuantity(sl) 
    {
        ///alert("Inptselect.val()");

        var Inptselect = $("#input_qty_" + sl);

        for (var i = 0; i <= finishedGoodsRawMaterial.length; i++) {
            if (finishedGoodsRawMaterial[i].slno == sl) {
                finishedGoodsRawMaterial[i].Qty = Inptselect.val();

                // alert(Inptselect.val());
            }
        }

    }

    function fillRawItemBatchSelect(sl) 
    {
        var $select = $("#select_" + sl);
        var productId = $select.attr("data-productId");

        if (productId == null || productId == '') return;

        $.ajax(API_BASE_URL + "/Batch/GetBatchFromProduct/" + productId,
            {
                type: "get",
                beforeSend: () => {
                    $select.append(`<option value="loading">Batch Loading please wait .....</option>`);
                },
                complete: () => {
                    $select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    $select.find($("option[value='loading']")).remove();
                    for (var i of data) {

                        $select.append(`<option value="${i.batchId}">${i.batchNo}</option>`);
                        getQuanityRemaining(productId, storeId, $select.val()).done(function (data) {
                           // $("#input_qty_ramaining_" + sl).val(data);
                        });
                    }

                }

            });
    }

    function fillRawItemUnitSelect(sl, productId, idPrefix)
    {
        var unitsItemsOfProduct = allUnitConversionItems.filter(p => p.productId == productId);
        var $select = $(idPrefix + sl);
        $select.find($("option[value='loading']")).remove();
        for (var i of unitsItemsOfProduct) {
            var unitName = allUnits.find(p => p.unitId == i.unitId).unitName;
            $select.append(`<option value="${i.unitId}">${unitName}</option>`);
        }
    }

    function fillProjectSelect(sl) {
        var $select = $("#select_project_" + sl);

        $select.append(`<option value="addnew"> Add New Project</option>`);

        $.ajax(API_BASE_URL + "/Project/GetProject/",
            {
                type: "get",
                beforeSend: () => {
                    $select.append(`<option value="loading">Projects Loading please wait .....</option>`);
                },
                complete: () => {
                    $select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        $select.append(`<option value="${i.ProjectId}">${i.ProjectName}</option>`);
                    }
                }
            });
    }

    function fillCategorySelect(sl) {
        var $select = $("#select_category_" + sl);

        $select.append(`<option value="addnew"> Add New Department</option>`);


        $.ajax(API_BASE_URL + "/Category/GetCategory/",
            {
                type: "get",
                beforeSend: () => {
                    $select.append(`<option value="loading">Department Loading please wait .....</option>`);
                },
                complete: () => {
                    $select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        $select.append(`<option value="${i.CategoryId}">${i.CategoryName}</option>`);
                    }
                }
            });
    }

    function fillProjectSelectItem(sl) {
        var $select = $("#select_project_item_" + sl);

        $select.append(`<option value="addnew"> Add New Project</option>`);


        $.ajax(API_BASE_URL + "/Project/GetProject/",
            {
                type: "get",
                beforeSend: () => {
                    $select.append(`<option value="loading">Projects Loading please wait .....</option>`);
                },
                complete: () => {
                    $select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        $select.append(`<option value="${i.ProjectId}">${i.ProjectName}</option>`);
                    }

                }
            });
    }

    function fillCategorySelectItem(sl) {
        var $select = $("#select_category_item_" + sl);

        $select.append(`<option value="addnew"> Add New Department</option>`);


        $.ajax(API_BASE_URL + "/Category/GetCategory/",
            {
                type: "get",
                beforeSend: () => {
                    $select.append(`<option value="loading">Department Loading please wait .....</option>`);
                },
                complete: () => {
                    $select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        $select.append(`<option value="${i.CategoryId}">${i.CategoryName}</option>`);
                    }
                }
            });
    }

    $(function () {
        $.ajax(API_BASE_URL + "/UserCreation/GetUser/" + userId,
            {
                type: "get",
                success: (data) => {
                    var html = ` <h6> <b>User: <span id="userName"> ${data.userName}</span></b> </h4>
                                                    <span id="userFirstname">${data.firstName}  ${data.lastName}</span>
                                                   <h6> <b>Store: <span id="userStore"></span></b> </h4>
                                                    `;
                    storeId = data.storeId;

                    $("#userDetail").html(html);
                    $.get(API_BASE_URL + "/Store/GetStore/?storeId=" + storeId,
                        function (data) {
                            $("#userStore").text(data.GodownName);
                        });
                }

            });
    });

    $("#saveTransfer").click(function () { saveStock2(); });

    function saveStock2()
    {


        var totalcost = 0;
        if (stockJournalAction == "Stock Out")
        {
            var IsSetFinish = setItemsForStockAdjustment();
            if (IsSetFinish == true)
            {
                Swal.fire({
                    title: 'Warning',
                    text: "Are you sure that you want to save this Stock Adjustment!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, I am Sure'
                }).then((result) => {

                    if (result.value) {
                        var Reult = SaveFarmBuild();
                    }
                });
                
            }
            else
            {

                Utilities.ErrorNotification("Stock Adjustment can not be save now fill in the blank space successfully and try again!");
                return false;
            }
        }
        else if (stockJournalAction == "Stock Transfer")
        {
            var setStockTransferItems = setItemsForStockTransfer();
            if (setStockTransferItems == false)
            {
                Utilities.ErrorNotification("You cannot transfer an item to the same location now fill in the blank space successfully and try again!");
                return false;
            }
            else {

                Swal.fire({
                    title: 'Warning',
                    text: "Are you sure that you want to save this Stock Transfer!",
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes, I am Sure'
                }).then((result) => {

                    if (result.value) {
                        var Reult = SaveFarmBuild();
                    }
                });      
            }
        }
        else if (stockJournalAction == "Manufacturing")
        {


            $.each(finishedGoodsRawMaterial,
                function (count, row) {


                    var conversionRate = 0;
                    var purchaseRate = 0;
                    var calculatedval = currentStockCalulatedValues.find(p => p.productId == row.productId);
                    var product = allProductsFarmBuild.find(p => p.productId == row.productId);
                    var conversionObj = allUnitConversionItems.find(p => p.productId == product.productId && p.unitId == row.unitId);

                    if (calculatedval != undefined && conversionObj != undefined)
                    {
                        conversionRate = conversionObj.conversionRate;

                        purchaseRate = calculatedval.AvgCostValue; //product.purchaseRate / conversionRate; // Augmetrix Implemented
                    }

                    var amount = purchaseRate * row.Qty;

                    stockJournalDetailsInfoConsumption.push({
                        ProductId: row.productId,
                        Qty: row.Qty,
                        Rate: purchaseRate,
                        UnitId: row.unitId,
                        QtyAvailable: row.QtyAvailable,
                        //UnitConversionId: conversionObj.unitconversionId,//row.unitconversionId,
                        BatchId: row.batchId,
                        GodownId: matUserInfo.StoreId,
                        RackId: row.rackId,
                        Amount: amount, //(row.Qty * row.salesRate),
                        Slno: (count + 1),
                        ProjectId: row.ProjectId == undefined ? row.projectId : row.ProjectId,
                        CategoryId: row.CategoryId == undefined ? row.categoryId : row.CategoryId,
                        stockJournalAction: "Manufacturing",
                    });

                    totalcost += (row.Qty * purchaseRate);

                });

            //stockJournalDetailsInfoProduction = []; //empty the array b4 populating

            $.each(finishedGoodsItems,
                function (count, row) {
                    // var qt = (stockJournalAction == "Manufacturing" ? $("#quantityToManufacture").val() : row.Qty);
                    debugger;
                    var qty = row.qty == undefined ? row.Qty : row.qty;
                   
                    var product = allProductsFarmBuild.find(p => p.productId == row.productId);
                  
                    var conversionObj = allUnitConversionItems.find(p => p.productId == product.productId && p.unitId == row.unitId);
                  
                    var conversionRate = 0;
                    var purchaseRate = (totalcost / qty);

                    if (conversionObj != undefined)
                    {
                       // alert(conversionRate + " Good ");
                        conversionRate = conversionObj.conversionRate;
                        purchaseRate = (totalcost / qty) / conversionRate;
                    }
                       
                    /* var purchaseRate = product.purchaseRate / conversionRate; //Augmetrix -Old Implementation */
                    /* Augmetrix - Purchaserate to be avg cost */

                    var amount = purchaseRate * qty;

                    //Augmetrix
                    //var salesRate = product.salesRate / conversionRate;
                    //var amount = salesRate * qty;
                   
                    stockJournalDetailsInfoProduction.push({
                        ProductId: row.productId,
                        Qty: qty,
                        Rate: purchaseRate, // Augmetrix - Before It was SaleRate
                        UnitId: row.unitId,
                        UnitConversionId: conversionObj.unitconversionId,//row.unitconversionId,
                        BatchId: "0",
                        GodownId: matUserInfo.StoreId,
                        RackId: row.rackId,
                        NewBatchName: row.newBatchName,
                        ProjectId: row.ProjectId == undefined ? row.projectId : row.ProjectId,
                        CategoryId: row.CategoryId == undefined ? row.categoryId : row.CategoryId,
                        Amount: amount,//(row.salesRate * qty),
                        Slno: (count + 1),
                        stockJournalAction: "Manufacturing",
                    });
                });


            Swal.fire({
                title: 'Warning',
                text: "Are you sure that you want to save Farm Build / Manufacturing!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, I am Sure'
            }).then((result) =>
            {
                if (result.value) {
                    var Reult = SaveFarmBuild();
                }
            });

            //if (Reult == true)
            //{
            //    return true;
            //}
            //else
            //{
            //    Utilities.ErrorNotification("Manufacturing BOM cannot save now fill in the blank space successfully and try again!");
            //    return false;
            //}
        }
        else
        {
            Utilities.ErrorNotification("Please choose Vavest/ BOM , Stock Transfer or Stock Adjustment!");
        }
    }

    function SaveFarmBuild()
    {

        try {

            
            stockJournalMasterInfo = {
                Narration: $("#narration").val(),
                Extra1: stockJournalAction,
                Extra2: matUserInfo.FirstName + ' ' + matUserInfo.LastName,
                InvoiceNo: $("#formNo").val()
            };
            //  additionalCostItems = [];
            //  var kendoAdditionalCostSource = $("#additionalCostGrid").data().kendoGrid.dataSource.view();
            //$.each(kendoAdditionalCostSource, function (count, row) {
            //    additionalCostItems.push({
            //        LedgerId: row.ledgerId,
            //        Amount: row.amount
            //    });
            //});

            //stockJournalDetailsInfoConsumption = [];
            //stockJournalDetailsInfoProduction = [];
            var toSave = {
                StockJournalMasterInfo: stockJournalMasterInfo,
                StockJournalDetailsInfoConsumption: stockJournalDetailsInfoConsumption,
                StockJournalDetailsInfoProduction: stockJournalDetailsInfoProduction,
                //LedgerPostingInfo: ledgerPostingInfo,
                AdditionalCostInfo: additionalCostInfo,
                TotalAdditionalCost: totalAdditionalCost,
                Date: $("#transactionDate").val(),
                Currency: "1",
                AdditionalCostCashOrBankId: "0",
                AdditionalCostItems: additionalCostItems
            };

            console.log(toSave);

            Utilities.Loader.Show();

            $.ajax({
                url: API_BASE_URL + "/StockJournal/SaveStockJournal",
                type: "Post",
                contentType: "application/json",
                data: JSON.stringify(toSave),
                success: function (data)
                {
                    if (data == true)
                    {

                        stockJournalDetailsInfoConsumption = [];
                        stockJournalDetailsInfoProduction = [];
                        additionalCostItems = [];
                        stockJournalMasterInfo = {};
                        additionalCostInfo = {};
                        totalAdditionalCost = 0.0;
                        $('#manufacturing').prop("checked", "checked");
                        $("#quantityToManufacture").val(0);
                        $("#narration").val("");
                        $("#additionalCostTitle").html("Additional Cost / Narration");
                        // $("#stockAdjustmentGrid").data('kendoGrid').dataSource.data([]);
                        //$("#transferDestinationGrid").data('kendoGrid').dataSource.data([]);
                        //$("#transferSourceGrid").data('kendoGrid').dataSource.data([]);
                        $("#totalSourceTransferCost").val(0.0);
                        $("#totalDestinationTransferCost").val(0.0);

                        // = "Manufacturing";
                        renderFinishedGoodsItems();
                        renderRawMaterialForFinishedGoods();
                        getAutoVoucherNo();
                        getAutoVoucherNoForTransfer();

                        if (stockJournalAction == "Manufacturing") {
                            Utilities.SuccessNotification("Stock journal saved!"); //clear controls
                        }

                        if (stockJournalAction == "Stock Transfer") {
                            Utilities.SuccessNotification("Stock Transfer saved!"); //clear controls
                        }

                        if (stockJournalAction == "Stock Out") {
                            Utilities.SuccessNotification("Stock Out saved!"); //clear controls
                        }

                        window.location.reload();
                    }
                    else
                    {
                        Utilities.ErrorNotification("Could not save journal!");
                    }

                    Utilities.Loader.Hide();
                },
                error: function (err) {
                    Utilities.ErrorNotification("Sorry something went wrong!");
                }
            });

            return false;
        }
        catch (errer) {
            return false;
        }

    }

    function changeProject(sl) {
        var $select = $("#select_project_" + sl);

        for (var i of finishedGoodsRawMaterial) {
            if (i.slno == sl) {
                i.ProjectId = $select.val();
            }
        }
    }

    function changeQuantity(sl) {
        var $select = $("#input_qty_" + sl);

        for (var i of finishedGoodsRawMaterial) {
            if (i.slno == sl) {
                i.Qty = $select.val() != "" ? Number($select.val()) : 0;
            }
        }
    }

    function changeUnit(sl, idName) {
        var $select = $(idName + sl);
        var obj = idName == "#select_unit_" ? finishedGoodsRawMaterial : finishedGoodsItems
        for (var i = 0; i < obj.length; i++) {
            if ([i + 1] == sl) {
                obj[i].unitId = $select.val() != "" ? Number($select.val()) : 0;
            }
        }
    }

    function changeRate(sl) {
        var $select = $("#input_rate_" + sl);

        for (var i of finishedGoodsRawMaterial) {
            if (i.slno == sl) {
                i.Amount = $select.val();
            }
        }
    }

    function changeBatch(sl) {
        var $select = $("#select_" + sl);
        var productId = $select.attr("data-productId");

        for (var i of finishedGoodsRawMaterial) {
            if (i.slno == sl) {
                i.BatchId = $select.val();
                getQuanityRemaining(productId, storeId, $select.val()).done(function (data) {
                    $("#input_qty_ramaining_" + sl).val(data);
                });
                break;
            }
        }
    }

    function changeCategory(sl) {
        var $select = $("#select_category_" + sl);

        for (var i of finishedGoodsRawMaterial) {

            if (i.slno == sl) {
                i.CategoryId = $select.val();
            }
        }
    }

    function changeCategoryItem(sl) {
        var $select = $("#select_category_item_" + sl);

        for (var i of finishedGoodsItems) {

            if (i.slno == sl) {
                i.CategoryId = $select.val();
            }
        }
    }
    function changeProjectItem(sl) {
        var $select = $("#select_project_item_" + sl);

        for (var i of finishedGoodsItems) {

            if (i.slno == sl) {
                i.ProjectId = $select.val();
            }
        }
    }
</script>

<script type="text/javascript">
    function getQuanityRemaining(productId, storeId, batchId) {
        return $.ajax(API_BASE_URL +
            `/ProductCreation/getQuantityInStockForOneStore/?productId=${productId}&storeId=${storeId}&batchId=${batchId}`,
            {
                type: "get"
            });
    }

    function getProductDetail(productId) {
        return $.ajax(API_BASE_URL +
            `/ProductCreation/GetProductData/?productId=${productId}`,
            {
                type: "get",

            });
    }
</script>

<script type="text/javascript">

    $("#btnAddRawMaterial").click(function () {
        $("#rawMaterialModel").modal();
    });
    $("#btnAddNewRawMaterial").click(function () {
        var rawMaterialProductId = $("#select_rawMaterial").val();
        var currentProductId = $("#text_currentProduct").val();
        var row = {};
        for (var i of finishedGoodsRawMaterial) {
            if (i.productId == rawMaterialProductId) {
                row = i;
                //return;
            }

        }
        lastSl += 1;
        var sl = lastSl;
        var unit = "";
        var unitCol = "";
        if (allProducts.find(p => p.productId == row.productId).ismultipleunit) {
            unitCol = `<select class="form-control"  onchange="changeUnit(${sl
                }, '#select_unit_') " id="select_unit_${sl
                }"></select>`;
        }
        else {
            unitCol = "";
        }
        // unitName = allUnits.find(p => p.unitId == row.unitId).unitName;

        var output = `<tr>
                                       <td>${sl} </td>
                                        <td>${row.productName} / <p id="span_unit_${sl}"></span></td>
                                        <td> <input type="number" width="200" value="${$("#quantityToManufacture").val()
            }" class="form-control" onchange="changeQuantity(${sl})" id="input_qty_${sl}"/>  </td>
                                        <td> <input type="number" width="200" disabled value="0" class="form-control" id="input_qty_ramaining_${sl
            }"/>
                                        </td>
                                        <td>${unitCol}</td>
                                        <td><select class="form-control"  data-productId="${row.productId}" onchange="changeBatch(${sl
            })" id="select_${sl
            }"></select>
                                        <td>
                                        <select class="form-control" onchange="changeProject(${sl})" id="select_project_${sl
            }"></select>  </td>
                                        <td> <select class="form-control" onchange="changeCategory(${sl})" id="select_category_${sl
            }"></select> </td>
                                        <td>
                         <button class="btn-xs btn btn-danger btn_delete_row" data-row-id="${sl}" id="btn_delete_row_${sl
            }" ><i class="fa fa-trash"></i></button>
                        </td>
                                      </tr>`;
        $("#manufacturingLineItem").append(output);
        fillRawItemBatchSelect(sl);
        fillProjectSelect(sl);
        fillCategorySelect(sl);
        fillRawItemUnitSelect(sl, row.productId, "#select_unit_");
        $("#select_unit_${sl}").val(row.unitId);
        getProductDetail(row.productId).done(function (data) {
            console.log("data-product", data);
            $("#span_rate_" + sl).html(data.product.salesRate);
            if (data.unit != undefined || data.unit != '') {
                $("#span_unit_" + sl).html(data.unit.unitName);
            }
            finishedGoodsRawMaterial.push({
                productId: data.product.productId,
                qty: $("#quantityToManufacture").val(),
                purchaseRate: data.product.purchaseRate,
                unitId: data.product.unitId,
                //UnitConversionId: row.unitconversionId,
                batchId: data.product.batchId,
                godownId: data.product.godownId,
                rackId: data.product.rackId,
                amount: (row.Qty * row.rate),
                slno: sl,
                CategoryId: 0,
                ProjectId: 0
            });
        });
    });
    $("html").on("click",
        ".btn_delete_row",
        function () {

            var sl = $(this).attr("data-row-id");
            $("#row_" + sl).remove();
            for (var i of finishedGoodsRawMaterial) {
                var r = 0;
                if (i.Slno == sl) {
                    //delete from array
                    finishedGoodsRawMaterial.splice(r, 1);
                }
                r++;
            }
            console.log(finishedGoodsRawMaterial);

        });

    function fillNewRawMaterialSelect() {
        $.get(API_BASE_URL + "/StockJournal/GetAllRawMaterial", function (data) {
            $("#select_rawMaterial").html('');
            $("#text_currentProduct").val($("#finishedGoods option:selected").text());

            console.log("data", data)
            if (data.Product != null) {
                for (var i of data) {
                    $("#select_rawMaterial").append(`<option value="${i.Product.productId}"> ${i.Product.productName}</option>`);
                }
            }

        });

    }

</script>

<script type="text/javascript">
    $(function () {

        //fill category
        var categories = $('#category');
        categories.append(`<option value="addnew"> Add New Department</option>`);

        $.ajax(API_BASE_URL + "/Category/GetCategory/",
            {
                type: "get",
                beforeSend: () => {
                    categories.append(`<option value="loading">Department Loading please wait .....</option>`);
                },
                complete: () => {
                    categories.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        categories.append(`<option value="${i.CategoryId}">${i.CategoryName}</option>`);
                    }
                }
            });

        // fill project
        var projects = $("#project");
        projects.append(`<option value="addnew"> Add New Project</option>`);

        $.ajax(API_BASE_URL + "/Project/GetProject/",
            {
                type: "get",
                beforeSend: () => {
                    projects.append(`<option value="loading">Department Loading please wait .....</option>`);
                },
                complete: () => {
                    projects.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        projects.append(`<option value="${i.ProjectId}">${i.ProjectName}</option>`);
                    }
                }
            });
    });
    var currentCostSn = 0;
    $("#btnAddNewAdditionalCost").click(function () {
        currentCostSn += 1;
        var row = `
                                        <tr id="cost_row_${currentCostSn}">
                                            <td>${currentCostSn}</td>
                                            <td>
                                                <select id="cost_select_ledger_${currentCostSn}" onChange="changeCostLedger(${currentCostSn})" class="form-control">
                                                </select>
                                            </td>
                                            <td>
                                                  <input id="cost_text_amount_${currentCostSn}" onChange="changeCostAmount(${currentCostSn})" type="number" class="form-control"/>
                                            </td>
                                            <td>
                                                 <select id="cost_select_project_${currentCostSn}" onChange="changeCostProject(${currentCostSn})" class="form-control">
                                                </select>
                                            </td>
                                            <td>
                                                <select id="cost_select_category_${currentCostSn}" onChange="changeCostCategory(${currentCostSn})" class="form-control">
                                                </select>
                                            </td>
                                            <td>
                                                <button class="btn_delete_cost btn btn-xs btn-danger" data-cost-id="${currentCostSn
            }"> <i class="fa fa-trash"></i></button>
                                            </td>
                                        </tr>
                                        `;

        $("#additionalTableBody").append(row);
        fillLedgerCost(currentCostSn);
        fillProjectCost(currentCostSn);
        fillCategoryCost(currentCostSn);

        additionalCostItems.push({
            sl: currentCostSn,
            LedgerId: $("#cost_select_ledger_" + currentCostSn).val(),
            Amount: $("#cost_text_amount_" + currentCostSn).val(),
            ProjectId: $("#cost_select_project_" + currentCostSn).val(),
            CategoryId: $("#cost_select_category_" + currentCostSn).val(),
        });

    });

    function fillLedgerCost(sl) {
        accountLedgers.forEach((a) => {
            $("#cost_select_ledger_" + sl).append(
                `<option value="${a.ledgerId}">${a.ledgerName}</option>`
            );
        });
    }

    function fillProjectCost(sl) {
        var $cost_select = $("#cost_select_project_" + sl);

        $cost_select.append(`<option value="addnew"> Add New Project</option>`);

        $.ajax(API_BASE_URL + "/Project/GetProject/",
            {
                type: "get",
                beforeSend: () => {
                    $cost_select.append(`<option value="loading">Projects Loading please wait .....</option>`);
                },
                complete: () => {
                    $cost_select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        $cost_select.append(`<option value="${i.ProjectId}">${i.ProjectName}</option>`);
                    }

                }
            });
        //projects.forEach((a) => {
        //    $("#cost_select_project_" + sl).append(
        //        `<option value="${a.ProjectId}">${a.ProjectName}</option>`
        //    );
        //});
    }

    function fillCategoryCost(sl) {
        var $cost_select = $("#cost_select_category_" + sl);

        $cost_select.append(`<option value="addnew"> Add New Department</option>`);


        $.ajax(API_BASE_URL + "/Category/GetCategory/",
            {
                type: "get",
                beforeSend: () => {
                    $cost_select.append(`<option value="loading">Department Loading please wait .....</option>`);
                },
                complete: () => {
                    $cost_select.find($("option[value='loading']")).remove();
                },
                success: (data) => {
                    for (var i of data) {
                        $cost_select.append(`<option value="${i.CategoryId}">${i.CategoryName}</option>`);
                    }
                }
            });
        //categories.forEach((a) => {
        //    $("#cost_select_category_" + sl).append(
        //        `<option value="${a.CategoryId}">${a.CategoryName}</option>`
        //    );
        //});

    }

    function changeCostLedger(sl) {
        for (var i of additionalCostItems) {
            if (i.sl == sl) {
                i.LedgerId = $("#cost_select_ledger_" + currentCostSn).val();
                return;
            }
        }
    }

    function changeCostAmount(sl) {
        for (var i of additionalCostItems) {
            if (i.sl == sl) {
                i.Amount = $("#cost_text_amount_" + currentCostSn).val();
                return;
            }
        }
    }

    function changeCostProject(sl) {
        for (var i of additionalCostItems) {
            if (i.sl == sl) {
                i.ProjectId = $("#cost_select_project_" + currentCostSn).val();
                return;
            }
        }
    }

    function changeCostCategory(sl) {
        for (var i of additionalCostItems) {
            if (i.sl == sl) {
                i.CategoryId = $("#cost_select_category_" + currentCostSn).val();
                return;
            }
        }
    }

    $("html").on("click",
        ".btn_delete_cost",
        function () {
            var sl = $(this).attr("data-cost-id");
            $("#cost_row_" + sl).remove();
            var count = 0;
            for (var i of additionalCostItems) {
                if (i.sl == sl) {
                    additionalCostItems.splice(count, 1);
                }
                count += 1;
            }
        });
    fillNewRawMaterialSelect();

</script>


@if (Result != null)
{
    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            $("#transactionDate").val(ConvertDateFrom);
            //$("#transactionDate").val(ConvertDateTo);

            //loadRecord($("#toDate").val(), $("#fromDate").val());

            document.getElementById("transactionDate").value = ConvertDateFrom;
        })

    </script>
}


