﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />
    <script src="https://code.jquery.com/jquery-1.12.3.min.js"></script>
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/0.9.0rc1/jspdf.min.js"></script>-->
</head>

<body>

    <script type='text/javascript' src='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/js/froala_editor.pkgd.min.js'></script>

    <script src="~/Assets/html2doc/dist/html-docx.js"></script>
    <script src="~/Scripts/Common/constants.js"></script>
    <script src="~/Scripts/Common/Utilities.js?v=@DateTime.Now"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>

    <div id="action" style="text-align: center; margin: 10px;">

    </div>

    <div style="margin: 20px">

        <div id="editor"></div>
    </div>

    <div style="margin: 20px; border: 2px solid black">

        <div id="printDiv"></div>
    </div>


    <script>
        var type = "@ViewBag.reportType";
        if (type != reportType.salesInvoice) {
            document.getElementById("action").innerHTML = "<button id=\"btnPrint\" class=\"btn btn-sm btn-primary fa fa-print\"> Print </button>  |  <button id=\"btnWord\" class=\"btn btn-sm btn-primary fa fa-book\"> Download as word </button> |<button id=\"btnPreview\" class=\"btn btn-sm btn-primary\"> Preview</button>";
        }
    </script>

    <script>
        var editor = {};
        var template;
    </script>

    <script>
    var reportData = {};
    $(function() {
        var id = "@ViewBag.id";
        var type = "@ViewBag.reportType";


        if (type == reportType.salesInvoice) {
            $.ajax(API_BASE_URL + "/ReportBuilder/GetSalesInvoice/?masterId=" + id,
                {
                    type: "get",
                    success: function(res) {
                        reportData = res;
                        renderReport(false);
                        print();
                    }

                });
        }
    });

        function print() {

            var html = template;

            var pageTitle = 'Print',
                stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                win = window.open(window.location.origin + '/Reports/printpage', 'Print', "width="+screen.availWidth+",height="+screen.availHeight);
            win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + html + '</body></html> ');
            win.document.close();
            setTimeout(function () { win.print(); win.close(); window.location = `/customer/SalesInvoice/Index`; }, 1000);
        }


        function renderReport(PrintEditor = true) {

              template = `
<html lang="en">

<head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Report</title>

            <!-- Bootstrap core CSS -->

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

            <style>
                body {
                    padding-top: 56px;
                }

                .invoice-title h2, .invoice-title h3 {
                    display: inline-block;
                }

                .table > tbody > tr > .no-line {
                    border-top: none;
                }

                .table > thead > tr > .no-line {
                    border-bottom: none;
                }

                .table > tbody > tr > .thick-line {
                    border-top: 2px solid;
                }
            </style>
</head>

<body>
            <div class="container">
                <div class="row" contenteditable="false">
                    <div class="col-md-12">

                        <div class="text-center" draggable="true">

                            <h1>${reportData.company.companyName}</h1>
                            <address draggable="true">
                               ${reportData.company.address}
                            </address>
                            <p> ${reportData.company.phone}, ${reportData.company.mobile}</p>
                            <h5>Sales Invoice </h5>
                        </div>
                        <hr>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <img src="${reportData.company.extra2}" width="200" class="img-responsive">
                    </div>
                    <div class="col-xs-6 col-md-6 text-right">
                        <div draggable="true">
                            <strong>Invoice No: ${reportData.transactions.master.invoiceNo}</strong><br>
                            Invoice Date: ${ new Date(reportData.transactions.master.date).toDateString()}<br>
                            Credit Period: ${reportData.transactions.master.creditPeriod}<br />
                        </div>
                        <hr />
                        <div draggable="true">
                            <strong>Issued To</strong><br>
                            Customer: ${reportData.customer.ledgerName}<br>
                            Address : ${reportData.customer.address}
                        </div>
                    </div>

                    <div class="col-md-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><strong>Invoice summary</strong></h3>
                            </div>
                            <div class="panel-body">
                                <div class="table-responsive">
                                    <table class="table table-condensed">
                                        <thead>
                                            <tr>
                                                <th><strong>S/N</strong></th>
                                                <th class="text-center"><strong>product code</strong></th>
                                                <th class="text-center"><strong>product name</strong></th>
                                                <th class="text-right"><strong>description</strong></th>
                                                <th class="text-right"><strong>unit</strong></th>
                                                <th class="text-right"><strong>qty</strong></th>
                                                <th class="text-right"><strong>rate</strong></th>
                                                <th class="text-right"><strong>trade <br />discount</strong></th>
                                                <th class="text-right"><strong>amount <br /></strong></th>
                                                <th class="text-right"><strong>vat <br /></strong></th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                                  ${renderInvoiceSummary(reportData.transactions.details)}


                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <p><b>Amount In Words</b></p>

                        ${Utilities.NumberToWords(reportData.summary.grandTotal).toUpperCase()} NAIRA ONLY
                    </div>
                    <div class="col-xs-6 col-md-6">
                        <div class="">
                            <table class="table table-sm table-condensed">
                                <tr>
                                    <td><b>Sub Total :</b></td>
                                    <td> ${reportData.summary.subtotal}</td>
                                </tr>
                                <tr>
                                    <td><b>Bill Discount :</b></td>
                                    <td>   ${reportData.summary.billDiscount}</td>
                                </tr>
                                <tr>
                                    <td><b>Total :</b></td>
                                    <td> ${reportData.summary.total}</td>
                                </tr>
                                <tr>
                                    <td><b>Vat:</b></td>
                                    <td> ${reportData.summary.vat}</td>
                                </tr>
                                <tr>
                                    <td><b>Grand total:</b></td>
                                    <td> ${reportData.summary.grandTotal}</td>
                                </tr>
                                <tr>
                                    <td><b> Applied Amount:</b></td>
                                    <td>   ${reportData.summary.appliedAmount}</td>
                                </tr>
                                <tr>
                                    <td><b>Balance Amount:</b></td>
                                    <td>   ${reportData.summary.balance}</td>
                                </tr>
                            </table>
                            <br />

                        </div>
                    </div>
                </div>
            </div>
</body>

</html>

`;

            if (PrintEditor) {
                editor = new FroalaEditor('#editor',
                    {

                    },
                    function () {
                        editor.html.set(template);
                    }
                );
            }


        }

    function renderInvoiceSummary(data) {
        var html = '';
        var sn = 0;
        for (var i of data) {
            sn += 1;
            html += `   <tr>
                                                <td><strong>${sn}</strong></td>
                                                <td class="text-center">${i.product.productCode}</td>
                                                <td class="text-center">${i.product.productName}</td>
                                                <td class="text-right"></td>
                                                <td class="text-right">${i.unit.unitName}</td>
                                                <td class="text-right">${i.detail.qty}</td>
                                                <td class="text-right">${i.detail.rate}</td>
                                                <td class="text-right">${i.detail.discount}</td>
                                                <td class="text-right">${i.detail.amount}</td>
                                                <td class="text-right">${i.detail.taxAmount}</td>
                                            </tr>`;
            i++;
        }

        return html;
    }
    </script>
    <script>

        $("#btnPreview").click(function () {
            var html = editor.html.get(true);
            $("#printDiv").html(html);
            location.href = location.href = location.href + "#printDiv";
        });

        $("#btnWord").click(function () {
            var html = editor.html.get(true);
            var temp = `
<!doctype html>
<html>
                                                                    <head>
                                                                        <title> Report for Sales Invoice</title>
                                                                        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
                                                                        <body>
                                                                            ${html}
                                                                        </body>
</html>`;
            var blob = new Blob(['\ufeff', html], {
                type: 'application/msword'
            });

            // Specify link url
            var url = 'data:application/vnd.ms-word;charset=utf-8,' + encodeURIComponent(html);

            // Specify file name
            var filename = "reportInvoice";
            filename = filename + '.doc';

            // Create download link element
            var downloadLink = document.createElement("a");

            document.body.appendChild(downloadLink);

            if (navigator.msSaveOrOpenBlob) {
                navigator.msSaveOrOpenBlob(blob, filename);
            } else {
                // Create a link to the file
                downloadLink.href = url;

                // Setting the file name
                downloadLink.download = filename;

                //triggering the function
                downloadLink.click();
            }

            document.body.removeChild(downloadLink);
        });


        $('#btnPrint').click(function () {
            var html = editor.html.get(true);
            //$("#printDiv").html(html);

            /*
             * Using JsPDF Library Methods
             *
* doc.fromHTML(html, 15, 15, {
                'width': 170,
            'elementHandlers': specialElementHandlers
        });
        doc.save('salesInvoice1.pdf');*/

            var pageTitle = 'Print',
                stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                win = window.open(window.location.origin + '/Reports/printpage', 'Print', 'width=500,height=700');
            win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + html + '</body></html> ');
            win.document.close();
            setTimeout(function () { win.print(); win.close() }, 3000);
            return false;

        });
    </script>

</body>
</html>








