﻿
@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!doctype html>
<html>
<head>

    <link href='https://cdn.jsdelivr.net/npm/froala-editor@3.1.0/css/froala_editor.pkgd.min.css' rel='stylesheet' type='text/css' />

</head>

<body>


    <div id="editor"></div>
    <div class="">


    </div>


    <script src="~/Assets/ckeditor/ckeditor.js"></script>
    <script>
        var template = `<html lang="en">

<head>

            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <meta name="description" content="">
            <meta name="author" content="">

            <title>Report</title>

            <!-- Bootstrap core CSS -->

            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

            <style>
                body {
                    padding-top: 56px;
                }

                .invoice-title h2, .invoice-title h3 {
                    display: inline-block;
                }

                .table > tbody > tr > .no-line {
                    border-top: none;
                }

                .table > thead > tr > .no-line {
                    border-bottom: none;
                }

                .table > tbody > tr > .thick-line {
                    border-top: 2px solid;
                }
            </style>
</head>

<body>


<div class="container">
            <div class="row">
                <div class="col-md-12">

                    <div class="text-center" draggable="true">

                        <h1 >Company Heading</h1>
                        <address draggable="true">
                            No xxxx, ddkfmifimfmiififif,d djdjjdjjd
                        </address>
                        <p> 09038849032, 0801829384</p>
                        <h5>Sales Invoice Report</h5>
                    </div>
                    <hr>
                </div>

            </div>

                <div class="row">
                    <div class="col-xs-6 col-md-6">
                        <img src="/Assets/logo.jpg" class="img-responsive">
                    </div>
                    <div class="col-xs-6 col-md-6 text-right">
                        <div draggable="true">
                            <strong>Invoice No:</strong><br>
                            Invoice Date: 12th, dec 2019 <br>
                            Credit Period<br />
                        </div>
                        <hr/>
                        <div draggable="true">
                            <strong>Issued To</strong><br>
                            Customer: customer name<br>
                            Address : no 6, execs xxxxxxx xxxxxxx
                        </div>
                    </div>
                    <div class="col-md-6 col-xs-6 text-right">

                    </div>
                </div>



            <div class="row">

                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title"><strong>Invoice summary</strong></h3>
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive">
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th><strong>S/N</strong></th>
                                        <th class="text-center"><strong>product code</strong></th>
                                        <th class="text-center"><strong>product name</strong></th>
                                        <th class="text-right"><strong>description</strong></th>
                                        <th class="text-right"><strong>unit</strong></th>
                                        <th class="text-right"><strong>qty(a)</strong></th>
                                        <th class="text-right"><strong>rate(b)</strong></th>
                                        <th class="text-right"><strong>trade <br/>discount(b)</strong></th>
                                        <th class="text-right"><strong>amount <br/> (a*b-c)</strong></th>
                                        <th class="text-right"><strong>vat <br/> (a*b-c)</strong></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>                            <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>                            <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>                            <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <hr/>
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    <p>Amount In Words</p>
                </div>
                <div class="col-xs-6 col-md-6">
                    <div class="">
                        <table class="table table-sm table-condensed">
                            <tr>
                                <td><b>Sub Total [a*b]:</b></td>
                                <td> 2,03039.00 </td>
                            </tr>
                            <tr>
                                <td><b>Bill Discount [e]:</b></td>
                                <td>    200.00</td>
                            </tr>
                            <tr>
                                <td><b>Total [a*b-e](f):</b></td>
                                <td>    12,2233</td>
                            </tr>
                            <tr>
                                <td><b>Grand total:</b></td>
                                <td>  200,000</td>
                            </tr>
                            <tr>
                                <td><b> Applied Amount:</b></td>
                                <td>  0.00</td>
                            </tr>
                            <tr>
                                <td><b>Balance Amount:</b></td>
                                <td>  20,0322</td>
                            </tr>
                        </table>
                        <br/>

                    </div>
                </div>
            </div>
</div>
</body>

</html>
`;
    </script>

<script>
    CKEDITOR.replace('editor');
    CKEDITOR.instances.editor.insertHtml(template);
</script>

</body>
</html>

<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Report</title>

    <!-- Bootstrap core CSS -->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <style>
        body {
            padding-top: 56px;
        }

        .invoice-title h2, .invoice-title h3 {
            display: inline-block;
        }

        .table > tbody > tr > .no-line {
            border-top: none;
        }

        .table > thead > tr > .no-line {
            border-bottom: none;
        }

        .table > tbody > tr > .thick-line {
            border-top: 2px solid;
        }
    </style>
</head>

<body>


    <div class="container" id="container">
        <div class="row">
            <div class="col-md-12">

                <div class="text-center" draggable="true">

                    <h1>Company Heading</h1>
                    <address draggable="true">
                        No xxxx, ddkfmifimfmiififif,d djdjjdjjd
                    </address>
                    <p> 09038849032, 0801829384</p>
                    <h5>Sales Invoice Report</h5>
                </div>
                <hr>
            </div>

        </div>

        <div class="row">
            <div class="col-xs-6 col-md-6">
                <img src="/Assets/logo.jpg" class="img-responsive">
            </div>
            <div class="col-xs-6 col-md-6 text-right">
                <div draggable="true">
                    <strong>Invoice No:</strong><br>
                    Invoice Date: 12th, dec 2019 <br>
                    Credit Period<br />
                </div>
                <hr />
                <div draggable="true">
                    <strong>Issued To</strong><br>
                    Customer: customer name<br>
                    Address : no 6, execs xxxxxxx xxxxxxx
                </div>
            </div>

            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"><strong>Invoice summary</strong></h3>
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-condensed">
                                <thead>
                                    <tr>
                                        <th><strong>S/N</strong></th>
                                        <th class="text-center"><strong>product code</strong></th>
                                        <th class="text-center"><strong>product name</strong></th>
                                        <th class="text-right"><strong>description</strong></th>
                                        <th class="text-right"><strong>unit</strong></th>
                                        <th class="text-right"><strong>qty(a)</strong></th>
                                        <th class="text-right"><strong>rate(b)</strong></th>
                                        <th class="text-right"><strong>trade <br />discount(b)</strong></th>
                                        <th class="text-right"><strong>amount <br /> (a*b-c)</strong></th>
                                        <th class="text-right"><strong>vat <br /> (a*b-c)</strong></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- foreach ($order->lineItems as $line) or some such thing here -->
                                    <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>
                                    <tr>
                                        <td><strong>1</strong></td>
                                        <td class="text-center">xxxx 1</td>
                                        <td class="text-center">xxxxs s</td>
                                        <td class="text-right">xx xx s  ss</td>
                                        <td class="text-right">kg/r</td>
                                        <td class="text-right">31</td>
                                        <td class="text-right">300</td>
                                        <td class="text-right">10</td>
                                        <td class="text-right">3000</td>
                                        <td class="text-right">30</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 col-md-6">
                <p>Amount In Words</p>
            </div>
            <div class="col-xs-6 col-md-6">
                <div class="">
                    <table class="table table-sm table-condensed">
                        <tr>
                            <td><b>Sub Total [a*b]:</b></td>
                            <td> 2,03039.00 </td>
                        </tr>
                        <tr>
                            <td><b>Bill Discount [e]:</b></td>
                            <td>    200.00</td>
                        </tr>
                        <tr>
                            <td><b>Total [a*b-e](f):</b></td>
                            <td>    12,2233</td>
                        </tr>
                        <tr>
                            <td><b>Grand total:</b></td>
                            <td>  200,000</td>
                        </tr>
                        <tr>
                            <td><b> Applied Amount:</b></td>
                            <td>  0.00</td>
                        </tr>
                        <tr>
                            <td><b>Balance Amount:</b></td>
                            <td>  20,0322</td>
                        </tr>
                    </table>
                    <br />

                </div>
            </div>
        </div>



        <div class="row">

        </div>

        <hr />
        <div class="row">
      
        </div>
</div> 
<script>
    CKEDITOR.replace('container');
    CKEDITOR.instances.editor.insertHtml(template);
</script>
</body>

</html>








