﻿
@{
    ViewBag.Title = "Pending Sales";
}

<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="panel">
            <div class="panel-header">
                <h3 class="panel-title">Pending Sales</h3>
            </div>
            <div class="panel-body">
                <div id="pendingSalesGrid"></div>
            </div>
        </div>        
    </div>
</div>



<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" style="width: 1200px;">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Pending Sales Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-7">
                                <img class="" src="~/Content/pdfimages/logo.jpg" alt="Sample Image" style="margin-top:-25px;">
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Agent Name :</div>
                                        <div class="col-md-6" id="agentName" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order No :</div>
                                        <div class="col-md-6" id="orderNo" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Order Date :</div>
                                        <div class="col-md-6" id="orderDate" style="font-size:14px;font-weight:bolder;"></div>
                                        <input type="hidden" id="pendingSalesMasterId" />
                                    </div>
                                </div>
                            </div>
                        </div>
                       
                        <hr />
                        <table class="table table-striped" style="overflow:auto !important;">
                            <thead style="background-color:#3c8dd3;color:#fff;">
                                <tr>
                                    <th style="white-space: nowrap;">S/N</th>
                                    <th style="white-space:nowrap">Product Code</th>
                                    <th style="white-space: nowrap;">Product Name</th>
                                    <th style="white-space: nowrap;">Store</th>
                                    <th style="white-space: nowrap;">Qty.</th>
                                    <th style="white-space: nowrap;">Unit</th>
                                    <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                    <th style="white-space: nowrap;">Rate</th>
                                    @*<th style="white-space: nowrap;">Gross Value</th>*@
                                    <th style="white-space: nowrap;">Tax</th>
                                    <th style="white-space: nowrap;">Tax Amount</th>
                                    <th style="white-space: nowrap;">Amount</th>
                                </tr>
                            </thead>
                            <tbody id="detailsTbody"></tbody>
                        </table>
                        <div class="row">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="control-label">Narration</label>
                                        <textarea class="form-control" id="narration" readonly="readonly"></textarea>
                                    </div>
                                </div>
                                @*<div class="col-sm-offset-6">
                                    <br />
                                    <div style="text-decoration:underline;font-size:13px;"><b>Bill Amount : </b><strong id="billAmountTag">0.0</strong></div>
                                    <div style="text-decoration:underline;font-size:13px;"><b>Tax Amount : </b><strong id="taxAmountTag">0.0</strong></div>
                                    <div style="text-decoration:underline;font-size:13px;"><b>Grand Total : </b><strong id="grandTotalTag">0.0</strong></div>
                                </div>*@
                                <div class="col-sm-offset-3 col-sm-6">
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Amount Paid</label>
                                                <input type="text" class="form-control" readonly="readonly" id="amountPaid" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Total Tax Amount</label>
                                                <input type="text" class="form-control" id="totalTaxAmount" readonly="readonly" value="0" />
                                            </div>
                                        </div>
                                        @*<div class="col-sm-3">
                            <div class="form-group">
                                <label class="control-label">Card Amount</label>
                                <input type="text" class="form-control" id="" />
                            </div>
                        </div>*@
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Balance</label>
                                                <input type="number" readonly="readonly" class="form-control" id="balance" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Teller No.</label>
                                                <input type="text" readonly="readonly" class="form-control" id="tellerNo" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Total Amount</label>
                                                <input type="number" readonly="readonly" class="form-control" id="totalAmount" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount %</label>
                                                <input type="number" readonly="readonly" class="form-control" id="percentDiscount" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Discount Amount</label>
                                                <input type="number" readonly="readonly" class="form-control" id="billDiscount" value="0" />
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <div class="form-group">
                                                <label class="control-label">Grand Total</label>
                                                <input type="text" class="form-control" id="grandTotal" readonly="readonly" value="0" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                 <button class="btn btn-success" id="pushPOS" type="button">Push to POS </button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>



@section PageScripts{
    <script src="~/Scripts/Customer/PendingSales.js"></script>

}

