﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Purchase Return Report";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();

    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmPurchaseReturnReport" && p.action == "View") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
}


<style>
    .alignCompanydetails {
        text-align: center;
    }
</style>
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Purchase Return Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">from Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly">
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Select Supplier</label>
                                    <div>
                                        <input type="text" class="form-control" id="supplier">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">


                                <div class="form-group hidden">
                                    <label class="control-label">Select FormType</label>
                                    <div>
                                        <input type="text" class="form-control" id="formType">
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            @*<div class="col-md-3">


                                    <div class="form-group">
                                        <label class="control-label">Product Code</label>
                                        <div>
                                            <input type="text" class="form-control" id="productCode" >
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Product</label>
                                    <div>
                                        <input type="text" class="form-control" id="product">
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="row">
                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">form number</label>
                                    <div>
                                        <input type="text" class="form-control" id="formno">
                                    </div>
                                </div>

                            </div>




                            <div class="row">

                            </div>
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GetPurchaseReturnReportDetails()" id="search"><i class="fa fa-search"></i> Search</button>

                </div>
            </div>
        </div>

        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                            <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                        </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="PurchaseReturnReportList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="7" class="alignCompanydetails" id="companyName" hidden="hidden"><h2>@profile.companyName</h2></th>
                                    </tr>
                                    <tr>
                                        <th colspan="7" class="alignCompanydetails" id="companyAddress" hidden="hidden">@profile.address</th>
                                    </tr>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Supplier</th>
                                        <th>Invoice No</th>
                                        <th>Total</th>
                                        <th>Date</th>
                                        <th>Done by</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody id="returnTbody"></tbody>
                            </table>
                        </div><br /><br />
                    </div>
                </form>

                <div class="col-md-3">
                    <div class="form-group">
                        <label class="control-label">Total Amount</label>
                        <div>
                            <input type="text" class="form-control" id="totAmount" readonly="readonly" style="text-align:right">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section pageScripts
{
    <script src="~/Scripts/Reports/PurchaseReports/PurchaseReturnReport.js"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>
        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#PurchaseReturnReportList").table2excel({
                name: "Table2Excel",
                filename: "Purchase Return from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Purchase Return Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>

}

