﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Purchase Order Report";
}
@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}
    <style>
        .alignCompanydetails {
            text-align: center;
        }
    </style>
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <h3 class="panel-title" id="panelTitle">
                        Purchase Order Report Search Parameters
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">

                        <div class="row">

                            <div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly">
                                    </div>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <div>
                                        <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly">
                                    </div>
                                </div>


                            </div>

                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Select Supplier</label>
                                    <div>
                                        <input type="text" class="form-control" id="supplier">
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Voucher Type</label>
                                    <div>
                                        <input type="text" class="form-control" id="voucherType">
                                    </div>
                                </div>
                            </div>


                        </div>

                        <div class="row">

                            @*<div class="col-md-3">


                                    <div class="form-group">
                                        <label class="control-label">Product Code</label>
                                        <div>
                                            <input type="text" class="form-control" id="productCode" >
                                        </div>
                                    </div>
                                </div>*@

                            <div class="col-md-3">


                                <div class="form-group">
                                    <label class="control-label">Status</label>
                                    <div>
                                        <select class="form-control form-group-lg" id="status">
                                            <option value="All">All</option>
                                            <option value="Pending Order">Pending Order</option>

                                            <option value="Overdue">Overdue</option>
                                            <option value="Cancelled">Cancelled</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        @*<div class="row">

                            @*<div class="col-md-3">

                                <div class="form-group">
                                    <label class="control-label">Form Number</label>
                                    <div>
                                        <input type="text" class="form-control" id="formNo">
                                    </div>
                                </div>

                            </div>*@




                        <div class="row">

                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="GetPurchaseOrderDetails()" id="search"><i class="fa fa-search"></i> Search</button>

                </div>
            </div>
        </div>


        <div class="col-md-12 text text-sm">
            <div class="panel">
                <div class="panel-heading btn-default">
                    @*<div class="panel-control">
                            <a id="exportToExcel" onclick="exportExcel()" class="demo-panel-ref-btn btn btn-mint"><i class="fa fa-download"></i> Export to Excel</a>
                        </div>*@
                    <h3 class="panel-title" id="panelTitle">
                        Transaction List
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4 table-toolbar-left">
                                <button class="btn btn-primary btn-labeled fa fa-download" onclick="exportToExcel();"> Export</button>
                                <button class="btn btn-info btn-labeled fa fa-print" type="submit"> Print</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table id="PurchaseOrderList" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th colspan="9" class="alignCompanydetails" id="companyName" hidden="hidden"><h2>@profile.companyName</h2></th>
                                    </tr>
                                    <tr>
                                        <th colspan="9" class="alignCompanydetails" id="companyAddress" hidden="hidden">@profile.address</th>
                                    </tr>
                                    <tr>
                                        <th>S/N</th>
                                        <th>Form Type</th>
                                        <th>Form No</th>
                                        <th>Date</th>
                                        <th>Supplier</th>
                                        <th>Currency</th>
                                        <th>Amount</th>
                                        <th>Due Date</th>
                                        <th>Done By</th>

                                    </tr>
                                </thead>
                                <tbody></tbody>
                            </table>

                        </div><br /><br />

                        <div class="col-md-3">


                            <div class="form-group">
                                <label class="control-label">Total Amount</label>
                                <div>
                                    <input type="text" class="form-control" id="totAmount" readonly="readonly" style="text-align:right">
                                </div>
                            </div>
                        </div>
                    </div>



                </form>
            </div>
        </div>

    </div>
</section>

@section pageScripts
{
    <script src="~/Scripts/Reports/PurchaseReports/PurchaseOrder.js?v=@DateTime.Now"></script>
    <script src="~/Scripts/jquery.table2excel.js"></script>
    <script>
        function exportToExcel() {
            var fromDate = $("#fromDate").val();
            var toDate = $("#toDate").val();
            $("#PurchaseOrderList").table2excel({
                name: "Table2Excel",
                filename: "Purchase Order from " + fromDate + " to " + toDate,
                fileext: ".xls",
                preserveColors: true
            });
        }

        $(function () {
            $('button[type="submit"]').click(function () {
                var pageTitle = 'Purchase Order Report',
                    stylesheet = '//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css',
                    win = window.open('', 'Print', 'width=500,height=700');
                win.document.write('<html><head> <title>' + pageTitle + '</title>' +
                    '<link rel="stylesheet" href="' + stylesheet + '">' + '</head><body> ' + $('.table')[0].outerHTML + '</body></html>');
                win.document.close();
                win.print();
                win.close();
                return false;
            });
        });
    </script>
}





