﻿
@{
    ViewBag.Title = "Create Account";
}

<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-8">
            <div class="panel">
                <div class="panel-body">
                    <div class="alert alert-danger fade in" id="errorMsg">
                        <strong>Oops!</strong> Please fill the required fields!
                    </div>
                    <div class="alert alert-mint fade in" id="successMsg">
                        <i class="fa fa-check-circle-o fa-2x"></i><strong>Account created!</strong>
                    </div>
                    <div class="tabs-base">
                        <ul class="nav nav-tabs">
                            <li class="active"><a href="#tab1" data-toggle="tab">Main</a></li>
                            <li><a href="#tab2" id="secondaryTab" data-toggle="tab">Secondary</a></li>
                        </ul>
                        <div class="tab-content"><br />
                            <div class="tab-pane active" id="tab1">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Account Code</label>
                                        <input type="text" id="accountCode" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Name</label>
                                        <input type="text" id="ledgerName" class="form-control required-control" />
                                        <span class="required-span">*</span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-3">
                                        <label>Group</label>
                                        <select id="accountGroup" class="form-control required-control"></select>
                                        <span class="required-span">*</span>
                                    </div>
                                    <div class="form-group col-md-1">
                                        <label>Active</label>
                                        <input type="checkbox" id="active" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Narration</label>
                                        <textarea cols="30" rows="3" class="form-control" id="narration"></textarea>
                                    </div>
                                </div>
                                <div class="row" id="r1">
                                    <div class="form-group col-md-4">
                                        <label>Branch Name</label>
                                        <input type="text" id="branchName" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Branch Code</label>
                                        <input type="text" id="branchCode" class="form-control" />
                                    </div>
                                </div>
                                <div class="row" id="r2">
                                    <div class="form-group col-md-4">
                                        <label>Account Number</label>
                                        <input type="text" id="accountNumber" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Opening Balance</label>
                                        <input type="text" id="openingBalance" class="form-control" value="0"/>
                                    </div>
                                </div>
                                <div class="row" id="r3">
                                    <div class="form-group col-md-4">
                                        <label>From Date</label>
                                        <input type="text" id="frmDate" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>To Date</label>
                                        <input type="text" id="toDate" class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                            <div class="tab-pane" id="tab2">
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Company Name</label>
                                        <input type="text" id="companyName" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Account No.</label>
                                        <input type="text" id="accountNumber" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Mobile No.</label>
                                        <input type="text" id="mobileNo" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Phone</label>
                                        <input type="text" id="phone" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Email</label>
                                        <input type="text" id="email" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Position</label>
                                        <input type="text" id="position" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Pricing Level</label>
                                        <input type="text" id="pricingLevel" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Bill by Bill</label>
                                        <select id="billByBill" class="form-control">
                                            <option value=true>Yes</option>
                                            <option value=false>No</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Credit Limit</label>
                                        <input type="number" id="creditLimit" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>Credit Period</label>
                                        <input type="number" id="creditPeriod" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>TIN</label>
                                        <input type="text" id="tin" class="form-control" />
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>PAN</label>
                                        <input type="text" id="pan" class="form-control" />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>State</label>
                                        <select id="state" class="form-control"></select>
                                    </div>
                                    <div class="form-group col-md-4">
                                        <label>City</label>
                                        <select id="city" class="form-control"></select>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group col-md-4">
                                        <label>Address</label>
                                        <textarea id="address" cols="30" rows="3" class="form-control"></textarea>
                                    </div>
                                </div>
                            </div>
                            <!-- /.tab-pane -->
                        </div>
                        <!-- /.tab-content -->
                        <ul class="nav nav-tabs">
                            <a style="margin-left:20px;" href="/Company/AccountLedger/Index" class="btn btn-info"><i class="fa fa-angle-left"></i> Back to Account List</a>
                            <button class="btn btn-mint btn-labeled fa fa-floppy-o" id="saveAccount" style="float:right;">Save</button>
                        </ul>
                        <br />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->

</section>
<!-- /.content -->



@section pageScripts
{
    <script src="~/Assets/mat/plugins/bootstrap-datepicker/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/Company/Masters/Account/CreateAccount.js"></script>
}




