﻿
@{
    ViewBag.Title = "Account Ledger";
}

<!-- Main content -->
<section class="row">
    <!-- Info boxes -->
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading btn-default">
                    <div class="panel-control">
                        <a class="frmAccountLedger-Save hide demo-panel-ref-btn btn btn-primary" href="/Company/AccountLedger/Create"><i class="fa fa-plus-circle"></i> Create Account</a>
                        <a class="demo-panel-ref-btn btn btn-mint" href="/company/AccountLedger/export" target="_blank"><i class="fa fa-download"></i> Export to Excel</a>
                    </div>
                    <h3 class="panel-title">Accounts and Balance</h3>
                </div>
                <div class="panel-body">
                    <table id="accountTable" class="table table-bordered table-striped">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Ledger</th>
                                <th>Account Group</th>
                                <th>Balance</th>
                                <th>Details</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>

                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- /.content -->
<!--delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Delete Product</h4>
            </div>
            <div class="modal-body">
                Do you really want to delete <b id="deleteProduct"></b>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" id="delete">Delete</button>
            </div>
        </div>
    </div>
</div>


@section pageScripts
{
    <script src="~/Assets/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="~/Assets/plugins/datatables/dataTables.bootstrap.min.js"></script>
    <script src="~/Scripts/Company/Masters/Account/AccountLedger.js"></script>
}

