﻿
@{
    ViewBag.Title = "Budget Settings";
}


<div class="row" id="viewBudget">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">Search Parameters</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label class="control-label">Account Type</label>
                                <select id="accountTypeSearch" class="form-control">
                                    <option value="Account Ledger">Account Ledger</option>
                                    <option value="Account Group">Account Group</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <button class="demo-panel-ref-btn btn btn-primary" onclick="showNewBudget()">
                                <i class="fa fa-plus"></i> New Budget
                            </button>
                        </div>
                        <h3 class="panel-title">Budgets</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="budgetsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Budget Name</th>
                                    <th>Date(From)</th>
                                    <th>Date(To)</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th>Narration</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div id="newBudget" class="row">
    <div class="row">
        <div class="eq-height">
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <h3 class="panel-title">New Budget</h3>
                    </div>
                    <form onsubmit="return false;">
                        <div class="panel-body text text-sm">
                            <div class="form-group col-md-3">
                                <label class="control-label">Budget Name</label>
                                <input type="text" class="form-control" id="budgetName" placeholder="Budget Name" />
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Account Type</label>
                                <select id="accountType" class="form-control">
                                    <option value="Account Ledger">Account Ledger</option>
                                    <option value="Account Group">Account Group</option>
                                </select>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Date(From)</label>
                                <input type="text" class="form-control dateCtrl" id="fromDate" readonly="readonly"/>
                            </div>
                            <div class="form-group col-md-3">
                                <label class="control-label">Date(To)</label>
                                <input type="text" class="form-control dateCtrl" id="toDate" readonly="readonly"/>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12">
                <div class="panel">
                    <div class="panel-heading">
                        <div class="panel-control">
                            <button class="demo-panel-ref-btn btn btn-primary" onclick="addLineItems()" id="createSetting">
                                <i class="fa fa-plus"></i> New Line Item
                            </button>
                        </div>
                        <h3 class="panel-title">Line Items</h3>
                    </div>
                    <div class="panel-body text text-sm">
                        <table id="newBudgetsTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                    <th>S/N</th>
                                    <th>Particulars</th>
                                    <th>Debit</th>
                                    <th>Credit</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <div class="row">
                            <div class="col-md-3">
                                <label class="control-label">Narration</label>
                                <textarea id="narration" class="form-control"></textarea>
                            </div>
                            <div class="col-md-6">
                            </div>
                            <div class="col-md-3">
                                <div>
                                    <label class="control-label">Total Credit</label>
                                    <input type="text" class="form-control" id="totalCr" placeholder="Total Credit" readonly="readonly"/>
                                </div>
                                <br />
                                <div>
                                    <label class="control-label">Total Debit</label>
                                    <input type="text" class="form-control" id="totalDr" placeholder="Total Debit" readonly="readonly"/>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" onclick="saveBudget()" id="add">save</button>
                        <a class="btn btn-default" onclick="Close()">Close</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="budgetViewModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Budget Details</h4>
            </div>
            <div class="modal-body">
                <div class="col-md-12">
                    <div class="panel">
                        <form onsubmit="return false;">
                            <div class="panel-body text text-sm">
                                <div class="form-group col-md-3">
                                    <label class="control-label">Budget Name</label>
                                    <input type="text" class="form-control" id="budgetNameView" placeholder="Budget Name">
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">Date(From)</label>
                                    <input type="text" class="form-control dateCtrl" id="fromDateView" readonly="readonly" />
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="control-label">Date(To)</label>
                                    <input type="text" class="form-control dateCtrl" id="toDateView" readonly="readonly" />
                                </div>
                                <div class="col-md-12">
                                    <div class="panel">
                                        <div class="panel-heading btn-default">
                                            <div class="panel-control">
                                                <button class="demo-panel-ref-btn btn btn-primary" onclick="addLineItems()" id="createSetting">
                                                    <i class="fa fa-plus"></i> add budget Items
                                                </button>
                                            </div>
                                            <h3 class="panel-title">Budget Items</h3>
                                        </div>
                                        <div class="panel-body text text-sm">
                                            <table id="budgetListTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                                                <thead>
                                                    <tr>
                                                        <th>S/N</th>
                                                        <th>Particulars</th>
                                                        <th>Debit</th>
                                                        <th>Credit</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>
                                                <tbody></tbody>
                                            </table>
                                            <div class="row">
                                                <div class="col-md-3">
                                                    <label class="control-label">Narration</label>
                                                    <textarea id="narrationView" class="form-control"></textarea>
                                                </div>
                                                <div class="col-md-6">
                                                </div>
                                                <div class="col-md-3">
                                                    <div>
                                                        <label class="control-label">Total Credit</label>
                                                        <input type="text" class="form-control" id="totalCrView" placeholder="Total Credit" readonly="readonly" />
                                                    </div>
                                                    <br />
                                                    <div>
                                                        <label class="control-label">Total Debit</label>
                                                        <input type="text" class="form-control" id="totalDrView" placeholder="Total Debit" readonly="readonly" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="saveChanges()" id="add">save changes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="budgetModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabell">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Line Items</h4>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" onsubmit="return false;">
                    <div class="panel-body">
                        <div class="form-group">
                            <label class="control-label">Particular</label>
                            <div id="particular" style="width:100%;">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Dr/Cr</label>
                            <div>
                                <select id="drOrCr" class="form-control">
                                    <option value="debit">Debit</option>
                                    <option value="credit">Credit</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Amount</label>
                            <div>
                                <input type="number" id="amount" class="form-control" />
                            </div>
                        </div>
                    </div>

                    <!-- /.box-body -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="addBudgetItemsToArray()" id="add">save</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Company/Masters/Budget/BudgetSettings.js?v=@DateTime.Now"></script>
}