﻿
@{
    ViewBag.Title = "Pay Element";
    var pagePrivileges = ViewBag.pagePrivileges;
}


<div class="row">
    <div class="eq-height">
        @{

            if (pagePrivileges.Contains("Save") == true)
            {
                @Html.Raw("<div class=\"col-md-6\">");
            }
            else
            {
                @Html.Raw("<div class=\"hide col-md-6\">");
            }

        }
        
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Create PayElement</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Pay Element Name</label>
                                    <input type="text" class="form-control required-control" id="payElementName">
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Ledger</label><br />
                                    <select id="ledger" class="form-control required-control" data-placeholder="Select recieving ledger..."></select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Type</label>
                                    <select id="type" class="form-control required-control">
                                        <option value="Addition">Addition</option>
                                        <option value="Deduction">Deduction</option>
                                    </select>
                                    <span class="required-span">*</span>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Narration</label>
                                    <input type="text" class="form-control" id="narration">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <button class="btn btn-info" type="button" id="savePayElement">Save</button>
                    </div>
                </form>
            </div>
        </div>
    @{

        if (pagePrivileges.Contains("Save") == true)
        {
            @Html.Raw("<div class=\"col-md-6\">");
            }
            else
            {
            @Html.Raw("<div class=\"col-md-12\">");
            }

    }
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Pay Elements</h3>
                </div>
                <div class="panel-body">
                    <table id="payElementTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Pay Element</th>
                                @{

                                    if (pagePrivileges.Contains("Update") == true || pagePrivileges.Contains("Delete") == true)
                                    {
                                        @Html.Raw("<th></th>");
                                    }

                                }
                               
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="modal fade" id="editModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Pay Element</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Pay Element Name</label>
                            <input type="text" class="form-control required-control" id="editPayElementName">
                            <span class="required-span">*</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Ledger</label><br />
                            <select id="editLedger" class="form-control required-control" data-placeholder="Select recieving ledger..."></select>
                            <span class="required-span">*</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Type</label>
                            <select id="editType" class="form-control required-control">
                                <option value="Addition">Addition</option>
                                <option value="Deduction">Deduction</option>
                            </select>
                            <span class="required-span">*</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Narration</label>
                            <input type="text" class="form-control" id="editNarration">
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/PayElement/PayElement.js?v=@DateTime.Now"></script>
}
