﻿@using MatOnline.Reports

@{
    ViewBag.Title = "Bank Transfer Register";
}

@{
    DBMATAccounting_MagnetEntities context = new DBMATAccounting_MagnetEntities();
    var profile = context.tbl_Company.FirstOrDefault();
}


<style>
    #PaymentListTable td:nth-child(6), th:nth-child(6) {
        text-align: right;
    }

    #PaymentListTable td:nth-child(2), th, td:first-child {
        text-align: center;
    }

    #detailsTbody td:nth-child(3) {
        text-align: right;
    }

    #detailsTbody td:nth-child(1), td:nth-child(4) {
        text-align: center;
    }
</style><div class="row" style="display:none">
    <input type="hidden" id="companyName" readonly="readonly" value="@profile.companyName">
    <input type="hidden" id="companyAddress" readonly="readonly" value="@profile.address">
    <input type="text" id="companyEmail" readonly="readonly" value="@profile.emailId">
    <input type="text" id="companyPhone" readonly="readonly" value="@profile.phone">
    <img src="@profile.extra2" id="companyImage" />
</div>

<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">

                <form onsubmit="return false;">
                    <div class="panel-body">
                        
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">From Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="fromDate">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">To Date</label>
                                    <input type="text" readonly="readonly" class="form-control dateCtrl" id="toDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Bank / Cash / AC</label><br />
                                    <select id="suppliers" class="form-control"></select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label class="control-label">Form No.</label>
                                    <input type="text" class="form-control" id="orderNo">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <br />
                                <button class="btn btn-info" type="button" id="search">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">


    <div class="eq-height">

        <div class="col-sm-12">

            <div class="panel panel-body">

                <div class="table-responsive">
                    <table id="PaymentListTable" class="table-bordered table table-striped text text-sm text-sm" style="overflow:auto !important;">
                        <thead>
                            <tr>
                                <th style="white-space: nowrap;">S/N</th>
                                <th style="white-space: nowrap;">Form No</th>
                                <th style="white-space: nowrap;">Form Type</th>
                                <th style="white-space: nowrap;">Date</th>
                                <th style="white-space: nowrap;">Narration</th>
                                <th style="white-space: nowrap;">Bank / Cash</th>
                                <th style="white-space: nowrap;">Amount (N)</th>
                                <th style="white-space: nowrap;">Done By</th>
                                <th style="white-space: nowrap;"></th>
                                <th style="white-space: nowrap;"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" id="detailsModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="TitleLabel">Payment Details</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel panel-default" style="background-color:#fff;">
                    <div class="panel-body text text-sm">
                        <div class="row">
                            <div class="col-md-7">
                                @*<img class="" src="~/Content/pdfimages/logo2.jpg" alt="Sample Image" style="margin-top:-25px;">*@
                            </div>
                            <div class="col-md-5">
                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Form No :</div>
                                        <div class="col-md-6" id="FormNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Payment Date :</div>
                                        <div class="col-md-6" id="PaymentDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Paid From :</div>
                                        <div class="col-md-6" id="CashBankDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Cheque No :</div>
                                        <div class="col-md-6" id="ChequeNoDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Cheque Date :</div>
                                        <div class="col-md-6" id="ChequeDateDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Currency:</div>
                                        <div class="col-md-6" id="CurrencyDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                                <div class="row" style="background-color:#fff;">
                                    <div class="">
                                        <div class="col-md-6" style="font-size:14px;font-weight:bolder;text-align:right;">Done By:</div>
                                        <div class="col-md-6" id="UserDiv" style="font-size:14px;font-weight:bolder;"></div>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <hr />
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered" style="overflow:auto !important;">
                                <thead style="background-color:#3c8dd3;color:#fff;">
                                    <tr>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Suppliers Name</th>
                                        <th style="white-space:nowrap">Amount</th>
                                        <th style="white-space:nowrap">Invoice No.</th>
                                        <th style="white-space: nowrap;">Memo</th>
                                        <th style="white-space: nowrap;">Project</th>
                                        <th style="white-space: nowrap;">Department</th>
                                    </tr>

                                </thead>
                                <tbody id="detailsTbody"></tbody>
                            </table>
                        </div>
                        <div class="row" style="background-color:#fff;">
                            <div class="col-md-offset-7 col-md-5">
                                <div class="col-md-6" style="font-size:13px;font-weight:bolder;text-align:right;">Total Amount</div>
                                <div class="col-md-6" id="totalAmountDiv" style="font-size:14px;font-weight:bolder;">
                                    <input type="text" class="form-control" id="totalAmount" readonly />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="edit" type="button"><i class="fa fa-check"></i> Edit Payment</button>
                <button class="btn btn-danger" id="delete" type="button"><i class="fa fa-times"></i> Delete Payment</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
    *
</div>


@section PageScripts{
    <script src="~/Scripts/Supplier/Registers/Payment.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/2.3.2/jspdf.plugin.autotable.js"></script>
}


