﻿
@{
    ViewBag.Title = "Bank Register";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Search Parameters</h3>
                </div>
                <div class="panel-body text text-sm">
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(From)</label>
                        <input type="text" class="form-control" id="fromDate" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                    </div>
                    <div class="form-group col-md-3">
                        <label class="control-label">Date(To)</label>
                        <input type="text" class="form-control" id="toDate" readonly="readonly" value="@DateTime.Now.ToShortDateString()" />
                    </div>
                    <div class="col-sm-3">
                        <div class="form-group">
                            <label class="control-label">Bank</label>
                            <select id="bank" class="form-control" style="width:100%;"></select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-primary" id="search"><i class="fa fa-search"></i>   Search</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Transaction</h3>
                </div>
                <div class="panel-body text text-sm">
                    <table id="BankRegisterTable" class="table table-striped table-bordered pre-scrollable ">
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Bank Name</th>
                                <th>Date</th>
                                <th>Memo</th>
                                <th>Txn. Type</th>
                                <th>Txn. Number</th>
                                <th>Payment</th>
                                <th>Receipt</th>
                                <th>Balance</th>
                            </tr>
                        </thead>
                        <tbody class="pre-scrollable fc-scroller"></tbody>
                    </table>
                    <div class="col-md-10"></div>
                    <div class="col-md-2">
                        <h5 class="control-label">Total Bank Value</h5>
                        <input type="text" style="text-align:right; font-size:medium;" class="form-control" id="totalBankValue" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Banking/Registers.js?v=@DateTime.Now"></script>
    <script>
        $(function () {
            getLookUps();
           // getBankRegisters(0, $("#toDate").val(), "2018/01/01", "All");
        });

        $("#search").click(function () {
            if ($("#bank").val() == 0 || $("#bank").val() == null || $("#bank").val() == "") {
                bId = 0;
            }
            else {
                bId = $("#bank").val();
            }
            getBankRegisters(bId, $("#toDate").val(), $("#fromDate").val(), $("#bank").data("kendoDropDownList").text());
        });
    </script>
}




@{
    var Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>

    <script type="text/javascript">

        var BeginYear = @Result.FromDate.AddMonths(-1).Year;
        var BeginMonth = @Result.FromDate.AddMonths(-1).Month;
        var BeginDay = @Result.FromDate.AddMonths(-1).Day;

         var EndYear = @Result.ToDate.AddMonths(-1).Year;
         var EndMonth = @Result.ToDate.AddMonths(-1).Month;
         var EndDay = @(Result.ToDate.AddMonths(-1).Day + 1);

    $(function () {

        $("#fromDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });
        var doc = document.getElementById("fromDate");
        doc.readonly = true;

        $("#toDate").datepicker({
            autoclose: true,
            startDate: new Date(BeginYear, BeginMonth, BeginDay),
            endDate: new Date(EndYear, EndMonth, EndDay)
        });

        var doc = document.getElementById("toDate");
        doc.readonly = true;

    });

    </script>
}
else
{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.js"></script>
    <script type="text/javascript">

        $(function () {

            $("#fromDate").datepicker({
                autoclose: true,
            });
            var doc = document.getElementById("fromDate");
            doc.readonly = true;


            $("#toDate").datepicker({
                autoclose: true,
            });

            doc = document.getElementById("toDate");
            doc.readonly = true;

        });

    </script>

}




@{
    Result = MatOnline.Areas.Supplier.MatOnlineSession.loginResponse;
}

@if (Result != null)
{

    <script type="text/javascript">

        var BeginYear1 = @Result.FromDate.Year;
        var BeginMonth1 = @Result.FromDate.Month;
        var BeginDay1 = @Result.FromDate.Day;

         var EndYear1 = @Result.ToDate.Year;
         var EndMonth1 = @Result.ToDate.Month;
         var EndDay1 = @Result.ToDate.Day;

        var ConvertDateFrom = "";
        var ConvertDateTo = "";

        $(function () {

             ConvertDateFrom = BeginMonth1 + "/" + BeginDay1 + "/" + BeginYear1;
             ConvertDateTo = EndMonth1 + "/" + EndDay1 + "/" + EndYear1;

            /* alert(ConvertDateTo + ConvertDateFrom);*/
            $("#fromDate").val(ConvertDateFrom);
            $("#toDate").val(ConvertDateTo);

          
            getBankRegisters(0, $("#toDate").val(), $("#fromDate").val(), "All");

        })

    </script>

}
