﻿
@{
    ViewBag.Title = "Sales Invoice";
}


<div class="row">
    <div class="eq-height">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">Invoice Details</h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Invoice Number</label>
                                    <input type="text" class="form-control" id="invoiceNo">
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Billing Date</label>
                                    <input type="text" class="form-control dateCtrl" readonly="readonly" id="transactionDate">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Customer</label>
                                    <select id="customer" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Credit Period</label>
                                    <input type="number" class="form-control" id="balance">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Sales Mode</label>
                                    <select id="salesMode" class="form-control custBorderStyle">
                                        <option value="NA">NA</option>
                                        <option value="17">Against Release Form</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Apply On</label>
                                    <select id="applyOn" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Order No.</label>
                                    <select id="orderNo" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Pricing Level</label>
                                    <select id="pricingLevel" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label class="control-label">Currency</label>
                                    <select id="currency" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-6" style="display:none;">
                                <div class="form-group">
                                    <label class="control-label">Sales Person</label>
                                    <select id="salesMan" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <button data-target="#itemLineModal" data-toggle="modal" class="btn btn-primary btn-labeled fa fa-plus-circle add-tooltip" data-original-title="Add Line Item">Add Line Item</button>
                    </h3>
                </div>
                <form onsubmit="return false;">
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead style="overflow:auto;">
                                    <tr>
                                        <th style="white-space: nowrap;">Remove</th>
                                        <th style="white-space: nowrap;">S/N</th>
                                        <th style="white-space: nowrap;">Barcode</th>
                                        <th style="white-space:nowrap">Product Code</th>
                                        <th style="white-space: nowrap;">Product Name</th>
                                        <th style="white-space: nowrap;">Store</th>
                                        <th style="white-space: nowrap;">Quantity</th>
                                        <th style="white-space: nowrap;">Unit</th>
                                        <th style="white-space: nowrap;" class="Settings_Batch">Batch</th>
                                        <th style="white-space: nowrap;">Rate</th>
                                        <th style="white-space: nowrap;">Gross Amount</th>
                                        <th style="white-space: nowrap;">Discount</th>
                                        <th style="white-space: nowrap;">Net Amount</th>
                                        <th style="white-space: nowrap;">Tax</th>
                                        <th style="white-space: nowrap;">Tax Amount</th>
                                        <th style="white-space: nowrap;">Amount</th>
                                    </tr>
                                </thead>
                                <tbody id="salesInvoiceLineItemTbody"></tbody>
                            </table>
                        </div>


                        <form onsubmit="return false;">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label class="control-label">Narration</label>
                                            <textarea class="form-control custBorderStyle" id="narration"></textarea>
                                        </div>
                                    </div>

                                    <div class="col-sm-3">
                                    </div>

                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label class="control-label">Total Amount</label>
                                            <input id="totalAmount" value="0" type="text" class="form-control" readonly="readonly" style="text-align:right;">
                                            <label class="control-label">Bill Discount</label>
                                            <input id="billDiscount" value="0" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                            <label class="control-label">Grand Total</label>
                                            <input id="grandTotal" value="0" type="text" class="form-control" disabled="disabled" style="text-align:right;">
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </form>

                    </div>

                    <div class="panel-footer text-right">
                        <button id="save" class="btn btn-primary btn-labeled fa fa-save">Save</button>
                        <button class="btn btn-primary btn-labeled fa fa-envelope">Save & Email</button>
                        @*<button class="btn btn-danger btn-labeled fa fa-times">Clear</button>*@
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="itemLineModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Invoice Line Item</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="panel">
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-sm-4" style="margin-bottom:0px">
                                <input type="hidden" readonly="readonly" id="productId" />
                                <div class="form-group">
                                    <label class="control-label">Barcode</label>
                                    <select id="searchByBarcode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Code</label>
                                    <select id="searchByProductCode" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group" style="margin-bottom:0px">
                                    <label class="control-label">Product Name</label>
                                    <select id="searchByProductName" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Rate</label>
                                    <input id="rate" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Quantity</label>
                                    <input id="quantity" value="0" type="number" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Tax</label>
                                    <select id="tax" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Unit</label>
                                    <select id="unit" class="form-control custBorderStyle"></select>
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Batch</label>
                                    <select id="batch" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label">Amount</label>
                                    <input type="text" readonly="readonly" id="amount" class="form-control" />
                                </div><br />
                                <div class="form-group">
                                    <label class="control-label">Tax Amount</label>
                                    <input id="taxAmount" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Quantity in Stock</label>
                                    <input id="quantityInStock" readonly="readonly" type="text" class="form-control" />
                                </div>
                                <div class="form-group">
                                    <label class="control-label">Store</label>
                                    <select id="store" class="form-control custBorderStyle"></select>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button class="btn btn-primary" id="addLineItem">Add Item</button>
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
            </div>
        </div>
    </div>
</div>

@section PageScripts{
    <script src="~/Scripts/Customer/SalesInvoice.js"></script>
}