﻿@using MatOnline.Reports
@{
    ViewBag.Title = "Designation";
    if (User.Identity.Name == "")
    {
        //redirect back to login
        Response.Redirect("/Security/Login/Login");
    }
}
@{
    string query = string.Empty;
    MATFinancials.DAL.DBMatConnection conn = new MATFinancials.DAL.DBMatConnection();
    List<tbl_Privilege> rolePriviledges;
    var pagePriviledges = new List<string>();
    var db = new DBMATAccounting_MagnetEntities();
    var roles = db.tbl_Role.ToList();
    decimal userId = Convert.ToDecimal(User.Identity.Name);
    query = string.Format("SELECT * from tbl_User WHERE userId = {0}", userId);
    var user = conn.customSelect(query);
    //var user = db.tbl_User.FirstOrDefault(p => p.userId == userId);
    decimal roleId = Convert.ToDecimal(user.Rows[0]["roleId"]);
    // rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId && p.action == "View").ToList();
    rolePriviledges = db.tbl_Privilege.Where(p => p.roleId == roleId).ToList();
    if (rolePriviledges.Any(p => p.formName == "frmDesignation") == false)
    {
        Response.Redirect("/Security/Login/AccessDenied");
    }
    else
    {
        // pagePriviledges = rolePriviledges.s Select(p => p.formName == "frmGeneralJournal");
        pagePriviledges = rolePriviledges.Where(p => p.formName == "frmDesignation").Select(p => p.action).ToList();
    }
}

<div class="row">
    <div class="eq-height">
        @{

            if (pagePriviledges.Contains("Save") == true)
            {
                @Html.Raw("<div class=\"col-md-6\">");
            }
            else
            {
                @Html.Raw("<div class=\"hide col-md-6\">");
            }

        }

        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Create Designation</h3>
            </div>
            <form onsubmit="return false;">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Designation Name</label>
                                <input type="text" class="form-control" id="designationName">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">CL in a month</label>
                                <input type="number" class="form-control" id="clInMonth">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Advance Payment</label>
                                <input type="number" class="form-control" id="advancePayment">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Narration</label>
                                <input type="text" class="form-control" id="narration">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer text-right">
                    <button class="btn btn-info" type="button" id="saveDesignation">Save</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel">
            <div class="panel-heading">
                <h3 class="panel-title">Designations</h3>
            </div>
            <div class="panel-body">
                <table id="designationTable" class="table table-striped table-bordered" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Designation</th>
                            @{

                                if (pagePriviledges.Contains("Update") == true || pagePriviledges.Contains("Delete") == true)
                                {
                                    @Html.Raw("<th></th>");
                                }

                            }

                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</div>

<div class="modal fade" id="editModal" role="dialog" tabindex="-1" aria-labelledby="demo-default-modal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <!--Modal header-->
            <div class="modal-header">
                <button data-dismiss="modal" class="close" type="button">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Edit Designation</h4>
            </div>

            <!--Modal body-->
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Designation Name</label>
                            <input type="text" class="form-control" id="editDesignationName">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">CL in a month</label>
                            <input type="number" class="form-control" id="editClInMonth">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Advance Payment</label>
                            <input type="number" class="form-control" id="editAdvancePayment">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="control-label">Narration</label>
                            <input type="text" class="form-control" id="editNarration">
                        </div>
                    </div>
                </div>
            </div>

            <!--Modal footer-->
            <div class="modal-footer">
                <button data-dismiss="modal" class="btn btn-default" type="button">Close</button>
                <button class="btn btn-primary" id="saveChanges">Save changes</button>
            </div>
        </div>
    </div>
</div>

@section pageScripts
{
    <script src="~/Scripts/Payroll/Designation/Designations.js?v=@DateTime.Now"></script>
}
